/*tr > td:nth-child(2) {
  word-break: break-all;
  max-width: 110px;
  padding-right: 15px;
}*/
.bgorange {
  color: orange;
}

.bgdarkorange {
  color: darkorange;
}

.bggreen {
  color: green;
}

.bgblue {
  color: blue;
}

.bgred {
  color: red;
}
tr.mat-row > td {
  padding-right: 15px;
}
tr.mat-row > td {
  word-break: break-all;
  max-width: 110px;
}

