<app-comman-mst (onchange)="GetcommanMethod($event)" *ngIf="empPageDeputation" [events]="eventsSubject.asObservable()"></app-comman-mst>
<form (ngSubmit)="onSubmit()" [formGroup]="form" #formDirective="ngForm" novalidate>

  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="col-md-12 col-lg-7" [attr.disabled]="disableflag">
    <mat-card class="example-card">
      <ng-template matStepLabel>Deputation Details</ng-template>

      <div class="fom-title">Deputation In Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Deputation Type" formControlName="deputation_Type" required [errorStateMatcher]="matcher">

            <mat-option *ngFor="let deputationType of deputationTypes" [value]="deputationType.cddirCodeValue">
              {{deputationType.cddirCodeText}}
            </mat-option>

          </mat-select>
          <mat-error *ngIf="form.controls['deputation_Type'].errors?.required">
            Deputation Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Service Type" formControlName="service_Type" required [errorStateMatcher]="matcher">

            <mat-option *ngFor="let serviceType of serviceType" [value]="serviceType.serviceValue">
              {{serviceType.serviceText}}
            </mat-option>

          </mat-select>

          <mat-error *ngIf="form.controls['service_Type'].errors?.required">
            Service Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Deputation Order Number" formControlName="deputation_Order" required pattern="[A-Za-z1-9]{1}|[A-Za-z][A-Za-z0-9-/_]+" maxlength="50" [errorStateMatcher]="matcher">
          <mat-error *ngIf="form.controls['deputation_Order'].errors?.required">
            Deputation Order Number is Required
          </mat-error>
          <mat-error *ngIf="form.controls['deputation_Order'].errors?.pattern">
            Deputation Order Number is Invalid
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="Deputation" placeholder="Deputation Order Date " (dateChange)="Checkdate()" (click)="Deputation.open()" formControlName="deputation_Order_Date" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="Deputation"></mat-datepicker-toggle>
          <mat-datepicker #Deputation></mat-datepicker>
          <mat-error *ngIf="form.controls['deputation_Order_Date'].errors?.required">
            Deputation Order Date is Required
          </mat-error>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Deputation From Office" formControlName="deputation_From_Office" required pattern="[A-Za-z]{1}[A-Za-z0-9- ]+" maxlength="50" [errorStateMatcher]="matcher">
          <mat-error *ngIf="form.controls['deputation_From_Office'].errors?.required">
            Deputation From Office is Required
          </mat-error>
          <!--<mat-error *ngIf="form.controls['deputation_From_Office'].errors?.minlength">
            Deputation From Office min length 2
          </mat-error>-->
          <mat-error *ngIf="form.controls['deputation_From_Office'].errors?.pattern">
            Deputation From Office is Invalid
          </mat-error>

        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100 example-full-width">
          <mat-select placeholder="State" formControlName="deputation_State" required [errorStateMatcher]="matcher">

            <mat-option *ngFor="let state of states" [value]="state.stateId">{{state.stateName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['deputation_State'].errors?.required">
            State is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="deputationEffetive1" (click)="deputationEffetive1.open()" [min]="form.controls['deputation_Order_Date'].value"
                 placeholder="Deputation w.e.f " formControlName="deputation_Effective_Date" required readonly [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="deputationEffetive1"></mat-datepicker-toggle>
          <mat-datepicker #deputationEffetive1></mat-datepicker>
          <mat-error *ngIf="form.controls['deputation_Effective_Date'].errors?.required">
            Deputation w.e.f is Required
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-placeholder [ngClass]="flag ? 'actplacholder' : 'dsbplaceholder'"> Repatriation Date </mat-placeholder>

          <input matInput [matDatepicker]="repatriation" (click)="repatriation.open()" formControlName="deputation_Repatration_Date" [min]="form.controls['deputation_Effective_Date'].value" readonly>
          <mat-datepicker-toggle matSuffix [for]="repatriation"></mat-datepicker-toggle>
          <mat-datepicker #repatriation></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Designation Before Deputation" formControlName="desig_Before_Deputation" (selectionChange)="updateValidation()" required #singleSelect [errorStateMatcher]="matcher">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation Before Deputation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let designa of filteredDesignation | async" [value]="designa.desigId">
              {{designa.desigDesc}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['desig_Before_Deputation'].errors?.required">
            Designation Before Deputation is Required
          </mat-error>


        </mat-form-field>

      </div>
      <div class="col-md-12 col-lg-4" *ngIf="this.form.get('desig_Before_Deputation').value == 99">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Designation Before  Name" formControlName="desig_Before_Remark" required maxlength="150" [errorStateMatcher]="matcher">
          <mat-error *ngIf="form.submitted || !form.controls['desig_Before_Remark'].valid || form.controls['desig_Before_Remark'].touched">
            Designation Before Name is Required
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100 example-full-width">
          <mat-select placeholder="Designation After Deputation" formControlName="desig_After_Deputation" required #singleSelect [errorStateMatcher]="matcher">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation Before Deputation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let designa of filteredDesignation | async" [value]="designa.desigId">
              {{designa.desigDesc}}
            </mat-option>

          </mat-select>

          <mat-error *ngIf="form.controls['desig_After_Deputation'].errors?.required">
            Designation After Deputation is Required
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-6 col-lg-4" *ngIf="form.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <!--*ngIf="!dedutionExist"-->
        <div class="fom-title">
          Add Deduction and Schedule Details
        </div>
        <div class="col-md-12">
          <mat-table [dataSource]="deputation_Deduction.controls">


            <div class="col-md-12 col-lg-3">
              <ng-container matColumnDef="payItemsDeductionName" class="col-lg-3">
                <mat-header-cell *matHeaderCellDef> Deduction Item </mat-header-cell>
                <mat-cell *matCellDef="let element;" [formGroup]="element">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="Deduction Item" formControlName="payItemsDeductionName" readonly required>
                    <!--<mat-error *ngIf="form.submitted || !form.controls['deputation_order_date'].valid || form.controls['deputation_order_date'].touched">-->
                    <!--Deputation w.e.f is required
                    </mat-error>-->
                  </mat-form-field>

                </mat-cell>
              </ng-container>

            </div>
            <div class="col-md-12 col-lg-3">
              <!-- User Column -->
              <ng-container matColumnDef="deduction_Schedule" class="col-lg-3">
                <mat-header-cell *matHeaderCellDef> Deduction Schedule </mat-header-cell>
                <mat-cell *matCellDef="let element" [formGroup]="element">
                  <mat-form-field floatLabel="never">
                    <mat-select formControlName="deduction_Schedule" placeholder="Deduction Schedule" (click)="getvalue(element)" (selectionChange)="onUserChange(element)" required [errorStateMatcher]="matcher">
                      <mat-option *ngFor="let dedutionpao of deductionSchedule" [value]="dedutionpao">
                        {{ dedutionpao }}
                      </mat-option>

                    </mat-select>
                    <!--<mat-error *ngIf="element.get('deduction_Schedule').errors?.required">Deduction Schedule is required</mat-error>-->

                  </mat-form-field>

                </mat-cell>
              </ng-container>
            </div>
            <div class="col-md-12 col-lg-3">
              <!-- Title Column -->
              <ng-container matColumnDef="payItemsDeductionAccCdScheme" class="col-lg-3">
                <mat-header-cell *matHeaderCellDef> Account Head </mat-header-cell>
                <mat-cell *matCellDef="let element;" [formGroup]="element">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="Account Head" formControlName="payItemsDeductionAccCdScheme" maxlength="80" required readonly [errorStateMatcher]="matcher">
                  </mat-form-field>
                </mat-cell>
              </ng-container>
            </div>
            <div class="col-md-12 col-lg-3">
              <ng-container matColumnDef="communication_Address" class="col-lg-3">
                <mat-header-cell *matHeaderCellDef required> Communication Address </mat-header-cell>
                <mat-cell *matCellDef="let element" [formGroup]="element">
                  <mat-form-field floatLabel="never">
                    <mat-select placeholder="Communication Address" formControlName="communication_Address" required #singleSelect [errorStateMatcher]="matcher">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="communicationFilterCtrl" [placeholderLabel]="'Find Designation Before Deputation...'" [noEntriesFoundLabel]="'Communication Address is not found'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let commu of filteredCommunication | async" [value]="commu.pfId">
                        {{ commu.pfAgency_Desc }}
                      </mat-option>

                    </mat-select>
                    <!--<mat-error *ngIf="element.get('communication_Address').errors?.required">Communication Address is required</mat-error>-->
                  </mat-form-field>
                </mat-cell>
              </ng-container>
            </div>
            <div class="col-md-12 col-lg-3">
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
          </mat-table>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6 || roleId == 9">
        <button type="submit" class="btn btn-success" [disabled]="btndisabled" *ngIf="roleId == 6 || roleId == 9">{{btnUpdateText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();" *ngIf="roleId == 6 || roleId == 9">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwardStatusUpdate('0');" [disabled]="disableForwardflag" *ngIf="roleId == 6">Forward to DDO Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>

        <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
      </div>


    </mat-card>
  </div>
  <!--<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form value
        </mat-panel-title>
      </mat-expansion-panel-header>
      <code>
        {{form.value | json}}
      </code>
    </mat-expansion-panel>
  </mat-accordion>-->
</form>
<!--right table-->


<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <!-- Name Column -->
      <ng-container matColumnDef="srNo">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>

        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}  </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="deputeFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deputation Type </th>
        <td mat-cell *matCellDef="let element"> {{element.deputation_Type_Name}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->
      <ng-container matColumnDef="orderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.deputation_Order}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">

          <label *ngIf="element.veriFlag == 'E'" class="bgorange">Entry</label>
          <label *ngIf="element.veriFlag == 'U'" class="bgdarkorange">Entry Updated</label>
          <label *ngIf="element.veriFlag == 'F'" class="bggreen">Sent to Checker</label>
          <label *ngIf="element.veriFlag == 'V'" class="bgblue">Verified</label>
          <label *ngIf="element.veriFlag == 'R'" class="bgred">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td *matCellDef="let element">
          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'N' || element.veriFlag == 'R' || element.veriFlag == 'U')&& (roleId == 6 || roleId == 9)" class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.empDeputDetailsId)">edit</a>
          <!--<a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteEOSDetails(element);DeletePopup = !DeletePopup">
            delete_forever
          </a>-->
          <a *ngIf="(element.veriFlag != 'E' && element.veriFlag != 'N'  && element.veriFlag != 'R' && element.veriFlag != 'U') && roleId == 6" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
          <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
        </td>

      </ng-container>

      <tr *ngIf="dataSource?.length> 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>


  </div>

</div>

<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to reject? <br /> <br /></h3>
      <div class="col-md-3"></div>
      <mat-form-field class="col-md-6 card-title text-center">
        <textarea matInput spellcheck="false"   [(ngModel)]="rejectionRemark" formControlName="rejectionRemark1" rows="2" maxlength="100" align="center" placeholder="Remarks" required inputmode="full-width-latin"></textarea>
        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.required">Remarks is Required </mat-error>

        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.pattern">Remarks is Invalid</mat-error>
        


      </mat-form-field>

      <div class="form-group text-center col-md-12">

        <button type="submit" class="btn btn-info" (click)="forwardStatusUpdate('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
<!--<app-dialog [(visible)]="RejectPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Reject?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" maxlength="50" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">

      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('R')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>-->
