<app-header></app-header>
<div class="main-content">
  <div class="container-fluid">
    <form class="rowdasa" (ngSubmit)="OnBoarding.valid && OnBoardingSubmit(ObjOnBoarding);" #OnBoarding="ngForm" novalidate>
      <div class="col-md-8 col-lg-8">
        <div class="example-card mat-card margin-bottom-9">
          <div class="col-md-12 col-lg-12">
            <div class="fom-title"><p class="text-center">New Office On-Boarding</p></div>
          </div>

          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Request letter no" required [(ngModel)]="ObjOnBoarding.RequestLetterNo" name="RequestLetterNo">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput [matDatepicker]="picker1" placeholder="Request letter date" [(ngModel)]="ObjOnBoarding.RequestLetterDate" name="RequestLetterDate"
                       required (click)="picker1.open()" readonly [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!---------------------------Applicant details---------------------------------------->          
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">Applicant Details</div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" required [(ngModel)]="ObjOnBoarding.FirstName" name="FirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" [(ngModel)]="ObjOnBoarding.LastName" name="LastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" [(ngModel)]="ObjOnBoarding.Designation" name="Designation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="ObjOnBoarding.EmailID" name="EmailID">
              </mat-form-field>
            </div>

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" [(ngModel)]="ObjOnBoarding.MobileNo" required pattern="^[6-9]\d{9}$" name="MobileNo">
              </mat-form-field>
            </div>
          </div>
          
          
          <!--------------------------------------------Controller--------------------------->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">Controller Details</div>
          </div>
          <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <mat-select placeholder="Select controller" [(ngModel)]="ObjOnBoarding.ControllerID" name="ControllerID" (selectionChange)="ControllerChnage($event.value)" required>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="controllerFilterCtrl" [placeholderLabel]="'Find controller...'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let emp of filteredcontroller |async " [value]="emp.values">
                    {{emp.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" required [(ngModel)]="ObjOnBoarding.CFirstName" name="CFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" [(ngModel)]="ObjOnBoarding.CLastName" name="CLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" [(ngModel)]="ObjOnBoarding.CDesignation" name="CDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.CEmailID" name="CEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" required [(ngModel)]="ObjOnBoarding.CMobileNo" pattern="^[6-9]\d{9}$" name="CMobileNo">
              </mat-form-field>
            </div>
          </div>
          <!-----------------------------------PAO ---------------------------------- -->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">PAO Details</div>
          </div>
          <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-lg-4">

              <mat-form-field class="wid-100">
                <mat-select matNativeControl placeholder="Select PAO" [(ngModel)]="ObjOnBoarding.PAOID" name="PAOID" (selectionChange)="PAOSelectchanged($event.value)" required>
                  <mat-option *ngFor="let pao of PAOList" [value]="pao.values">
                    {{pao.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" required [(ngModel)]="ObjOnBoarding.PFirstName" name="PFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" [(ngModel)]="ObjOnBoarding.PLastName" name="PLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" [(ngModel)]="ObjOnBoarding.PDesignation" name="PDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.PEmailID" name="PEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" required [(ngModel)]="ObjOnBoarding.PMobileNo" pattern="^[6-9]\d{9}$" name="PMobileNo">
              </mat-form-field>
            </div>
          </div>
          <!---------------------------DDO---------------------------------------->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">DDO Details</div>
          </div>
          <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <mat-select matNativeControl placeholder="Select DDO" required [(ngModel)]="ObjOnBoarding.DDOID" name="DDOID" (selectionChange)="DDOSelectChange($event.value)">
                  <mat-option *ngFor="let ddo of DDOList" [value]="ddo.values">
                    {{ddo.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" required [(ngModel)]="ObjOnBoarding.DFirstName" name="DFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" [(ngModel)]="ObjOnBoarding.DLastName" name="DLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" [(ngModel)]="ObjOnBoarding.DDesignation" name="DDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.DEmailID" name="DEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" required [(ngModel)]="ObjOnBoarding.DMobileNo" pattern="^[6-9]\d{9}$" name="DMobileNo">
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12 col-lg-12 text-center btn-wraper">
            <button type="submit" class="btn btn-success" [disabled]="OnBoarding.invalid">Submit</button>
            <button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>

          </div>
        </div>
      </div>
    </form>
    <!--<button type="button" class="btn btn-warning" (click)="RedirectToLogin()">Login</button>-->

  </div>
</div>
