<!---Atul Walia 15/Feb/19--->
<!--<form name="form" (ngSubmit)="CreatePayScale();" #f="ngForm" novalidate>-->
<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-sm-12 col-md-3">
      <label class="select-lbl">Select Pay Commission Code:</label>
    </div>
    <!--<button mat-mini-fab color="primary" class="go-btn">nitesh Go</button>-->
    <div class="col-sm-12 col-md-3">
      <mat-form-field class="wid-100">
        <mat-select matNativeControl placeholder="Select Commission Code" id="msCddirID" [(ngModel)]="_pScaleObj.msCddirID" name="msCddirID" [disabled]="is_commtype" (selectionChange)="CommissionCode($event.value)">
          <mat-option label="Select Commission Code *">Select Commission Code</mat-option>
          <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
            {{ _payscalelist.cddirCodeText }}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <!--<mat-error>
        <span *ngIf="model.invalid">Rules valid till date is required</span>
      </mat-error>-->
      <p *ngIf="show">
        <mat-error><span>Commission Code required</span></mat-error>
      </p>
    </div>
  </div>
</div>
<!--<input #model="ngModel" [(ngModel)]="_pScaleObj.payScaleCode" type="text" required />
<div *ngIf="model.invalid" style="color: red">Required</div>-->
<!--<form name="form" (ngSubmit)="CreatePayScale();" #f="ngForm" novalidate>-->
<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus=false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{  responseMessage }}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="isPanel=false">
      <mat-panel-title class="acordion-heading">
        Pay Scale Details
      </mat-panel-title>
    </mat-expansion-panel-header>




    <!-- <div class="example-container"> -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Pay Scale Code" [(ngModel)]="_pScaleObj.payScaleCode" name="payScaleCode" disabled="disabled">
        <!--<mat-error>Pay Scale Code Required!</mat-error>-->
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="paylevelstatus==true">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Pay Level *" #payScaleLevel="ngModel" (keypress)="numberCharOnly($event)" [(ngModel)]="_pScaleObj.payScaleLevel" name="payScaleLevel" maxlength="4">
        <mat-error *ngIf="payScaleLevel.errors?.required">
          Pay Level Required
        </mat-error>

      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select matNativeControl placeholder="Select Pay Scale Group *" [(ngModel)]="_pScaleObj.paysGroup_id" name="paysGroup_id">
          <mat-option label="Select Pay Scale Group">Select Pay Scale Group</mat-option>
          <mat-option *ngFor="let paygrouplist of PayScaleGrouplist" [value]="paygrouplist.paysGroup_id">{{paygrouplist.paysGroup_Text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">

        <mat-select matNativeControl placeholder="Select Pay Scale Format *" [(ngModel)]="_pScaleObj.paysfm_id" (selectionChange)="ChangePayS_Fmt($event.value)" name="paysfm_id">
          <mat-option label="Select Pay Scale Format">Select Pay Scale Format</mat-option>
          <mat-option *ngFor="let paysfmtlist of Payscalefmtlist" [value]="paysfmtlist.paysfm_id">{{paysfmtlist.paysfm_Text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-12 col-md-12 pading-0 payscale-bg mb-15">

      <div class="col-md-2 col-lg-2 combo-col"><label>Pay Scale</label></div>
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let i of payscaleArrobj">
        <mat-form-field class="wid-100">
          <input matInput placeholder="{{i.name}}" [(ngModel)]="this[i.name]" name="this[i.name]" (keypress)="numberOnly($event)" maxlength="6">
          <!--<mat-error>Regimental Required!</mat-error>-->
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="gradepaystatus==true">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Grade Pay *" #model="ngModel" (keypress)="numberOnly($event)" [(ngModel)]="_pScaleObj.payScaleGradePay" name="payScaleGradePay" maxlength="6">
      </mat-form-field>

    </div>

    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Pay GIS Group *" [(ngModel)]="_pScaleObj.payGISGroupID" name="payGISGroupID">
          <mat-option label="Select Pay GIS Group">Select Pay GIS Group</mat-option>
          <mat-option [value]="0">A</mat-option>
          <mat-option [value]="1">B</mat-option>
          <mat-option [value]="2">C</mat-option>
          <mat-option [value]="3">D</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="WithEffectFrom" placeholder="With Effect From *" [(ngModel)]="_pScaleObj.payScaleWithEffectFrom" name="payScaleWithEffectFrom" readonly (click)="WithEffectFrom.open();">
        <mat-datepicker-toggle matSuffix [for]="WithEffectFrom"></mat-datepicker-toggle>
        <mat-datepicker #WithEffectFrom></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="col-md-12 col-lg-12 mt-10">
      <textarea rows="5" class="wid-100" placeholder="Remarks" [(ngModel)]="_pScaleObj.payScaledescription" maxlength="200" name="payScaledescription">enter text</textarea>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-success"[ngClass]="btnCssClass" (click)="CreatePayScale();">{{btnUpdatetext}}</button>
      <!--<button type="submit" class="btn btn-success" (click)="CreatePayScale();">{{btnUpdatetext}}</button>-->
      <button type="button" class="btn btn-warning" (click)="Cancel();">Cancel</button>
    </div>


  </mat-expansion-panel>
</mat-accordion>


<!--</form>-->
<!--right table-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Pay Scale Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.payScaleWithEffectFrom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="PayScaleCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Scale Code </th>
          <td mat-cell *matCellDef="let element"> {{element.payScaleCode}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="WithEffectFrom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>With Effect From </th>
          <!--<td mat-cell *matCellDef="let element">-->
          <td mat-cell *matCellDef="let element"> {{element.payScaleWithEffectFrom | date:"dd/MM/yyyy"}} </td>

        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <!-- <a href="#">Edit</a> -->
            <!--<a class="material-icons i-info" matTooltip="Info" (click)="Info(element.msPayScaleID);">info</a>-->
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditPayScale(element.msPayScaleID,element.payScaleCode);">edit</a>
            <!--<a class="material-icons i-delet" matTooltip="Delete" (click)="Delete(element.msPayScaleID);"> delete_forever </a>-->
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.msPayScaleID);deletepopup = !deletepopup"> delete_forever </a>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="Delete(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="Cancel()">Cancel</button>
    </div>

  </div>
</app-dialog>

<!---------------------Dialog Box------------------------>
