<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus=false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{  responseMessage }}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->
</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isItRatePanel"  [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="isItRatePanel=false">
      <mat-panel-title class="acordion-heading">
        Income Tax Rates
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="itRatesForm" (ngSubmit)="onSubmit()">

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="isrFinYr" placeholder="Financial Year" required>
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let fin of financialYears" value="{{fin.financialYear}}">{{fin.fullDescription}}</mat-option>
          </mat-select>
          <mat-error>Please select Financial Year!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="isrRateType" placeholder="Rate Type" required>
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let rt of rateType" value="{{rt.codeValue.trim()}}">{{rt.codeValue+'-'+rt.codeType}}</mat-option>
            <!--<mat-option value="I">I - Income Tax Rates</mat-option>
            <mat-option value="S">S - Surcharge Rates</mat-option>-->
          </mat-select>
          <mat-error>Please select Rate Type!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="isrRateFor" placeholder="Rate For" required>
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let rt of rateFor" value="{{rt.codeValue.trim()}}">{{rt.codeValue+'-Rates for '+rt.codeType}}</mat-option>
            <!--<mat-option value="">Select</mat-option>
            <mat-option value="M">M - Rates for Male</mat-option>
            <mat-option value="F">F- Rates for Female</mat-option>
            <mat-option value="C">C - Rates for Common</mat-option>
            <mat-option value="S">S - Rates for Senior Citizens</mat-option>-->
          </mat-select>
          <mat-error>Please select Rates for!</mat-error>
        </mat-form-field>
      </div>
      <mat-card class=" margin-top-10px" [ngClass]="bgColor">
        <div class="fom-title">Rate Details</div>

        <table class="col-md-12 col-lg-12 table2 even-odd-color " formArrayName="rateDetails">
          <tr>
            <th>Lower Limit</th>
            <th> Upper Limit </th>
            <th>Added Amount</th>
            <th>Percentage Value %</th>
            <th>Action</th>
          </tr>
          <tbody>
            <tr *ngFor="let rate of itRatesForm.controls.rateDetails.controls; let i = index;" [formGroupName]="i">
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput formControlName="isrLlimit" required class="mat-input-element" maxlength="6" (keyup)="validateLowerLimit(i)" placeholder="Lower Limit Value" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)">
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrLlimit.errors && rate.controls.isrLlimit.errors.required == true">Please enter Lower Limit!</mat-error>
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrLlimit.errors && rate.controls.isrLlimit.errors.collapse == true">Lower limit and upper limit value should not be overlapped!</mat-error>
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrLlimit.errors && rate.controls.isrLlimit.errors.invalidError == true">Should be less than Upper Limit!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput formControlName="isrUlimit" required class="mat-input-element" maxlength="6" (keyup)="validateUpperLimit(i)" placeholder="Upper Limit Value" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)">
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrUlimit.errors && rate.controls.isrUlimit.errors.required == true">Please enter Upper Limit!</mat-error>
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrUlimit.errors && rate.controls.isrUlimit.errors.invalidError == true">Should be greater than lower Limit!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput formControlName="isrAddedAmt" required class="mat-input-element" maxlength="6" placeholder="Added Amount" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)">
                  <mat-error>Please enter Added Amount!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput formControlName="isrPercVal" required class="mat-input-element" maxlength="3" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" placeholder="Percentage Value %" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)">
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrPercVal.errors && rate.controls.isrPercVal.errors.required">Please enter Percentage Value %!</mat-error>
                  <mat-error *ngIf="itRatesForm.controls.rateDetails && rate.controls.isrPercVal.errors && rate.controls.isrPercVal.errors.pattern">Please enter valid Percentage Value %!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <a *ngIf="rateDetails.length > 1" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRateDetail(i, element)">
                  delete_forever
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12 col-lg-12 text-right btn-wraper">
          <button type="button" class="btn btn-success" [disabled]="isDisableAddRow" (click)="addRateDetail()">Add Row</button>
        </div>
      </mat-card>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass">{{lblSubmitStatus}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm(-1)">Cancel</button>
      </div>
    </form>
    <div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
      <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
    </div>



  </mat-expansion-panel>
</mat-accordion>

<!--<mat-card>-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isItRateDetailPanel">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Income Tax Rate Detail
      </mat-panel-title>

    </mat-expansion-panel-header>
    <form [formGroup]="filterRatesForm">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field class="wid-100">
          <mat-select formControlName="finYear" placeholder="Financial Year">
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let fin of financialYears" value="{{fin.financialYear}}">{{fin.fullDescription}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field class="wid-100">
          <mat-select formControlName="rateType" placeholder="Rate Type">
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let rt of rateType" value="{{rt.codeValue}}">{{rt.codeValue+'-'+rt.codeType}}</mat-option>
            <!--<mat-option value="I">I - Income Tax Rates</mat-option>
          <mat-option value="S">S - Surcharge Rates</mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field class="wid-100">
          <mat-select formControlName="rateFor" placeholder="Rates For">
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let rt of rateFor" value="{{rt.codeValue}}">{{rt.codeValue+'-Rates for '+rt.codeType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <button type="button" class="btn btn-success" (click)="search(-1)">Search</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm(1)">Cancel</button>
      </div>
    </form>
    <br /><br />
          <div class="tabel-wraper  col-sm-12">
            <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8 even-odd-color" *ngIf="dataSource.data.length > 0">

              <ng-container matColumnDef="finYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Financial Year </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fullDescription}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="rateType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rate Type </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.isrRateType}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="rateFor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rate For </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.isrRateFor}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="lowerLimit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lower Limit </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.isrLlimit}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="upperLimit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Upper Limit </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.isrUlimit}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="addedAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Added Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.isrAddedAmt}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="percentageValue">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Percentage Value</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.isrPercVal}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Action</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
                  <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">edit</a>
                  <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteDetails(element
             );DeletePopup = !DeletePopup">
                    delete_forever
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" #paginator [length]="totalCount" [pageSize]="pageSize" [pageIndex]="pageNumber" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
            <mat-toolbar color="warning" class="record-not-found" *ngIf="dataSource.data.length == 0">Record is not found</mat-toolbar>
          </div>

  


  </mat-expansion-panel>
</mat-accordion>




<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>
<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="DeletePopup = false;">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="IsDMLStatus">
  <h3 class="card-title text-center">Your Record Status</h3>
  <mat-card>
    <mat-table [dataSource]="DMLStatusList" class="mat-elevation-z8 even-odd-color" *ngIf="DMLStatusList.data.length > 0">

      <ng-container matColumnDef="finYear">
        <mat-header-cell *matHeaderCellDef> Financial Year </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.isrFinYr}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rateType">
        <mat-header-cell *matHeaderCellDef> Rate Type </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.isrRateType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rateFor">
        <mat-header-cell *matHeaderCellDef> Rate For </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.isrRateFor}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lowerLimit">
        <mat-header-cell *matHeaderCellDef>Lower Limit </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.isrLlimit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="upperLimit">
        <mat-header-cell *matHeaderCellDef>Upper Limit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isrUlimit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="addedAmount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isrAddedAmt}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percentageValue">
        <mat-header-cell *matHeaderCellDef>% Value</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isrPercVal}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="dspColumnStatusHeader"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dspColumnStatusHeader;"></mat-row>
    </mat-table>
    <br />
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="IsDMLStatus=false">OK</button>
    </div>
  </mat-card>

</app-dialog>


<!--</mat-card>-->
