<!--Working 01-10-19-->

<app-comman-mst (onchange)="getcommanMethod($event)" [data]="callTypevar"></app-comman-mst>
<form (ngSubmit)="recoveryForm.valid && saveExcessRecovery();" #recoveryForm="ngForm" novalidate>

  <mat-accordion class="col-md-12">
    <mat-expansion-panel>

      <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Recovery of Excess Payment Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="col-md-12 col-lg-12 ">
        <h4>Sanction Order Details</h4>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Type of Recovery" [(ngModel)]="recpayment.recoveryTypeID" required #recoveryTypeID="ngModel" name="recoveryTypeID"
                      (selectionChange)="showHideElement($event.value)" [disabled]="disableFlag">
            <mat-option label="Select">Select Type</mat-option>
            <mat-option *ngFor="let _loantype of loanTypelist" [value]="_loantype.recoveryTypeID">
              {{ _loantype.recoveryType | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error><span [hidden]="!recoveryTypeID.errors?.required">Type of recovery required</span></mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4" *ngIf="showhideDropdown">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Recovery Element" id="deductionTypeId" [(ngModel)]="recpayment.deductionTypeId" name="deductionTypeId" #deductionTypeId="ngModel" required>
            <mat-option *ngFor="let _recoverytype of deductionlist" [value]="_recoverytype.deductionTypeId">
              {{ _recoverytype.deductionType}}
            </mat-option>
          </mat-select>
          <mat-error><span *ngIf="recoveryForm.submitted && deductionTypeId.invalid">Recovery element required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="w-100">
          <input matInput placeholder="Sanction Order No" maxlength="12" required name="sanctionOrderNo" [(ngModel)]="recpayment.sanctionOrderNo"
                 #sanctionOrderNo="ngModel" pattern="^[A-Za-z0-9]+$" onpaste="return false" autocomplete="off">
          <mat-error><span *ngIf="recoveryForm.submitted && sanctionOrderNo.invalid">Order no required</span></mat-error>
          <mat-error><span *ngIf="sanctionOrderNo.errors?.pattern">Special character not allowed</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="ordate" (click)="ordate.open()" [(ngModel)]="recpayment.sanctionOrdDate " name="sanctionOrdDate" #sanctionOrdDate="ngModel"
                 placeholder="Sanction Order Date" readonly required>
          <mat-datepicker-toggle matSuffix [for]="ordate"></mat-datepicker-toggle>
          <mat-datepicker #ordate></mat-datepicker>
          <mat-error>
            <span [hidden]="!sanctionOrdDate.errors?.required">Sanction order date is required</span>
          </mat-error>


        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Financial Year" id="finYear" [(ngModel)]="recpayment.finYear" name="finYear" #finYear="ngModel" required (selectionChange)="getAccountHead($event.value)">
            <mat-option *ngFor="let _finYears of finYearlist" [value]="_finYears.finYear">
              {{ _finYears.finYearDesc }}
            </mat-option>
          </mat-select>
          <mat-error><span *ngIf="recoveryForm.submitted && finYear.invalid">Financial year required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Account Head" id="accHeadId" [(ngModel)]="recpayment.accHeadId" name="accHeadId" #accHeadId="ngModel" required>
            <mat-option *ngFor="let _accHead of accHeadlist" [value]="_accHead.accHeadId">
              {{ _accHead.accHeadName }}
            </mat-option>
          </mat-select>
          <mat-error><span *ngIf="recoveryForm.submitted && accHeadId.invalid">Account head required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Excess Amount Paid (Rs)" maxlength="7" required name="excessAmt" [(ngModel)]="recpayment.excessAmt" #excessAmt="ngModel" type="number"
                 onpaste="return false" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" autocomplete="off">
          <mat-error><span *ngIf="recoveryForm.submitted && excessAmt.invalid">Excess amount required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Installment Amount" maxlength="6" required name="installmentAmt" [(ngModel)]="recpayment.installmentAmt" #installmentAmt="ngModel" type="number" (blur)="calculateValue($event.target.value)"
                 onpaste="return false" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==6 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" autocomplete="off">
          <mat-error><span *ngIf="recoveryForm.submitted && installmentAmt.invalid">Installment amount required</span></mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Installments" disabled name="installmentNo" [(ngModel)]="recpayment.installmentNo" #installmentNo="ngModel">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Odd Installment Amount" disabled name="oddInstallmentAmt" [(ngModel)]="recpayment.oddInstallmentAmt" #oddInstallmentAmt="ngModel">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Odd Installments" disabled name="oddInstallmentNo" [(ngModel)]="recpayment.oddInstallmentNo" #oddInstallmentNo="ngModel">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Last Installment no. paid" disabled name="paidInstallmentNo" [(ngModel)]="recpayment.paidInstallmentNo" #paidInstallmentNo="ngModel">
        </mat-form-field>
      </div>


      <div *ngIf="showhideDiv">
        <div class="col-md-12 col-lg-12">
          <h4>Total Amount Bifurcation Details</h4>
        </div>

        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Recovery Component" id="componentId" [(ngModel)]="recpayment.componentId" name="componentId" #componentId="ngModel" required>
              <mat-option label="Select Recovery Component">Select</mat-option>
              <mat-option *ngFor="let _recomponent of componentlist" [value]="_recomponent.componentId">
                {{ _recomponent.componentName | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error><span *ngIf="recoveryForm.submitted && componentId.invalid">Recovery component required</span></mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount" maxlength="6" required name="bifAmt" [(ngModel)]="recpayment.bifAmt" #bifAmt="ngModel" type="number"
                   onpaste="return false" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==6 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" autocomplete="off">
            <mat-error><span *ngIf="recoveryForm.submitted && bifAmt.invalid">Amount required</span></mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-4">
          <button class="btn btn-success" type="button" (click)="saveRecCompAmount()">Add</button>
        </div>

        <div>
          <table mat-table [dataSource]="dataSourcebif" matSort class="mat-elevation-z8 even-odd-color">
            <tr>
              <ng-container matColumnDef="componentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Component</th>
                <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
              </ng-container>

              <ng-container matColumnDef="bifAmt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.bifAmt}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">
                  <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.recCmpId);deletepopup = !deletepopup"> delete_forever </a>
                </td>
              </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
          </table>

        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="showhideButton">
        <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="clearInput()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwordDDOChecker()">Forward to DDO Checker</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</form>



<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">

    <div class="fom-title">In-Progress Recovery Schedule Details</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <tr>
        <ng-container matColumnDef="recoveryType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type of Recovery</th>
          <td mat-cell *matCellDef="let element"> {{element.recoveryType}} </td>
        </ng-container>

        <ng-container matColumnDef="excessAmt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Excess Amount Recovered</th>
          <td mat-cell *matCellDef="let element"> {{element.excessAmt}} </td>
        </ng-container>

        <ng-container matColumnDef="accountNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Head</th>
          <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
        </ng-container>

        <ng-container matColumnDef="sanctionOrderNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sanction Order No.</th>
          <td mat-cell *matCellDef="let element"> {{element.sanctionOrderNo}} </td>
        </ng-container>

        <ng-container matColumnDef="sanctionOrdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sanction Order Date</th>
          <td mat-cell *matCellDef="let element"> {{element.sanctionOrdDate|date}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"></mat-paginator>


    <div class="col-md-12 col-lg-12 text-right view-btn-wraper" cdkdrag>
      <button type="submit" class="btn view-detail-btn" (click)="showHideTable = !showHideTable">View New captured Recovery of Excess Payment Details</button>
    </div>
    <div *ngIf="showHideTable" >
      <div class="fom-title">Captured Recovery of Excess Payment Details </div>
      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8 even-odd-color">
        <tr>
          <ng-container matColumnDef="recoveryType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type of Recovery</th>
            <td mat-cell *matCellDef="let element"> {{element.recoveryType}} </td>
          </ng-container>

          <ng-container matColumnDef="excessAmt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Excess Amount Paid</th>
            <td mat-cell *matCellDef="let element"> {{element.excessAmt}} </td>
          </ng-container>

          <ng-container matColumnDef="accountNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Head</th>
            <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
          </ng-container>

          <ng-container matColumnDef="sanctionOrderNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sanction Order No.</th>
            <td mat-cell *matCellDef="let element"> {{element.sanctionOrderNo}} </td>
          </ng-container>

          <ng-container matColumnDef="sanctionOrdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sanction Order Date</th>
            <td mat-cell *matCellDef="let element"> {{element.sanctionOrdDate|date}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-info" matTooltip="info" (click)="viewExcessPayment(element.recExcessId)">info</a>
              <a class="material-icons i-edit" matTooltip="Edit" (click)="editExcessPayment(element.recExcessId)">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteRecId(element.recExcessId);deletepopup1 = !deletepopup1"> delete_forever </a>
            </td>
          </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"></mat-paginator>
    </div>

  </div>
</div>

<!--Delete Pop Up-->

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteComponentAmt(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>


<app-dialog [(visible)]="deletepopup1">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteExcessRecovery(setDeletIDOnPopup1)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup1 = !deletepopup1">Cancel</button>
    </div>

  </div>
</app-dialog>



