<!---Raju verma 01/08/2019--->

<form name="formain" (ngSubmit)="mainf.valid && insertStopIncrementData();" #mainf="ngForm" novalidate>

  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      <div class="col-md-3">

        <div class="col-md-12">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Pay Commission" id="msCddirID" [(ngModel)]="_pScaleObj.msCddirID" name="msCddirID" (selectionChange)="refreshData()">
              <mat-option label="Select Pay Commission">Select Pay Commission</mat-option>
              <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
                {{ _payscalelist.cddirCodeText }}
              </mat-option>
            </mat-select>
            <!--<mat-error><span *ngIf="mainf.submitted && msCddirID.invalid">Pay Commission required</span></mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-info" (click)="getEmpWithOrderNo()">GO</button>
      </div>
    </div>
  </div>



  <div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv0">

    <div class="example-card mat-card">
      <div class="fom-title">Stopping of Increment</div>
      <div class="col-md-12 mb-12 mb-15 pading-0 text-right">
        <button class="btn btn-labeled btn-success margin-0 text-center" type="button" style="cursor:pointer;" (click)="showPH = !showPH">
          <span class="btn-label"><i _ngcontent-c35="" class="glyphicon glyphicon-plus"></i></span>Add New Order Details
        </button>
      </div>

      <table mat-table [dataSource]="dataSourceEmp" class="mat-elevation-z8 even-odd-color">
        <tr class="table-head">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="orderNo">
            <th mat-header-cell *matHeaderCellDef> Inc. Order No. </th>
            <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
          </ng-container>

          <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef> Inc. Order Date </th>
            <td mat-cell *matCellDef="let element"> {{element.orderDate|date}} </td>
          </ng-container>

          <ng-container matColumnDef="noofEmployee">
            <th mat-header-cell *matHeaderCellDef>No. of Emp. in Order</th>
            <td mat-cell *matCellDef="let element"> {{element.noofEmployee}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element let k = index;">
              <a class="btn btn-info" matTooltip="View" (click)="getEmployeeForIncrement(element.id,k);">View</a>
              <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.id);deletepopup = !deletepopup"> delete_forever </a>
            </td>
          </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div [hidden]="isTableHasData">
        No  Records Found
      </div>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success" [disabled]="disablebtnflag">Save</button>
      <button type="reset" class="btn btn-warning" (click)="clearData();" [disabled]="disablebtnflag">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="forwardtocheckerFor();" [disabled]="disableFDflag">Forward to DDO Checker</button>
    </div>
  </div>

</form>

<!--Table For Add-->

<div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv1">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <!--<table mat-table [dataSource]="dataSource" matSort class="even-odd-color">-->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <tr class="table-head">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
        </ng-container>

          <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                        [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null; addCheckedObj()"
                        [checked]="selectionAttach.isSelected(row)">
          </mat-checkbox>
        </td>
        </ng-container>

        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>

        <ng-container matColumnDef="desigination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desigination</th>
          <td mat-cell *matCellDef="let element"> {{element.desigination}} </td>
        </ng-container>

        <ng-container matColumnDef="oldBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Basic</th>
          <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
        </ng-container>

        <ng-container matColumnDef="wefDate">
          el
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wef Date</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never">
              <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" [(ngModel)]="element.wefDate" name="wefDate"
                     placeholder="Wef Date" readonly [disabled]=disableflag required>
              <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
              <mat-datepicker #DOJ></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="nextIncDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Next Inc Date
          </th>
          <td mat-cell *matCellDef="let element"> {{element.nextIncDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="payLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Level</th>
          <td mat-cell *matCellDef="let element"> {{element.payLevel}} </td>
        </ng-container>


        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
          <td mat-cell *matCellDef="let element">
            <!--<input matInput placeholder="Remarks" required [(ngModel)]="this['remark'+j]" [disabled]=disableflag name="remark">-->
            <textarea type="text" required [(ngModel)]="element.remark" [disabled]=disableflag name="remark" placeholder="remark"></textarea>

          </td>
        </ng-container>

      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1; let i = index"></tr>
    </table>
    <div [hidden]="isTableHasDataY">
      No  Records Found
    </div>
    <mat-paginator #paginatorAttach [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>

<div class="col-md-12 col-lg-12 pading-0 text-center mb-20" *ngIf="showhidediv3">

  <button class="btn btn-labeled btn-success add-list  text-center" style="cursor:pointer;" (click)="attachSelectedRows()">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-up"></i></span>Add to list
  </button>

  <button class="btn btn-labeled btn-success remove-list  text-center" style="cursor:pointer;" (click)="deAttachSelectedRows()">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-down"></i></span>Remove
  </button>
</div>

<!--Table For Remove-->

<div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv2">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilterDetach($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceDeAttach" matSort class="mat-elevation-z8 even-odd-color">
      <tr class="table-head">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox (change)="$event ? masterToggleForDeAttach() : null" [checked]="selectionDeAttach.hasValue() && isAllSelectedForDeAttach()"
                          [indeterminate]="selectionDeAttach.hasValue() && !isAllSelectedForDeAttach()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDeAttach.toggle(row) : null"
                          [checked]="selectionDeAttach.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>

        <ng-container matColumnDef="desigination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desigination</th>
          <td mat-cell *matCellDef="let element"> {{element.desigination}} </td>
        </ng-container>

        <ng-container matColumnDef="oldBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Basic</th>
          <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
        </ng-container>

        <!--<ng-container matColumnDef="NewBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> New Basic </th>
          <td mat-cell *matCellDef="let element"> {{element.newBasic}} </td>
        </ng-container>-->

        <ng-container matColumnDef="nextIncDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Inc Date  </th>
          <td mat-cell *matCellDef="let element"> {{element.nextIncDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="payLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Level</th>
          <td mat-cell *matCellDef="let element"> {{element.payLevel}} </td>
        </ng-container>

      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2; let i = index"></tr>
    </table>
    <div [hidden]="isTableHasDataX">
      No  Records Found
    </div>
    <mat-paginator #paginatorDetach [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>
  <!--</div>-->
</div>



<!---------------------Dialog Box For Add New Order Details  ------------------------>


<app-dialog [(visible)]="showPH">
  <form name="form" (ngSubmit)="f.valid && createOrder();" #f="ngForm" novalidate>
    <mat-card>
      <div ><h4 class="card-title">
          New Order- Stopping of Increment</h4>
      <hr/>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Increment Certificate Order No." maxlength="20" required name="orderNo" [(ngModel)]="regInc.orderNo"
                 autocomplete="off" #orderNo="ngModel" pattern="^[A-Za-z0-9]+$" onpaste="return false">
          <mat-error><span *ngIf="f.submitted && orderNo.invalid">Order no required</span></mat-error>
          <mat-error><span *ngIf="orderNo.errors?.pattern">Special character not allowed</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" [(ngModel)]="regInc.orderDate " name="orderDate" #orderDate="ngModel"
                 placeholder="Order Date" required>
          <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
          <mat-datepicker #DOJ></mat-datepicker>
          <mat-error>
            <span [hidden]="!orderDate.errors?.required">Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-warning" (click)="reSetForm();">Cancel</button>
      </div>

    </mat-card>
  </form>
</app-dialog>


<!------------------------------Delete Dialog Box---------------------------------->

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteIncOrderDetails(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
