

<form name="formain" #mainf="ngForm" novalidate>
  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">

      <div class="col-md-3">
        <div class="col-md-12">
          <mat-form-field class="wid-100">
            <mat-select [formControl]="designCtrl" placeholder="Find Designation" [(ngModel)]="ArrddlDesign.msDesigMastID" (selectionChange)="refreshData()">
              <mat-option>
                <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.msDesigMastID">
                {{emp.desigDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-md-12">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Pay Commission" id="msCddirID" [(ngModel)]="_pScaleObj.msCddirID" name="msCddirID" (selectionChange)="getEmpWithOrderNo($event)">
              <mat-option label="Select Pay Commission">Select Pay Commission</mat-option>
              <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
                {{ _payscalelist.cddirCodeText }}
              </mat-option>
            </mat-select>
            <!--<mat-error><span *ngIf="mainf.submitted && msCddirID.invalid">Pay Commission required</span></mat-error>-->
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv0">

    <div class="example-card mat-card">
      <div class="fom-title">Release of Regular Increment</div>
      <div class="col-md-12 mb-12 mb-15 pading-0 text-right">
        <button class="btn btn-labeled btn-success margin-0 text-center" type="button" style="cursor:pointer;" (click)="showPH = !showPH">
          <span class="btn-label"><i _ngcontent-c35="" class="glyphicon glyphicon-plus"></i></span>Add New Order Details
        </button>
      </div>

      <table mat-table [dataSource]="dataSourceEmp" class="even-odd-color tabel-form wid-100 recovery-tabel">
        <tr class="table-head">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="OrderNo">
            <th mat-header-cell *matHeaderCellDef> Inc. Order No. </th>
            <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
          </ng-container>

          <ng-container matColumnDef="OrderDate">
            <th mat-header-cell *matHeaderCellDef> Inc. Order Date </th>
            <td mat-cell *matCellDef="let element"> {{element.orderDate|date}} </td>
          </ng-container>

          <ng-container matColumnDef="NoofEmployee">
            <th mat-header-cell *matHeaderCellDef>No. of Emp. in Order</th>
            <td mat-cell *matCellDef="let element"> {{element.noofEmployee}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element let k = index;">
              <a class="view-btn" matTooltip="View" (click)="getEmployeeForIncrement(element.id,k);">View</a>
            </td>
          </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>




    </div>
  </div>

</form>

<!--Table For Add-->

<div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv1">
  <p>
    <b>Note :</b> 1) Please deselect any employee for whom Increment is not given. To deselect any employee Tick on checkbox and click on Remove button.
    <br />
    2) Please change w.e.f date for an employee to whom increment is not to be given from 1st of the month (due to leave etc.).
    <br />
    3) After saving Annual Increment details please click 'Forward to DDO' button
  </p>
  <!--<div class="example-card mat-card">-->
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <form [formGroup]="formSave" autocomplete="off" (ngSubmit)="insertRegIncrementData();">
      <!--<ng-container formArrayName="IncrementSave">-->


        <!--<table mat-table [dataSource]="IncrementSave.controls" *ngFor="let incSave of formSave.controls.IncrementSave.controls;let i = index" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
          <tr class="table-head">
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                              [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
              </th>

              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null; addCheckedObj()"
                              [checked]="selectionAttach.isSelected(row)">
                </mat-checkbox>

              </td>

            </ng-container>

            <ng-container matColumnDef="EmpName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
              <td mat-cell *matCellDef="let element">  {{incSave.empName}}</td>

            </ng-container>

            <ng-container matColumnDef="Desigination">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Desigination</th>
              <td mat-cell *matCellDef="let element">{{incSave.desigination}}  </td>
            </ng-container>

            <ng-container matColumnDef="OldBasic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Basic</th>
              <td mat-cell *matCellDef="let element">{{incSave.oldBasic}} </td>
            </ng-container>

            <ng-container matColumnDef="NewBasic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> New Basic </th>
              <td mat-cell *matCellDef="let element"> {{incSave.newBasic}} </td>
            </ng-container>


            <ng-container matColumnDef="WefDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Wef Date</th>
              <td mat-cell *matCellDef="let element let l = index;" [formGroup]="element">
                <mat-form-field floatLabel="never">
                  <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" formControlName="wefDate" name="wefDate"
                         placeholder="Wef Date" readonly [disabled]=disableflag required>
                  <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
                  <mat-datepicker #DOJ></mat-datepicker>
                </mat-form-field>
                {{element.wefDate | date}}
                on
              </td>
              on
            </ng-container>

            <ng-container matColumnDef="NextIncDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Inc Date  </th>
              <td mat-cell *matCellDef="let element"> {{incSave.nextIncDate}}</td>
            </ng-container>

            <ng-container matColumnDef="PayLevel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Level</th>
              <td mat-cell *matCellDef="let element"> {{incSave.payLevel}}</td>
            </ng-container>


            <ng-container matColumnDef="Remark">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
              <mat-cell *matCellDef="let element;" [formGroup]="element">
                <mat-form-field>
                  <input matInput placeholder="Remark" formControlName="remark" required />
                </mat-form-field>
              </mat-cell>

            </ng-container>

          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1; let i = index"></tr>
        </table>-->

        <table matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input" border="1">
          <tr class="table-head">

            <th>Index</th>
            <th>Select</th>
            <th>Employee Name</th>
            <th>Desigination</th>
            <th>Old Basic</th>
            <th>New Basic</th>
            <th>Wef Date</th>
            <th>Next Inc Date</th>
            <th>Pay Level</th>
            <th>Remarks</th>
          </tr>
          <tbody formArrayName="IncrementSave" *ngFor="let incSave of formSave.controls.IncrementSave.controls;let i = index" >
            <tr [formGroupName]="i">

              <td> {{i+1}}</td>
              <td>
                <mat-checkbox  (change)="getcheckbox($event)" formControlName="empid">
                </mat-checkbox>
              </td>
              <td>  {{incSave.empName}}</td>
              <td>  {{incSave.desigination}}</td>
              <td>  {{incSave.oldBasic}}</td>
              <td>  {{incSave.newBasic}}</td>

              <td>
                <mat-form-field floatLabel="never">
                  <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" formControlName="wefDate" name="wefDate"
                         placeholder="Wef Date" readonly [disabled]=disableflag required>
                  <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
                  <mat-datepicker #DOJ></mat-datepicker>
                </mat-form-field>

              </td>
              <td>  {{incSave.nextIncDate}}</td>
               

              <td>  {{incSave.payLevel}}</td>
              <td>
                <!--<mat-form-field floatLabel="never">
    <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" formControlName="wefDate" name="wefDate"
           placeholder="Wef Date" readonly [disabled]=disableflag required>
    <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
    <mat-datepicker #DOJ></mat-datepicker>
  </mat-form-field>-->
                <!--{{incSave.remark}}-->
                <mat-form-field>
                  <input matInput placeholder="Remark" formControlName="remark" required />
                </mat-form-field>
              </td>
            </tr>
          </tbody>


        </table>



       
      <!--</ng-container>-->
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="disablebtnflag">Save</button>
        <button type="reset" class="btn btn-warning" (click)="clearData();" [disabled]="disablebtnflag">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="forwardtocheckerFor();" [disabled]="disablebtnflag">Forward to DDO Checker</button>
      </div>
    </form>
  </mat-card>
  <!--</div>-->
  <!--<mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
      <tbody formArrayName="IncrementSave" *ngFor="let rateDetails  of getControls(); let i = index">

        <tr class="table-head">
          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                            [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null; addCheckedObj()"
                            [checked]="selectionAttach.isSelected(row)">
              </mat-checkbox>
            </td>

          </ng-container>

          <ng-container matColumnDef="empName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
            <td mat-cell *matCellDef="let element"> {{element.empName}} </td>


          </ng-container>

          <ng-container matColumnDef="desigination">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Desigination</th>
            <td mat-cell *matCellDef="let element"> {{element.desigination}} </td>
          </ng-container>

          <ng-container matColumnDef="oldBasic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Basic</th>
            <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
          </ng-container>

          <ng-container matColumnDef="newBasic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> New Basic </th>
            <td mat-cell *matCellDef="let element"> {{element.newBasic}} </td>
          </ng-container>


          <ng-container matColumnDef="wefDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Wef Date</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field floatLabel="never">
                <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" formControlName="wefDate" id="{{'wefDate'+i}}" name="wefDate"
                       placeholder="Wef Date" readonly [disabled]=disableflag required>
                <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
                <mat-datepicker #DOJ></mat-datepicker>

                <mat-error *ngIf="form.controls.IncrementSave.controls[i].controls.wefDate.error">SlabNo is required</mat-error>
              </mat-form-field>
              {{element.wefDate | date}}
            </td>

          </ng-container>

          <ng-container matColumnDef="nextIncDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Inc Date  </th>
            <td mat-cell *matCellDef="let element"> {{element.nextIncDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="payLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Level</th>
            <td mat-cell *matCellDef="let element"> {{element.payLevel}} </td>
          </ng-container>


          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
            <td mat-cell *matCellDef="let element let j = index;">
              <textarea type="text" required formControlName="remark"  id="{{'remark'+i}}" [disabled]=disableflag name="remark" placeholder="Remark"></textarea>
               <mat-error *ngIf="form.controls.IncrementSave.controls[i].controls.remark.error">SlabNo is required</mat-error>
            </td>
          </ng-container>

        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1; let i = index"></tr>
        </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>-->


</div>

<div class="col-md-12 col-lg-12 pading-0 text-center mb-20" *ngIf="showhidediv3">

  <button class="btn btn-labeled btn-success add-list  text-center" style="cursor:pointer;" (click)="attachSelectedRows()">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-up"></i></span>Add to list
  </button>

  <button class="btn btn-labeled btn-success remove-list  text-center" style="cursor:pointer;" (click)="deAttachSelectedRows()">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-down"></i></span>Remove
  </button>
</div>

<!--Table For Remove-->

<div class="col-md-12 col-lg-12 mb-20" *ngIf="showhidediv2">

  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilterDetach($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceDeAttach" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
      <tr class="table-head">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox (change)="$event ? masterToggleForDeAttach() : null" [checked]="selectionDeAttach.hasValue() && isAllSelectedForDeAttach()"
                          [indeterminate]="selectionDeAttach.hasValue() && !isAllSelectedForDeAttach()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDeAttach.toggle(row) : null"
                          [checked]="selectionDeAttach.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="EmpName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>

        <ng-container matColumnDef="Desigination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desigination</th>
          <td mat-cell *matCellDef="let element"> {{element.desigination}} </td>
        </ng-container>

        <ng-container matColumnDef="OldBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Basic</th>
          <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
        </ng-container>

        <ng-container matColumnDef="NewBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> New Basic </th>
          <td mat-cell *matCellDef="let element"> {{element.newBasic}} </td>
        </ng-container>

        <ng-container matColumnDef="NextIncDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Inc Date  </th>
          <td mat-cell *matCellDef="let element"> {{element.nextIncDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="PayLevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Level</th>
          <td mat-cell *matCellDef="let element"> {{element.payLevel}} </td>
        </ng-container>

      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2; let i = index"></tr>
    </table>
    <mat-paginator #paginatorDetach [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>
  <!--</div>-->
</div>



<!---------------------Dialog Box For Add New Order Details  ------------------------>


<app-dialog [(visible)]="showPH">
  <form name="form" (ngSubmit)="f.valid && createOrder();" #f="ngForm" novalidate>
    <mat-card>
      <div class="fom-title">Release of Regular Increment</div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Increment Certificate Order No." maxlength="20" required name="orderNo" [(ngModel)]="regInc.orderNo" autocomplete="off" #orderNo="ngModel">
          <mat-error><span *ngIf="f.submitted && orderNo.invalid">Order no required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" [(ngModel)]="regInc.orderDate " name="orderDate" #orderDate="ngModel"
                 placeholder="Order Date" required>
          <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
          <mat-datepicker #DOJ></mat-datepicker>
          <mat-error>
            <span [hidden]="!orderDate.errors?.required">Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-warning" (click)="deletepopup = !deletepopup">Cancel</button>
      </div>

    </mat-card>
  </form>
</app-dialog>

