<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>

</div>
<!--End Alert message for delet, info-->


<div class="col-md-12 mb-20">
  <mat-accordion>
    <mat-expansion-panel [expanded]="isRateDetailPanel" [ngClass]="bgColor">
      <mat-expansion-panel-header class="panel-header btm-m15" (click)="resetRateDetailPanel()" >
        <mat-panel-title class="acordion-heading">
          Section Details
        </mat-panel-title>

      </mat-expansion-panel-header>
           
      <form [formGroup]="incomeTaxRatesForm" (ngSubmit)="onSubmit()">

        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="majorSectionCode" (selectionChange)="BindSectionCode($event.value)" placeholder="Major Section Code" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let code of ArrddlMajSecCode" value="{{code.majorSecCode}}">{{code.majorSecDesc}}</mat-option>
            </mat-select>
            <mat-error>Please select Major Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="sectionCode" (selectionChange)="BindSubSectionCode()" placeholder="Section Code" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let code of ArrddlSecCode" value="{{code.secCode}}">{{code.secCode}}</mat-option>
            </mat-select>
            <mat-error>Please select Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="subSectionCode" (selectionChange)="BindSectionCodeDescription()" placeholder="Sub Section Code" required>
              <mat-option>Please Select</mat-option>
              <mat-option *ngFor="let code of ArrddlSubSecCode" value="{{code.subSecCode}}">{{code.subSecCode}}</mat-option>
            </mat-select>
            <mat-error>Please select Sub Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput formControlName="sectionDesc" placeholder="Section Description" autocomplete=off readonly></textarea>
          </mat-form-field>
        </div>

        <mat-card class="example-card mat-card margin-top-10px" [ngClass]="bgColor">
          <div class="fom-title">Rate Years</div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <!--<input matInput [matDatepicker]="picker2" placeholder="Financial Year From ">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>-->
              <mat-select formControlName="financialYearFrom" placeholder="Financial Year From" required>
                <mat-option value="">Please Select</mat-option>
                <mat-option *ngFor="let code of ArrddlYearFrom" value="{{code.financialYear}}">{{code.fullDescription}}</mat-option>
              </mat-select>
              <!-- <input matInput formControlName="financialYearFrom" placeholder="Financial Year From" (paste)="$event.preventDefault()" autocomplete=off maxlength="9"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45)">-->
              <mat-error>Please select From Financial Year</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <!--<input matInput [matDatepicker]="picker3" placeholder="Financial Year To ">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>-->
              <mat-select formControlName="financialYearTo" placeholder="Financial Year To">
                <mat-option value="">Please Select</mat-option>
                <mat-option *ngFor="let code of ArrddlYearTo" value="{{code.financialYear}}">{{code.fullDescription}}</mat-option>
              </mat-select>
              <!--<input matInput formControlName="financialYearTo" placeholder="Financial Year To" (paste)="$event.preventDefault()" autocomplete=off maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45)">-->
              <mat-error>Please select To Financial Year</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select formControlName="slabLimitsFor" placeholder="Slab Limit For" required>
                <mat-option value="">Please Select</mat-option>
                <mat-option *ngFor="let code of ArrddlSlabLimit" value="{{code.slabLimitCode}}">{{code.slabLimitDesc}}</mat-option>
              </mat-select>
              <mat-error>Please select Slab Limit</mat-error>
            </mat-form-field>

          </div>
        </mat-card>

        <mat-card class="example-card mat-card margin-top-10px" [ngClass]="bgColor">
          <div class="fom-title">Rate Details</div>
          <div class="tabel-wraper wid-100">
            <table class="mat-elevation-z8 col-md-12 col-lg-12 table2 even-odd-color" formArrayName="rateDetails">
              <tr>
                <th>Lower Limit</th>
                <th>Upper Limit</th>
                <th>Value / %</th>
                <th>Rebate (Normal)</th>
                <th>Rebate (Special)</th>
                <th>Max Saving</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let rate of incomeTaxRatesForm.controls.rateDetails.controls; let i = index;" [formGroupName]="i">
                <td>
                  <mat-form-field class="form-field-width">
                    <input matInput formControlName="lowerLimit" placeholder="Lower Limit" autocomplete=off maxlength="6" (keyup)="validateLowerLimit(i)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors.required == true">Please enter Lower Limit</mat-error>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors.invalidError == true">Should be less than Upper Limit</mat-error>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.lowerLimit.errors.limitOverlapError == true">Lower Limit & Upper Limit value should not be overlap</mat-error>
                    <!--<mat-error *ngIf="limitOverlapError == true">Lower Limit & Upper Limit value should not be overlap</mat-error>-->
                  </mat-form-field>
                </td>
                <td> 
                  <mat-form-field class="form-field-width">
                    <input matInput formControlName="upperLimit" placeholder="Upper Limit" autocomplete=off maxlength="6" (keyup)="validateLowerLimit(i)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                    <mat-error>Please enter Upper Limit</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-field-width">
                    <mat-select formControlName="percentageValue" (selectionChange)="PercentValueChange(i)">
                      <mat-option value="">Please Select</mat-option>
                      <mat-option value="P">Percent</mat-option>
                      <mat-option value="V">Value</mat-option>
                    </mat-select>
                    <mat-error>Please select % value</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-field-width">
                    <input matInput formControlName="normalRebate" placeholder="Normal Rebate" autocomplete=off maxlength="{{maxLength}}" (keyup)="validateLowerLimit(i)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails.controls[i].controls.normalRebate.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.normalRebate.errors.required">Please enter normal rebate</mat-error>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails.controls[i].controls.normalRebate.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.normalRebate.errors.pattern">Please enter valid normal rebate</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-field-width">
                    <input matInput formControlName="spclRebate" name="spclRebate" placeholder="Special Rebate" autocomplete=off maxlength="{{maxLength}}" oninput="this.value=Math.abs(this.value)" pattern="{{percentValuePattern}}" (keyup)="validateLowerLimit(i)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails.controls[i].controls.spclRebate.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.spclRebate.errors.required">Please enter special rebate</mat-error>
                    <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails.controls[i].controls.spclRebate.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.spclRebate.errors.pattern">Please enter valid special rebate</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="form-field-width">
                    <input matInput formControlName="maxSaving" placeholder="Max saving" autocomplete=off maxlength="6" (keyup)="validateLowerLimit(i)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)">
                    <mat-error>Please enter Max Saving</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <a *ngIf="rateDetails.length > 1" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRateDetail(i)">
                    delete_forever
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 col-lg-12 text-right btn-wraper">
            <button type="button" class="btn btn-success" (click)="addRateDetail()">Add Row</button>
          </div>
        </mat-card>

        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" [ngClass]="btnCssClass" *ngIf="submitButtonText">{{submitButtonText}}</button>
          <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
        </div>

      </form>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="col-md-12">
  <mat-accordion class="mb-20">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Income Tax Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <input matInput (keyup.enter)="applyFilter($event.target.value)" [(ngModel)]="searchTerm" placeholder="Search">
        <span (click)="applyFilter(searchTerm)"><i class="material-icons icon-right">search</i></span>
      </mat-form-field>
      <div class="tabel-wraper">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="serialNo">
            <th mat-header-cell *matHeaderCellDef>S.No</th>
            <td mat-cell *matCellDef="let element; let i = index;">{{ i+1 }} </td>
          </ng-container>
          <ng-container matColumnDef="sectionCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
            <td mat-cell *matCellDef="let element"> <label *ngIf="element.subSectionCode != 'NA'">{{element.sectionCode + ' ' + element.subSectionCode}}</label> <label *ngIf="element.subSectionCode == 'NA'">{{element.sectionCode}}</label>  </td>
          </ng-container>
          <ng-container matColumnDef="financialYearFrom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year From</th>
            <td mat-cell *matCellDef="let element"> {{element.financialYearFromDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="financialYearTo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year To</th>
            <td mat-cell *matCellDef="let element"> {{element.financialYearToDesc}} </td>
          </ng-container>
          <!--<ng-container matColumnDef="slabLimitFor">-->
          <ng-container matColumnDef="slDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Slab Limit For</th>
            <td mat-cell *matCellDef="let element"> {{element.slDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="actionWidth"> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" (click)="deleteDetails(element);DeletePopup = !DeletePopup">
                delete_forever
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
      <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10]" [pageSize]="5" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>
      <mat-toolbar color="warning" class="record-not-found" *ngIf="dataSource.data.length == 0">{{noRecordMsg}}</mat-toolbar>
    </mat-expansion-panel>
  </mat-accordion>
    
</div>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete record?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="DeletePopup = !DeletePopup">Cancel</button>
    </div>
  </div>
</app-dialog>
