<app-dues-deductions-header></app-dues-deductions-header>
<mat-accordion class="col-md-12">

  <mat-expansion-panel [expanded]="true">

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Dues & Deduction Details Bulk Employees
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="duesDeductForm">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Category" formControlName="category" (selectionChange)="setPayItems()">
            <mat-option value="">Select</mat-option>
            <mat-option value="dues">Non Computational Dues</mat-option>
            <mat-option value="deduction">Non- Computational Deductions</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Pay-Item" formControlName="payItem">
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let item of payItems" value="{{item.payItemsCd}}">{{item.payItemsName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <button type="submit" class="btn btn-success mt-10" (click)="goButton()">Go</button>
      </div>

      <div class="col-md-12 pading-0">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount" formControlName="amount">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 pt-10">
          <mat-checkbox (change)="setAmount($event)">Applicable to all Employees</mat-checkbox>
        </div>
      </div>


      <div *ngIf="showTable">
        <!--table-->
        <div class="fom-title mt-40">Dues</div>
        <!-- Search -->
        <mat-form-field>
          <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <div class="example-card mat-card">
          <ng-container formArrayName="empDetails">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 even-odd-color" *ngIf="totalCount > 0">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="selectAll($event)"></mat-checkbox>
                  <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>-->
                </th>
                <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
                  <mat-checkbox [checked]="element.isSelected" formControlName="isSelected"></mat-checkbox>
                  <!--<mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>-->
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"><input type="text" formControlName="amount"> </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-container>
          <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" (click)="onSubmit()" class="btn btn-success" [disabled]="totalCount == 0">Save</button>
        <button type="button" (click)="cancelForm()" class="btn btn-warning" [disabled]="totalCount == 0">Cancel</button>
      </div>

    </form>
  </mat-expansion-panel>
</mat-accordion>




