<div class="col-md-12 col-lg-12 mb-30">
  <div class="example-card mat-card">
    <div class="fom-title">Temporary PBR Process</div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Financial Year" disabled>
          <mat-option>2019-2020</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Pay Month" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <mat-select placeholder="Pay Bill Type">
          <mat-option>Regular Pay Bill - REG</mat-option>
          <mat-option>Supplementary Bill</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100">
        <mat-select placeholder="Pay Bill Type">
          <mat-option>ABC</mat-option>
          <mat-option>XYZ</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>


<mat-accordion class="col-md-12">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Select Employees
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Search -->
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="even-odd-color">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="empcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departmental Employee Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empcode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>



    <div class="col-lg-12 text-center attach-dattach-wraper">
      <button class="attach-btn mat-raised-button"> Attach </button>
      <button class="dattach-btn mat-raised-button">  DeAttach  </button>
    </div>


    <!--table-2-->
    <div class="fom-title">Attached employees whose Temporary PBR to be processed</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="even-odd-color">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="empcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departmental Employee Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empcode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success">Process</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>

