.selection-border {
  border: 1px solid #d2cccc;
  padding: 1px;
}
.textaria {
  height: 24px;
  width: 100%;
  max-height:60px;
  max-width:300px;
}
.lbl-input {
  margin-right: 10px;
  font-weight: bold !important;
}
.select-wid {
  width: 182px;
}
