<!--maxlength="10"-->

<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-4 col-lg-5">
      <mat-form-field class="wid-100">
        <mat-select (selectionChange)="onBillGrpSel($event.value)" placeholder="Select Pay Bill Group">
          <mat-option *ngFor="let Bill of BillGroup" value="{{Bill.payBillGroupId}}">{{Bill.billgrDesc}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-lg-5">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Designation" (selectionChange)="GetDetailsForFlood($event.value)">
          <!--<mat-option  value="SelectAll" >Select All</mat-option>-->
          <mat-option *ngFor="let Desig of DesigGroup" value="{{Desig.desigId}}">{{Desig.desigDesc}}{{Desig.desigId}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="col-md-12 col-lg-12 col-xs-12">
      <form #FloodLaon="ngForm" novalidate>

        <mat-card>
          <div class="fom-title">Sanction Order Details for Flood Advance</div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Sanction Order No." name="SancOrdNo" [(ngModel)]="ArrLoanData.SancOrdNo" #SancOrdNo="ngModel"  maxlength="20" required>
                <!--<mat-error>
                <span [hidden]="!SancOrdNo.errors?.required">Sanction Order No is required</span>
              </mat-error>-->

                <span *ngIf="FloodLaon.submitted && SancOrdNo.invalid" class="invalid-feedback">
                  <span *ngIf="!SancOrdNo.errors?.required">SanctionNo is required</span>
                </span>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput [matDatepicker]="picker2" placeholder="Sanction Order Date"
                       readonly (click)="picker2.open()" name="SancOrdDT" [(ngModel)]="ArrLoanData.SancOrdDT" #SancOrdDT="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>
                  <span [hidden]="!SancOrdDT.errors?.required">Sanction Date is required</span>
                </mat-error>

              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Amount Disbursed" name="LoanAmtDisbursed" value="7500" disabled>

              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Recovered under Scheme" name="SchemeId" [(ngModel)]="ArrLoanData.SchemeId" #SchemeId="ngModel" maxlength="17" required>

                <mat-error>
                  <span [hidden]="!SchemeId.errors?.required"> Account Head is required </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="fom-title">Principal Recovery Schedule</div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="No of Installments" name="PriTotInst" [(ngModel)]="ArrLoanData.PriTotInst" #PriTotInst="ngModel" (keypress)="numberOnly($event)" (blur)="CalculateValue($event.target.value)" maxlength="4" required>
                <mat-error>
                  <span [hidden]="!PriTotInst.errors?.required">No of Installments is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Installment Amount" name="PriInstAmt" [(ngModel)]="ArrLoanData.PriInstAmt" #PriInstAmt="ngModel" (keypress)="numberOnly($event)" disabled required>
                <mat-error>
                  <span [hidden]="!PriInstAmt.errors?.required">Installment Amount is required</span>
                </mat-error>

              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last no. of Installment Paid" name="PriLstInstRec" [(ngModel)]="ArrLoanData.PriLstInstRec" #PriLstInstRec="ngModel" (keypress)="numberOnly($event)" (blur)="CalculatePriBal($event.target.value)" maxlength="4" required>
                <mat-error>
                  <span [hidden]="!PriLstInstRec.errors?.required">Last no. of Installment is required</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12 col-lg-12 text-center btn-wraper">
            <button class="btn btn-success" (click)="FloodLaon.onSubmit();FloodLaon.valid && SaveRecords(ArrLoanData)()" *ngIf="FlagSave">Save</button>
            <button type="button" class="btn btn-warning" (click)="cancel()" name="Cancel" *ngIf="FlagCancel">Cancel</button>
            <button type="submit" class="btn btn-warning" (click)="FloodLaon.onSubmit();FloodLaon.valid && ForwardtoDDOChecker(ArrLoanData)" name="ForwardToDDOChecker" *ngIf="FlagForwordChecker">Forward to DDO Checker</button>

            <button type="button" class="btn btn-success" (click)="FloodLaon.onSubmit();FloodLaon.valid && accept()" name="Accept" *ngIf="FlageAccept">Accept</button>
            <button type="button" class="btn btn-danger" *ngIf="FlagReject" (click)="FloodLaon.onSubmit();FloodLaon.valid && Reject()">Reject</button>

          </div>
        </mat-card>

      </form>
  </div>
  </div>
    <div class="col-md-6">
      <div class="col-md-12 col-lg-12 col-xs-12">
        <mat-card>
          <div class="fom-title">Select employees from the table and click on 'Attach' (or 'Detach') to add (or remove) employees to/from the current sanction order.</div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                              [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
              </th>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null; AddCheckedObj()"
                              [checked]="selectionAttach.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="EmpFirstName" style="width:120px;">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.empFirstName}} </td>
            </ng-container>

            <ng-container matColumnDef="EmpCd" style="width:120px;">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
              <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
            </ng-container>
            <ng-container matColumnDef="DesigDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Design Desc  </th>
              <td mat-cell *matCellDef="let element"> {{element.desigDesc}} </td>
            </ng-container>
            <ng-container matColumnDef="priVerifFlag">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element">{{element.priVerifFlag}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[3, 10]" showFirstLastButtons></mat-paginator>
          <div class="col-lg-12 text-center attach-dattach-wraper">
            <button mat-raised-button class="attach-btn" (click)="DeAttachSelectedRows()">
              Attach
            </button>

            <button mat-raised-button class="dattach-btn" (click)="AttachSelectedRows()">
              DeAttach
            </button>

          </div>
        </mat-card>
      </div>


      <div class="col-md-12 col-lg-12 col-xs-12">
        <mat-card>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>
          <table mat-table [dataSource]="dataSourceDeAttach" matSort class="mat-elevation-z8 even-odd-color">
            <ng-container matColumnDef="EmpFirstName" style="width:120px;">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.empFirstName}} </td>
            </ng-container>

            <ng-container matColumnDef="EmpCd" style="width:120px;">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
              <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
            </ng-container>
            <ng-container matColumnDef="DesigDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Design Desc  </th>
              <td mat-cell *matCellDef="let element"> {{element.desigDesc}} </td>
            </ng-container>
            <ng-container matColumnDef="priVerifFlag">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element">{{element.priVerifFlag}}</td>
            </ng-container>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox (change)="$event ? masterToggleForDeAttach() : null" [checked]="selectionDeAttach.hasValue() && isAllSelectedForDeAttach()"
                              [indeterminate]="selectionDeAttach.hasValue() && !isAllSelectedForDeAttach()"></mat-checkbox>
              </th>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDeAttach.toggle(row) : null"
                              [checked]="selectionDeAttach.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3, 10]" showFirstLastButtons></mat-paginator>
          <div [hidden]="isTableHasData">
            No Data Found
          </div>
        </mat-card>
      </div>
      </div>
    
  
