<!--Start Alert message for delet, info-->
  <div class="col-md-12">

    <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong> {{responseMessage}} </strong>
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong> {{responseMessage}} </strong>
    </div>

  </div>
<!--End Alert message for delet, info-->




<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isDuesDifinationMasterPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Dues Definition Details
      </mat-panel-title>
    </mat-expansion-panel-header>



    <form name="form" (ngSubmit)="f.valid && InsertandUpdate(objDuesDefinition);" #f="ngForm" novalidate>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Dues Code" name="payItemsCD" [(ngModel)]="objDuesDefinition.payItemsCD" disabled required #payItemsCD="ngModel">

          <!--<mat-error>Pay Scale Code Required!</mat-error>-->
          <mat-error><span *ngIf="f.submitted && payItemsCD.invalid">Dues Code  required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Description" [disabled]="disabledValue" autocomplete="off" name="payItemsName" maxlength="30" (keypress)="omit_special_char($event)" (keyup)="checkAllreadyexist()" [(ngModel)]="objDuesDefinition.payItemsName" required #payItemsName="ngModel">
          <!--<mat-error>Pay Scale Code Required!</mat-error>-->
          <mat-error><span *ngIf="f.submitted && payItemsName.invalid">Description  required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Short Name" [disabled]="disabledValue" autocomplete="off" name="payItemsNameShort" (keyup)="checkAllreadyexist($event.target)" (keypress)="omit_special_char($event)" [(ngModel)]="objDuesDefinition.payItemsNameShort" maxlength="10" required #payItemsNameShort="ngModel">
          <!--<mat-error>Pay Scale Code Required!</mat-error>-->
          <mat-error>
            <span *ngIf="f.submitted && payItemsNameShort.invalid">Short Name  required </span>
            <span *ngIf="f.submitted && payItemsNameShort.invalid && payItemsNameShort.touched"> max length should  not be more then 10 character </span>
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="payItemsWef" [(ngModel)]="objDuesDefinition.payItemsWef" required #payItemsWef="ngModel" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error><span *ngIf="f.submitted && payItemsWef.invalid">date  required</span></mat-error>
        </mat-form-field>
      </div>-->

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker" placeholder="With Effect From" name="withEffectFrom" [(ngModel)]="objDuesDefinition.withEffectFrom" #withEffectFrom="ngModel" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error><span *ngIf="f.submitted && withEffectFrom.invalid">date  required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="With Effect To" name="withEffectTo" [(ngModel)]="objDuesDefinition.withEffectTo" #withEffectTo="ngModel" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <span class="ng-star-inserted" *ngIf="error.isError" style="color: #f44336;font-size: 75%;">{{error.errorMessage}}</span>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4 combo-col-2">
        <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
          <label class="text-center">Computational:</label>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <mat-radio-group name="payItemsComputable" [disabled]="disabledValue" class="radio_btn_gender" required [(ngModel)]="objDuesDefinition.payItemsComputable" #payItemsComputable="ngModel">
            <mat-radio-button [value]='1'>Yes</mat-radio-button>
            <mat-radio-button [value]='0'>No</mat-radio-button>
            <mat-error *ngIf="f.submitted && payItemsComputable.invalid">Computational Required!</mat-error>
          </mat-radio-group>


        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 combo-col">
        <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
          <label class="text-center">Whether Exempted From ITax</label>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <mat-radio-group name="payItemsIsTaxable" [disabled]="disabledValue" class="radio_btn_gender" required [(ngModel)]="objDuesDefinition.payItemsIsTaxable" #payItemsIsTaxable="ngModel">
            <mat-radio-button [value]="1">Yes</mat-radio-button>
            <mat-radio-button [value]="0">No</mat-radio-button>
            <mat-error *ngIf="f.submitted && payItemsIsTaxable.invalid">Whether Exempted From ITax Required!</mat-error>
          </mat-radio-group>


        </div>
      </div>
      <!--<div class="text-danger" *ngIf="error.isError">{{error.errorMessage}}</div>-->
      <div class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="submit" class="btn btn-success" [disabled]="!f.valid || btnFlag" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>




<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title">Definition Details</div>
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" [(ngModel)]="searchfield">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">


        <!-- Name Column -->
        <ng-container matColumnDef="payItemsCD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dues Code </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsCD}} </td>
        </ng-container>

        <!-- Date Of Birth Column -->
        <ng-container matColumnDef="payItemsName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsName}} </td>
        </ng-container>
        <ng-container matColumnDef="payItemsNameShort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Name </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsNameShort }} </td>
        </ng-container>

        <ng-container matColumnDef="WithEffectFrom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  With Effect From </th>
          <td mat-cell *matCellDef="let element"> {{element.withEffectFrom |date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="WithEffectTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  With Effect To </th>
          <td mat-cell *matCellDef="let element"> {{element.withEffectTo |date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="payItemsComputable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Computational </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsComputable == 1 ? 'Yes' :'No'  }} </td>
        </ng-container>

        <ng-container matColumnDef="payItemsIsTaxable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Taxable</th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsIsTaxable == 1 ? 'Yes' : 'No'   }}  </td>
        </ng-container>




        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">

            <a class="material-icons i-edit" matTooltip="Edit" (click)="getDuesdefinationByIdEdit(element.msPayItemsID, element.payItemsCD,element.payItemsName ,element.payItemsNameShort,element.payItemsWef,element.payItemsComputable,element.payItemsIsTaxable);">edit</a>
            <!--<a class="material-icons i-delet" matTooltip="Delete" (click)="deleteDuesDefinationByDuesCode(element.payItemsCD)"> delete_forever </a>-->
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.payItemsCD);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>
        <!-- Date Of Joining Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div [hidden]="isTableHasData">
      <h3> <span> No Data Found</span></h3>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteDuesDefinationByDuesCode(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="Cancel()">Cancel</button>
    </div>

  </div>
</app-dialog>


