.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #000;
  border-radius: 4px;
}

.basic-container {
  /*padding: 5px;*/
  padding: 0px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/*Header*/
.head-bg {
  /*background: #292c5f;*/
  background: #3268ab;
  padding: 7px 0;
  box-shadow: 0px 6px 2px -3px rgba(0,0,0,0.75);
}

.logo {
  width: 50%;
  margin-top: 14px;
  padding: 0 16px;
  float: left;
}

  .logo img {
    float: left;
    margin-right: 17px;
  }

  .logo h1 {
    color: #fff;
    font-size: 170%;
    font-family: initial;
    font-weight: 700;
    margin: auto;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .logo span {
    color: #fff;
    font-size: 132%;
    margin-top: 6px;
    float: left;
  }

.emblem img {
  max-width: 50px;
  float: left;
}


/*left nav*/
/* .mat-sidenav {  background: #021c4d;} */

.mat-sidenav {
  width: 300px;
  /*background-image: url('./assets/bgg.jpg');  
  border: none;*/
}

  .mat-sidenav:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #3d3f6f;*/
    background-color: #4c4c4c !important;
    opacity: 0.9;
  }

.mat-sidenav-container {
  height: 100vh;
}

.sidenav-toolbar {
  height: 64px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 260px;
  position: fixed;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);
  transition: all .5s cubic-bezier(.685,.0473,.346,1);
}

.app-nav-menu > li {
  float: left;
}

.mat-list-base .mat-list-item {
  color: #fff;
}

.mat-list-item-content .mat-icon {
  margin-right: 4px;
  font-size: 18px;
  margin-top: 7px;
}

.mat-drawer-container, .mat-drawer {
  padding-top: 0px !important;
}






/*Main Page(Dashboard)
.main-background {
  background-image: url('./assets/main-bg.jpg');
  height: 100vh;
  background-size: cover;
}*/


/*Cards 28-11-18*/
.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  margin-top: 30px;
  padding: 0 20px 20px 20px;
}

  .card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 25px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
  }

  .card .card-header-warning .card-icon {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
  }

  .card .card-header-success .card-icon {
    background: linear-gradient(60deg,#66bb6a,#43a047);
  }

  .card .card-header-danger .card-icon {
    background: linear-gradient(60deg,#ef5350,#e53935);
  }

  .card .card-header-info .card-icon {
    background: linear-gradient(60deg,#26c6da,#00acc1);
  }

  .card .card-icon i {
    color: #fff
  }

.card-icon i {
  font-size: 36px;
}

.card p.card-category {
  text-align: right;
  font-size: 14px;
  color: #999;
  padding-top: 14px;
}

.card h3 {
  text-align: right;
  color: #999;
  margin: 0;
}

.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

  .card-footer .stats {
    color: #999;
    font-size: 12px;
  }

.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
  padding-top: 10px;
}

/*Chart*/
.graph-body {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.mat-drawer-content {
  /*background-image: url('./assets/main-bg.jpg');
  height: 100vh;
  background-size: cover;*/
  background: #f7f7f7;
}

.breadcrumb {
  background-color: #dadada !important;
  border-radius: 0 !important;
  border-left: 10px solid #323232;
}

/*15/jan/18*/
.mat-step-header {
  width: 220px;
  float: left;
  border-right: 1px solid #e4e4e4;
}

  .mat-step-header:hover {
    background-color: #cfcdd8;
  }

.mat-step.ng-tns-c11-2.ng-star-inserted {
  width: 100%;
  float: left;
}

.mat-vertical-content-container {
  width: calc(100% - 270px);
  margin-left: 0 !important;
  top: 93px;
  position: absolute !important;
  left: 270px;
}

.detail_one {
  width: 55%;
  float: left;
  max-width: 100% !important;
}

.detail_two {
  width: 42%;
  float: left;
  margin: 0 !important;
}

.w-100 {
  width: 100%;
}

.mat-stepper-vertical-line::before {
  border-left-style: none !important;
}

.mr-25 {
  margin-right: 25px !important;
}
/*31/jan/19*/
.btn-bg {
  background: #e7e8ef;
  border: 1px solid #e4dcdc;
}

.mat-vertical-stepper-header {
  padding: 17px 25px !important;
}

/*04-2-19*/
.wid-100 {
  width: 100% !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.fom-title {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
  border-bottom: 1px solid #adadad;
  padding-bottom: 10px;
  background: #5e5e5e;
  padding: 10px;
  clear: both;
  width: 100%;
  /*margin-top: 15px;*/
  float: left;
}

.combo-col {
  padding-top: 20px;
  padding-bottom: 6px;
}

.mat-card {
  box-shadow: none;
  border: 1px solid #cccccc !important;
  width: 100%;
  float: left;
  background: #fff;
  padding: 0px !important;
}

.select-lbl {
  margin-top: 18px;
}

.selection-hed {
  background-color: #e4e4e4;
  border-left: 6px solid #929292;
  margin-bottom: 10px;
  padding: 8px 0 6px 0;
  border-top: 1px solid #bdb4b4;
  border-right: 1px solid #bdb4b4;
  border-bottom: 1px solid #bdb4b4;
}

.go-btn {
  box-shadow: none !important;
  margin-top: 10px !important;
}

.pading-0 {
  padding: 0 !important;
}

mat-radio-group > mat-radio-button:nth-child(1) {
  margin-right: 15px;
}

.radio_btn_gender mat-radio-group > mat-radio-button:nth-child(2) {
  margin-right: 15px;
}

.mat-radio-label-content {
  font-weight: normal;
}

.dialog__close-btn {
  top: 12px !important;
  right: 12px !important;
}

.i-info {
  margin-right: 6px;
  color: #696969;
  font-size: 21px;
}

.i-edit {
  margin-right: 6px;
  color: #636363;
  font-size: 21px;
  cursor: pointer;
}

.i-delet {
  color: #ef4b4b;
  font-size: 23px;
  cursor: pointer;
}

.i-activate {
  color: #12ab33;
  font-size: 21px;
  cursor: pointer;
  margin-right: 6px;
  width: 21px;
}

.i-dactivate {
  color: #ea1b1b;
  font-size: 21px;
  cursor: pointer;
  margin-right: 6px;
  width: 21px;
}

.i-activate:focus, .i-activate:hover {
  text-decoration: none;
}


.mat-header-cell {
  font-size: 15px;
  font-weight: 600;
  color: #0a0a0a;
}

.btn {
  margin: 0 10px;
  min-width: 64px;
}

.btn-wraper {
  margin-top: 35px;
}
/*22-2-19*/
.gender-mr {
  margin-right: 15px;
}

.popupbox .mat-form-field-infix {
  width: 100% !important;
}

.even-odd-color tr:nth-child(even) {
  background: #e9f4fb;
}

.border-non {
  border: none !important;
}

/*Check Box*/
.checkbox .mat-list-text {
  color: #000 !important;
}

.checkbox .mat-list-option {
  display: inline-block !important;
  width: auto !important;
}

.checkbox .mat-list-item-content-reverse {
  padding: 0 5px !important;
}



/*14-3-19*/
.declaration-fom {
  width: 100%;
  float: left;
}

  .declaration-fom > ul > li {
    display: flex;
    margin-bottom: 12px;
  }

ol.lower-roman > li {
  list-style-type: lower-roman;
  margin-bottom: 15px;
}

ol.lower-roman {
  margin-top: 10px;
}

.dispp-block {
  display: block !important;
}

.declaration-fom > ul > li > mat-checkbox {
  margin-right: 10px;
}

.declaration-fom span {
  font-size: 17px;
}

.declaration-fom {
  background: #f1fbf0;
  border-style: dotted;
  border-color: #d8ded7;
}

.combo-col-2 {
  padding-top: 20px;
  padding-bottom: 13px;
}
/*upload file*/
.upload-file-label {
  width: auto;
  float: left;
  margin-right: 5px;
}

.check-list-opt {
  height: 7px !important;
  clear: both !important;
}

.float-left {
  float: left;
}
/*28-03-2019*/
.select-type {
  background: #e8f7de;
  border: 1px #b3c5a6;
  border-style: dashed;
  padding: 7px 10px 0px 11px;
  margin-bottom: 15px;
}

.icon-right {
  position: absolute;
}

/*02-04-2019*/
.even-odd-color {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mat-table {
  width: 100%;
}

.mat-step.ng-star-inserted {
  width: 100%;
  float: left;
}

.tabel-wraper { /*max-height: 550px;width: 550px;*/
  overflow: auto;
  max-height: 410px;
}

  .tabel-wraper table {
    min-width: 500px;
  }

  .tabel-wraper tr > td {
    /*min-width: 105px;*/
  }

  /* width */
  .tabel-wraper::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  /* Track */
  .tabel-wraper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .tabel-wraper::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }

    /* Handle on hover */
    .tabel-wraper::-webkit-scrollbar-thumb:hover {
      background: rgba(0,0,0,.2);
    }

.emp2-head {
  width: 100%;
  float: left;
}
/**/
.peragraph-input {
  width: auto;
  float: left;
  padding: 16px 4px 10px 0px;
}

@media only screen and (max-width: 1627px) and (min-width: 1580px) {
  .peragraph-input {
    padding: 16px 9px 0 9px;
  }
}

@media only screen and (max-width: 1755px) and (min-width: 1628px) {
  .peragraph-input {
    padding: 16px 0 13px 0;
  }
}

/*checkbox suspensiondetail*/
.order-checkbox {
  float: left;
  padding: 0;
  margin: 0px 0 6px 0 !important;
}

.attach-dattach-wraper {
  margin: 25px 0;
}

.attach-btn {
  background: #3c5b76;
  color: #fff;
  margin-right: 17px !important;
}

.dattach-btn {
  background: #4cb39b;
  color: #fff;
}

.pading-16 {
  padding-top: 16px;
}

.display-non {
  display: none;
}

/*form*/
.form-wraper {
  background: #edf0f1d9;
}

.breadcrumb > li > a {
  color: #000;
}
/*Manoj pal 15-5-19*/
.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}

/*Employee1*/
.emp1-form {
  max-height: 790px;
  height: 790px;
  /*background: #f0f7f6;*/
}

.emp1-table {
  max-height: 790px;
  height: 790px;
}

.delete-leave-btn {
  padding: 2px 0 0 0 !important;
  margin: auto;
  min-width: 34px !important;
  margin-bottom: 12px !important;
}
/*07-2-19*/
.material-icons {
  cursor: pointer;
}
/*13-3-19*/
.leave-wraper {
  width: 99%;
  float: left;
  background: #f6f7fd;
  border: 1px solid #d9dcdb;
  margin: 8px 5px;
  padding: 5px 5px;
}

.add-leave-icon {
  float: left;
  margin-right: 11px;
}

.add-leave-btn {
  padding: 2px 0 0 0 !important;
  margin: auto;
  min-width: 34px !important;
  margin-bottom: 12px !important;
  margin-right: 10px;
  /*line-height: 23px !important;
  margin-bottom: 15px !important;
  margin-right: 0;
  border: none !important;
  background-color: #504b71 !important;
  color: #fff !important;*/
}

  .add-leave-btn:hover {
    /*background: #746da0 !important;*/
  }

.text-right {
  text-align: right;
}

.line-height-57 {
  line-height: 57px;
}
/*Nav Active Hover*/
.menu-list-item.mat-list-item.active {
  background: #ffc954 !important;
  z-index: 1111;
}

.select-drop-head {
  margin: 0 30px;
}

.select-lbl {
  float: left;
}

.require-field-position {
  top: 0;
  position: absolute;
  right: 71px;
  font-size: 11px;
}

.commutation-table {
  padding: 5px;
  border: 1px solid #889492;
}

  .commutation-table > tbody > tr {
    line-height: 31px;
  }

    .commutation-table > tbody > tr > td {
      padding-left: 5px;
    }

      .commutation-table > tbody > tr > td > th {
        padding-left: 5px;
      }

.btn-search {
  background: #28a745;
  border: none;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
  margin-left: 18px;
}

  .btn-search:hover {
    background-color: #10902d;
  }

@media only screen and (max-width: 1727px) and (min-width: 1200px) {

  .btn-search {
    padding: 3px 8px 3px 8px;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 0;
  }
}
/*17-06-19*/
.add-del-btn {
  padding: 0 !important;
  margin-top: 10px;
}

.tabel-form > tbody > .table-head {
  line-height: 34px;
  background: #4671a9;
  color: #fff;
}

.tabel-form > tbody > tr > th {
  padding-left: 9px;
}

.tabel-form > tbody > tr > td {
  line-height: 35px;
  padding-left: 9px;
  padding-right: 5px;
}

.tabel-form > tbody > tr:nth-child(even) {
  background: #fff;
}

/**/
label {
  font-weight: normal !important;
  font-size: inherit;
  color: #7d7d7d;
}
/*20-06-2019*/
.mat-list-base .mat-list-item {
  font-size: 15px;
}

.action-single-btn {
  text-align: center;
  line-height: normal !important;
  margin: 0;
  padding: 0;
}
/*25-06-2019*/
span.btn-label {
  position: relative;
  left: -12px; /* display: inline-block; */
  padding: 8px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.margin-0 {
  margin: 0px;
}

h4.card-title.text-center {
  margin-bottom: 40px;
}

.margin-top-10px {
  margin-top: 10px;
}

.tabel-total {
  font-weight: 600;
  font-size: 15px;
}

/*.recovery-tabel > tbody > tr > td:last-child {
  text-align: center;
}*/
.upload-container {
  margin-bottom: 19px;
  margin-top: 10px;
  padding-left: 0 !important;
}


/*SHOWING LOADING*/
.LoadingBar {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 2147483647 !important;
  opacity: 0.8;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /*padding-top: 20%;*/
  /*background-image: url('../../Images/Loader.gif');*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000000;
  filter: alpha(opacity=40);
}

.LoadBusy {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%; /*background-color:#666;*/
  /*background-image: url('../../Images/Loader.gif');*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
/*END OF SHOWING LOADING*/

/*28-05-2019*/
.view-btn {
  background: #4299ed;
  color: #fff;
  padding: 6px 15px 6px 15px;
  height: auto;
  margin: 0;
  line-height: normal;
  border-radius: 4px;
  border: none;
}
/*01-07-19*/

.tbl-input > tbody > tr > td > input {
  width: 100%;
}

.add-list {
  background: #2ec48d !important;
  border: none !important;
}

.remove-list {
  background: #f35b21 !important;
  border: none !important;
}

.add-list:hover {
  background: #28aa7b !important;
}

.remove-list:hover {
  background: #d44e1b !important;
}

.float-r {
  float: right;
}

.dialog-wraper {
}

/*09-07-2019
.login-left {height: 100vh;  background: #3268ab;}
.login-emblem {
  background-image: url('./assets/emblem-login.png');
  background-repeat: no-repeat;
  height: 294px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:600px;
}
  */

/*CSS edited on 26-07-2019 by Gulshan*/

.breadcrumb > li + li:before {
  color: #000 !important;
}

label {
  color: #000 !important;
}

.selection-hed {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  margin-bottom: 10px;
  padding: 8px 0 6px 0;
}

.clearfix {
  clear: both;
  margin-bottom: 10px !important;
}

.pad10 {
  margin: 10px !important;
}

.btnbg {
  background-color: #e7e7e7;
  padding: 12px;
}

.panel-header, .panel-header:active, .panel-header:hover, .panel-header:visited {
  color: #fff !important;
  background: #2468b3 !important;
  padding: 10px !important;
  padding-right: 20px !important;
  height: auto !important;
  font-size: 14px;
}

  .panel-header:active {
    background-color: #2468b3
  }

  .panel-header:hover {
    background-color: #2468b3 !important;
  }

  .panel-header:visited {
    background-color: #2468b3 !important;
  }

.mat-expansion-indicator::after {
  color: #fff !important;
}
