<div class="note-wraper">
  <button type="button" class="slide-toggle note-slide" (click)="Test();">
    <i class="material-icons">
      keyboard_arrow_left
    </i>
  </button>

  <div class="box">
    <div class="box-inner">
      <b>Note :</b>  Please enter details when the employee is revoked after completion of Suspension period
    </div>
  </div>

</div>
<div style="padding:13px!important;">

  <h2>Alerts</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>

  <div class="alert alert-info">
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

  <div class="alert alert-danger">
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
  </div>

</div>
<app-desig-emp (desigchange)="designationChange()" (onchange)="GetLeavesSanction($event)"></app-desig-emp>
<!---FOR TESTING CODE START--->
<div class="col-md-12 col-lg-12">
  <form [formGroup]="leaveSanctionDetailsForm" #LeaveSanctionForm="ngForm">

    <mat-card class="example-card">
      <div class="fom-title">Leave Details</div>
      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sanction Order No" formControlName="orderNo" readonly disabled>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" placeholder="Sanction Order Date" formControlName="orderDT" disabled>
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>
      <!--<div class="fom-title">Leave Details</div>-->
      <div class="col-md-12 col-lg-3 combo-col">
        <div class="col-md-12 col-lg-3 pading-0">
          <label>Leave Type</label>
        </div>
        <div class="col-md12 col-lg-9">
          <mat-radio-group (change)="ChangeLeaveCategory($event.value)" formControlName="leaveCategory" disabled>
            <mat-radio-button [checked]='radiochecked' value="Single" class="ml-10">Single</mat-radio-button>
            <mat-radio-button value="Combined" class="ml-10">Combined</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Leave Reason" formControlName="leaveReasonCD" disabled>
            <mat-option *ngFor="let item of ArrddlReason" [value]="item.cddirCodeValue">{{item.cddirCodeText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="leave-wraper" formArrayName="leaveSanctionDetails" *ngFor="let item1 of leaveSanctionDetailsForm.get('leaveSanctionDetails')['controls']; let i=index">
        <div [formGroupName]="i">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select Leave Type" formControlName="leaveCd" disabled>
                <mat-option *ngFor="let item of ArrddlLeavesType; let j=index" (click)="LeaveTypeItemChange(i,item.leaveMaxAtATime)" [value]="item.leaveTypeLeaveCd">{{item.leaveTypeLeaveDesc}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="FDate" readonly placeholder="From Date" formControlName="fromDT" disabled />
              <mat-datepicker-toggle matSuffix [for]="FDate"></mat-datepicker-toggle>
              <mat-datepicker #FDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="TDate" readonly placeholder="To Date" formControlName="toDT" disabled />
              <!--(input)="alert('saga')" onclick="alert('saga')">-->
              <mat-datepicker-toggle matSuffix [for]="TDate"></mat-datepicker-toggle>
              <mat-datepicker #TDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="No. of Days" type="number" formControlName="noDays" disabled readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </mat-card>

  </form>
  <div class="clearfix"></div>
</div>
<!---FOR TESTING CODE END--->
<!--<div class="col-md-12 col-lg-7">
</div>-->
<!--right table-->

<mat-accordion class="col-md-12">
  <mat-expansion-panel>
    <!--<common-leaves-sanction [dataSource]="gridData" (DissableLeavesSanction)="DissableLeavesSanction($event)" (EditLeavesSanction)="EditLeavesSanction($event)" (DeleteLeavesSanction)="DeleteLeavesSanction($event)"></common-leaves-sanction>
    <app-common-leaves-sanction [ShowinfoButton]="true" [ShowdeleteButton]="false" [ShoweditButton]="false" [dataSource]="parentLeaveData" (DissableLeavesSanction)="ShowLeavesSanction($event)"></app-common-leaves-sanction>-->
    <mat-expansion-panel-header id="panel-header" class="panel-header">
      <mat-panel-title style="color:#fff; font-weight:bold;">
        Leave Curtail/Extension Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Sanction Order No" formControlName="curtOrderNo">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="DOB2" placeholder="Sanction Order Date" formControlName="curtOrderDT">
        <mat-datepicker-toggle matSuffix [for]="DOB2"></mat-datepicker-toggle>
        <mat-datepicker #DOB2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md12 col-lg-6">
      <mat-radio-group (change)="ChangeLeaveCategory($event.value)" formControlName="isCurtleave">
        <mat-radio-button [checked]='radiochecked' value="Curtail" class="ml-10">Leave Curtail</mat-radio-button>
        <mat-radio-button value="Extension" class="ml-10">Leave Extension</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Reason for curtail/extension" formControlName="curtReason">
        <!--<mat-select matNativeControl placeholder="Select Leave Reason"  formControlName="leaveReasonCD">
          <mat-option *ngFor="let item of ArrddlReason" [value]="item.cddirCodeValue">{{item.cddirCodeText}}</mat-option>
        </mat-select>-->
      </mat-form-field>
    </div>

    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="FDate2" readonly placeholder="From Date" formControlName="curtFromDT" />
        <mat-datepicker-toggle matSuffix [for]="FDate2"></mat-datepicker-toggle>
        <mat-datepicker #FDate2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="TDate2" readonly placeholder="To Date" formControlName="curtToDT" />
        ',
        at
        <mat-datepicker-toggle matSuffix [for]="TDate2"></mat-datepicker-toggle>
        <mat-datepicker #TDate2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-12">
      <textarea rows="5" placeholder="enter remark if any!" class="wid-100" formControlName="curtRemarks"></textarea>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper btnbg">
      <button type="submit" class="btn btn-success" (click)="checkValidation()" [disabled]="leaveCurtailForm.invalid || showSave">{{buttonText}}</button>
      <button type="button" class="btn btn-warning" (click)="ResetLeavesSanction()" [disabled]="showCancel">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="ForwardToChecker()" [disabled]="leaveCurtailForm.invalid || showForward"> Forward to HOO Checker </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="clearfix"></div>
<mat-accordion class="col-md-12">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-h eader-bg panel-header">
      <mat-panel-title style="color:#fff; font-weight:bold;">
        Leave Curtail/Extension Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="pad10">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="pad10">
      <table mat-table [dataSource]="dataSourceCurtail" matSort class="mat-elevation-z8 even-odd-color">
        <!-- Leave Type -->
        <ng-container matColumnDef="CurtExtenOrderNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order No</th>
          <td mat-cell *matCellDef="let element"> {{element.curtOrderNo}}</td>
        </ng-container>
        <!-- From Date -->
        <ng-container matColumnDef="CurtExtenOrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element"> {{element.curtOrderDT}} </td>
        </ng-container>
        <!-- To Date Order No. -->
        <ng-container matColumnDef="Leavetype">
          <th mat-header-cell *matHeaderCellDef>Leave Extension/ Curtail</th>
          <td mat-cell *matCellDef="let element"> {{element.isCurtleave}} </td>
        </ng-container>
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let element"> {{element.curtFromDT}} </td>
        </ng-container>
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let element"> {{element.curtToDT}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <!--<div><a class="material-icons i-info" matTooltip="Info" (click)="DissableLeaves(element.leaveMainId,element.orderNo,element.orderDT,element.leaveCategory,element.leaveReasonCD,element.remarks,element.leaveSanctionDetails)">error</a></div>-->
            <div><a class="material-icons i-edit" matTooltip="Edit" (click)="EditCurtailLeaves(element)">edit</a></div>
            <div><a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteCurtailLeaves(element.leaveMainId)"> delete_forever </a></div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedCurtail"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCurtail;" (click)="rowHighlight(row)"
            [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightgreen' : ''"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-expansion-panel>
</mat-accordion>

<style type="text/css">
  .box {
    float: right;
    overflow: hidden;
    background: #fcf8e3;
    display: none;
  }
  /* Add padding and border to inner content
    for better animation effect */
  .box-inner {
    width: 700px;
    padding: 10px;
    border: 1px solid #a29415;
  }

  .note-slide[_ngcontent-c10] {
    background: #ffb400;
    border: none;
    color: #fff;
    padding: 5px 0 0 0;
    margin: auto;
  }

  .note-wraper {
    position: absolute;
    right: 0;
  }

  .mat-expansion-indicator::after {
    color: #fff !important;
  }
</style>





