<div class="col-md-12 col-lg-12">
  <!--------------- Employee Details Start
    <mat-card class="example-card">
      <div class="fom-title">
        Employee Details
      </div>
      <div class="col-sm-12 col-md-7 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Type" required>
            <mat-option value="option0">Regular</mat-option>
            <mat-option value="option1">Co-Terminus</mat-option>
            <mat-option value="option2">Re-Employeer Pensioner</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
   Employee Details End --------------->
  <!----Right Form Start-->
  
  <div class="col-md-12 col-lg-12">
    <div class="alert alert-info"><strong>To process the bill, please click on the bill to select.</strong></div>
    <div class="example-card mat-card tabel-wraper even-odd-color">
      <div class="fom-title">
        NG Recovery Process
      </div>
      <!--
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
        -->
      <mat-form-field class="col-md-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> <i class="material-icons icon-right">search</i>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <!-- ID Column -->
        <ng-container matColumnDef="SrNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No. </th>
          <td mat-cell *matCellDef="let row"> {{row.SrNo}} </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="PayBillName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Pay Bill Group Name & Description
          </th>
          <td mat-cell *matCellDef="let row"> {{row.PayBillName}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="BillId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Bill Id
          </th>
          <td mat-cell *matCellDef="let row"> {{row.BillId}} </td>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="BillDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Date</th>
          <td mat-cell *matCellDef="let row"> {{row.BillDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Noofemployee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Employees in PayBill Group</th>
          <td mat-cell *matCellDef="let row"> {{row.Noofemployee}} </td>
        </ng-container>
        <ng-container matColumnDef="BillType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Bill Date
          </th>
          <td mat-cell *matCellDef="let row"> {{row.BillType}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Bill Type
          </th>
          <td mat-cell *matCellDef="let row">
            <i class="material-icons i-info" matTooltip="Information">info</i>
            <i class="material-icons i-edit" matTooltip="Edit">edit</i>
            <i class="material-icons i-delet" matTooltip="Delete">delete</i>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"><button class="btn btn-success" type="button">Process</button>
  </div>
  <!----Right Form End-->
