<!--------------- Form --------------->
<!--Star Current Details-->
<form name="form" (ngSubmit)="endModel.valid && endofserviceMaster();" #endModel="ngForm" novalidate>
  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      <div class="col-md-5 col-sm-12 combo-col">
        <div class="col-sm-12 col-lg-3 pading-0">
          <label>Employee Status:</label>
        </div>
        <div class="col-sm-12 col-lg-5">
          <mat-radio-group (change)="radioChange($event.value)">
            <mat-radio-button [value]="0" [checked]='true'>Superannuation</mat-radio-button>
            <mat-radio-button [value]="1">Other</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="col-md-3">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Designation" (selectionChange)="getDesignchange($event.value)" [(ngModel)]="_endModel.desigID" name="desigID" required>
            <mat-option *ngFor="let empData of getDesi" [value]="empData.desigID">{{empData.desigDesc}}</mat-option>
          </mat-select>
          <mat-error> Designation Required !</mat-error>
        </mat-form-field>
 
      </div>
      <div class="col-md-3">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Employee" (selectionChange)="getEmpChange($event.value)" [(ngModel)]="_endModel.msEmpID" name="msEmpID" required>
            <mat-option *ngFor="let empData of getEmp" [value]="empData.msEmpID">{{empData.empName}}-{{empData.empCd}}</mat-option>
          </mat-select>
          <mat-error>Employee Code Required!</mat-error>
        </mat-form-field>

      </div>
      <!--<div class="col-sm-12 col-md-1 margin-top-10px"><button class="btn btn-info" type="button">GO</button></div>-->
    </div>
  </div>

  <mat-accordion class="col-md-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Current Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--<div class="display-non">
        <input type="hidden" [(ngModel)]="_endModel.msEmpID" name="msEmpID" #msEmpID="ngModel" />
        <input type="hidden" [(ngModel)]="_endModel.empCd" name="empCd" #empCd="ngModel" />
        <input type="hidden" [(ngModel)]="_endModel.empName" name="empName" #empName="ngModel" />
      </div>-->
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Employee Type" [(ngModel)]="_endModel.empApptType" name="empApptType" required #empApptType="ngModel" disabled>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="Superanuation Date" [(ngModel)]="_endModel.superanuationDate" name="superanuationDate" required #superanuationDate="ngModel" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Current Posting Mode" [(ngModel)]="_endModel.currentPostingMode" name="currentPostingMode" required #currentPostingMode="ngModel" disabled>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" placeholder="Date of Entry in Govt. Service " [(ngModel)]="_endModel.dateofEntry" name="dateofEntry" required #dateofEntry="ngModel" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Last Bill Generated (Bill Month)" [(ngModel)]="_endModel.billMonthName" name="billMonthName" required #billMonthName="ngModel" disabled>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Bill Year" [(ngModel)]="_endModel.billYear" name="billYear" required #billYear="ngModel" disabled>
        </mat-form-field>
      </div>

      <!--<div class="col-md-12 col-lg-12 text-center btn-wraper blue">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-info">Update</button>
        <button type="button" class="btn btn-warning">Cancel</button>
      </div>-->

    </mat-expansion-panel>
  </mat-accordion>
  <!--End Current Details-->
  <!--Star-- End of Service Details-->
  <mat-accordion class="col-md-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          End of Service Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No." [(ngModel)]="_endModel.endOrderNo" required #endOrderNo="ngModel" [disabled]="disableflag" name="endOrderNo">
          <mat-error>Order No Required !</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker3" placeholder="Order Date" [(ngModel)]="_endModel.endOrderDt" required #endOrderDt="ngModel" [disabled]="disableflag" name="endOrderDt">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error>Order Date Required !</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Reason" [(ngModel)]="_endModel.endReasonId" name="endReasonId" (selectionChange)="reasonChange($event.value)" required>
            <mat-option *ngFor="let getRes of getReason" [value]="getRes.msCddirID">{{getRes.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>Reason Required !</mat-error>
        </mat-form-field>
      </div>
      

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker4" placeholder="Date of End of Service" [(ngModel)]="_endModel.endServDt" required #endServDt="ngModel"  [disabled]="disableflag" name="endServDt">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
          <mat-error>Date of End of Service Required !</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remark" [(ngModel)]="_endModel.endRemark" required #endRemark="ngModel" [disabled]="disableflag" name="endRemark">         
        </textarea>
          <mat-error>Remarks Required !</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
  <mat-form-field class="wid-100">
    <input matInput [matDatepicker]="picker5" placeholder="Date of Death" [(ngModel)]="_endModel.dtOfDeath" [required]="requiredvalue" #dtOfDeath="ngModel" [disabled]="disabledeath" name="dtOfDeath">
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
    <mat-error>Date of Death Required !</mat-error>
  </mat-form-field>
</div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper blue">
        <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <!--<button type="submit" class="btn btn-info">Update</button>-->
        <button type="button" class="btn btn-warning">Cancel</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</form>

<!--End-- End of Service Details-->

<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">

    <div class="fom-title">Joining Details</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


    <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8 even-odd-color">

      <!-- Position Column -->
      <ng-container matColumnDef="endOrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Number </th>
        <td mat-cell *matCellDef="let element"> {{element.endOrderNo}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="endOrderDt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.endOrderDt|date}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="endServDt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From Date </th>
        <td mat-cell *matCellDef="let element"> {{element.endServDt|date}} </td>
      </ng-container>



      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="Info">error</a>
          <a class="material-icons i-edit" matTooltip="Edit" (click)="editDetails(element.msEmpID)">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.msEmpID);deletepopup = !deletepopup"> delete_forever </a>
        </td>



      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div *ngIf="dataSource2.data.length == 0">
      No  Records Found
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteTptaDetails(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>

