<!---Raju verma 20/06/2019--->
<!--<app-desig-emp (desigchange)="designationChange()" (onchange)="GetIncrementDetails($event)" (numberGenerated)="onNumberGenerated()" ></app-desig-emp>-->

<div class="basic-container select-drop-head">

  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="row  selection-hed">

    <div class="col-md-3">
      <div class="col-md-12">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Pay Commission" id="msCddirID" [(ngModel)]="_pScaleObj.msCddirID" name="msCddirID" required #msCddirID="ngModel" (selectionChange)="refreshdata()">
            <mat-option label="Select Pay Commission">Select Pay Commission</mat-option>
            <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
              {{ _payscalelist.cddirCodeText }}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!msCddirID.errors?.required">Pay commission is required</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-12">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="designCtrl" placeholder="Find Designation" #singleSelect (selectionChange)="bindDropDownEmployee($event.value)">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [noEntriesFoundLabel]="'Designation is not found'" (keypress)="charaterOnly($event)" [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.msDesigMastID">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="empCtrl" placeholder="Find Employee" #singleSelect (selectionChange)="getIncrementDetails($event.value)">
            <mat-option>
              <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'" (keypress)="charaterOnly($event)" [noEntriesFoundLabel]="'Employee is not found'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCode">
              {{emp.empName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>

  <div class="col-md-12 col-lg-12">
    <div class="example-card mat-card tabel-wraper">
      <div class="fom-title">Increment Details</div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <tr>
          <ng-container matColumnDef="EmpName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
            <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
          </ng-container>

          <ng-container matColumnDef="OldBasic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Old basic </th>
            <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
          </ng-container>

          <ng-container matColumnDef="OldWefDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Old wef date</th>
            <td mat-cell *matCellDef="let element"> {{element.oldWefDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="NextIncDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Increment Date</th>
            <td mat-cell *matCellDef="let element"> {{element.nextIncDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="PayLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Level</th>
            <td mat-cell *matCellDef="let element"> {{element.payLevel}} </td>
          </ng-container>

          <ng-container matColumnDef="Flag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.flag}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-edit" matTooltip="Edit" (click)="editAdvIncrement(element.incID);">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.incID);deletepopup = !deletepopup"> delete_forever </a>
            </td>
          </ng-container>

        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <form name="form" #advIncrement="ngForm">
    <div class="col-md-12 col-lg-12">
      <mat-card class="example-card" [ngClass]="bgcolor">
        <div class="fom-title">Additional Increment</div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select Type" [(ngModel)]="advanceInc.orderTypeID" required #orderTypeID="ngModel" name="orderTypeID">
                <mat-option label="Select Type">Select Order Type</mat-option>
                <mat-option [value]="1">Sports</mat-option>
                <mat-option [value]="2">Other</mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="advIncrement.submitted && orderTypeID.invalid">Type required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select No. of Increments" [(ngModel)]="advanceInc.noofIncrement" required #noofIncrement="ngModel" name="noofIncrement">
                <mat-option label="Select No. of Increments">Select No. of Increments</mat-option>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5</mat-option>
                <mat-option [value]="6">6</mat-option>
              </mat-select>
              <mat-error><span *ngIf="advIncrement.submitted && noofIncrement.invalid"> No. of Increments required</span></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Order no" maxlength="20" required name="orderNo" [(ngModel)]="advanceInc.orderNo" #orderNo="ngModel"
                     onpaste="return false" pattern="^[A-Za-z0-9]+$" autocomplete="off">
              <mat-error><span *ngIf="advIncrement.submitted && orderNo.invalid">Order no required</span></mat-error>
              <mat-error><span *ngIf="orderNo.errors?.pattern">Special character not allowed</span></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" [(ngModel)]="advanceInc.orderDate " name="orderDate" #orderDate="ngModel"
                     placeholder="Order Date" readonly [disabled]=disbleflag required>
              <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
              <mat-datepicker #DOJ></mat-datepicker>
              <mat-error>
                <span [hidden]="!orderDate.errors?.required">Order Date is required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="DOW" (click)="DOW.open()" [(ngModel)]="advanceInc.wefDate " name="wefDate" #wefDate="ngModel"
                     placeholder="Wef Date" readonly [disabled]=disbleflag required>
              <mat-datepicker-toggle matSuffix [for]="DOW"></mat-datepicker-toggle>
              <mat-datepicker #DOW></mat-datepicker>
              <mat-error>
                <span [hidden]="!wefDate.errors?.required">Wef Date is required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Remarks" maxlength="1000" name="remark" [(ngModel)]="advanceInc.remark" #remark="ngModel">
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="showhidediv">
            <button type="submit" [ngClass]="btnCssClass" *ngIf="savebuttonstatus" (click)="advIncrement.onSubmit() ; advIncrement.valid && createAdvIncrement();">{{btnUpdatetext}}</button>
            <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="advIncrement.onSubmit() ; advIncrement.valid && forwardpopup = !forwardpopup" [disabled]="disableFDflag">Forword To Checker</button>
          </div>


        </div>
      </mat-card>

    </div>

  </form>


<!--Pop Up Code-->

<app-dialog [(visible)]="forwardpopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to Forward to Checker ?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="forwardtoChecker()">Save</button>
      <button type="button" class="btn btn-info center" (click)="forwardpopup = !forwardpopup">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteAdvDetails(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>

