<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Pay Bill Group:</label>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Pay Bill Group" #singleSelect (selectionChange)="BindDropDownDesignation($event.value)">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredBill | async" [value]="emp.billgrId">
              {{emp.billgrDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Designation:</label>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Find Designation" #singleSelect (selectionChange)="BindDropDownEmployee($event.value)">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.desigId">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Employee:</label>
      <button mat-mini-fab color="primary" class="go-btn" (click)='submit()'>Go</button>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Find Employee" #singleSelect (selectionChange)="GetAleadytakenLoandetails($event.value)">
            <mat-option>

              <ngx-mat-select-search [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCd">
              {{emp.empName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </div>


</div>
