 
<form #form="ngForm">
  
<!-- =================================== Personal  details ==============-->
<div class="emp2-head selection-hed">
    <div class="col-sm-12 col-md-3">
      <label class="select-lbl">Select Verified Employee Code:</label>
    </div>
    <!-- <button mat-mini-fab color="primary" class="go-btn">Go</button> -->
    <div class="col-sm-12 col-md-3">
      <mat-form-field>
        <mat-select placeholder="Select EmpCode" [(ngModel)]="commonEmpCode" name="Empcode" #Empcode="ngModel"   (selectionChange)="GetEmpCode($event.value)">
          <mat-option>
            <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Employee not found'"></ngx-mat-select-search>
          </mat-option>  
          <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.id">
            {{emp.name}}
          </mat-option>
        </mat-select>
  
      </mat-form-field>

    </div>
  </div>
  <div class="button-n-p">

      <button (click)="goBack(stepper)" title="Go Back">Back</button>
      <button  (click)="goForward(stepper)" title="Go Next">Next</button>
    </div>
  <!-- <mat-vertical-stepper [linear]="isLinear" #stepper> -->
<mat-vertical-stepper [linear]="isLinear" #stepper [selectedIndex]="this.selectedIndex"
(selectionChange)="selectionChange($event, stepper)">


<mat-step label="Personal Details" [stepControl]="form.controls.reportor">
  
<app-personal-details>Personal Details</app-personal-details>
      </mat-step>
    <!-- ====================================== Posting details================== -->
 
    <mat-step>
     
  <ng-template matStepLabel>Posting Details</ng-template>
  <app-posting-details></app-posting-details>
</mat-step>
 
<!-- ======================================  CGEGIS details================== -->
<mat-step >
  <ng-template matStepLabel>CGEGIS/GIS Details</ng-template>
<app-cgegis-details></app-cgegis-details>
</mat-step>
 
<!-- ======================================   CGHS details================== -->

<mat-step >
  <ng-template matStepLabel>CGHS Details</ng-template>
<app-cghs-details></app-cghs-details>
</mat-step>
  
<!-- ======================================  Pay details================== -->

<mat-step >
  <ng-template matStepLabel>Pay Details</ng-template>
<app-pay-details></app-pay-details>
</mat-step>
 
 <!-- ======================================  Service details================== -->
 <mat-step >
   
    <ng-template matStepLabel>Service Details</ng-template>
  <app-service-details></app-service-details>
</mat-step>
 
<!-- ======================================   Other details================== -->
 
<mat-step >
  <ng-template matStepLabel>Other Details</ng-template>
 <app-other-details></app-other-details>
 
</mat-step>
 
<!-- ======================================  Bank details================== -->

<mat-step >
    <ng-template matStepLabel>Bank Details</ng-template>
 <app-bank-details></app-bank-details>
</mat-step>
 
<!-- ======================================   Govt. quarter details   ================== -->

<mat-step >
  <ng-template matStepLabel>Gov.Quarter Details</ng-template>
  <app-gov-quater-details></app-gov-quater-details>
</mat-step>
 
 <!-- =================================== family details ==============-->
    
    <mat-step >
     <ng-template matStepLabel>Family Details</ng-template>
        <app-family-details></app-family-details>
      </mat-step>
 
   <!-- ====================================== Nominee details================== -->

    <mat-step >
        <ng-template matStepLabel>Nominee Details</ng-template>
        <app-nominee-details></app-nominee-details>
   </mat-step>
 
   
<!-- ======================================  Deputation details================== -->
<div *ngIf="showdeput">
  <mat-step [stepControl]="Deputation">
      <ng-template matStepLabel>Deputation Details</ng-template>
     <app-deputation-in [empPageDeputation]="empPageDeputation"></app-deputation-in>
     
  </mat-step>
  </div>
   
  </mat-vertical-stepper>
</form>
