<div class="col-md-12 col-lg-12">
  <app-promotion-header #header></app-promotion-header>
  <div class="col-md-6 col-lg-6">
    <mat-card>
      <form [formGroup]="promotionsForm" (ngSubmit)="onSubmit()">
        <div class="fom-title">Promotion Details</div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <mat-select formControlName="promotionType" placeholder="Promotion Type">
                <mat-option value="adhoc">Adhoc Promotion</mat-option>
                <mat-option value="proforma">Proforma Promotion</mat-option>
                <mat-option value="regular">Regular Promotion</mat-option>
              </mat-select>
              <mat-error>Please select a promotion type!</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput formControlName="orderNo" placeholder="Order No." autocomplete=off onkeypress="return (event.target.selectionStart == 0 && event.charCode == 32 ? false : (event.charCode >= 44 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >=97 && event.charCode <= 122) || event.charCode == 32)" maxlength="50">
              <mat-error *ngIf="promotionsForm.controls.orderNo.errors && !promotionsForm.controls.orderNo.errors.minlength">Order No. Required !</mat-error>
              <mat-error *ngIf="promotionsForm.controls.orderNo.errors && promotionsForm.controls.orderNo.errors.minlength">Minimum Length required is 3</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput (click)="OrderDate.open()" [matDatepicker]="OrderDate" [max]="tomorrow" formControlName="orderDt" placeholder="Order Date" autocomplete=off readonly>
              <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
              <mat-datepicker #OrderDate></mat-datepicker>
              <mat-error>Order Date Required!</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input #ref matInput (click)="promotionWef.open()" [matDatepicker]="promotionWef" [min]="promotionsForm.controls.orderDt.value" formControlName="promotionWefDt" placeholder="Promotion Wef Date" autocomplete=off (blur)="setJoiningDate()" readonly>
              <mat-datepicker-toggle matSuffix [for]="promotionWef"></mat-datepicker-toggle>
              <mat-datepicker #promotionWef></mat-datepicker>
              <mat-error>Promotion Wef Date Required!</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <textarea matInput formControlName="remark" rows="1" placeholder="Remarks" onkeypress="return (event.target.selectionStart == 0 && event.charCode == 32 ? false : (event.charCode >= 44 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >=97 && event.charCode <= 122) || event.charCode == 32)" maxlength="70"></textarea>
              <mat-error>Remarks Required !</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6" *ngIf="promotionsForm.controls.rejectionRemark.value">
            <mat-form-field class="wid-100">
              <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks" disabled></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="fom-title">Joining Details</div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput formControlName="joinOrderNo" placeholder="Order No." autocomplete=off onkeypress="return (event.target.selectionStart == 0 && event.charCode == 32 ? false : (event.charCode >= 44 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >=97 && event.charCode <= 122) || event.charCode == 32)" maxlength="50">
              <mat-error>Order No. Required !</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput (click)="joiningDate.open()" [matDatepicker]="joiningDate" [max]="promotionsForm.controls.joinedDt.value" formControlName="joinOrderDt" placeholder="Order Date" autocomplete=off readonly>
              <mat-datepicker-toggle matSuffix [for]="joiningDate"></mat-datepicker-toggle>
              <mat-datepicker #joiningDate></mat-datepicker>
              <mat-error>Order Date Required!</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput (click)="dateOfjoining.open()" [matDatepicker]="dateOfjoining" [value]="promotionsForm ? promotionsForm.controls.promotionWefDt.value : ''" formControlName="joinedDt" placeholder="Date of joining" autocomplete=off disabled readonly>
              <mat-datepicker-toggle matSuffix [for]="dateOfjoining"></mat-datepicker-toggle>
              <mat-datepicker #dateOfjoining></mat-datepicker>
              <mat-error>Date of joining Required !</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6">
            <!--<span>Timing: </span>-->
            <mat-form-field class="wid-100">
              <mat-select formControlName="joinedAnBn" placeholder="Timing">
                <mat-option value="Bn">Fore Noon</mat-option>
                <mat-option value="An">After Noon</mat-option>
              </mat-select>
              <mat-error>Timing Required !</mat-error>
            </mat-form-field>
            <!--<mat-radio-group formControlName="timing">
              <mat-radio-button value="fore-noon" class="ml-10" checked>Fore Noon</mat-radio-button>&nbsp;
              <mat-radio-button value="after-noon" class="ml-10">After Noon</mat-radio-button>
            </mat-radio-group>-->
          </div>
          <div class="col-md-12 col-lg-12 pay-fixation-margin" *ngIf="promotionsForm.controls.promotionType.value == 'adhoc'">
            <span>Pay Fixation effect On :</span>
            <mat-radio-group>
              <mat-radio-button value="promotion-date" class="ml-10" checked>Date of Promotion</mat-radio-button>&nbsp;
              <!--<mat-radio-button *ngIf="promotionsForm.controls.promotionType.value == 'proforma'" value="increment-date" class="ml-10">Increment Date</mat-radio-button>-->
            </mat-radio-group>
          </div>
          <div class="col-md-12 col-lg-12">
            <mat-form-field class="wid-100">
              <mat-select formControlName="toDesigCd" placeholder="Designation" autocomplete=off>
                <mat-option *ngFor="let desig of designations" [value]="desig.desigId">{{desig.desigDesc}}</mat-option>
              </mat-select>
              <mat-error>Designation Required !</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="roleId == '6'" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" *ngIf="!editScreen" [disabled]="!empCd || infoScreen">Save</button>
          <button type="submit" class="btn btn-success" [disabled]="!empCd || infoScreen" *ngIf="editScreen">Update</button>
          <button type="button" class="btn btn-warning" (click)="cancelForm()" [disabled]="!empCd">Cancel</button>
          <button type="button" class="btn btn-primary" [disabled]="!empCd || !editScreen" (click)="forwardToChecker()">Forward To Checker</button>
        </div>
        <div *ngIf="roleId == '5'" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="button" class="btn btn-success" [disabled]="promotionsForm.controls.status.value == 'V' && infoScreen" (click)="ApprovePopup = !ApprovePopup">Accept</button>
          <button type="button" class="btn btn-warning" [disabled]="promotionsForm.controls.status.value == 'V' && infoScreen" (click)="RejectPopup = !RejectPopup">Reject</button>
          <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
        </div>
      </form>
    </mat-card>
  </div>
  <div class="col-md-6 col-lg-6">
    <mat-card>
      <div class="fom-title">Promotions Details</div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>

      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="totalCount > 0">

        <ng-container matColumnDef="S.No">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;">{{ i+1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="PromotionType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.promotionType | titlecase }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="OrderNo.">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Order No.</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.orderNo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Designation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label>{{element.statusDesc}}</label>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a *ngIf="(element.verifyFlag == 'E' || element.verifyFlag == 'R' || element.verifyFlag == 'U') && roleId == '6'" class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element, true)">edit</a>
            <a *ngIf="(element.verifyFlag == 'E' || element.verifyFlag == 'R') && roleId == '6'" class="material-icons i-delet" matTooltip="Delete" (click)="DeletePromotionDetails(element);DeletePopup = !DeletePopup">
              delete_forever
            </a>
            <a *ngIf="(element.verifyFlag != 'E' && element.verifyFlag != 'R' && element.verifyFlag != 'U') && roleId == '6'" class="material-icons i-info" matTooltip="Info" (click)="btnEditClick(element, false)">
              info
            </a>
            <a *ngIf="roleId == '5'" class="material-icons i-info" matTooltip="Info" (click)="btnEditClick(element, false)">
              info
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" [length]="totalCount" [pageSizeOptions]="[5, 10, 20, 50]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>

      <mat-toolbar color="warning" class="record-not-found" *ngIf="totalCount == 0">Record is not found</mat-toolbar>
    </mat-card>
  </div>
</div>

<button id="headerButton" class="header-button-style" (click)="header.resetForm()"></button>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="DeletePopup = !DeletePopup;rejectionRemark = ''">Cancel</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="ApprovePopup = !ApprovePopup;rejectionRemark = ''">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Reject?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('R')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="RejectPopup = !RejectPopup;rejectionRemark = ''">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ForwardToMakerPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Forward this to Maker?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('E')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="ForwardToMakerPopup = !ForwardToMakerPopup; rejectionRemark = ''">Cancel</button>
    </div>
  </div>
</app-dialog>
