<div class="basic-container select-drop-head">
  <div class="row  selection-hed">

    <form #commanForm="ngForm" novalidate>
      <div class="col-md-3">
        <label class="select-lbl">Pay Bill Group:</label>
        <div class="col-md-6">
          <mat-form-field class="wid-100">
            <mat-select [formControl]="billCtrl" placeholder="Find Pay Bill Group" #singleSelect (selectionChange)="BindDropDownDesignation($event.value)" [(value)]="selectedDesign">
              <mat-option>
                <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Pay Bill Group...'" (keypress)="allowAlphaNumericSpace($event)" [noEntriesFoundLabel]="billGroupMsg"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredBill | async" [value]="emp.billgrId">
                {{emp.billgrDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <label class="select-lbl">Designation:</label>
        <div class="col-md-6">
          <mat-form-field class="wid-100">
            <mat-select [formControl]="designCtrl" placeholder="Find Designation" #singleSelect (selectionChange)="BindDropDownEmployee($event.value)" [(value)]="selectedEmp">
              <mat-option>
                <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'" (keypress)="allowAlphaNumericSpace($event)" [noEntriesFoundLabel]="desgMsg"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.desigId">
                {{emp.desigDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <label class="select-lbl">Employee:</label>
        <div class="col-md-6">
          <mat-form-field class="wid-100">
            <mat-select [formControl]="empCtrl" placeholder="Find Employee" #singleSelect (selectionChange)="SelectedValue($event.value)">
              <mat-option>
                <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="empMsg"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCd">
                {{emp.empName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>

