<div class="col-md-10 col-lg-10 col-md-offset-1">
  <div class="basic-container select-drop-head">
    <form [formGroup]="headersForm" (ngSubmit)="onSubmit()">
      <div class="row  selection-hed">
        <div class="col-md-3 col-lg-3">
          <mat-form-field class="wid-100">
            <mat-select formControlName="financial_year" (selectionChange)="getPayBillGroups()" placeholder="Financial Year">
              <mat-option>
                <ngx-mat-select-search [formControl]="finYearFilterCtrl" [placeholderLabel]="'Find Financial Year...'" [noEntriesFoundLabel]="'Financial Year is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let fin of filteredFinYear | async" value="{{fin.financialYear}}">{{fin.fullDescription}}</mat-option>
            </mat-select>
            <mat-error>Please Select Financial Year</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-lg-3">
          <mat-form-field class="wid-100">
            <mat-select formControlName="pay_bill_group" (selectionChange)="getDesignations()" placeholder="Pay Bill Group">
              <mat-option>
                <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Bill group...'" [noEntriesFoundLabel]="'Pay Bill Group is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let Bill of filteredBill | async" value="{{Bill.payBillGroupId}}">{{Bill.billGrDesc}}</mat-option>
            </mat-select>
            <mat-error>Please Select Pay Bill Group</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-lg-3">
          <mat-form-field class="wid-100">
            <mat-select formControlName="designation" placeholder="Designation">
              <mat-option>
                <ngx-mat-select-search [formControl]="desigFilterCtrl" [placeholderLabel]="'Find Designation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let Desig of filteredDesig | async" value="{{Desig.desigId}}">{{Desig.desigId}} - {{Desig.desigDesc}}</mat-option>
            </mat-select>
            <mat-error>Please Select Designation</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-lg-3">
          <button class="btn btn-success mt-10" type="submit">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>
