.user {
  float: right;
  width: 20%;
  padding: 16px 16px 0 0;
}

  .user .photo {
    float: right;
    margin-right: 15px;
  }

    .user .photo img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.75);
    }

  .user .info {
    float: right;
    padding-top: 13px;
  }

    .user .info a {
      color: #fff;
    }

button.user-profile.mat-icon-button {
  color: #fff;
  float: right;
  width: auto;
  margin-top: 6px;
}

.cdk-overlay-connected-position-bounding-box {
  top: 97px;
  left: 1758.53px;
}
