
textarea {
  max-height: 35px!important;
}
.padLeave thead tr {
  height: 56px;
}
.padLeave tbody tr {
  height: 48px;
}
  .padLeave td {
  }
  .padLeave th {
    background: #e3e3e3;
  }


.padLeave td:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

.tbl-2 {
  width: 20% !important;
  padding: 10px 5px 10px 8px !important;
}
.td-padding {
  padding: 10px 5px 10px 8px !important;
}
tr .tbl-2:first-child {
padding-left:14px !important;}
