<app-desig-emp (desigchange)="designationChange()" (onchange)="GetLeavesSanction($event)"></app-desig-emp>
<!--<app-desig-emp (onchange)="GetLeavesSanction($event)" [data]="callTypevar"></app-desig-emp>-->
<div class="col-md-12 col-lg-7">
  <form [formGroup]="leaveSanctionCreationForm" #sanctionCreationForm="ngForm" ngNativeValidate (ngSubmit)="SaveLeavesSanction()">
    <mat-card class="example-card">
      <div class="fom-title">Sanction Order Details</div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sanction Order No" formControlName="orderNo" (keypress)="validateOrdNo($event)">
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOB" readonly placeholder="Sanction Order Date" formControlName="orderDT" [max]="currentdate">
          <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
          <mat-datepicker #DOB></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="fom-title">Leave Details</div>
      <div class="col-md-12 col-lg-6 combo-col">

        <div class="col-md-12 col-lg-3 pading-0">
          <label>Leave Type</label>
        </div>
        <div class="col-md12 col-lg-9">
          <mat-radio-group (change)="ChangeLeaveCategory($event.value)" formControlName="leaveCategory">
            <mat-radio-button [checked]='radiochecked' value="Single" class="ml-10">Single</mat-radio-button>
            <mat-radio-button value="Combined" class="ml-10">Combined</mat-radio-button>
          </mat-radio-group>

        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Leave Reason" formControlName="leaveReasonCD">
            <mat-option *ngFor="let item of ArrddlReason" [value]="item.cddirCodeValue">{{item.cddirCodeText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="leave-wraper" formArrayName="leaveSanctionDetails" *ngFor="let item1 of leaveSanctionCreationForm.get('leaveSanctionDetails')['controls']; let i=index">
        <div [formGroupName]="i">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select Leave Type" formControlName="leaveCd">
                <mat-option *ngFor="let item of ArrddlLeavesType; let j=index" (click)="LeaveTypeItemChange(i,item.leaveMaxAtATime);" [value]="item.leaveTypeLeaveCd">{{item.leaveTypeLeaveDesc}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="FDate" readonly placeholder="From Date" formControlName="fromDT" (dateChange)="fillnoofDays('s',i)" />
              <mat-datepicker-toggle matSuffix [for]="FDate"></mat-datepicker-toggle>
              <mat-datepicker #FDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="TDate" readonly placeholder="To Date" formControlName="toDT" [min]="item1.get('fromDT').value" (dateChange)="fillnoofDays('e',i)" />
              <!--(input)="alert('saga')" onclick="alert('saga')">-->
              <mat-datepicker-toggle matSuffix [for]="TDate"></mat-datepicker-toggle>
              <mat-datepicker #TDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Max at a time" type="number" formControlName="maxLeave" readonly>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="No. of Days" type="number" formControlName="noDays" readonly>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="leaveSanctionCreationForm && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls.length > 0 && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.leaveCd.value=='CHL'">
            <mat-checkbox formControlName="isMaxLeave">Leave period more than 365 days</mat-checkbox>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" *ngIf="leaveSanctionCreationForm && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls.length > 0 && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.leaveCd.value=='CHL' && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.isMaxLeave.value">
            <mat-form-field class="wid-100">
              <input matInput placeholder="80% pay entitled w.e.f date" [matDatepicker]="PayEntDT" formControlName="payEntDT" />
              <mat-datepicker-toggle matSuffix [for]="PayEntDT"></mat-datepicker-toggle>
              <mat-datepicker #PayEntDT></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" *ngIf="leaveSanctionCreationForm && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls.length > 0 && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.leaveCd.value=='CL'">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select Leave Type" formControlName="isHalfDay">
                <mat-option *ngFor="let item of group " [value]="item.id" (click)="ChangeDayChange()">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md12 col-lg-4" *ngIf="leaveSanctionCreationForm && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls.length > 0 && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.leaveCd.value=='CL' && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.isHalfDay.value">
            <mat-radio-group (change)="ChangeTime($event.value)" formControlName="isAfterNoon">
              <mat-radio-button [checked]='radioafterchecked' value="ForeNoon" class="ml-10">ForeNoon</mat-radio-button>
              <mat-radio-button value="AfterNoon" class="ml-10">AfterNoon</mat-radio-button>
            </mat-radio-group>

          </div>
          <!--<div class="col-sm-12 col-md-6 col-lg-3">
            <mat-checkbox formControlName="isHalfPay" *ngIf="leaveSanctionCreationForm && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls.length > 0 && leaveSanctionCreationForm.controls.leaveSanctionDetails.controls[i].controls.leaveCd.value=='CL'">Half Day</mat-checkbox>
          </div>-->
          <div class="col-md-12 col-lg-12 text-right" *ngIf="UserRoleId=='9' && (showDeleteButton||  leaveSanctionCreationForm.controls.leaveCategory.value=='Combined')">
            <a (click)="DeleteRow(i)" class="btn btn-danger delete-leave-btn" matTooltip="Delete"><i class="material-icons">delete_forever</i></a>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-right" *ngIf="showAddButton">
        <a (click)="AddRow()" class="btn btn-success add-leave-btn " matTooltip="Add"><i class="material-icons">playlist_add</i></a>
      </div>
      <div class="col-md-12 col-lg-12">
        <textarea rows="5" placeholder="Enter remarks (if any)" class="wid-100" formControlName="remarks"></textarea>
      </div>
      <div class="col-md-12 col-lg-12 combo-col">

        <div class="col-md-7 col-lg-7 pading-0">
          <label>Is there any recovery to be made from the current month's salary?</label>
        </div>
        <div class="col-md-5 col-lg-5">
          <mat-radio-group (change)="IsAnyRecovery($event.value)" formControlName="isRecovery">
            <mat-radio-button value="Yes" class="ml-10">Yes</mat-radio-button>
            <mat-radio-button [checked]='radiochecked' value="No" class="ml-10">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="showReturnReason && UserRoleId=='9'" class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Returned Reason" formControlName="returnReason" readonly>
        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button *ngIf="UserRoleId=='9'" type="submit" class="btn btn-success" (click)="checkValidation()" [disabled]="leaveSanctionCreationForm.invalid || showSave">Save</button>
        <button *ngIf="UserRoleId=='9'" type="button" class="btn btn-warning" (click)="ResetLeavesSanction()" [disabled]="showCancel">Cancel</button>
        <button *ngIf="UserRoleId=='9'" type="button" class="btn btn-primary" (click)="ForwardToChecker();" [disabled]="leaveSanctionCreationForm.invalid || showForward">Save And Forward</button>
        <button *ngIf="UserRoleId=='8'" type="button" class="btn btn-success" (click)="VerifiedSanc(false);hooCheckerLogin = !hooCheckerLogin" [disabled]="leaveSanctionCreationForm.invalid || showSave">Verify</button>
        <button *ngIf="UserRoleId=='8'" type="button" class="btn btn-danger" (click)="RejectedSanc(false);hooCheckerLogin = !hooCheckerLogin" [disabled]="leaveSanctionCreationForm.invalid || showSave">Return</button>
      </div>

    </mat-card>
  </form>
</div>




<!--right table-->

<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <div class="fom-title">Leave Sanction Details</div>

    <div class="col-md-12 col-lg-12">
      <table class="w-100 tab-tr-bg">
        <tr>
          <th class="tbl-2">Order No.</th>
          <th class="tbl-2">Order Date</th>
          <th class="tbl-2">Action</th>
        </tr>
      </table>
      <mat-accordion class="accordion-wrap">
        <mat-expansion-panel *ngFor="let item of dataSourceforgrid">
          <!--<mat-expansion-panel *ngFor="let item of dataSourceforgrid | filter:searchText | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p };">-->
          <mat-expansion-panel-header class="td-padding">
            <mat-panel-title class="col-md-3 tbl-2" (click)="sortk('orderNo')">
              {{item.orderNo}}
            </mat-panel-title>
            <mat-panel-title class="col-md-4 tbl-2" (click)="sortk('orderDT')">
              {{item.orderDT | date:'dd/MM/yyyy'}}
            </mat-panel-title>
            <mat-panel-title class="col-md-4 tbl-2">
              <div>
                <!--<div *ngIf="UserRoleId=='8'">-->
                <a class="material-icons i-info" matTooltip="Info" (click)="DissableLeaves(item)">error</a>
              </div>
              <div *ngIf="UserRoleId=='9'">
                <a class="material-icons i-edit" matTooltip="Edit" (click)="EditLeavesSanction(item)">edit</a>
              </div>
              <div *ngIf="UserRoleId=='9'">
                <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteLeavesSanction(item.leaveMainId,true);deletepopup = !deletepopup">delete_forever </a>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="mat-elevation-z8 mat-table padLeave even-odd-color">
            <thead>
              <tr class="mat-header-row ng-star-inserted">
                <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Leave Type</th>
                <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> From Date </th>
                <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> To Date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row ng-star-inserted" *ngFor="let item1 of item.leaveSanctionDetails">
                <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                  {{item1.leaveCdDesc}}
                </td>
                <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">  {{item1.fromDT | date:'dd/MM/yyyy'}}</td>
                <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                  {{item1.toDT | date:'dd/MM/yyyy'}}
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>


      </mat-accordion>

    </div>
    <div class="col-md-12">
      <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
      <mat-paginator [pageSizeOptions]="[5, 10]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 text-center btn-wraper mb-20">
    <button mat-button class="btn-primary" (click)="ShowHistorygrid(true)">
      View History
    </button>
  </div>
  <div [hidden]="!ShowHistory">
    <div>
      <div class="example-card mat-card">
        <div class="fom-title">
          Leave Sanction History
          <i _ngcontent-c18="" class="material-icons close-icon" (click)="ShowHistorygrid(false)"> clear </i>
        </div>

        <div class="col-md-12 col-lg-12">
          <table class="w-100 tab-tr-bg">
            <tr>
              <th class="tbl-2">Order No.</th>
              <th class="tbl-2">Order Date</th>
              <th class="tbl-2">Status</th>
            </tr>
          </table>
          <mat-accordion class="accordion-wrap">
            <mat-expansion-panel *ngFor="let item of dataSourceforhistorygrid ">
              <mat-expansion-panel-header class="td-padding">
                <mat-panel-title class="col-md-3 tbl-2">
                  {{item.orderNo}}
                </mat-panel-title>
                <mat-panel-title class="col-md-4 tbl-2">
                  {{item.orderDT | date:'dd/MM/yyyy'}}
                </mat-panel-title>
                <mat-panel-title class="col-md-4 tbl-2">
                  {{item.verifyFlg}}
                </mat-panel-title>


              </mat-expansion-panel-header>
              <table class="mat-elevation-z8 mat-table padLeave even-odd-color">
                <thead>
                  <tr class="mat-header-row ng-star-inserted">
                    <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Leave Type</th>
                    <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> From Date </th>
                    <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> To Date</th>
                    <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> No Of Days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="mat-row ng-star-inserted" *ngFor="let item1 of item.leaveSanctionDetails">
                    <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                      {{item1.leaveCdDesc}}
                    </td>
                    <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">  {{item1.fromDT | date:'dd/MM/yyyy'}}</td>
                    <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                      {{item1.toDT | date:'dd/MM/yyyy'}}
                    </td>
                    <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                      {{item1.noDays}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>


          </mat-accordion>

        </div>
        <div class="col-md-12">
          <mat-paginator #b [pageSizeOptions]="[5, 10]" (page)="getPaginationData1($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>


  <app-dialog [(visible)]="deletepopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)=" DeleteLeavesSanction(leaveMainId,false)">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
      </div>
    </div>
  </app-dialog>
  <app-dialog [(visible)]="hooCheckerLogin">
    <div class="card-content panel panel-body panel-default">
      <h3 *ngIf="isVarified" class="card-title text-center">Are you sure you want to verify?</h3>
      <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure you want to reject?</h3>
      <div *ngIf="!isVarified">
        <mat-card>
          <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
        </mat-card>
        <label *ngIf="isReasonEmpty" class="errormsg">Please enter the reason</label>
      </div>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" *ngIf="isVarified" (click)="VerifiedSanc(true)">YES</button>
        <button type="button" class="btn btn-info center" *ngIf="!isVarified" (click)="RejectedSanc(true)">YES</button>
        <!--<button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">Close</button>-->
        <button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">No</button>
      </div>
    </div>
  </app-dialog>

  <app-dialog [(visible)]="cclType">
    <div class="card-content panel panel-body panel-default">
      <!--<h3 class="card-title text-center">Are you sure you want to delete?</h3>-->

      <label class="card-title text-center">Total CCL availed till date 31.12.2019:</label>
      <mat-card>
        <input matInput type="text" placeholder="Total CCL availed" [(ngModel)]="totalLeave" />
      </mat-card>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="saveTotalLeave()">Save</button>
        <button type="button" class="btn btn-info center" (click)="cclType = !cclType">Cancel</button>
      </div>
    </div>
