  

  <form ref-CGEGIS="ngForm" (ngSubmit)="CGEGIS.valid && SaveUpdateCGEGISDetails();" novalidate> 
 
    <div class="col-md-12 col-lg-7"> 
    <mat-card class="example-card">
     
      <div class="fom-title">CGEGIS/GIS Details</div>

  
      <div class="col-md-12 col-lg-4">  
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Insurance Applicable" name="insuranceApplicableId" required [(ngModel)]="objCGEGISDetails.gis_deduction"
                      #insuranceApplicableId="ngModel" (selectionChange)="getCGEGISCategory($event.value)">
            <mat-option *ngFor="let insApl of insuranceApplicable | async" [value]="insApl.gis_deduction">{{insApl.gis_deductionName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!insuranceApplicableId.errors?.required">Insurance Applicable is required</span>
          </mat-error>
        </mat-form-field>
    </div>
   
    <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="showDdlCategory">  
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select CGEGIS Category " name="payGisApplicable" required [(ngModel)]="objCGEGISDetails.payGisApplicable" #payGisApplicable="ngModel">
          <mat-option *ngFor="let giscategory of CGEGISCategory | async" [value]="giscategory.payGisApplicable">{{giscategory.payGisApplicableName}}</mat-option>
        </mat-select>
        <mat-error>
          <span [hidden]="!payGisApplicable.errors?.required">CGEGIS Category is required</span>
        </mat-error>
      </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="showDdlCategoryText">  
        <mat-form-field class="wid-100">
          <input matInput placeholder="CGEGIS Category" name="payGisApplicable" required [(ngModel)]="objCGEGISDetails.payGisApplicable"
                 #payGisApplicable="ngModel" pattern="^[A-Za-z0-9]+$" onpaste="return false" maxlength="20">
          <mat-error>
            <span [hidden]="!payGisApplicable.errors?.required">CGEGIS Category is required</span>
          </mat-error>
            <mat-error><span *ngIf="payGisApplicable.errors?.pattern">Special Character not allowed</span></mat-error>
         
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="showDdlCategoryState">  
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select State" name="payGisApplicable" required [(ngModel)]="objCGEGISDetails.payGisApplicable" #payGisApplicable="ngModel">
            <mat-option *ngFor="let state of states" [value]="state.stateCode">{{state.stateName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!payGisApplicable.errors?.required">State is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">  
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Group" name="paysGroup_id" required [(ngModel)]="objCGEGISDetails.payGISGrp_CD" #paysGroup_id="ngModel">
            <mat-option *ngFor="let grp of group | async" [value]="grp.paysGroup_id">{{grp.paysGroup_Text}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!paysGroup_id.errors?.required">Group is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="col-sm-12 col-md-6 col-lg-4">  
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="gisMembershipDT" placeholder="Current Subscription W.e.f" (click)="gisMembershipDT.open();" name="gisMembershipDT"
                 required [(ngModel)]="objCGEGISDetails.gisMembershipDT" #gisMembershipDate="ngModel" readonly [min]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="gisMembershipDT"></mat-datepicker-toggle>
          <mat-datepicker #gisMembershipDT></mat-datepicker>
          <mat-error>
            <span [hidden]="!gisMembershipDate.errors?.required">Current Subscription W.e.f is required</span>
          </mat-error>
        </mat-form-field>
      </div>

 
  <div class="col-md-12 col-lg-12 text-center btn-wraper">
    <button type="submit" class="btn btn-success"  >{{btnText}}</button>
    <button type="button" class="btn btn-warning" (click)=" resetCGEGISDetailsForm()"  >Clear</button>
    <!-- <button mat-button (click)="goBack(stepper)" type="button">Back</button>
    <button mat-button (click)="goForward(stepper)" type="button">Next</button> -->
  </div>
      
    </mat-card>
    </div>
  </form>

 
   <!--right table-->


   <div class="col-md-12 col-lg-5">
    <div class="example-card">
      <mat-card>
        <div>
         
          <label class="label-font">CGEGIS/GIS Details</label> 
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              
              </thead>
              <tbody>
                <tr>
                  <td>Insurance Applicable</td>
                  <td>{{objCGEGISDetails.gis_deductionName}}</td>
                

                </tr>
                <tr>
                  <td> CGEGIS Category </td>
                  <td>{{objCGEGISDetails.payGisApplicableName}}
                  <td>

                </tr>
                <tr>
                  <td>Group</td>
                  <td> {{objCGEGISDetails.groupName}} </td>

                </tr>
                <tr>
                  <td>Current Subscription W.e.f</td>
                  <td>{{objAllCGEGISDetails.gisMembershipDT | date: 'dd/MM/yyyy'}}</td>

                </tr>
                 
              </tbody>
            </table>
          </div>




        </div>
      </mat-card>
    </div>
  </div>
