

<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="btnclose();">&times;</span>
  </button>&nbsp;
</div>



<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true" [ngClass]="bgcolor">

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Pr. AO Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form #praoForm="ngForm" (ngSubmit)="SaveOrUpdate(PraoModel,CtrlCode.value)">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Controller Code" #CtrlCode="ngModel" [(ngModel)]="PraoModel.controllerCode" name="CtrlCode" (selectionChange)="BindCtrlName($event)" required value="CtrlCode.controllerID" [disabled]="IsDisabled">
            <mat-option *ngFor="let CtrlCode of ArrControllerCode" [value]="CtrlCode.controllerCode">
              {{CtrlCode.controllerID}}-{{CtrlCode.controllerCode}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!CtrlCode.errors?.required">Controller Code is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Controller Name" #CtrlName="ngModel" [(ngModel)]="PraoModel.controllerName" name="CtrlName" required>
            <mat-option *ngFor="let CtrlName of ArrControllerName" [value]="CtrlName.controllerName">
              {{CtrlName.controllerName}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!CtrlName.errors?.required">Controller Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Address" [(ngModel)]="PraoModel.address" #address="ngModel" name="address">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Pincode" [(ngModel)]="PraoModel.pincode" #pincode="ngModel" name="pincode" pattern="[1-9][0-9]{5}" maxlength="6">
          <mat-error>
            <span [hidden]="!pincode.errors?.pattern">pincode is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
           <input matInput placeholder="Phone No" [(ngModel)]="PraoModel.phoneNo" #PhoneNo="ngModel" name="PhoneNo" pattern="[6-9]{1}[0-9]{9}"  maxlength="12" autocomplete="off">
          <mat-error>
            <span [hidden]="!PhoneNo.errors?.pattern">Phone No is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Fax No" [(ngModel)]="PraoModel.faxNo" #faxNo="ngModel" name="faxNo" maxlength="12" (keypress)="numberOnly($event)" autocomplete="off">
          <mat-error>
            <span [hidden]="!faxNo.errors?.pattern">Fax No is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Email" [(ngModel)]="PraoModel.email" #email="ngModel" name="email" pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$">
          <mat-error>
            <span [hidden]="!email.errors?.pattern">Email is not Valid</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="State Name" #stateID="ngModel" [(ngModel)]="PraoModel.stateID" name="stateID" (selectionChange)="BindDistrict($event.value)" required>
            <mat-option *ngFor="let StatName of ArrState" [value]="StatName.stateID">
              {{StatName.stateName}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!stateID.errors?.required">State Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="City Name" #DistName="ngModel" [(ngModel)]="PraoModel.cityID" name="DistName" required>
            <mat-option *ngFor="let DistName of ArrDist" [value]="DistName.cityID">
              {{DistName.districtName}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!DistName.errors?.required">City Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" name="Save" [disabled]="praoForm.invalid" [class.btn-info]="isClicked">{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();" name="Cancel">Cancel</button>
      </div>

    </form>
  </mat-expansion-panel>
</mat-accordion>



    <mat-accordion class="col-md-12 mb-20">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="panel-header btm-m15">
          <mat-panel-title class="acordion-heading">
            Edit Pr. AO Master Details
          </mat-panel-title>

        </mat-expansion-panel-header>

        <!--right table-->
        <!-- Search -->
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <div class="tabel-wraper">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.controllerID}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="controllerCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Controller Code</th>
              <td mat-cell *matCellDef="let element"> {{element.controllerCode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="controllerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Pr. AO Name </th>
              <td mat-cell *matCellDef="let element"> {{element.controllerName}} </td>
            </ng-container>


            <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="stateID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
              <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
            </ng-container>

            <ng-container matColumnDef="cityID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
              <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="PerformAction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let element">
                <a class="material-icons i-edit" matTooltip="Edit" value="edit" (click)="EditDetails(element.controllerCode,element.controllerID,element.stateID,element.controllerName)">edit</a>
                <a class="material-icons i-delet" matTooltip="Delete" value="delete" (click)="SetDeleteId(element.controllerCode,element.controllerID);deletepopup = !deletepopup">delete_forever</a>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </mat-expansion-panel>

    </mat-accordion>







    <app-dialog [(visible)]="deletepopup">
      <div class="card-content panel panel-body panel-default">
        <h3 class="card-title text-center">Are you sure you want to delete?</h3>
        <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="button" class="btn btn-info center" (click)="DeleteDetails(CtrCode,CtrID)">OK</button>
          <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
        </div>

      </div>
    </app-dialog>


