<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus=false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{  responseMessage }}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isPAOPanel" [ngClass]="bgColor" >
    <mat-expansion-panel-header  class="panel-header btm-m15" (click)="isPAOPanel=false">
      <mat-panel-title class="acordion-heading">
        PAO Master
      </mat-panel-title>

    </mat-expansion-panel-header>
    <form (ngSubmit)="mspaofm.valid && btnSaveClick();" #mspaofm="ngForm" name="mspaofm" novalidate>
      <div class="" [attr.disabled]="disbleflag">

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Controller Code" [(ngModel)]="objMsPao.ControllerId" name="ControllerCode" #ControllerCode="ngModel" required (selectionChange)="BindDropPAO($event.value)">
              <mat-option *ngFor="let item of ArrddController" [value]="item.controllerId">{{item.controllerCode}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select PAO Code" [(ngModel)]="objMsPao.PAOCode" name="PAOCode" #PAOCode="ngModel" required (selectionChange)="PAOChange($event.value)">
              <mat-option *ngFor="let item of ArrddPAO" [value]="item.paoCode">{{item.paoCode}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="PAO Description" [(ngModel)]="objMsPao.PAODescription" name="PAODescription" #PAODescription="ngModel"></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="PAO Description Bilingual" [(ngModel)]="objMsPao.PAOLang" name="PAOLang" #PAOLang="ngModel"></textarea>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Address" [(ngModel)]="objMsPao.PAOAddress" maxlength="100" name="PAOAddress" #PAOAddress="ngModel" PAOCode>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Pin Code" [(ngModel)]="objMsPao.PinCode" name="PinCode" #PinCode="ngModel" maxlength="6" pattern="[1-9][0-9]{5}">
            <mat-error>
              <span ng-show="objMsPao.PinCode.$error.pattern">Not a valid pincode</span>
              <!--<span [hidden]="!pinCode.errors?.pattern">Invalid pincode.</span>-->
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Phone Number" type="tel" [(ngModel)]="objMsPao.ContactNo" name="ContactNo" #ContactNo="ngModel" maxlength="10" minlength="10" pattern="([6-9][0-9]{9})">
            <mat-error>
              <span ng-show="objMsPao.ContactNo.$error.pattern">Not a valid phone number</span>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Fax Number" [(ngModel)]="objMsPao.FaxNo" name="FaxNo" #FaxNo="ngModel" maxlength="12" minlength="12" pattern="([1-9][0-9]{12})">
            <mat-error>
              <span ng-show="objMsPao.FaxNo.$error.pattern">Not a valid fax number</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Email" type="email" [(ngModel)]="objMsPao.EmailAddress" name="EmailAddress" #EmailAddress="ngModel" pattern="^([A-Za-z0-9_\-\.])+\@(?!(?:[A-Za-z0-9_\-\.]+\.)?([A-Za-z]{2,4})\.\2)([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$">
            <mat-error>
              <span ng-show="objMsPao.EmailAddress.$error.pattern">Not a valid email</span>

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="State" [(ngModel)]="objMsPao.StateId" name="StateId" required #StateId="ngModel" (selectionChange)="BindDropCity($event.value)">


              <mat-option *ngFor="let item of ArrddState" [value]="item.stateId">{{item.stateText}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="City" [(ngModel)]="objMsPao.CityId" name="CityId" #CityId="ngModel">
              <mat-option *ngFor="let item of ArrddCity" [value]="item.cityId">{{item.cityText}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" [ngClass]="btnCssClass" [disabled]="mspaofm.invalid">{{dmlMessage}}</button>
          <button type="button" class="btn btn-warning" (click)="resetForm(0)">Cancel</button>
        </div>

      </div>
    </form>


  </mat-expansion-panel>
</mat-accordion>

<!--<mat-card>-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        PAO Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchvalue" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-md-12 col-lg-12 table2 even-odd-color">
        <ng-container matColumnDef="controllerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Controller Code</th>
          <td mat-cell *matCellDef="let element">{{element.controllerCode}} </td>
        </ng-container>

        <ng-container matColumnDef="pAOCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Code</th>
          <td mat-cell *matCellDef="let element">{{element.paoCode}} </td>
        </ng-container>
        <ng-container matColumnDef="pAOName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Name</th>
          <td mat-cell *matCellDef="let element">{{element.paoName}} </td>
        </ng-container>

        <ng-container matColumnDef="pAODescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Description</th>
          <td mat-cell *matCellDef="let element">{{element.paoDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="pAOLang">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Description Bilingual</th>
          <td mat-cell *matCellDef="let element">{{element.paoLang}} </td>
        </ng-container>
        <ng-container matColumnDef="pAOAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Address</th>
          <td mat-cell *matCellDef="let element">{{element.paoAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="pinCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pin Code</th>
          <td mat-cell *matCellDef="let element">{{element.pinCode}} </td>
        </ng-container>

        <ng-container matColumnDef="contactNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
          <td mat-cell *matCellDef="let element">{{element.contactNo}} </td>
        </ng-container>
        <ng-container matColumnDef="faxNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fax No</th>
          <td mat-cell *matCellDef="let element">{{element.faxNo}} </td>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
          <td mat-cell *matCellDef="let element">{{element.emailAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="stateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State Name</th>
          <td mat-cell *matCellDef="let element">{{element.stateName}} </td>
        </ng-container>
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City Name</th>
          <td mat-cell *matCellDef="let element">{{element.cityName}} </td>
        </ng-container>
        <!-- Action Column -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.paoCode, element.controllerId)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.msPAOID);deletepopup = !deletepopup"> delete_forever </a>
          </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>


  </mat-expansion-panel>
</mat-accordion>


<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>

<!--</mat-card>-->
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteDetails(MsDeleteId)">OK</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>


