<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        NG Recovery Creation Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="ngRecoveryCreationForm" #creationForm="ngForm" ngNativeValidate (ngSubmit)="saveNgRecovery()">


      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="NG Recovery Description" name="ngDesc" [(ngModel)]="ngRecoveryCreation.ngDesc" formControlName="ngDesc" pattern="[-(),./a-zA-Z \\]*">
          <mat-error *ngIf="ngRecoveryCreationForm.controls.ngDesc.errors && ngRecoveryCreationForm.controls.ngDesc.errors.required">
            NgRecovery Description Required!
          </mat-error>
          <mat-error *ngIf="ngRecoveryCreationForm.controls.ngDesc.errors && ngRecoveryCreationForm.controls.ngDesc.errors.pattern">
            Invalid Text
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Address for Sending Schedules" name="address" [(ngModel)]="ngRecoveryCreation.address" formControlName="address" pattern="[-(),./a-zA-Z0-9 \\]*">
          <mat-error *ngIf="ngRecoveryCreationForm.controls.address.errors && ngRecoveryCreationForm.controls.address.errors.required">
            Address Required!
          </mat-error>
          <mat-error *ngIf="ngRecoveryCreationForm.controls.address.errors && ngRecoveryCreationForm.controls.address.errors.pattern">
            Invalid Text
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4 col-lg-4 combo-col">

        <div class="col-md-6 col-lg-6 pading-0">
          <label>Does have Bank Details?</label>
        </div>

        <div class="col-md-6 col-lg-6">
          <mat-radio-group (change)="checkBankDetails($event.value)" name="isBankDetails" formControlName="isBankDetails">
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="Yes">Yes</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- <mat-radio-group [(ngModel)]="billGroupCreation.billForGAR" name="billForGAR" formControlName="billForGAR" [disabled]="disableFlag">
          <mat-radio-button value="true" class="ml-10">Yes</mat-radio-button>
          <mat-radio-button value="false" class="ml-10">No</mat-radio-button>
        </mat-radio-group> -->

      </div>

      <div class="col-lg-12 leave-wraper add-form" *ngIf="showBankDetails">
        <div class="fom-title">Bank Details</div>
        <!--<div class="col-md-12 col-lg-12 pading-0">
          <mat-form-field class="wid-100">
            <input matInput placeholder="NG Recovery Description">
          </mat-form-field>
        </div>-->
        <div class="col-md-10 pading-0">
          <div class="col-md-6 col-lg-4 ">
            <mat-form-field class="wid-100">
              <input matInput placeholder="IFSC Code" name="ifscCd" [(ngModel)]="ngRecoveryCreation.ifscCd" formControlName="ifscCd">
              <mat-error>
                IFSC Code Required!
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="ngRecoveryCreationForm.get('ifscCd').errors && ngRecoveryCreationForm.get('ifscCd').errors.incorrect == true">
              <strong>Please enter valid Ifsc Code</strong>
            </mat-error>
          </div>
          <input type="button" class="btn-search" value="Go" (click)="getBankdetailsByIfsc(ngRecoveryCreation.ifscCd)">
        </div>

        <!--Go</input>-->


        <div class="col-md-6 col-lg-4 display-non">
          <mat-form-field class="wid-100">
            <!--<textarea matInput placeholder="Name" required></textarea>-->
            <input matInput name="bankId" [(ngModel)]="ngRecoveryCreation.bankId" formControlName="bankId" [disabled]="disableFlag">
            <!--<textarea matInput placeholder="First Name" required>-->

          </mat-form-field>
        </div>


        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Bank Name" disabled name="bankName" [(ngModel)]="ngRecoveryCreation.bankName" formControlName="bankName" readonly>
            <mat-error>
              Bank Name Required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <!--<mat-form-field class="wid-100">
            <input matInput placeholder="Branch Name" disabled name="branchName" [(ngModel)]="ngRecoveryCreation.branchName" formControlName="branchName">
          </mat-form-field>-->
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Branch" [(ngModel)]="ngRecoveryCreation.branchId" (selectionChange)="onBranchSelection($event.value)" name="branchName" formControlName="branchId">
              <!--<mat-option value="option">GPF</mat-option>
              <mat-option value="option">GPF</mat-option>-->
              <mat-option *ngFor="let bankDetails of getBankDetails" [value]="bankDetails.branchId">{{bankDetails.branchName}}</mat-option>

            </mat-select>
            <mat-error>
              Branch Name Required!
            </mat-error>
            <!--<mat-error>required</mat-error>-->
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Beneficiary Name" name="bnfName" [(ngModel)]="ngRecoveryCreation.bnfName" formControlName="bnfName">
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bnfName.errors && ngRecoveryCreationForm.controls.bnfName.errors.required">
              Beneficiary Name Required!
            </mat-error>
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bnfName.errors && ngRecoveryCreationForm.controls.bnfName.errors.pattern">
              Invalid Text
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Saving A/C Number" name="bankAcNo" [(ngModel)]="ngRecoveryCreation.bankAcNo" formControlName="bankAcNo" pattern="^(?=.*\d)(?=.*[1-9]).{1,17}$" autocomplete="off">.
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bankAcNo.errors && ngRecoveryCreationForm.controls.bankAcNo.errors.required">
              Saving A/C Number Required!
            </mat-error>
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bankAcNo.errors && ngRecoveryCreationForm.controls.bankAcNo.errors.pattern">
              Invalid Text
            </mat-error>
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bankAcNo.errors && ngRecoveryCreationForm.controls.bankAcNo.errors.minlength">
              Minimum length of account number is 9
            </mat-error>
            <mat-error *ngIf="ngRecoveryCreationForm.controls.bankAcNo.errors && ngRecoveryCreationForm.controls.bankAcNo.errors.maxlength">
              Max length of account number is 17
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="Submit" class="btn btn-success">{{_btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="CancelClick()">Cancel</button>
      </div>


    </form>
  </mat-expansion-panel>
</mat-accordion>







<!--right table-->
<!--<div class="col-md-12 col-lg-8">
  <div class="example-card mat-card">
    <div class="fom-title">NG Recovery Details</div>
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
  </div>
</div>-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Edit Details
      </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput (keyup)="applyFiltercurrent($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <!-- commonDesigSrNo Column -->
      <!--<ng-container matColumnDef="commonDesigSrNo">
        <th mat-header-cell *matHeaderCellDef> Designation Code </th>
        <td mat-cell *matCellDef="let element">
          {{element.commonDesigSrNo}}

        </td>
      </ng-container>-->
      <!-- Designation Column -->
      <ng-container matColumnDef="S.No">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
        <td mat-cell *matCellDef="let element ; let i = index;">{{ i+1}} </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="NGR Code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30px;"> NGR Code </th>
        <td mat-cell *matCellDef="let element ; let i = index;">{{element.ngDedCd}} </td>
      </ng-container>

      <ng-container matColumnDef="PFMS  Unique Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PFMS  Unique Id </th>
        <td mat-cell *matCellDef="let element"> {{element.pfmsUniqueCode}} </td>
      </ng-container>

      <!-- Superannuation Column -->
      <ng-container matColumnDef="NG Recovery Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NG Recovery Description</th>
        <td mat-cell *matCellDef="let element"> {{element.ngDesc}} </td>
      </ng-container>

      <ng-container matColumnDef="IFSC Code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IFSC Code</th>
        <td mat-cell *matCellDef="let element"> {{element.ifscCd}} </td>
      </ng-container>

      <ng-container matColumnDef="Bank A/C No.">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank A/C No.</th>
        <td mat-cell *matCellDef="let element"> {{element.bankAcNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Vendor Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 60px;">Vendor Status</th>
        <td mat-cell *matCellDef="let element"> {{element.vendorStatus}} </td>
      </ng-container>

      <!--<ng-container matColumnDef="Activate/ Deactivate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activate/ Deactivate</th>
        <td mat-cell *matCellDef="let element"> Deactivate </td>
      </ng-container>-->


      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <!-- <a href="#">Edit</a> -->
          <!--<a class="material-icons i-info" matTooltip="Info">error</a>-->
          <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">edit</a>
          <span *ngIf="!element.isActive">
            <a class="material-icons i-activate" matTooltip="activate" (click)="fillPopup(element.payNgRecoId, true);activatePopup = !activatePopup">check_circle</a>
          </span>
          <span *ngIf="element.isActive">
            <a class="material-icons i-dactivate" matTooltip="Deactivate" (click)="fillPopup(element.payNgRecoId, false);deactivatePopup = !deactivatePopup">
              highlight_off
            </a>
          </span>
          <!--<a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.commonDesigDesc,element.commonDesigGroupCD,element.commonDesigSrNo,element.commonDesigSuperannAge)">edit</a>-->
          <!--<a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowHighlight(row)"
          [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightgreen' : ''"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0">No records found</div>


  </mat-expansion-panel>
</mat-accordion>






<app-dialog [(visible)]="deactivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure to Deactivate?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="activateDeactivate();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="deactivatePopup = !deactivatePopup">Cancel</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="activatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure to Activate?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="activateDeactivate();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="activatePopup = !activatePopup">Cancel</button>
    </div>
  </div>
</app-dialog>
