<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <!--<div class="panel panel-body panel-default col-md-12">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="form-group col-md-6 panel panel-body panel-default">
          <button type="button" class="btn btn-info" (click)="TextChange();showMenu = !showMenu">Create Menu</button>
        </div>

      </div>

      <div class="col-lg-1"></div>
    </div>-->
    <!--Table Show Role And Revoke User Details-->


    <div class="fom-title">Menu List</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="TxtSearch" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


    <button type="button" class="btn btn-labeled btn-success margin-0 float-r" (click)="TextChange();showMenu = !showMenu">
      <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Create Menu
    </button>


    <table mat-table [dataSource]="menudataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
      <!-- Column -->
      <ng-container matColumnDef="mainMenuName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%"> Menu Name </th>
        <td mat-cell *matCellDef="let element"> {{element.mainMenuName}} </td>
      </ng-container>
      <ng-container matColumnDef="parentMenuName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%">Parent Menu Name </th>
        <td mat-cell *matCellDef="let element"> {{element.parentMenuName}} </td>
      </ng-container>
      <ng-container matColumnDef="menuURL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%"> Menu URL </th>
        <td mat-cell *matCellDef="let element"> {{element.menuURL}} </td>
      </ng-container>
      <!--<ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
      </ng-container>-->
      <!-- Action Column -->
      <!--<ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">-->
      <!--<a class="material-icons i-edit" matTooltip="Edit" (click)="UpdateMenu(element.msMenuID,element.mainMenuName,element.menuURL,element.parentMenu,element.isActive);showMenu = !showMenu">edit</a>-->
      <!--</td>
      </ng-container>-->
      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef width="10%"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <!--<a class="material-icons i-delet" matTooltip="Delete" (click)="FillFormDeletePop(element.msMenuID,element.mainMenuName,element.isActive);DeleteMenu = !DeleteMenu"> delete_forever </a>-->
          <div class="float-left" *ngIf="element.createdStatus =='C'">
            <div class="float-left"><a class="material-icons i-edit text-center" (click)="UpdateMenu(element.msMenuID,element.menuURL);showMenu = !showMenu" matTooltip="Edit">edit</a></div>
          </div>
          <div *ngIf="element.createdStatus =='P'">
            <h5><b><A>Predefined</A></b></h5>
          </div>
          <div *ngIf="element.createdStatus =='C'">
            <div class="float-left">
              <div *ngIf="element.isActive =='Active'">
                <a class="material-icons i-activate" matTooltip="Dactivate" (click)="FillFormDeletePop(element.msMenuID,element.mainMenuName,element.isActive);DeleteMenu = !DeleteMenu">check_circle</a>
              </div>
              <div *ngIf="element.isActive =='Not Active'" class="float-left">
                <a class="material-icons i-dactivate" matTooltip="Activate" (click)="FillFormDeletePop(element.msMenuID,element.mainMenuName,element.isActive);DeleteMenu = !DeleteMenu">cancel</a>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      <font color="red">Data Not Found...</font>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>



    <!--End Of Table Show Role And Revoke User Details-->

  </div>
</div>


<app-dialog [(visible)]="showMenu">
  <form (ngSubmit)="roleassign.valid && SaveMenu();" #roleassign="ngForm" novalidate>

    <div class="panel panel-body panel-default">
      <h3 class="card-title text-center">{{MwnuHeaderText}}</h3>
      <div class="col-sm-12 col-md-12 col-lg-12 select-type">

        <div class="col-sm-6 col-md-4 col-lg-4 pading-0">
          <div classclass="wid-100">
            <label class="label-font">Select Type</label>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div classclass="wid-100">
            <mat-radio-group name="selType" [(ngModel)]="selrdType">
              <mat-radio-button value="Root" (click)="HideandShowradio('Root')">Root Menu</mat-radio-button> <!--(click)="ChangeFormfromstate('Central')"-->
              <mat-radio-button value="SubMenu" (click)="HideandShowradio('SubMenu')">Sub Menu</mat-radio-button>

            </mat-radio-group>
          </div>
        </div>

      </div>
      <input type="text" name="someData" [(ngModel)]="hdnMenuId" style="display: none;" />
      <div class="form-group col-md-12">
        <div class="form-group col-md-4" *ngIf="IsShowHiddl">

          <!--<mat-form-field>
      <select matNativeControl [(ngModel)]="mstMenu.parentMenu" name="parentMenu" #parentMenu="ngModel" required>

        <option *ngFor="let parentmenus of ArrMenus" value="{{parentmenus.msMenuID}}">{{parentmenus.mainMenuName}}</option>
      </select>
    </mat-form-field>-->
          <!--<mat-form-field>
      <mat-select placeholder="Select EmpCode" [(ngModel)]="commonEmpCode" name="Empcode" #Empcode="ngModel" (selectionChange)="GetEmpCode($event.value)">
        <mat-option>
          <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.id">
          {{emp.name}}
        </mat-option>
      </mat-select>

    </mat-form-field>-->


          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Menu" [(ngModel)]="mstMenu.parentMenu" name="parentMenu" #parentMenu="ngModel">

              <mat-option>
                <ngx-mat-select-search [formControl]="MenuFilterCtrl" [placeholderLabel]="'Find Menu...'"  [noEntriesFoundLabel]="'Menu is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of filteredMenu |async " [value]="item.msMenuID" [disabled]="Ishowhide">
                {{item.mainMenuName}}
              </mat-option>
              <!--<mat-option [value]="0">
                Select
              </mat-option>-->
            </mat-select>
          </mat-form-field>


          <!--<mat-form-field class="wid-100">
      <mat-select placeholder="Select Menu" [(ngModel)]="mstMenu.parentMenu" name="parentMenu" #parentMenu="ngModel" required>
        <mat-option *ngFor="let parentmenus of ArrMenus" [value]="parentmenus.msMenuID" [disabled]="Ishowhide">{{parentmenus.mainMenuName}}</mat-option>
      </mat-select>
    </mat-form-field>-->
        </div>
        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="Enter Menu Name" required [(ngModel)]="mstMenu.mainMenuName" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" name="mainMenuName" #mainMenuName="ngModel"><!--required-->
            <mat-error>
              <span *ngIf="mainMenuName.invalid">Special charector are not allowed </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Menu Url (abc/abc/abc)..." [(ngModel)]="mstMenu.menuURL" pattern="^[A-Za-z]+[/][A-Za-z]+[/][A-Za-z/]+$" autocomplete="off" name="menuURL" required #menuURL="ngModel"><!--required  [disabled]="Ishowhide"-->
            <mat-error>
              <span *ngIf="menuURL.invalid">Enter Currect Formate Url (abc/abc/abc)</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-4">
          <mat-list-item class="primary-imenu-item" role="listitem">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Role"
                          name="RoleSIDS"
                          class="filter-select"
                          [(ngModel)]="mstMenu.RoleSIDS"
                          [compareWith]="equalsRole"
                          required
                          multiple
                          #RoleSIDS="ngModel">

                <mat-option *ngFor="let role of ArrRoles" [value]="role" [disabled]="Ishowhide">{{role.roleName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </div>
        <!--<div class="form-group col-md-4">

    <label id="lblMenuUrl" class="custom-file-upload">
      <input type="file" #file name="MenuUrl" (value)="MenuUrl" [(ngModel)]="MenuUrl"  (ngModelChange)="SetUrl(MenuUrl )"/>
      Browes Url
    </label>
  </div>
  <div class="col-md-4">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Menu Url " required [(ngModel)]="MenuUrlName" name="MenuUrlName">
    </mat-form-field>
  </div>-->
        <!--<label id="lblMenuUrl" class="custom-file-upload">
          <input type="file" #file name="MenuUrl" (value)="MenuUrl" [(ngModel)]="MenuUrl" (ngModelChange)="SetUrl(MenuUrl )" />
          Browes Url
        </label>-->
      </div>

      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info">{{btnUpdatetext}}</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>

<!--Acitve And  DeActive Menu-->

<app-dialog [(visible)]="DeleteMenu">


  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">{{ActiveDactiveHeaderText}}</h3>
    <!--<div class="form-group text-center col-md-12">
      <div class="col-md-4">
        <label class="control-label" for="textMenu">Menu ID</label>
        &nbsp; &nbsp;
        <label class="control-label">{{MenuID}}</label>
      </div>
      <div class="col-md-6">
        <label class="control-label">Menu Name</label>
        &nbsp; &nbsp;
        {{showMwnuName}}
      </div>


    </div>-->
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="ActiveDeactiveMenu();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>



<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>



