<div *ngIf="userRoleID !=17">
  <app-comman-mst (onchange)="GetcommanMethod($event)"></app-comman-mst>
</div>
<div class="col-md-12 col-lg-7">
  <form (ngSubmit)="NewLaon.valid && btnsubmit()" #NewLaon="ngForm" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Employee Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empFullName" placeholder="Name" #empFullName="ngModel" [(ngModel)]="_loandetails.empFullName" disabled='true'>
          <input matInput name="ddoid" #permDdoId="ngModel" [(ngModel)]="_loandetails.permDdoId" disabled='true' style="display:none;">
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empApptType" placeholder="Post Held" #empApptType="ngModel" [(ngModel)]="_loandetails.empApptType" disabled='true'>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="pay_basic" placeholder="Present Pay as defined in Rule 4(b) and scale of pay"
                 [(ngModel)]="_loandetails.pay_basic" #pay_basic="ngModel" disabled='true'>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6 combo-col-2">
        <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
          <label>Whether governed by Pension Rules</label>
        </div>
        <div class="col-md12 col-lg-5">
          <mat-radio-group [(ngModel)]="_loandetails.empPfType" name="empPfType" #empPfType="ngModel" disabled='true'>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="desigDesc" placeholder="Designation" #desigDesc="ngModel" [(ngModel)]="_loandetails.desigDesc" disabled='true'>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="empSupanDt" (click)="empSupanDt.open()" [(ngModel)]="_loandetails.empSupanDt  " name="empSupanDt" #empSupanDt="ngModel"
                 placeholder="Date of superannuation or retirement or date of expiry of contract in case of a Contract Officer" disabled>
          <mat-datepicker-toggle matSuffix [for]="empSupanDt"></mat-datepicker-toggle>
          <mat-datepicker #empSupanDt></mat-datepicker>
          <mat-error>
            <span [hidden]="!empSupanDt.errors?.required">Date of superannuation or retirement or date of expiry is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Loan Application</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type" (selectionChange)="getLoanpurposeSelectedPayLoanCode($event.value)"
                      [(ngModel)]="_loandetails.payLoanRefLoanCD" name="payLoanRefLoanCD"
                      #payLoanRefLoanCD="ngModel" [disabled]=disbleflag required>
            <mat-option label="Select Loan Type" [value]="">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of ArrddlLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!payLoanRefLoanCD.errors?.required">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="{{labelmsg}}" matNativeControl (selectionChange)="getvalues($event.value)" name="payLoanPurposeCode"
                      #payLoanPurposeCode="ngModel" [(ngModel)]="_loandetails.payLoanPurposeCode" [disabled]=disbleflag required>
            <mat-option label="this.labelmsg">{{labelmsg}}</mat-option>
            <mat-option *ngFor="let LoanPurpose of ArrLoanPurpose" [value]="LoanPurpose.payLoanPurposeCode">
              {{LoanPurpose.payLoanPurposeDescription}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!payLoanPurposeCode.errors?.required">Loan Purpose is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="LoanAmtSanc" placeholder="Loan Amount (Rs.)" #loanAmtSanc="ngModel" [(ngModel)]="_loandetails.loanAmtSanc"
                 [disabled]=disbleflag pattern="^[1-9][0-9]*$" (change)="checkvaluecLoanAmout($event.target.value)" required>
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Loan Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="PriInstAmt" placeholder="Installment Amount" #priInstAmt="ngModel" [(ngModel)]="_loandetails.priInstAmt"
                 pattern="^[1-9][0-9]*$" (change)="valuechange($event.target.value)" [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!priInstAmt.errors?.required">Installment Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Total No. of Installment" name="IntTotInst" #intTotInst="ngModel" [(ngModel)]="_loandetails.intTotInst " readonly disabled='true' required>
          <mat-error>
            <span [hidden]="!intTotInst.errors?.required">Total No. of Installment is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Odd Installment" name="OddInstNoInt" #oddInstNoInt="ngModel" [(ngModel)]="_loandetails.oddInstNoInt " pattern="^[1-9][0-9]*$" disabled='true' required>
          <mat-error>required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Odd Installment Amount" name="OddInstAmtInt" #oddInstAmtInt="ngModel" [(ngModel)]="_loandetails.oddInstAmtInt" pattern="^[1-9][0-9]*$" disabled='true' required>
          <mat-error>
            <span [hidden]="!oddInstAmtInt.errors?.required">Odd Installment Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!---------------------Property Owner Details---------------------->
      <div *ngIf="LoanCode=='21'">
        <div class="fom-title">Property Owner Details</div>

        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Property Owner Name" [(ngModel)]="_loandetails.ownerName" title="Property Owner Name" name="ownerName" #ownerName="ngModel"
                   pattern="^[a-zA-Z. ]*$" onKeyPress="if(this.value.length==100) return false;"
                   [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!ownerName.errors?.required">Property Owner Name  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Description" title="Description" [(ngModel)]="_loandetails.descriptions" onKeyPress="if(this.value.length==200) return false;" name="descriptions" #descriptions="ngModel" [disabled]=disbleflag
                   pattern="^[a-zA-Z0-9,./: ]*$" required>
            <mat-error>
              <span [hidden]="!descriptions.errors?.required">Description  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Property Owner's PAN No" title="Property Owner's PAN No" (paste)="$event.preventDefault()" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" [(ngModel)]="_loandetails.ownerPanNo" name="panno" maxlength="10" #ownerPanNo="ngModel" [disabled]=disbleflag required class="upperCase">
            <mat-error>
              <span [hidden]="!ownerPanNo.errors?.required">Property Owner's PAN No  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="IFSC Code" [(ngModel)]="_loandetails.bankIFSCCODE" name="bankIFSCCODE" #bankIFSCCODE="ngModel" (change)="getBankDetailsByIFSC(_loandetails.bankIFSCCODE)" [disabled]=disbleflag required pattern="^[a-zA-Z][a-zA-Z0-9 ]+$">
            <mat-error>
              <span [hidden]="!bankIFSCCODE.errors?.required">Bank IFSC Code  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Bank Name" [(ngModel)]="objBankDetails.bankName" name="bankName" #bankName="ngModel" (paste)="$event.preventDefault()" readonly [disabled]=disbleflag pattern="^[a-zA-Z][a-zA-Z0-9 ]+$">
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Branch Name" [(ngModel)]="objBankDetails.branchName" name="branchName" maxlength="50" readonly #branchName="ngModel" [disabled]=disbleflag pattern="^[a-zA-Z][a-zA-Z0-9 ]+$">
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Saving A/c No" [(ngModel)]="_loandetails.bankAccountNo" pattern="^(?!0)[0-9]{1,}" min="9" maxlength="18"
                   name="bankAccountNo" #bankAccountNo="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!bankAccountNo.errors?.required">Saving A/c No is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!---------------------Purchase of a Plot---------------------->
      <div *ngIf="LoanCode=='21'  && PurposeCode == '1'">
        <div class="fom-title">Purchase of a Plot</div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" pattern="^[a-zA-Z0-9,./: ]*$" onKeyPress="if(this.value.length==200) return false;" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
            <label> Select Area</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-radio-group [(ngModel)]="_loandetails.selct_Area" name="selct_Area" #selct_Area="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Rural</mat-radio-button>
              <mat-radio-button [value]="false">Urban</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label> Is it clearly demarcated and developed</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5">
            <mat-radio-group [(ngModel)]="_loandetails.demar_Dev" name="demar_Dev" #demar_Dev="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Approximate area (in sq. )" [(ngModel)]="_loandetails.area_Sq_Ft" pattern="[0-9]+(\.[0-9][0-9]?)?" type="number" onKeyPress="if(this.value.length==20 ) return false;" title="Approximate area (in sq. )" name="area_Sq_Ft" #area_Sq_Ft="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!area_Sq_Ft.errors?.required">Approximate area  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost" title="Cost" [(ngModel)]="_loandetails.cost" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" onKeyPress="if(this.value.length==20 ) return false;" type="number" name="cost" #cost="ngModel" [disabled]=disbleflag required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount actually paid" title="Amount actually paid" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" type="number" onKeyPress="if(this.value.length==20 ) return false;"
                   [(ngModel)]="_loandetails.amt_Act_Pay" name="amt_Act_Pay" #amt_Act_Pay="ngModel" [disabled]=disbleflag (blur)="onAmtActuallyPaidValidate()" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="If not purchased when proposed to be acquired" [(ngModel)]="_loandetails.purp_Acquire"
                   title="If not purchased when proposed to be acquired" name="purp_Acquire" #purp_Acquire="ngModel" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" required [disabled]=disbleflag>
            <mat-error>
              <span [hidden]="!purp_Acquire.errors?.required">proposed to be acquired  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Unexpired portion of lease if not freehold"
                   [(ngModel)]="_loandetails.unexp_Port_Lease" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" title="Unexpired portion of lease if not freehold" name="unexp_Port_Lease" #unexp_Port_Lease="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!unexp_Port_Lease.errors?.required">Unexpired portion of lease if not freehold  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-5 pading-0"><label>Terms and Conditions </label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="PurchageFlag = !PurchageFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Construction---------------------->
      <div *ngIf="LoanCode=='21'  && PurposeCode == '2'">
        <div class="fom-title">Construction</div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Floor - wise area to be constructed in (sq.mtrs.)" onKeyPress="if(this.value.length==20) return false;" type="number" maxlength="3"
                   [(ngModel)]="_loandetails.flr_Area" title="Floor - wise area to be constructed in (sq.mtrs.)" name="flr_Area" #flr_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!flr_Area.errors?.required">Floor - wise area to be constructed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Estimated Cost" title="Estimated Cost" onKeyPress="if(this.value.length==12 ) return false;" type="number" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" [(ngModel)]="_loandetails.est_Cost" name="est_Cost" #est_Cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!est_Cost.errors?.required">Estimated Cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Amount of advance required (for land/construction/both)" pattern="^[1-9][0-9]*$" [(ngModel)]="_loandetails.amt_Adv_Req"
                   title="Amount of advance required (for land/construction/both)" name="amt_Adv_Req" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount of advance is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled
                   placeholder="No. of instalments for repayment"
                   [(ngModel)]="_loandetails.num_Inst"
                   title="No. of instalments for repayment" name="num_Inst" #num_Inst="ngModel" pattern="([1-9]|[1-8][0-9]|9[0-9]|1[0-4][0-9]|150)" type="number" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">No. of instalments for repayment is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      title="Location with address" [(ngModel)]="_loandetails.address" name="address" #address="ngModel" [disabled]=disbleflag pattern="^[a-zA-Z0-9,./: ]*$" onKeyPress="if(this.value.length==200) return false;" required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
            <label> Select Area</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">

            <mat-radio-group [(ngModel)]="_loandetails.selct_Area" name="selct_Area" #selct_Area="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Rural</mat-radio-button>
              <mat-radio-button [value]="false">Urban</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label> Is it clearly demarcated and developed</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5">
            <mat-radio-group [(ngModel)]="_loandetails.demar_Dev" name="demar_Dev" #demar_Dev="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Approximate area (in sq. )" pattern="[0-9]+(\.[0-9][0-9]?)?" type="number"
                   [(ngModel)]="_loandetails.area_Sq_Ft" title="Approximate area (in sq. )" name="area_Sq_Ft" #area_Sq_Ft="ngModel" maxlength="30" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!area_Sq_Ft.errors?.required">Approximate area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost " title="Cost " [(ngModel)]="_loandetails.cost" pattern="^[1-9][0-9]*$" maxlength="20" name="cost" #cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!cost.errors?.required">Cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Amount actually paid " title="Amount actually paid "
                   [(ngModel)]="_loandetails.amt_Act_Pay" name="amt_Act_Pay" #amt_Act_Pay="ngModel" pattern="^[1-9][0-9]*$" (change)="validatechange($event.target.value)"
                   [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Act_Pay.errors?.required">Amount is required</span>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="If not purchased when proposed to be acquired "
                   [(ngModel)]="_loandetails.purp_Acquire" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$"
                   title="If not purchased when proposed to be acquired " name="purp_Acquire" #purp_Acquire="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!purp_Acquire.errors?.required">purchased is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Unexpired portion of lease if not freehold " pattern="^[a-zA-Z][a-zA-Z0-9 ]+$"
                   [(ngModel)]="_loandetails.unexp_Port_Lease"
                   title="Unexpired portion of lease if not freehold" name="unexp_Port_Lease" #unexp_Port_Lease="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!unexp_Port_Lease.errors?.required">Unexpired portion of lease is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Terms and Conditions </label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="ConstructionFlag = !ConstructionFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Details for enlarging the existing House- (click)="ConstructionFlag = !ConstructionFlag" --------------------->
      <div *ngIf="LoanCode=='21'  && PurposeCode == '3'">
        <div class="fom-title">Details for enlarging the existing House</div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address" pattern="^[a-zA-Z0-9,./: ]*$" onKeyPress="if(this.value.length==200) return false;"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area(in sq.mtrs.)" title="Plinth area(in sq.mtrs.)" type="number" pattern="^[1-9][0-9]*$"
                   [(ngModel)]="_loandetails.plint_Area" name="plint_Area" #plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plint_Area.errors?.required">Plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area proposed for enlargement(in sq. mtrs.)"
                   [(ngModel)]="_loandetails.plth_Prop_Enlarge" title="Plinth area proposed for enlargement(in sq. mtrs.)"
                   name="plth_Prop_Enlarge" #plth_Prop_Enlarge="ngModel" pattern="^[0-9]*(?:\.[0-9]{0,4})?$" maxlength="12" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plth_Prop_Enlarge.errors?.required">Plinth area proposed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost of construction/acqisition of existing house"
                   [(ngModel)]="_loandetails.coc" title="Cost of construction/acqisition of existing house" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" name="coc" #coc="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!coc.errors?.required">Cost of construction is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost of proposed enlargement"
                   [(ngModel)]="_loandetails.cop_Enlarge" title="Cost of proposed enlargement" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" name="cop_Enlarge" #cop_Enlarge="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!cop_Enlarge.errors?.required">Cost of proposed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Total plinth area" pattern="^[0-9]*(?:\.[0-9]{0,4})?$"
                   [(ngModel)]="_loandetails.tot_Plint_Area" title="Total plinth area" name="tot_Plint_Area" maxlength="12" #tot_Plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!tot_Plint_Area.errors?.required">Total plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Total Cost"
                   [(ngModel)]="_loandetails.tot_Cost" title="Total Cost" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" name="tot_Cost" #tot_Cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!tot_Cost.errors?.required">Total cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance required "
                   [(ngModel)]="_loandetails.amt_Adv_Req" title="Amount of advance required " pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" name="amt_Adv_Req" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount of advance is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="No. of Installments for Repayment"
                   [(ngModel)]="_loandetails.num_Inst" title="No. of Installments for Repayment" pattern="([1-9]|[1-8][0-9]|9[0-9]|1[0-4][0-9]|150)" name="num_Inst" #num_Inst="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">No. of installments is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Terms and Conditions </label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="EnlargingFlag = !EnlargingFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Details for purchasing a ready-built house/flat (click)="EnlargingFlag = !EnlargingFlag"---------------------->
      <div *ngIf="LoanCode=='21'  && PurposeCode == '4'">
        <div class="fom-title">Details for purchasing a ready-built house/flat</div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address" pattern="^[a-zA-Z0-9,./: ]*$" onKeyPress="if(this.value.length==200) return false;"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area (in sq.mtrs.)"
                   [(ngModel)]="_loandetails.plint_Area" type="number" pattern="^[0-9]*(?:\.[0-9]{0,4})?$" maxlength="12"
                   name="plint_Area" #plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plint_Area.errors?.required">Plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker2" placeholder="When constructed"
                   #const_Date="ngModel" [(ngModel)]="_loandetails.const_Date " readonly (click)="picker2.open()" name="const_Date" required [disabled]=disbleflag>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>
              <span [hidden]="!const_Date.errors?.required">When constructed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Price settled" title="Price settled"
                   [(ngModel)]="_loandetails.prc_Settled" name="prc_Settled" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" #prc_Settled="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!prc_Settled.errors?.required">Price settled is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Agency from whom to be purchased" [(ngModel)]="_loandetails.agency_Whom_Pur" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$"
                   title="Agency from whom to be purchased" name="agency_Whom_Pur" #agency_Whom_Pur="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!agency_Whom_Pur.errors?.required">Purchased is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount already paid " title="Amount already paid"
                   [(ngModel)]="_loandetails.amt_Paid" name="amt_Paid" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" #amt_Paid="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Paid.errors?.required">Amount is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance required" [(ngModel)]="_loandetails.amt_Adv_Req"
                   title="Amount of advance required" name="amt_Adv_Req" pattern="^[0-9]*(?:\.[0-9]{0,2})?$" maxlength="12" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="No. of Installments for Repayment" [(ngModel)]="_loandetails.num_Inst" pattern="([1-9]|[1-8][0-9]|9[0-9]|1[0-4][0-9]|150)"
                   title="No. of Installments for Repayment" name="num_Inst" #num_Inst="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">Repayment is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Terms and Conditions </label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="ReadybuiltFlag = !ReadybuiltFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Computer Adv--(click)="ReadybuiltFlag = !ReadybuiltFlag" -------------------->
      <div *ngIf="LoanCode=='100'">
        <div class="fom-title">Computer Advance</div>

        <div class="col-md-6 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Whether the intention is to purchase Personal Computer</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.intPurPrsnComp" name="intPurPrsnComp" #intPurPrsnComp="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">New</mat-radio-button>
              <mat-radio-button [value]="false">Old</mat-radio-button>
            </mat-radio-group>

          </div>
        </div>
        <div class="col-md-6 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Sanction is as per Rule 18 & Rules 1964</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.rule_18_1964_Pur" name="rule_18_1964_Pur" #rule_18_1964_Pur="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Basic pay" [(ngModel)]="_loandetails.pay_basic"
                   name="pay_basic" #pay_basic="ngModel" pattern="^[1-9][0-9]*$" disabled='true' required>
            <mat-error>
              <span [hidden]="!pay_basic.errors?.required">Basic pay is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Anticipated price of Personal Computer " title="Anticipated price of Personal Computer" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)"
                   [(ngModel)]="_loandetails.anti_Price_Pc" pattern="^[1-9][0-9]*$" name="Anti_Price_Pc" #anti_Price_Pc="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!anti_Price_Pc.errors?.required">Anticipated price of Personal Computer is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker" disabled placeholder="Superannuation / Contract Expiry Date (in case of contract officer)"
                   title="Superannuation / Contract Expiry Date (in case of contract officer)"
                   [(ngModel)]="_loandetails.empSupanDt" (click)="picker.open()" name="empSupanDt" #empSupanDt="ngModel" required disabled='true'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <span [hidden]="!empSupanDt.errors?.required">Contract Expiry Date is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Desired No of Installments to be repaid for advance" title="Desired No of Installments to be repaid for advance"
                   [(ngModel)]="_loandetails.desNoInsRePaidForAdv" name="desNoInsRePaidForAdv" #desNoInsRePaidForAdv="ngModel" [disabled]=disbleflag oninput="this.value=Math.abs(this.value)" type="number" required>
            <mat-error>
              <span [hidden]="!desNoInsRePaidForAdv.errors?.required">Desired No of Installments is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Whether the officer is on leave</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.off_On_Leave" name="off_On_Leave" #off_On_Leave="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Advance taken previously for similar purpose</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.pre_Adv_Simi_Pur" name="pre_Adv_Simi_Pur" #pre_Adv_Simi_Pur="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker1" placeholder="Date of drawal of the advance" title="Date of drawal of the advance" readonly
                   [(ngModel)]="_loandetails.adv_Draw_Date" (click)="picker1.open()" [max]="_loandetails.empSupanDt" [min]="_loandetails.empJoinDt"
                   name="adv_Draw_Date" #adv_Draw_Date="ngModel" [disabled]=disbleflag required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>
              <span [hidden]="!adv_Draw_Date.errors?.required">Date of drawal is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance / interest outstanding" maxlength="10" type="number" title="Amount of advance / interest outstanding"
                   (blur)="onValidate()"
                   [(ngModel)]="_loandetails.adv_Amount" name="adv_Amount" #adv_Amount="ngModel" [disabled]=disbleflag oninput="this.value=Math.abs(this.value)" required>

          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Terms and Conditions </label></div>
          <div class="col-md-12 col-lg-10 pading-0">

            <mat-checkbox [(ngModel)]="group" name="group" (click)="CompAdvFlag = !CompAdvFlag" [disabled]=disbleflag></mat-checkbox>

          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <div class="col-sm-12 col-md-6"><label>Upload e-sign</label></div>
            <input id="idfile" class="form-control" name="file" [(ngModel)]="_loandetails.upload_Sign" type="file" accept="application/pdf"
                   #file (change)="handleFileinput($event.target.files)"><br />
            <a href={{_loandetails.upload_Sign}} target="_blank" *ngIf=disbledwnloadflag>{{_loandetails.upload_Sign}}</a><br /><br />
            <a class="material-icons" *ngIf=disbledwnloadflag (click)="DownloadFile(_loandetails.upload_Sign)">vertical_align_bottom</a>
            <h6 style="color:red">{{msg}}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6" *ngIf="userRoleID  !=17">
        <mat-form-field class="wid-100" style="color:red;">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_loandetails.loanApp_Remarks" title="Remarks" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" name="loanApp_Remarks" #loanApp_Remarks="ngModel" [disabled]=disbleRemarksflag></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6"></div>

      <div class="col-md-12 col-lg-6">
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" id="btn_save" class="btn btn-primary" *ngIf="disableSaveFlage">
          <i class="fa fa-floppy-o"></i>{{buttonText}}
        </button>
        <button type="button" class="btn btn-warning" (click)="resetLoanDdetailsForm()" *ngIf="disableCancelFlage">Cancel</button>
        <button class="btn btn-info" type="button" (click)="forwarHooMaker()" *ngIf="disableFwdMakerFlag">Forward to HOO Maker</button>
        <button class="btn btn-info" type="button" (click)="forwarHooChecker()" *ngIf="disableFwdCheckerFlag">Forward to HOO Checker</button>
      </div>
    </mat-card>
  </form>
  <app-dialog [(visible)]="PurchageFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_1" name="pop_Decl_1" #pop_Decl_1="ngModel" [disabled]=disbleflag>
          </mat-checkbox>
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief.

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_2" name="pop_Decl_2" #pop_Decl_2="ngModel" [disabled]=disbleflag></mat-checkbox>

          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_3" name="pop_Decl_3" #pop_Decl_3="ngModel" [disabled]=disbleflag></mat-checkbox>

          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>

        </li>
      </ul>


    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="PurchageFlag=!PurchageFlag">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="EnlargingFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_1" name="const_Dec_1" #const_Dec_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_2" name="const_Dec_2" #const_Dec_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein
        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_3" name="const_Dec_3" #const_Dec_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>

        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="EnlargingFlag=!EnlargingFlag">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="ConstructionFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>

          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_1" name="dtls_Enlarg_1" #dtls_Enlarg_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief.

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_2" name="dtls_Enlarg_2" #dtls_Enlarg_2="ngModel" [disabled]=disbleflag></mat-checkbox>

          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_3" name="dtls_Enlarg_3" #dtls_Enlarg_3="ngModel" [disabled]=disbleflag></mat-checkbox>

          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="ConstructionFlag=!ConstructionFlag">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="ReadybuiltFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_Flat_1" name="dtls_Built_Flat_1" #dtls_Built_Flat_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best
          of my knowledge and belief
        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_flat_2" name="dtls_Built_flat_2" #dtls_Built_flat_2="ngModel" [disabled]=disbleflag></mat-checkbox>
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc.
          and agree to abide by the terms and conditions stipulated therein
        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_flat_3" name="dtls_Built_flat_3" #dtls_Built_flat_3="ngModel" [disabled]=disbleflag></mat-checkbox>

          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or
              Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for
              acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>
        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="ReadybuiltFlag=!ReadybuiltFlag">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="CompAdvFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.comp_Certi_Info_1" name="comp_Certi_Info_1" #comp_Certi_Info_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          Certified that the information given above is complete and true.

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.comp_Certi_Info_2" name="comp_Certi_Info_2" #comp_Certi_Info_2="ngModel" [disabled]=disbleflag></mat-checkbox>

          Certified that i have not taken delivery of the personal computer on account of which i apply for the advance that i shall complete negotiations for the purchase of pay finally and take possession of the same before the expiry of one month from the date of drawal of the advance
        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="CompAdvFlag=!CompAdvFlag">Ok</button></div>
  </app-dialog>
</div>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="EMPId" style="display:none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none;"> ID </th>
        <td mat-cell *matCellDef="let element" style="display:none;"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="EMPCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
      <ng-container matColumnDef="LoanCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanCode}} </td>
      </ng-container>
      <ng-container matColumnDef="PurposeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose  </th>
        <td mat-cell *matCellDef="let element"> {{element.purposeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <a matTooltip="{{element.moduleStatus}}"> {{element.status}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">

          <a class="material-icons i-info" matTooltip="view details" (click)="ViewEditLoanDetailsById(element.id,1)">error</a>
          <span *ngIf="element.statusId == 8 &&  this.userRoleID==17">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span *ngIf="element.statusId == 22 &&  this.userRoleID==8">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span *ngIf="element.statusId == 24 &&  this.userRoleID==9">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <span *ngIf="element.statusId == 33 &&  this.userRoleID==17">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <span *ngIf="element.statusId == 31 &&  this.userRoleID==8">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span *ngIf="element.statusId == 31 && userRoleID==9">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span *ngIf="element.statusId == 33 && userRoleID==9">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <span *ngIf="element.statusId == 25 &&  this.userRoleID==9">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <span *ngIf="element.statusId == 8 &&  this.userRoleID==9">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <span *ngIf="element.statusId == 8  &&  this.userRoleID==17">
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.id);deletePopup = !deletePopup"> delete_forever </a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="isTableHasData">
      <span style="color:red"> No Data Found</span>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
  <app-dialog [(visible)]="deletePopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="deleteEmployeeById(setDeletIDOnPopup)">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletePopup = !deletePopup">Cancel</button>
      </div>
    </div>
  </app-dialog>
