.btn-info {
  background-color: #5bc0de;
}

.bgcolor {
  background-color: #fffbda99;
}

.box_dn {
  float: right;
  overflow: hidden;
  background: #fcf8e3;
  display: none;
}

.box_db {
  float: right;
  overflow: hidden;
  background: #fcf8e3;
}
/* Add padding and border to inner content
    for better animation effect */
.box-inner {
  width: 700px;
  padding: 10px;
  border: 1px solid #a29415;
}

.note-slide[_ngcontent-c10] {
  background: #ffb400;
  border: none;
  /*color: #fff !important;*/
  padding: 5px 0 0 0;
  margin: auto;
}

.note-wraper {
  position: fixed;
  right: 0;
  z-index: 999;
  top: 17%;
}

.mat-expansion-indicator::after {
  color: #fff !important;
}

.note-slide > span {
  margin: 2px 7px 0 0;
  clear: both;
  float: right;
}

