<form (ngSubmit)="Service.valid && SaveUpdateServiceDetails();" #Service="ngForm" novalidate> 
  
  <div class="col-md-12 col-lg-7" >
   <mat-card class="example-card">
   
    <div class="fom-title">Service Details</div>
    <div class="col-sm-12 col-md-6 col-lg-4">  
        <mat-form-field class="wid-100">
          <mat-select placeholder="Type Applicable" name="serviceType"   [(ngModel)]="objServiceDetails.serviceType" name="serviceType" #serviceType="ngModel" required >
            <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.serviceValue">{{serviceType.serviceText}}</mat-option>
           </mat-select>
          <mat-error>
            <span [hidden]="!serviceType.errors?.required">Type Applicable is required</span>
          </mat-error>
          </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">  
      <mat-form-field  class="wid-100">
      <mat-select placeholder="Select Account maintained by (Office)"  [(ngModel)]="objServiceDetails.paoCode" name="paoCode" #paoCode="ngModel" required >
        <mat-option     *ngFor="let ofc of MaintainByOfc" [value]="ofc.paoCode">{{ofc.paoCodeNAme}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!paoCode.errors?.required">Account maintained by (Office) is required</span>
      </mat-error>
    </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" >{{btnText}}</button>
          <button type="button" class="btn btn-warning" (click)=" resetServicedetailsForm()" >Clear</button>
         
        </div>

  </mat-card> 
  </div>
</form>
 <!-- ======================================== Right side of the Service Details======================== -->
<div class="col-md-12 col-lg-5">
    <div class="example-card">
      <mat-card>
        <div>
         
          <label class="label-font">Service Details </label> 
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              
              </thead>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{objServiceDetails.serviceTypeName}}</td>
                </tr>
                <tr>
                  <td>Designation</td>
                  <td>{{objServiceDetails.paoCodeNAme}}
                  <td>
                </tr>
             </tbody>
            </table>
          </div>
 
        </div>
      </mat-card>
    </div>
  </div>
