<p>Check box</p>
<form>
  <mat-card>
    <mat-selection-list #shoes class="checkbox">
      <mat-list-option>
        abc
      </mat-list-option>
      <mat-list-option>
        dec
      </mat-list-option>
      <mat-list-option>
        sdas
      </mat-list-option>
    </mat-selection-list>
    <p>
      Options selected: {{shoes.selectedOptions.selected.length}}
    </p>
  </mat-card>
</form>



<!--dropdown-->
<h3>Single selection</h3>

<form>
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>


<p>
  Selected Bank: {{bankCtrl.value?.name}}
</p>


<!--form Design-->
<div class="col-md-12 col-lg-7">
  <mat-card class="example-card">
    <div class="fom-title">Employe Details</div>
    <!-- <div class="example-container"> -->
    <!--<div class="col-md-12 col-lg-12">
    <h4>Loan Sanctioned Details</h4>
  </div>-->
    <div class="col-md-12 col-lg-12 combo-col">

      <div class="col-md-12 col-lg-4 pading-0">
        <label>On Deputation</label>
      </div>
      <div class="col-md12 col-lg-4">
        <mat-radio-group>
          <mat-radio-button value="auto" (click)="showDialog = !showDialog">Yes</mat-radio-button>
          <mat-radio-button value="always" checked>No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Service Type">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Employee Type">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Employee Sub-Type">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="fom-title">Joining details</div>

    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Joining Mode">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Joining Category">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Joining Category">
          <mat-option value="option">Computer Advance</mat-option>
          <mat-option value="option">HBA Advance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="picker" placeholder="Date of Joining:(In Current Ministry/ Controller )">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="dob" placeholder="Date of Joining:(In Current Ministry/ Controller )">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-8 combo-col mat-form-field-wrapper">
      <div class="col-md-12 col-lg-6 pading-0"><label>Upload supporting documents (For Joining)</label></div>
      <div class="col-md-12 col-lg-6"><input hidden type="file" #fileInput multiple></div>
    </div>









    <div class="fom-title">Personal details</div>

    <div class="col-md-12 col-lg-12 combo-col">

      <div class="col-md-12 col-lg-4 pading-0">
        <label>Gender</label>
      </div>
      <div class="col-md12 col-lg-6">
        <mat-radio-group>
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button class="gender-mr" value="2"> Female</mat-radio-button>
          <mat-radio-button value="2"> Other</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="First Name" value="">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Middle Name" value="">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Last Name" value="">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="dob2" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #dob2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="PAN NO" value="">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Aadhar Card No" value="">
      </mat-form-field>
    </div>







    <!--Upload supporting documents-->
    <!--<div class="col-md-12 col-lg-8 combo-col mat-form-field-wrapper">


    <div class="col-md-12 col-lg-6 pading-0"><label>Upload supporting documents (For Joining)</label></div>
    <div class="col-md-12 col-lg-6"><input hidden type="file" #fileInput multiple></div>

  </div>-->
    <!--<div class="col-md-12 col-lg-4">
    <mat-form-field class="wid-100">
      <input matInput [matDatepicker]="DOB" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
      <mat-datepicker #DOB></mat-datepicker>
    </mat-form-field>
  </div>-->
    <!--<div class="col-md-12 col-lg-12 text-center btn-wraper">
    <button type="button" class="btn btn-primary">Next >></button>
  </div>-->
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>

  </mat-card>
</div>


<div class="col-md-12 col-lg-6">
  <div class="example-card mat-card tabel-wraper even-odd-color">
    <div class="fom-title">Title</div>

    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


    <table class="mat-elevation-z8 even-odd-color mat-table">
      <thead>
        <tr>
          <th>
            S.no
          </th>
          <th>
            One
          </th>
          <th>
            Two
          </th>
          <th>
            Three
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
        </tr>
        <tr>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
        </tr>
        <tr>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
        </tr>
        <tr>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
          <td>sfs</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
