mat-table {
  border-collapse:collapse;
}

/*mat-row {
  border: 1px solid #000000;
}*/

mat-cell {
  border: 1px solid #000000;
}
mat-header-cell {
  border: 1px solid #000000;
}

mat-header-row {
  background-color: #3268ab;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0px;
}

.record-not-found {
  text-align: center;
  display: inline-block;
  height: 33px;
}

.form-field-width {
  width: 90px;
}

.bgcolor {
  background-color: #fffbda99;
}
