<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Select Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select #singleSelect placeholder="Select Designation" [(value)]="selectedvalue"
            (selectionChange)="ddlDesignationChanged($event.value)">
            <mat-option *ngFor="let item of objempDesignation" [value]="item.desigId">{{ item.desigDesc }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Select Employee:</label>
      <!--<button mat-mini-fab color="primary" class="go-btn">Go</button>-->
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Employee" (selectionChange)="ddlEmployeeChanged($event.value)">
            <mat-option *ngFor="let item of objempModel" [value]="item.empCd">
              {{ item.empName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!--------------- Left Form --------------->
<mat-accordion class="col-md-12">
  <mat-expansion-panel #exPanel>

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Joining Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form #formCreation="ngForm" novalidate [formGroup]="JoiningDetailsForm"
      (ngSubmit)="formCreation.valid && SavedJoiningDetails(formCreation.value)">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="JoiningDate" name="JoiningDate" formControlName="JoiningDate"
            placeholder="Joining Date" [(ngModel)]="objempJoiningDetails.JoiningDate" readonly required />
          <mat-datepicker-toggle matSuffix [for]="JoiningDate"></mat-datepicker-toggle>
          <mat-datepicker #JoiningDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 combo-col-3">
        <div class="col-md-12 col-lg-3 pading-0">
          <label>Select</label>
        </div>
        <div class="col-md12 col-lg-9 pading-0">
          <mat-radio-group [(ngModel)]="objempJoiningDetails.FnAn" formControlName="FnAn" name="JoiningTime">
            <mat-radio-button value="Fn">Forenoon</mat-radio-button>
            <mat-radio-button value="An">Afternoon</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No" name="OrderNo" formControlName="OrderNo"
            [(ngModel)]="objempJoiningDetails.OrderNo" required />
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" name="OrderDate" formControlName="OrderDate"
            placeholder="Order Date" [(ngModel)]="objempJoiningDetails.OrderDate" readonly required />
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="isRejected" class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Rejected Reason" name="RejectedReason"
            [(ngModel)]="objempJoiningDetails.RejectedReason" formControlName="RejectedReason"></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="isViewDetails">
        <div *ngIf="this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="button" class="btn btn-success" (click)="VarifiedJoining(joiningId,true)"
            [disabled]="JoiningDetailsForm.invalid">Accept
          </button>
          <!--<button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>-->
          <button class="btn btn-primary" type="button" (click)="RejectedJoining(joiningId,true)"
            [disabled]="JoiningDetailsForm.invalid">
            Reject
          </button>
        </div>

        <div *ngIf="!this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" [disabled]="JoiningDetailsForm.invalid || disableButton">Save</button>
          <button type="button" class="btn btn-warning">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="ForwardToChecker(formCreation.value)"
            [disabled]="JoiningDetailsForm.invalid || disableButton">Forward to HOO Checker</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>


<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="note">
      <span>Note</span>
      Please enter details when the employee is revoked after completion of Suspension period
    </div>
    <div class="fom-title">Revocation Details</div>
    <!-- Search -->

    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


    <table mat-table [(dataSource)]="dataJoiningHistory" #sortingJH="matSort" matSort
      class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderNo</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="JoiningDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Revocation Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.joiningDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Fn/An">
        <th mat-header-cell *matHeaderCellDef>Fn/An</th>
        <td mat-cell *matCellDef="let rowData">{{ rowData.fnAn}}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.flagStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="joiningHistoryColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: joiningHistoryColumns"></tr>
    </table>
    <mat-paginator #pagingJH [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons>
    </mat-paginator>


    <div class="col-md-12 col-lg-12 text-right view-btn-wraper">
      <button type="submit" class="btn view-detail-btn">View New Captured Revocation Order Details</button>

    </div>

    <div class="fom-title">New captured Suspension Order Details <i class="material-icons close-icon"> clear </i></div>


    <table mat-table [(dataSource)]="dataJoining" #sortingJoining="matSort" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderNo</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="JoiningDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Revocation Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.joiningDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Fn/An">
        <th mat-header-cell *matHeaderCellDef>Fn/An</th>
        <td mat-cell *matCellDef="let rowData">{{ rowData.fnAn}}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.flagStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- <a href="#">Edit</a> -->
          <!-- <a class="material-icons i-info" matTooltip="Info">error</a> -->
          <div>
            <a class="material-icons i-info" *ngIf="element.status=='Rejected'?false:true"
              (click)="btnEditClick(element,true)" matTooltip="Info">info</a>
            <a class="material-icons i-edit" *ngIf="element.isEditable" matTooltip="Edit"
              (click)="btnEditClick(element,false)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" *ngIf="!isCheckerLogin && element.isEditable"
              (click)="DeleteJoiningDetails(element.empJoiningId,true);">
              delete_forever
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="joiningColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: joiningColumns"></tr>
    </table>
    <mat-paginator #pagingJoining [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,15]" showFirstLastButtons>
    </mat-paginator>

  </div>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteJoiningDetails(joiningId,false)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="hooCheckerPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 *ngIf="isVarified" class="card-title text-center">Are you sure, you want to Accept?</h3>
    <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure, you want to Reject?</h3>
    <div *ngIf="!isVarified">
      <mat-card>
        <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
      </mat-card>
      <label *ngIf="isReasonEmpty" class="errormsg">{{successMsg}}</label>
    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" *ngIf="isVarified" (click)="VarifiedJoining(joiningId,false)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" *ngIf="!isVarified" (click)="RejectedJoining(joiningId,false)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" (click)="hooCheckerPopup = !hooCheckerPopup">No</button>
    </div>
  </div>
</app-dialog>

