<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->


<!--<app-desig-emp (desigchange)="designationChange()"  (onchange)="GetLeavesSanction($event)"></app-desig-emp>-->
<div *ngIf="UserRoleId=='9'">
  <app-desig-emp-ordno [PageCode]="Curtail" [ArrddlOrder]="orderList" (desigchange)="designationChange()" (empchange)="employechange($event)" (orderchange)="GetLeavesSanction($event)"></app-desig-emp-ordno>
</div>
<div *ngIf="UserRoleId=='8'">
  <app-desig-emp (desigchange)="designationChange()" (onchange)="employechange($event)"></app-desig-emp>
</div>

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Leave Details
      </mat-panel-title>

    </mat-expansion-panel-header>


    <form [formGroup]="leaveSanctionDetailsForm" #LeaveSanctionForm="ngForm">



      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sanction Order No" formControlName="orderNo">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" placeholder="Sanction Order Date" formControlName="orderDT">
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>
      <!--<div class="fom-title">Leave Details</div>-->
      <div class="col-md-6 col-lg-4 combo-col-2">

        <div class="col-md-6 col-lg-3 pading-0">
          <label>Leave Type</label>
        </div>
        <div class="col-md-6 col-lg-9">
          <mat-radio-group (change)="ChangeLeaveCategory($event.value)" formControlName="leaveCategory">
            <mat-radio-button [checked]='radiochecked' value="Single" class="ml-10">Single</mat-radio-button>
            <mat-radio-button value="Combined" class="ml-10">Combined</mat-radio-button>
          </mat-radio-group>

        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Leave Reason" formControlName="leaveReasonCD">
            <mat-option *ngFor="let item of ArrddlReason" [value]="item.cddirCodeValue">{{item.cddirCodeText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="leave-wraper" formArrayName="leaveSanctionDetails" *ngFor="let item1 of leaveSanctionDetailsForm.get('leaveSanctionDetails')['controls']; let i=index">
        <div [formGroupName]="i">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select Leave Type" formControlName="leaveCd">
                <mat-option *ngFor="let item of ArrddlLeavesType; let j=index" (click)="LeaveTypeItemChange(i,item.leaveMaxAtATime)" [value]="item.leaveTypeLeaveCd">{{item.leaveTypeLeaveDesc}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="FDate" readonly placeholder="From Date" formControlName="fromDT" (dateChange)="fillnoofDays('s',i)" />
              <mat-datepicker-toggle matSuffix [for]="FDate"></mat-datepicker-toggle>
              <mat-datepicker #FDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="TDate" readonly placeholder="To Date" formControlName="toDT" (dateChange)="fillnoofDays('e',i)" />
              <!--(input)="alert('saga')" onclick="alert('saga')">-->
              <mat-datepicker-toggle matSuffix [for]="TDate"></mat-datepicker-toggle>
              <mat-datepicker #TDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="No. of Days" type="number" formControlName="noDays">
            </mat-form-field>
          </div>
        </div>
      </div>

    </form>

    <form [formGroup]="leaveCurtailForm" #LeaveCurtailForm="ngForm" ngNativeValidate (ngSubmit)="SaveLeavesCurtExten('I')">
      <mat-card class="example-card">
        <div class="fom-title">Leave Curtail/ Extension Details</div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Sanction Order No" formControlName="curtOrderNo" (keypress)="validateOrdNo($event)">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="DOB" placeholder="Sanction Order Date" formControlName="curtOrderDT" [min]="leaveSanctionDetailsForm.controls.orderDT.value" [max]="currentdate">
            <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
            <mat-datepicker #DOB></mat-datepicker>
          </mat-form-field>
        </div>
        <!--<div class="fom-title">Leave Details</div>-->
        <div class="col-md-6 col-lg-4 combo-col-2">

          <!--<div class="col-md-12 col-lg-3 pading-0">-->
          <!--<label>Leave Type</label>-->
          <!--</div>-->
          <div class="col-md-12 col-lg-12">
            <mat-radio-group (change)="ChangeLeaveCategory($event.value)" formControlName="isCurtleave">
              <mat-radio-button [checked]='radiochecked' value="Curtail" class="ml-10">Leave Curtail</mat-radio-button>
              <mat-radio-button value="Extension" class="ml-10">Leave Extension</mat-radio-button>
            </mat-radio-group>

          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Reason for curtail/extension" formControlName="curtReason">
            <!--<mat-select matNativeControl placeholder="Select Leave Reason"  formControlName="leaveReasonCD">
              <mat-option *ngFor="let item of ArrddlReason" [value]="item.cddirCodeValue">{{item.cddirCodeText}}</mat-option>
            </mat-select>-->
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select matNativeControl placeholder="Select Leave Type" formControlName="curtLeaveCd">
              <mat-option *ngFor="let item of ArrddlLeavesType; let j=index" [value]="item.leaveTypeLeaveCd">{{item.leaveTypeLeaveDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="FDate" readonly placeholder="From Date" formControlName="curtFromDT" (dateChange)="fillnoofDays('s')" />
            <mat-datepicker-toggle matSuffix [for]="FDate"></mat-datepicker-toggle>
            <mat-datepicker #FDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="TDate" readonly placeholder="To Date" formControlName="curtToDT" [max]="mxcutaildate" [min]="mncutaildate" (dateChange)="fillnoofDays('e')" />
            <mat-datepicker-toggle matSuffix [for]="TDate"></mat-datepicker-toggle>
            <mat-datepicker #TDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="No. of Days" type="number" formControlName="curtNoDays" readonly>
          </mat-form-field>
        </div>
        <div *ngIf="showReturnReason && UserRoleId=='9'" class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Returned Reason" formControlName="returnReason" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12">
          <textarea rows="5" placeholder="Enter remarks (if any)" class="wid-100" formControlName="curtRemarks"></textarea>
        </div>
        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button *ngIf="UserRoleId=='9'" type="submit" class="btn btn-success" (click)="checkValidation(event)" [disabled]="leaveCurtailForm.invalid||showSave">Save</button>
          <button *ngIf="UserRoleId=='9'" type="button" class="btn btn-warning" (click)="ResetLeavesSanction()" [disabled]="showCancel">Cancel</button>
          <button *ngIf="UserRoleId=='9'" type="button" class="btn btn-primary" (click)="SaveLeavesCurtExten('F')" [disabled]="leaveCurtailForm.invalid||showForward ">Save And Forward</button>
          <button *ngIf="UserRoleId=='8'" type="button" class="btn btn-success" (click)="VerifiedSanc(false);hooCheckerLogin = !hooCheckerLogin" [disabled]="leaveCurtailForm.invalid">Verify</button>
          <button *ngIf="UserRoleId=='8'" type="button" class="btn btn-danger" (click)="RejectedSanc(false);hooCheckerLogin = !hooCheckerLogin" [disabled]="leaveCurtailForm.invalid">Return</button>
        </div>
      </mat-card>
    </form>



  </mat-expansion-panel>
</mat-accordion>



<!--<div class="col-md-12 col-lg-7">

</div>-->
<!--right table-->
<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Leave Curtail/ Extension Details
      </mat-panel-title>

    </mat-expansion-panel-header>





    <table class="w-100 tab-tr-bg">
      <tr>
        <th class="tbl-2">Order No.</th>
        <th class="tbl-2">Order Date</th>
        <th class="tbl-2">Leave Curtail/Extension</th>
        <th class="tbl-2">Leave Status</th>
        <th class="tbl-2">Action</th>
      </tr>
    </table>
    <mat-accordion class="accordion-wrap">
      <mat-expansion-panel *ngFor="let item of dataSourceforgrid">
        <mat-expansion-panel-header>
          <mat-panel-title class="col-md-3 tbl-2">
            {{item.curtOrderNo}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4 tbl-2">
            {{item.curtOrderDT | date:'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4 tbl-2">
            {{item.isCurtleave}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4 tbl-2">
            {{item.verifyflg}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4 tbl-2">
            <!--<div *ngIf="UserRoleId=='8'">-->
            <div>
              <a class="material-icons i-info" matTooltip="Info" (click)="EditCurtailLeaves(item,'dis')">error</a>
            </div>
            <div *ngIf="UserRoleId=='9' && item.verifyflg=='Entered'|| item.verifyflg=='Returned'">
              <a class="material-icons i-edit" matTooltip="Edit" (click)="EditCurtailLeaves(item,'ena')">edit</a>
            </div>
            <div *ngIf="UserRoleId=='9'&& item.verifyflg=='Entered' || item.verifyflg=='Returned'">
              <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteCurtailLeaves(item.leavesSanctionMainModel.leaveMainId,true);deletepopup = !deletepopup">delete_forever </a>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="mat-elevation-z8 mat-table padLeave even-odd-color">
          <thead>
            <tr class="mat-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Leave Type</th>
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> From Date </th>
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> To Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row ng-star-inserted" *ngFor="let item1 of item.leavesSanctionMainModel.leaveSanctionDetails">
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                {{item1.leaveCdDesc}}
              </td>
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">  {{item1.fromDT | date:'dd/MM/yyyy'}}</td>
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                {{item1.toDT | date:'dd/MM/yyyy'}}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>


    </mat-accordion>

    <div class="col-md-12">
      <mat-paginator [pageSizeOptions]="[5, 10]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>
    </div>


  </mat-expansion-panel>
</mat-accordion>




<!--<div class="example-card mat-card">
  <div class="fom-title">Leave Curtail/Extension History</div>

  <div class="col-md-12 col-lg-12">
    <table class="w-100 tab-tr-bg">
      <tr>
        <th class="tab-th">Order No.</th>
        <th>Order Date</th>
        <th>Leave Curtail/Extension</th>
        <th>Leave Status</th>
      </tr>
    </table>
    <mat-accordion class="accordion-wrap">
      <mat-expansion-panel *ngFor="let item of dataSourceCurtailHistorygrid ">
        <mat-expansion-panel-header>
          <mat-panel-title class="col-md-3">
            {{item.curtOrderNo}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4">
            {{item.curtOrderDT | date:'dd/MM/yyyy'}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4">
            {{item.isCurtleave}}
          </mat-panel-title>
          <mat-panel-title class="col-md-4">
            {{item.verifyflg}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="mat-elevation-z8 mat-table padLeave">
          <thead>
            <tr class="mat-header-row ng-star-inserted">
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Leave Type</th>
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> From Date </th>
              <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> To Date</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row ng-star-inserted" *ngFor="let item1 of item.leavesSanctionMainModel.leaveSanctionDetails">
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                {{item1.leaveCdDesc}}
              </td>
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">  {{item1.fromDT | date:'dd/MM/yyyy'}}</td>
              <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
                {{item1.toDT | date:'dd/MM/yyyy'}}
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>


    </mat-accordion>

  </div>
  <div class="col-md-12">
    <mat-paginator  #b [pageSizeOptions]="[5, 10]" (page)="getPaginationData1($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>-->




<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteCurtailLeaves(leaveMainid,false)">Delete</button>
      <!--<button type="button" class="btn btn-info center" (click)="DeleteCurtailLeaves(leaveMainId,false)">Delete</button>-->
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="hooCheckerLogin">
  <div class="card-content panel panel-body panel-default">
    <h3 *ngIf="isVarified" class="card-title text-center">Are you sure you want to verify?</h3>
    <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure you want to reject?</h3>
    <div *ngIf="!isVarified">
      <mat-card>
        <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
      </mat-card>
      <label *ngIf="isReasonEmpty" class="errormsg">Please enter the reason</label>
    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" *ngIf="isVarified" (click)="VerifiedSanc(true)">YES</button>
      <button type="button" class="btn btn-info center" *ngIf="!isVarified" (click)="RejectedSanc(true)">YES</button>
      <!--<button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">Close</button>-->
      <button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">No</button>
    </div>
  </div>
</app-dialog>


