
<app-comman-mst (onchange)="GetcommanMethod($event)" [data]="callTypevar"></app-comman-mst>
<div class="col-md-12 col-lg-7">
  <form #ExitLoan="ngForm" (ngSubmit)="ExitLoan.valid && save(ArrLoanSection);" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Capture Running Loans/Advances</div>
      <div class="col-md-12 col-lg-12">
        <h4>Loan Sanctioned Details</h4>
      </div>
      <!--payLoanRefLoanCD-->
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Loan Type" #Loantype="ngModel" [(ngModel)]="ArrLoanSection.payLoanRefLoanCD" name="Loantype" (selectionChange)="GetLoanCode($event.value)" [disabled]=IsDisabled required>
            <mat-option *ngFor="let Loantype of ArrddlLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}-{{Loantype.payLoanRefLoanCD}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!Loantype.errors?.required">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input type="number" matInput placeholder="Account Head" [(ngModel)]="ArrLoanSection.payLoanRefLoanHeadACP"
                 maxlength="17" name="payLoanRefLoanHeadACP" #payLoanRefLoanHeadACP="ngModel" required disabled>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" placeholder="Sanction Order Date"
                 #sancOrdDT="ngModel" [(ngModel)]="ArrLoanSection.sancOrdDT " readonly (click)="picker2.open()" name="sancOrdDT" required [disabled]=IsDisabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>
            <span [hidden]="!sancOrdDT.errors?.required">Sanction Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Amount Sanctioned (Rs.)" [(ngModel)]="ArrLoanSection.loanAmtSanc" (keypress)="numberOnly($event)" maxlength="7"
                 name="loanAmtSanc" #loanAmtSanc="ngModel" required [disabled]="IsDisabled" (keyup)="CompareValue()" (blur)="CalculateValue()">
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Amount Sanction required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 mb-15">
        <h4>Loan Recovery Details</h4>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Sanction Order No" [(ngModel)]="ArrLoanSection.sancOrdNo" maxlength="10" name="sancOrdNo" #sancOrdNo="ngModel" [disabled]="IsDisabled" pattern="^$|^[A-Za-z0-9]+" (keypress)="charaterOnlyNoSpace($event)" required>
          <mat-error>
            <span [hidden]="!sancOrdNo.errors?.required">Sanction Order No is required</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!sancOrdNo.errors?.pattern">Only Alphanumeric character's are allowed</span>
          </mat-error>
        </mat-form-field>
      </div>
 
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Loan Disbursed (Rs.)" maxlength="6" (keypress)="numberOnly($event)" [(ngModel)]="ArrLoanSection.loanAmtDisbursed" name="loanAmtDisbursed"
                 #loanAmtDisbursed="ngModel" required [disabled]="IsDisabled" (blur)="CalculateValue()"> <!--(keyup)="CompareValue()"-->
          <mat-error>
            <span [hidden]="!loanAmtDisbursed.errors?.required"> Loan Disbursed is required</span>
          </mat-error>
          <mat-error>
            <span *ngIf="loanAmtDisbursed.errors?.min">New WEF should be greater then current WEF!</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Installment Amount " maxlength="7" (blur)="CalculateValue()" [(ngModel)]="ArrLoanSection.priInstAmt" name="priInstAmt" #priInstAmt="ngModel"
                 max="99999" (keypress)="numberOnly($event)" required [disabled]="IsDisabled">
          <mat-error>
            <span [hidden]="!priInstAmt.errors?.required">Installment Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Odd Installment Amount" maxlength="7" (keypress)="numberOnly($event)" [(ngModel)]="ArrLoanSection.oddInstAmtPri" name="oddInstAmtPri" #oddInstAmtPri="ngModel"
                 required [disabled]="IsFieldDisabled">
          <mat-error>
            <span [hidden]="!oddInstAmtPri.errors?.required">Odd Inst Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="No. Of Installments Paid" maxlength="7" (keypress)="numberOnly($event)" [(ngModel)]="ArrLoanSection.priTotInst" name="priTotInst" #priTotInst="ngModel"
                 required [disabled]="IsFieldDisabled">
          <mat-error>
            <span [hidden]="!priTotInst.errors?.required">No of Odd Inst is required</span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="No. of Inst. incl. Odd instalment" maxlength="7" (keypress)="numberOnly($event)" [(ngModel)]="ArrLoanSection.totalInstallment" name="totalInstallment" #totalInstallment="ngModel"
                 [disabled]="IsFieldDisabled">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Odd Installment No." maxlength="7" (keypress)="numberOnly($event)" [(ngModel)]="ArrLoanSection.oddInstNoPri" name="oddInstNoPri" #oddInstNoPri="ngModel"
                 [disabled]="IsFieldDisabled">
          <mat-error>
            <span [hidden]="!oddInstNoPri.errors?.required">This field is required</span>
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" *ngIf="FlagSave" name="save">{{buttonText}}</button>
        <button type="button" class="btn btn-warning" (click)="cancel()" *ngIf="FlagCancel" name="Cancel">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwordDDOChecker()" name="ForwardtoDDOChecker" *ngIf="FlagForwordChecker">Forward to DDO Checker</button>
        <button type="button" class="btn btn-success" (click)="accept()" name="accept" *ngIf="FlageAccept">Accept</button>
        <button type="button" class="btn btn-danger" *ngIf="FlagReject" (click)="Reject()">Reject</button>
      </div>

    </mat-card>
  </form>
</div>


<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <div class="fom-title">Loan Sanctioned Details</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchvalue"  placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="empCD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
        <td mat-cell *matCellDef="let element">{{element.empCD}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="payLoanRefLoanShortDesc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element">{{element.payLoanRefLoanShortDesc}} </td>
      </ng-container>

      <ng-container matColumnDef="empPersVerifFlag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">{{element.empPersVerifFlag}}</td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          With E
          ffect From
        </th>
        E
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <span>
            <a class="material-icons i-info" matTooltip="Info" (click)="ViewLoanDetailsById(element.empCD,element.msPayAdvEmpdetID,element.loanCd)">error</a>
          </span>
          <span *ngIf="element.statusId == '64' && userRoleID=='6'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditLoanDetailsById(element.empCD,element.msPayAdvEmpdetID,element.loanCd)">edit</a>
          </span>
          <span *ngIf="element.statusId == '63' && userRoleID=='6'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditLoanDetailsById(element.empCD,element.msPayAdvEmpdetID,element.loanCd)">edit</a>
          </span>
          <span *ngIf="(element.statusId == '64' || element.statusId == '61') && userRoleID=='6'">
            <a class="material-icons i-delet" matTooltip="Delete" value="delete" (click)="SetDeleteId(element.empCD,element.msPayAdvEmpdetID);deletepopup = !deletepopup">delete_forever</a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteDetails(CtrCode,msPayAdvEmpdetID)">OK</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>




