<div class="col-md-12">
  <div class="example-card mat-card">
    <div class="fom-title">Delete Pay Bill </div>
    <div class="col-md-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Pay Bill Group">
          <mat-option>Select</mat-option>
          <mat-option>ABC</mat-option>
          <mat-option>XYZ</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Bill No.">
          <mat-option>201910_001(R)</mat-option>
          <mat-option>201910_002(R)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="wid-100">
        <textarea matInput placeholder="Remark"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper mb-30">
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
    <div class="fom-title">Un- Freeze Pay Bill</div>
    <div class="col-md-12 mb-20">
      <div class="col-md-4 mb-20">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Deleted Bill No">
            <mat-option>201910_001(R)</mat-option>
            <mat-option>201910_002(R)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>
      <div class="col-lg-12 ">
        <div class="col-md-4 checkbox-wraper">
          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
        </div>

        <div class="col-md-4 text-center">
          <div class="col-md-12 mt-10 mb-20"><button type="button" class="btn btn-primary btn-cons">Select All</button></div>
          <div class="col-md-12"><button type="button" class="btn btn-info btn-cons">Un-Select All</button></div>
        </div>

        <div class="col-md-4 checkbox-wraper">
          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-warning btn-cons">Un-Freeze</button>
      </div>
    </div>
