<!---Atul Walia 27/Feb/19--->
<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Select Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select #singleSelect placeholder="Select Designation"
                      (selectionChange)="ddlDesignationChanged($event.value)" [(value)]="selectedvalue">
            <mat-option>
              <ngx-mat-select-search [formControl]="desigfilterddl" [noEntriesFoundLabel]="'No Records Found'" [placeholderLabel]="'Find Designation...'">
              </ngx-mat-select-search>
            </mat-option>
            <!-- <mat-option [value]="-1">-------- select designation --------</mat-option> -->
            <mat-option *ngFor="let item of filteredDesig | async" [value]="item.desigId">
              {{ item.desigDesc }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Select Employee:</label>
      <!--<button mat-mini-fab color="primary" class="go-btn">Go</button>-->
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Employee" (selectionChange)="ddlEmployeeChanged($event.value)" [(value)]="selectedEmpValue">
            <mat-option *ngFor="let item of objempModel" [value]="item.empCd">
              {{ item.empName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<!--------------- Left Form --------------->
<mat-accordion class="col-md-12">
  <mat-expansion-panel #susPanel>

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Enter New Suspension Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="SuspensionDetailsForm" #formCreation="ngForm" ngNativeValidate
          (ngSubmit)="SavedSuspensionDetails(objempSusDetails)">


      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="FromDate" name="FromDate" [max]="todayDate" [(ngModel)]="objempSusDetails.FromDate"
                 placeholder="From Date" formControlName="FromDate" required readonly
                 (dateChange)="AutoFillDate($event.target.value,true)" />
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker #FromDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order Number" name="OrderNo" [(ngModel)]="objempSusDetails.OrderNo"
                 formControlName="OrderNo" pattern="[-(),/0-9a-zA-Z \\]*" required />
                 <mat-error>Special symbols are not allowed except (/, -)</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Suspension Period (Enter No of Days)"
                 (input)="AutoFillDate($event.target.value,false)" type="number" name="SusPeriod" formControlName="SusPeriod"
                 [(ngModel)]="objempSusDetails.SusPeriod" pattern="[0-9]*" />
                 <mat-error>Please enter number between 1 and 120</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <!-- <input matInput [matDatepicker]="ValidUptoDate" name="ValidUptoDate" disabled [value]="02/02/2019"
      placeholder="Valid Upto" readonly />
    <mat-datepicker-toggle matSuffix [for]="ValidUptoDate"></mat-datepicker-toggle>
    <mat-datepicker #ValidUptoDate></mat-datepicker> -->
          <input matInput placeholder="Valid Upto" name="ValidUptoDate" disabled [value]="validUptoDate" />
        </mat-form-field>
      </div>
        <!-- <div class="col-sm-12 col-md-6 col-lg-6 line-height-57">
          <mat-checkbox (value)="objempSusDetails.IsTillOrder" formControlName="IsTillOrder"
            [(ngModel)]="objempSusDetails.IsTillOrder" class="chk-single" name="IsTillOrder" color="primary"
            (change)="chkTillFurtherOrder($event)">Till further Orders</mat-checkbox>
        </div> -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" name="OrderDate" [max]="todayDate" [(ngModel)]="objempSusDetails.OrderDate"
                 placeholder="Order Date" formControlName="OrderDate" readonly />
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="% of Salary during Suspension Period" maxlength="2" min="1" max="99"
                 type="number" name="SalaryPercent" required formControlName="SalaryPercent" pattern="[0-9]*"
                 [(ngModel)]="objempSusDetails.SalaryPercent" />
          <mat-error>Please enter a value between 50 and 75</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <!--<textarea matInput placeholder="Name" required></textarea>-->
          <textarea matInput placeholder="Reason" name="Remarks" [(ngModel)]="objempSusDetails.Remarks"
                    formControlName="Remarks" pattern="[-(),/a-zA-Z \\]*" required></textarea>
          <!--<textarea matInput placeholder="First Name" required>-->
            <mat-error>Special symbols are not allowed except (/, -)</mat-error>
        </mat-form-field>
      </div>
        <div *ngIf="isRejected" class="col-sm-12 col-md-4 col-lg-4 mt-10">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Rejected Reason" name="RejectedReason" [(ngModel)]="objempSusDetails.RejectedReason"
                      formControlName="RejectedReason"></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="isViewDetails">
          <div *ngIf="this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
            <button type="button" class="btn btn-success"
                    (click)="VarifiedSus(_Id,false);hooCheckerLogin = !hooCheckerLogin"
                    [disabled]="SuspensionDetailsForm.invalid">
              {{_btnText}}
            </button>
            <!--<button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>-->
            <button class="btn btn-primary" type="button"
                    (click)="RejectedSus(_Id,false);hooCheckerLogin = !hooCheckerLogin"
                    [disabled]="SuspensionDetailsForm.invalid">
              {{_btnUpdateText}}
            </button>
          </div>
          <div *ngIf="!this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
            <button type="submit" class="btn btn-success" [disabled]="SuspensionDetailsForm.invalid || disableButton">{{_btnText}}</button>
            <button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>
            <button class="btn btn-primary" type="button" (click)="ForwardToChecker(objempSusDetails)"
                    [disabled]="SuspensionDetailsForm.invalid || disableButton">
              {{_btnUpdateText}}
            </button>
          </div>
        </div>

    </form>
  </mat-expansion-panel>
</mat-accordion>

<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="fom-title">Suspension Details</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" [disabled]="orderValidFlag">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <!--tabel 2 start-->
    <div *ngIf="!this.isCheckerLogin">
      <div class="fom-title mt-40 ">Old Suspension Details</div>
      <table mat-table [(dataSource)]="dataSourceHistory" #t2Sort="matSort" matSort
             class="mat-elevation-z8 even-odd-color">
        <!-- Order No. -->
        <ng-container matColumnDef="OrderNo">
          <th mat-header-cell *matHeaderCellDef>Order Number</th>
          <td mat-cell *matCellDef="let element">{{ element.orderNo }}</td>
        </ng-container>
        <!-- Order Date -->
        <ng-container matColumnDef="OrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.orderDate  | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- From Date -->
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let element">{{ element.fromDate  | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <!-- To Date Order No. -->
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let element">{{ element.toDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- No. of Days -->
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks}}</td>
        </ng-container>
        <!---Status-->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <!--status end-->

        <tr mat-header-row *matHeaderRowDef="historyTableColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: historyTableColumns"></tr>
      </table>
      <mat-paginator #paginatorTable2 [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons>
      </mat-paginator>
    </div>
    <div>
      <button *ngIf="this.isCheckerLogin" mat-button class="btn-primary">
        View Forwarded Suspension Order
        Details
      </button>
      <button *ngIf="!this.isCheckerLogin" mat-button class="btn-primary" (click)="ShowSuspensionDetails(true)">
        View New
        Captured Suspension Order Details
      </button>
    </div>
    <div [hidden]="!ShowSusDetails">
      <div class="fom-title mt-40 ">
        New Captured Suspension Details <button *ngIf="!this.isCheckerLogin" mat-button
                                                class="btn btn-warning" (click)="ShowSuspensionDetails(false)">
          Close
        </button>
      </div>
      <table mat-table [(dataSource)]="dataSource" #t1Sort="matSort" matSort class="mat-elevation-z8 even-odd-color">
        <!-- Order No. -->
        <ng-container matColumnDef="OrderNo">
          <th mat-header-cell *matHeaderCellDef>Order Number</th>
          <td mat-cell *matCellDef="let element">{{ element.orderNo }}</td>
        </ng-container>
        <!-- Order Date -->
        <ng-container matColumnDef="OrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.orderDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- From Date -->
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let element">{{ element.fromDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- To Date Order No. -->
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let element">{{ element.toDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- No. of Days -->
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks}}</td>
        </ng-container>
        <!---Status-->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <!--status end-->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a href="#">Edit</a> -->
            <!-- <a class="material-icons i-info" matTooltip="Info">error</a> -->
            <div>
              <a class="material-icons i-info" *ngIf="element.status=='Rejected'?false:true"
                 (click)="btnEditClick(element,true)" matTooltip="Info">info</a>
              <a class="material-icons i-edit" *ngIf="element.isEditable" matTooltip="Edit"
                 (click)="btnEditClick(element,false)">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" *ngIf="!isCheckerLogin && element.isEditable"
                 (click)="DeleteSuspensionDetails(element.id,true);deletepopup = !deletepopup">
                delete_forever
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
      <mat-paginator #paginatorTable1 [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteSuspensionDetails(_Id,false)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="hooCheckerLogin">
  <div class="card-content panel panel-body panel-default">
    <h3 *ngIf="isVarified" class="card-title text-center">Are you sure, you want to Accept?</h3>
    <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure, you want to Reject?</h3>
    <div *ngIf="!isVarified">
      <mat-card>
        <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
      </mat-card>
      <label *ngIf="isReasonEmpty" class="errormsg">{{successMsg}}</label>
    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" *ngIf="isVarified"
              (click)="VarifiedSus(_Id,true)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" *ngIf="!isVarified"
              (click)="RejectedSus(_Id,true)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">No</button>
    </div>
  </div>
</app-dialog>

