<div class="container-fluid head-bg">
  
  <div class="row">         
        <div class="logo">
        <img src="~/../assets/eps_logo.png" />
        <h1>Employee Payroll System</h1>
        <span>Ministry of Finance, Government of India</span>
      </div>
      <div class="emblem "><img src="~/../assets/emblem.png"></div>

      <div class="user">
        
        <!-- <div class="info">
            <a class="collapsed" data-toggle="collapse" href="#collapseExample">
                <span>
                    Tania Andrew
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">EP</span>
                            <span class="sidebar-normal">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
       
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user-profile">
          <!--Employee Name-->Logged in as {{userRole}}
          <!--{{username}}-->
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="LogOut();">
            <mat-icon>play_for_work</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <div class="photo">
          <img src="~/../assets/emp.png">
      </div>
    </div>

    </div>
  </div>
