<!--------------- Left Form --------------->
<div *ngIf="userRoleID !=17">
  <app-comman-mst (onchange)="GetcommanMethod($event)"></app-comman-mst>
</div>
<div >
  <form (ngSubmit)="formDirective.valid && onSubmit()" [formGroup]="form" #formDirective="ngForm" >
    <mat-accordion class="col-md-12" >
      <mat-expansion-panel [expanded]="panelOpenState" [ngClass]="bgcolor">
        <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
          <mat-panel-title class="acordion-heading">
            Recovery of Challan Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Loan Type" formControlName="payLoanRefLoanCD">
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let loantypename of _loanType" [value]="loantypename.payLoanRefLoanCD">
                {{loantypename.payLoanRefLoanShortDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount Disbursed" formControlName="amountDisbursed">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Installment Amount " formControlName="installmentAmount">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Total No. of Installments" formControlName="totalNoInstalments">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Odd Installment No" formControlName="oddInstlNo">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Odd Installment Amount" formControlName="oddInstlAmt">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Outstanding Amount" formControlName="outstandingAmount">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Last Instalment No. Recovered" formControlName="lastInstalmentNoRecovered">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4" style="display:none;">
          <mat-form-field class="wid-100">
            <input matInput formControlName="createdBy">
          </mat-form-field>
        </div>

        <div class="fom-title mt-40">Part of Loan Amount deposited through Challan</div>
        <div class="col-sm-12 col-md-12 mt-10 mb-30">
          <div class="col-md-4 pading-0"><label class="radio-btn-lbl">Payment made through</label></div>
          <mat-radio-group aria-label="Select an option" class="multi-radio-btn"
                           formControlName="paymentmadethrough" (change)="modeChange($event.value)">
            <mat-radio-button [value]="1" checked>PFMS</mat-radio-button>
            <mat-radio-button [value]="2">NTRP</mat-radio-button>
            <mat-radio-button [value]="3">Provisional</mat-radio-button>
            <mat-radio-button [value]="4">Transfer Entry</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="showAndHideMode == 1">
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Challan No" formControlName="PFMSchallanNo">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">102345678912</mat-option>
                <mat-option value="2">192345678922</mat-option>
                <mat-option value="3">172345678932</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4">
            <mat-form-field class="w-100">
              <input matInput name="PFMSchallanAmt" placeholder=" Challan Amount " formControlName="PFMSchallanAmt">
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="picker2" placeholder="Challan Date" formControlName="PFMSchallanDate" [value]="currentDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Payment Mode" formControlName="PFMSpaymentMode">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">Cash</mat-option>
                <mat-option value="2">Cheque</mat-option>
                <mat-option value="3">DD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Cheque No./DD No" formControlName="chequeNoDDNo" type="number" onKeyPress="if(this.value.length==6 ) return false;">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Outstanding Amount" formControlName="PFMSupdatedOutstandingAmount">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Last Instalment No. Recovered" formControlName="PFMSupdatedLastInstalmentNoRecovered">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="showAndHideMode == 2">
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder=" NTRP Transaction Id" formControlName="NTRPTransactionId">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">102345678912</mat-option>
                <mat-option value="2">192345678922</mat-option>
                <mat-option value="3">172345678932</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4">
            <mat-form-field class="w-100">
              <input matInput placeholder=" Challan Amount " formControlName="NTRPchallanAmt">
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="picker2" placeholder="Challan Date" formControlName="NTRPchallanDate" [value]="currentDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Payment Mode" formControlName="NTRPpaymentMode">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">Cash</mat-option>
                <mat-option value="2">Cheque</mat-option>
                <mat-option value="3">DD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="NTRP Receipt Details" formControlName="NTRPReceiptDetails">
            </mat-form-field>

          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Outstanding Amount" formControlName="NTRPupdatedOutstandingAmount">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Last Instalment No. Recovered" formControlName="NTRPupdatedLastInstalmentNoRecovered">
            </mat-form-field>
          </div>

        </div>


        <div *ngIf="showAndHideMode == 3">
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Challan No" formControlName="ProchallanNo">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">102345678912</mat-option>
                <mat-option value="2">192345678922</mat-option>
                <mat-option value="3">172345678932</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4">
            <mat-form-field class="w-100">
              <input matInput placeholder=" Challan Amount " formControlName="ProchallanAmount">
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="picker2" placeholder="Challan Date" formControlName="ProchallanDate" [value]="currentDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Payment Mode" formControlName="PropaymentMode">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">Cash</mat-option>
                <mat-option value="2">Cheque</mat-option>
                <mat-option value="3">DD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Remarks" formControlName="Proremarks">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Outstanding Amount" formControlName="ProupdatedOutstandingAmount">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Last Instalment No. Recovered" formControlName="ProupdatedLastInstalmentNoRecovered">
            </mat-form-field>
          </div>

        </div>

        <div *ngIf="showAndHideMode == 4">
          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="TE No" formControlName="TENo">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">102345678912</mat-option>
                <mat-option value="2">192345678922</mat-option>
                <mat-option value="3">172345678932</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4">
            <mat-form-field class="w-100" >
              <input matInput placeholder=" TE Amount "  formControlName="TEAmounts">
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="picker2" placeholder="TE Date" formControlName="TEDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>


          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Payment Mode" formControlName="TEpaymentMode">
                <mat-option value="0">Select</mat-option>
                <mat-option value="1">Cash</mat-option>
                <mat-option value="2">Cheque</mat-option>
                <mat-option value="3">DD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="remarks" formControlName="TEremarks">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Outstanding Amount" formControlName="TEupdatedOutstandingAmount">
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Updated Last Instalment No. Recovered" formControlName="TEupdatedLastInstalmentNoRecovered">
            </mat-form-field>
          </div>

        </div>


        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success">{{btnUpdateText}}</button>
          <button type="button" class="btn btn-warning" (click)="ResetForm();">Cancel</button>
          <button class="btn btn-primary" type="button">Forward to HOO Checker</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </form>

</div>



  <div class="col-md-12 col-lg-12 margin-top-10px">
    <div class="example-card mat-card">
      <div class="fom-title">Select In-Process Loan Details</div>
      <!-- Search -->
      <mat-form-field>
        <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>
      <table mat-table [dataSource]="RecoveryChallanData" matSort class="mat-elevation-z8 even-odd-color">
        <ng-container matColumnDef="LoanType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
          <td mat-cell *matCellDef="let element"> {{element.loanType}} </td>
        </ng-container>
        <ng-container matColumnDef="AmountDisbursed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Disbursed </th>
          <td mat-cell *matCellDef="let element"> {{element.amountDisbursed}} </td>
        </ng-container>
        <ng-container matColumnDef="CurrentRecoveryof">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Recovery of </th>
          <td mat-cell *matCellDef="let element"> {{element.currentRecoveryof}} </td>
        </ng-container>
        <ng-container matColumnDef="TotalNoInstalments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total No.Instalments </th>
          <td mat-cell *matCellDef="let element"> {{element.totalNoInstalments}} </td>
        </ng-container>
        <!--<ng-container matColumnDef="Paymentmadethrough" style="display:none;">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment made through </th>
    <td mat-cell *matCellDef="let element"> {{element.Paymentmadethrough}} </td>
  </ng-container>-->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="createdBy" style="display:none;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="display:none;">createdBy </th>
          <td mat-cell *matCellDef="let element"  style="display:none;"> {{element.createdBy}} </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-info" matTooltip="Info" (click)="ViewRevocationDetails()">error</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>



      <div class="col-md-12 col-lg-12 text-right view-btn-wraper">
        <button  class="btn view-detail-btn" (click)="RevocationFlag = !RevocationFlag">View New Captured Revocation Order Details</button>

      </div>

      <div *ngIf="RevocationFlag">
        <div class="fom-title">New captured Recovery of Challan Details<i class="material-icons close-icon" (click)="RevocationFlag = !RevocationFlag">clear</i></div>


        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="LoanType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
            <td mat-cell *matCellDef="let element"> {{element.LoanType}} </td>
          </ng-container>
          <ng-container matColumnDef="AmountDisbursed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Amount deposited via Challan </th>
            <td mat-cell *matCellDef="let element"> {{element.AmountDisbursed}} </td>
          </ng-container>
          <ng-container matColumnDef="CurrentRecoveryof">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Recovery of </th>
            <td mat-cell *matCellDef="let element"> {{element.CurrentRecoveryof}} </td>
          </ng-container>
          <ng-container matColumnDef="TotalNoInstalments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total No.Instalments </th>
            <td mat-cell *matCellDef="let element"> {{element.TotalNoInstalments}} </td>
          </ng-container>
          <ng-container matColumnDef="Paymentmadethrough">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment made through </th>
            <td mat-cell *matCellDef="let element"> {{element.Paymentmadethrough}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-info" matTooltip="Info">error</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
      </div>
    </div>
  </div>

