
<!---Raju verma 28/may/19--->
<form name="form" (ngSubmit)="fdForm.valid && createfdGpfMaster();" #fdForm="ngForm" novalidate>
  <!--Start Alert message for delet, info-->
  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>
  <!--End Alert message for delet, info-->
  <mat-accordion class="col-md-12 mb-20">
    <mat-expansion-panel [expanded]="true" #panelfd [ngClass]="bgcolor">
      <mat-expansion-panel-header class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Family Definition for GPF/Pension Masters
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <label class="select-lbl">Add a relationship eligible for GPF/Pension payment</label>
        </div>
        <div class="col-sm-12 col-md-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Relationship" maxlength="21" required name="relationShip" (keypress)="charaterOnly($event)"
                   pattern="^[a-zA-Z].*" onpaste="return false" [(ngModel)]="_fdMasterModel.relationShip"
                   #relationShip="ngModel" minlength="3" autocomplete="off">
            <mat-error><span *ngIf="relationShip.errors?.required">Relationship required</span></mat-error>
            <mat-error><span *ngIf="relationShip.errors?.minlength">Minimum length is three</span></mat-error>
            <mat-error><span *ngIf="relationShip.errors?.pattern">First letter should not be special character</span></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="panelOpenState">

    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Family relations eligible for GPF/Pension
      </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" maxlength="20" placeholder="Search by relationship" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="searchfield" onpaste="return false">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
            <tr>
              <ng-container matColumnDef="serialNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
                <td mat-cell *matCellDef="let element"> {{element.serialNo}} </td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="relationShip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </th>
                <td mat-cell *matCellDef="let element"> {{element.relationShip}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">

                  <a class="material-icons i-edit" matTooltip="Edit" (click)="editGpfMaster(element.fdMasterID);">edit</a>
                  <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.fdMasterID);deletepopup = !deletepopup"> delete_forever </a>

                </td>
              </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        <div [hidden]="isTableHasData">
          No  Records Found
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>

  </mat-expansion-panel>
</mat-accordion>


<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteGpfDetails(setDeletIdOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>

