
<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="designCtrl" [placeholder]="placeholdervalue_desig" #singleSelect (selectionChange)="BindDropDownEmployee($event.value)" >
            <mat-option>
              <ngx-mat-select-search [noEntriesFoundLabel]="'No Records Found'" [formControl]="designFilterCtrl" [placeholderLabel]="'Search Designation...'" (keypress)="charaterOnly($event)"></ngx-mat-select-search>
            </mat-option>
            <!--<mat-option [value]="0">
              Select
            </mat-option>-->
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.msDesigMastID">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Employee:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="empCtrl" [placeholder]="placeholdervalue_emp" #singleSelect (selectionChange)="GetEmployeedetails($event.value)">
            <mat-option>
              <ngx-mat-select-search [noEntriesFoundLabel]="'No Records Found'" [formControl]="empFilterCtrl" [placeholderLabel]="'Search Employee...'" (keypress)="charaterOnly($event)"></ngx-mat-select-search>
            </mat-option>
            <!--<mat-option [value]="0">
              Select
            </mat-option>-->
            <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCd">
              {{emp.empName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


  </div>
</div>
