<!--Start Alert message for success, delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus=false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{  responseMessage }}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->

</div>
<!--End Alert message for success, delete, info-->

<div class="col-md-12 col-lg-12">
  <mat-expansion-panel [expanded]="isPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="isPanel=false">
      <mat-panel-title class="acordion-heading">
        State AG Officers Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form name="form" (ngSubmit)="StateAg.valid && btnSaveClick();" #StateAg="ngForm" novalidate>

      <div class="row col-md-4">  
        <div class="col-md-8">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select PF Type" id="PfType" required name="PfType" [(ngModel)]="objStateAg.PfType">
              <!--<mat-option label="PF Type">Select PF Type</mat-option>-->
              <mat-option *ngFor="let _pflist of PfTypeList" [value]="_pflist.pfType">{{_pflist.pfTypeDesc}} </mat-option>
            </mat-select>
            <!--<mat-error><span *ngIf="f.submitted && payCommissionCode.invalid">Pay scale code required</span></mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div class="row col-md-4">
        <div class="col-md-8">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select State" name="State" required [(ngModel)]="objStateAg.StateCode">
              <mat-option *ngFor="let state of StateList" [value]="state.stateCode">{{state.stateName}}</mat-option>
            </mat-select>
            <!--<mat-error><span *ngIf="f.submitted && stateId.invalid">State required</span></mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div class="row col-md-4">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="State AG's Description" required name="StateAGDesc" [(ngModel)]="objStateAg.StateAgDesc">
            <!--<mat-error><span *ngIf="f.submitted && tptaAmount.invalid">TPTA amount required</span></mat-error>-->
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" class="btn btn-success">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning">cancel</button>
      </div>

    </form>
  </mat-expansion-panel>
</div>
<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>
<!--right table-->



<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="fom-title">Edit AG Officers Details</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">


      <tr>
        <ng-container matColumnDef="Sr.No.">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No.</th>
          <td mat-cell *matCellDef="let element;let i = index;">{{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="PF Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PF Type </th>
          <td mat-cell *matCellDef="let element"> {{element.pfTypeDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="State">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
        </ng-container>
        <ng-container matColumnDef="State AG Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State AG's Description</th>
          <td mat-cell *matCellDef="let element"> {{element.stateAgDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditStateAgMaster(element.msStateAgId);">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.msStateAgId);"> delete_forever </a>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
