<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <i class="material-icons icon-right">search</i>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="even-odd-color tabel-form wid-100 tabel-wraper tbl-input">
    <tr class="table-head">
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
      </ng-container>

       <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

      <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>

      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name</th>
        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
      </ng-container>

      <ng-container matColumnDef="empDesignation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.empDesignation}} </td>
      </ng-container>

      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
      </ng-container>



      <ng-container matColumnDef="empType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Type </th>
        <td mat-cell *matCellDef="let element"> {{element.empType }} </td>
      </ng-container>

      <ng-container matColumnDef="empSubType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp SubType</th>
        <td mat-cell *matCellDef="let element"> {{element.empSubType}} </td>
      </ng-container>


      <ng-container matColumnDef="empJoiningMode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Mode</th>
        <td mat-cell *matCellDef="let element"> {{element.empJoiningMode}} </td>
      </ng-container>
      <ng-container matColumnDef="empJoiningCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Category</th>
        <td mat-cell *matCellDef="let element"> {{element.empJoiningCategory}} </td>
      </ng-container>

      <ng-container matColumnDef="empDateOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</th>
        <td mat-cell *matCellDef="let element"> {{element.empDateOfBirth |  date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="empDateOfJoining">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Joining</th>
        <td mat-cell *matCellDef="let element"> {{element.empDateOfJoining | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="empPanNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PAN NO</th>
        <td mat-cell *matCellDef="let element"> {{element.empPanNo}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
        <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="Info" (click)=" empdetails = !empdetails;getAllEmployeeCompleteDetails(element.empCode)">error</a>
          </td>
      </ng-container>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
   
</mat-card>



<div class="col-md-12 col-lg-12 text-center btn-wraper">
  <button class="btn btn-labeled btn-success add-list  text-center"  style="cursor:pointer;" (click)="ForwardToChecker()">
  <span class="btn-label"><i class="glyphicon glyphicon-arrow-up"></i></span>Forward To Checker
</button>
</div>

 
<app-dialog [(visible)]="empdetails">
   
  <form (ngSubmit)="verifiedForm.valid" [formGroup]="verifiedForm" #formDirective="ngForm" novalidate>
    
      <mat-card class="example-card">
        <ng-template matStepLabel>Employee Details</ng-template>

        <div class="fom-title">Employee Details</div>

        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <textarea matInput formControlName="remark" rows="1" placeholder="Remarks" onkeypress="return (event.target.selectionStart == 0 && event.charCode == 32 ? false : (event.charCode >= 44 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >=97 && event.charCode <= 122) || event.charCode == 32)" maxlength="70"></textarea>
            <mat-error>Remarks Required !</mat-error>
          </mat-form-field>
        </div>
        
        <div   class="col-md-12 col-lg-12 text-center btn-wraper">

          <button type="button" class="btn btn-success" (click)="approvePopup = !approvePopup">Accept</button>
          <button type="button" class="btn btn-warning" (click)="rejectPopup = !rejectPopup" >Reject</button>


        </div>


      </mat-card>
   
    
  </form>

</app-dialog>
