<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true" [ngClass]="bgcolor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Designation Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="designmaster.valid && btnSaveclick();" #designmaster="ngForm" novalidate name="designmaster">
      <div [attr.disabled]="disbleflag">


        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Designation" required [(ngModel)]="objdesigModel.CommonDesigDesc" name="CommonDesigDesc" #CommonDesigDesc="ngModel" (keypress)="charaterOnlyNoSpace($event)" (keyup)="checkAllreadyexist()" pattern="[a-zA-Z ]*" maxlength="50">
            <mat-error>
              <span [hidden]="!CommonDesigDesc.errors?.required">Designation required</span>
              <span [hidden]="!CommonDesigDesc.errors?.pattern">Only Alphabets Allowed</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Group" [(ngModel)]="objdesigModel.CommonDesigGroupCD" name="CommonDesigGroupCD" required (selectionChange)="checkAllreadyexist()">

              <mat-option *ngFor="let group of group_data" [(value)]="group.GroupId">{{group.GroupCd}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input type="number" matInput placeholder="Superannuation Age" onKeyPress="if (this.value.length == 2 || event.charCode == 46) return false;" required [(ngModel)]="objdesigModel.CommonDesigSuperannAge" name="CommonDesigSuperannAge" #CommonDesigSuperannAge="ngModel" min="55" max="65" (keyup)="checkAllreadyexist()" (change)="checkAllreadyexist()" pattern="(5[5-9]|6[0-5])" />
            <mat-error>
              <span [hidden]="!CommonDesigSuperannAge.errors?.required">Please enter a value between 55 and 65</span>
              <span [hidden]="!CommonDesigSuperannAge.errors?.pattern">Please enter a value between 55 and 65</span>
            </mat-error>

          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <mat-error>{{errorMsg}}</mat-error>
          <button type="submit" class="btn btn-success" id="btn_save" [disabled]="!designmaster.valid ||!disbleflag">Save</button>

          <button type="reset" class="btn btn-warning" (click)="resetForm()">Cancel</button>
        </div>


      </div>
    </form>


  </mat-expansion-panel>
</mat-accordion>




<!--right table-->




    <div class="col-md-12 col-lg-12">
      <div class="example-card mat-card">
        <div class="fom-title">Designation Details</div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchvalue" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <div class="tabel-wraper">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
            <!-- Designation Column -->
            <ng-container matColumnDef="commonDesigDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
              <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}} </td>
            </ng-container>

            <!-- Group Column -->
            <ng-container matColumnDef="groupCDDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
              <td mat-cell *matCellDef="let element"> {{element.groupCDDesc}} </td>
            </ng-container>

            <!-- Superannuation Column -->
            <ng-container matColumnDef="commonDesigSuperannAge">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Superannuation Age </th>
              <td mat-cell *matCellDef="let element"> {{element.commonDesigSuperannAge}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">

                <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.commonDesigDesc,element.commonDesigGroupCD,element.commonDesigSrNo,element.commonDesigSuperannAge)">edit</a>
                <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.commonDesigSrNo);deletepopup = !deletepopup"> delete_forever </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </div>
      </div>
       






<!--right table End-->
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteDetails(MsDeleteId)">OK</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>

