<div class="col-md-12 col-lg-12">

  <mat-card class="example-card">
    <div class="col-sm-12 col-md-12 col-lg-12 combo-col clear-both select-type">
      <div class="col-md-12 col-lg-8 pading-16">
        <label>DDO Code </label>

        <mat-form-field class="wid-100">
          <mat-select placeholder="Select" [(ngModel)]="mappingAccountHeadOT1.ddoCode" name="ddoCode" #ddoCode="ngModel" (selectionChange)="GetAccountHeadOT1data($event.value)">
            <mat-option *ngFor="let accountheadsOT1 of getAccountHeadOT1" [value]="accountheadsOT1.ddoCode">
              {{accountheadsOT1.ddoCode+'('+accountheadsOT1.ddoCodeddoName+')'}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4 pading-16">
        <label>Financial Year</label>

        <mat-form-field class="wid-100">
          <mat-select [(ngModel)]="modeselect" placeholder="Select">
            <mat-option value="2018">2018-2019</mat-option>
            <!--<mat-option value="2019">2019-2020</mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </mat-card>

</div>

<div class="col-md-12 col-lg-6">
  <div class="example-card mat-card">
    <div class="fom-title">
      Mapping of Account Head (Other than 1)
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="S.No">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          S.No
        </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;">{{ i+1}} </mat-cell>
      </ng-container>

      <!-- Group Column -->

      <ng-container matColumnDef="AccountHead">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Account Head </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountHead}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ObjectHead">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Object Head </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.objectHead}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="AccountHeadName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Account Head Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountHeadName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle($event) : null" [checked]="selection.hasValue() && isAllSelected() == true" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null;" [checked]="selection.isSelected(row) == true">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->




    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="Submit" id="btn_save" class="btn btn-success" (click)="checkOptions()" [disabled]="!disabled">Save</button>
      <!--<button type="button" class="btn btn-warning" (click)="resetForm()">Reset</button>-->
    </div>
  </div>
</div>



<div class="col-md-12 col-lg-6">
  <div class="example-card mat-card">
    <div class="fom-title">
      Mapped Account Head

    </div>
    <mat-form-field>
      <input matInput (keyup)="MappedapplyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <mat-table #table [dataSource]="MappeddataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="S.No">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;">{{ i+1}} </mat-cell>
      </ng-container>

      <!-- Group Column -->

      <ng-container matColumnDef="AccountHead">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Account Head
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountHead}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ObjectHead">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Object Head
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.objectHead}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Category
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="AccountHeadName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Account Head Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountHeadName}} </mat-cell>

      </ng-container>
      <ng-container matColumnDef="PaybillGroupStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Paybill Group Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paybillGroupStatus}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Mappedselect">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? MappedmasterToggle($event) : null" [checked]="Mappedselection.hasValue() && MappedisAllSelected() == true" [indeterminate]="Mappedselection.hasValue() && !MappedisAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ?  Mappedselection.toggle(row) : null;" [checked]=" Mappedselection.isSelected(row) == true">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="MappeddisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: MappeddisplayedColumns;"></mat-row>

    </mat-table>
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="Submit" id="btn_UnMapped" class="btn btn-success" (click)="UnMappedcheckOptions()" [disabled]="!disabled">Un-Map</button>
      <!--<button type="button" class="btn btn-warning" (click)="resetForm()">Reset</button>-->
    </div>

  </div>
</div>
