<app-commonddl (onchange)="GetcommonMethod($event)"></app-commonddl>
<div class="col-md-6 col-lg-6">

  <form [formGroup]="NameGenderForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <div class="fom-title">
        Sanction Order Details

      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="OrderNo" placeholder="Order No./Authority/Ref.Letter No." [readonly]="editable" autocomplete=off required>
          <mat-error *ngIf="NameGenderForm?.controls.OrderNo?.errors?.required">Order No. Required !</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.OrderNo?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.OrderNo?.errors?.maxlength">Maximum Length required is 100 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.OrderNo?.errors?.pattern">Special characters not allowed</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="OrderDate.open()" [matDatepicker]="OrderDate" [max]="maxDate" formControlName="OrderDate" placeholder="Order Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
          <mat-error>Order Date Required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="Remarks" rows="1" placeholder="Remarks" required></textarea>
          <mat-error *ngIf="NameGenderForm?.controls.Remarks?.errors?.required">Remarks Required !</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.Remarks?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.Remarks?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.Remarks?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-12" *ngIf="NameGenderForm.controls.rejectionRemark.value ">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks"
                    [readonly]="editable"></textarea>

        </mat-form-field>
      </div>


      <div class="fom-title">
        Revised Details
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="FirstName" placeholder="First Name" autocomplete=off required>
          <mat-error *ngIf="NameGenderForm?.controls.FirstName?.errors?.required">First Name Required !</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.FirstName?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.FirstName?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.FirstName?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="MiddleName" placeholder="Middle Name" autocomplete=off required>
          <mat-error *ngIf="NameGenderForm?.controls.MiddleName?.errors?.required">Middle Name Required !</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.MiddleName?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.MiddleName?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.MiddleName?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="LastName" placeholder="Last Name" autocomplete=off required>
          <mat-error *ngIf="NameGenderForm?.controls.LastName?.errors?.required">Last Name Required !</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.LastName?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.LastName?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="NameGenderForm?.controls.LastName?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-12">
        <label>Gender</label><br />

        <mat-radio-group formControlName="Gender" required>
          <mat-radio-button value="M">Male</mat-radio-button>
          <mat-radio-button value="F">Female</mat-radio-button>
        </mat-radio-group>
        <mat-error class="mat-error ng-star-inserted mat-form-field" *ngIf="isSubmitted && NameGenderForm?.controls.Gender?.errors?.required">
          Gender Required !
        </mat-error>
        <!--<mat-error *ngIf="NameGenderForm.controls.Gender.errors">Gender Required!</mat-error>-->
      </div>


      <div class="col-md-12 col-lg-4" style="display:none;">
        <mat-form-field>
          <input matInput formControlName="empCd">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="oldOrderNo">
        </mat-form-field>
      </div>
      <div *ngIf="roleId == 6" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="!empCd ||infoScreen">{{Btntxt}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm()" [disabled]="infoScreen||!btnCancel">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!fwdtochker" (click)="forwardToChecker()">Forward To Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>
      </div>
    </mat-card>
  </form>

</div>




<!--- Table Right--->
<div class="col-md-12 col-lg-6 mb-15">
  <div class="example-card tabel-wraper even-odd-color">
    <div class="fom-title">Current Details</div>
    <mat-card>
      <mat-form-field>
        <input matInput (keyup)="applyFiltercurrent($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>

      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

        <ng-container matColumnDef="Sr.No">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;">
            {{paginator.pageIndex * paginator.pageSize + i + 1}}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EmpCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Emp. Code
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentEmpName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.currentEmpName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentDesignation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Designation

          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.currentDesignation}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="currentGender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Gender
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.currentGender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label *ngIf="element.status == 'E'" >Entry</label>
            <label *ngIf="element.status == 'U'" >Entry Updated</label>
            <label *ngIf="element.status == 'P'" >Sent to Checker</label>
            <label *ngIf="element.status == 'V'" >Verified</label>
            <label *ngIf="element.status == 'R'" >Rejected</label>
            <label *ngIf="element.status == 'N'" >Exists Value</label>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
               class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
              edit
            </a>
            <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
              delete_forever
            </a>
            <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
               class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
              info
            </a>
            <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
              info
            </a>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

      <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0">No records found</div>

    </mat-card>
  </div>
</div>

<div class="col-md-12 col-lg-6">
  <div class="example-card tabel-wraper even-odd-color">
    <div class="fom-title">History Details</div>
    <mat-card>
      <mat-form-field>
        <input matInput (keyup)="applyFilterhistory($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>
      <mat-table #table [dataSource]="dataSource1" matSort class="mat-elevation-z8 even-odd-color">

        <ng-container matColumnDef="Sr.No">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;">{{historyPagination.pageIndex * historyPagination.pageSize + i + 1}} </mat-cell>

        </ng-container>

        <ng-container matColumnDef="EmpCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Emp. Code


          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="revisedEmpName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee Name

          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.revisedEmpName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="revisedDesignation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Designation
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.revisedDesignation}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="revisedGender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Gender
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.revisedGender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label *ngIf="element.status == 'E'" >Entry</label>
            <label *ngIf="element.status == 'U'" >Entry Updated</label>
            <label *ngIf="element.status == 'P'" >Sent to Checker</label>
            <label *ngIf="element.status == 'V'" >Verified</label>
            <label *ngIf="element.status == 'R'" >Rejected</label>
            <label *ngIf="element.status == 'N'" >Exists Value</label>
          </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
      </mat-table>
      <mat-paginator #historyPagination [length]="totalCounthis" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      <div *ngIf="dataSource1.data.length === 0 || dataSource1.filteredData.length === 0">No records found</div>

    </mat-card>
  </div>
</div>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure to Delete the Record?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ApprovePopup">

  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('V')">Yes</button>

      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>

</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject?</h3>
      <mat-form-field class="wid-100">
        <textarea matInput formControlName="rejectionRemark1" rows="2" placeholder="Remarks" required></textarea>

        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.required">Remarks Required !</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.pattern">Special characters not allowed</mat-error>

      </mat-form-field>
      &nbsp;&nbsp;
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" (click)="updateStatus('R')">Yes</button>
        &nbsp;
        <!--<button type="button" class="btn btn-info" (click)="RejectPopup=!RejectPopup">No</button>-->
        <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
      </div>
    </div>
  </form>
</app-dialog>
