<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Select Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select #singleSelect placeholder="Select Designation" [(value)]="selectedvalue"
            (selectionChange)="ddlDesignationChanged($event.value)">
            <mat-option *ngFor="let item of objempDesignation" [value]="item.desigId">{{ item.desigDesc }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Select Employee:</label>
      <!--<button mat-mini-fab color="primary" class="go-btn">Go</button>-->
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Employee" (selectionChange)="ddlEmployeeChanged($event.value)">
            <mat-option *ngFor="let item of objempModel" [value]="item.empCd">
              {{ item.empName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!--------------- Left Form --------------->

<mat-accordion class="col-md-12">
  <mat-expansion-panel #exPanel>

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Regularisation Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form #formCreation="ngForm" novalidate [formGroup]="RegulariseDetailsForm"
      (ngSubmit)="formCreation.valid && SavedRegulariseDetails(formCreation.value)">

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select [(ngModel)]="objempRegulariseDetails.SuspenCat" (selectionChange)="ddlSuspenCat($event.value)"
            formControlName="SuspenCat" placeholder="Select Category" required>
            <mat-option *ngFor="let item of suspenCats" [value]="item.Id">{{item.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select [(ngModel)]="objempRegulariseDetails.SuspenTreated" formControlName="SuspenTreated"
            placeholder="Suspension Period to be treated as" required>
            <mat-option *ngFor="let item of suspenPeriod" [value]="item.Id">{{item.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No" name="OrderNo" formControlName="OrderNo"
            [(ngModel)]="objempRegulariseDetails.OrderNo" required />
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" name="OrderDate" formControlName="OrderDate"
            placeholder="Order Date" [(ngModel)]="objempRegulariseDetails.OrderDate" readonly required />
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks (If any)" name="Remarks" [(ngModel)]="objempRegulariseDetails.Remarks"
            formControlName="Remarks"></textarea>
        </mat-form-field>
      </div>


      <div *ngIf="isRejected" class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Rejected Reason" name="RejectedReason"
            [(ngModel)]="objempRegulariseDetails.RejectedReason" formControlName="RejectedReason"></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="isViewDetails">
        <div *ngIf="this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="button" class="btn btn-success" (click)="VarifiedJoining(regularId,true)"
            [disabled]="RegulariseDetailsForm.invalid">Accept
          </button>
          <!--<button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>-->
          <button class="btn btn-primary" type="button" (click)="RejectedJoining(regularId,true)"
            [disabled]="RegulariseDetailsForm.invalid">
            Reject
          </button>
        </div>

        <div *ngIf="!this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" [disabled]="RegulariseDetailsForm.invalid || disableButton">Save</button>
          <button type="button" class="btn btn-warning">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="ForwardToChecker(formCreation.value)"
            [disabled]="RegulariseDetailsForm.invalid || disableButton">Forward to HOO Checker</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>



<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="note">
      <span>Note</span>
      Please enter Regularisation details when the employee joines duty after Revocation of
      suspension OR Reporting after Unauthorized absence
    </div>
    <div class="fom-title">Regularisation Details</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


    <table mat-table [(dataSource)]="dataRegularHistory" #sortingRH="matSort" matSort
      class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="SuspenCat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Suspen Category</th>
        <td mat-cell *matCellDef="let rowData">
          {{rowData.susCatname}}
        </td>
      </ng-container>

      <ng-container matColumnDef="SuspenTreated">
        <th mat-header-cell *matHeaderCellDef>Suspension period to be treated</th>
        <td mat-cell *matCellDef="let rowData">
          {{rowData.sustreatedName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderNo</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Remarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.remarks}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.flagStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="regularHistoryColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: regularHistoryColumns"></tr>
    </table>
    <mat-paginator #pagingRH [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons>
    </mat-paginator>


    <div class="col-md-12 col-lg-12 text-right view-btn-wraper">
      <button type="submit" class="btn view-detail-btn">View New Captured Regularisation Order Details</button>

    </div>

    <div class="fom-title">New captured Regularisation Details <i class="material-icons close-icon"> clear </i></div>



    <table mat-table [(dataSource)]="dataRegular" #sortingReg="matSort" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="SuspenCat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Suspen Category</th>
        <td mat-cell *matCellDef="let rowData">
          {{rowData.susCatname}}
          <!-- <div *ngFor="let item of suspenCats"><p *ngIf="item.Id===rowData.suspenCat">{{item.Name}}</p></div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="SuspenTreated">
        <th mat-header-cell *matHeaderCellDef>Suspension period to be treated</th>
        <td mat-cell *matCellDef="let rowData">
          <!-- <mat-select placeholder="select employee" [(value)]="rowData.suspenTreated" [disabled]="true">
            <mat-option *ngFor="let item of suspenPeriod" [value]="item.Id">{{item.Name}}</mat-option>
          </mat-select> -->
          {{rowData.sustreatedName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OrderNo</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.orderDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Remarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.remarks}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let rowData"> {{rowData.flagStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- <a href="#">Edit</a> -->
          <!-- <a class="material-icons i-info" matTooltip="Info">error</a> -->
          <div>
            <a class="material-icons i-info" *ngIf="element.status=='Rejected'?false:true"
              (click)="btnEditClick(element,true)" matTooltip="Info">info</a>
            <a class="material-icons i-edit" *ngIf="element.isEditable" matTooltip="Edit"
              (click)="btnEditClick(element,false)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" *ngIf="!isCheckerLogin && element.isEditable"
              (click)="DeleteJoiningDetails(element.empJoiningId,true);">
              delete_forever
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="regularColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: regularColumns"></tr>
    </table>
    <mat-paginator #pagingReg [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,15]" showFirstLastButtons>
    </mat-paginator>

  </div>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteJoiningDetails(regularId,false)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="hooCheckerPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 *ngIf="isVarified" class="card-title text-center">Are you sure, you want to Accept?</h3>
    <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure, you want to Reject?</h3>
    <div *ngIf="!isVarified">
      <mat-card>
        <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
      </mat-card>
      <label *ngIf="isReasonEmpty" class="errormsg">{{successMsg}}</label>
    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" *ngIf="isVarified" (click)="VarifiedJoining(regularId,false)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" *ngIf="!isVarified" (click)="RejectedJoining(regularId,false)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" (click)="hooCheckerPopup = !hooCheckerPopup">No</button>
    </div>
  </div>
</app-dialog>

