<mat-accordion class="col-md-12 mb-20">

  <!--Start Alert message for delet, info-->
  <!--<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">-->
  <div class="alert" [ngClass]="divbgcolor" *ngIf="showElement">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="btnclose();">&times;</span>
    </button>&nbsp;
  </div>
  <!--End Alert message for delet, info-->

  <mat-expansion-panel>


    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Deduction Definition Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--Form for entry-->

    <form name="form" (ngSubmit)="DeductionDefinition.valid && deductionDefinitionSubmit(objDeductionDefinition);" #DeductionDefinition="ngForm" novalidate>
      <mat-card class="example-card" [ngClass]="bgcolor">
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Deduction Code" disabled [(ngModel)]="objDeductionDefinition.payItemsCD" name="deductionCode" required #deductionCode="ngModel" />
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Description" required #category="ngModel" [(ngModel)]="objDeductionDefinition.payItemsCD" (selectionChange)="deductionDescriptionChange($event.value)" name="deductionDescription">
              <mat-option *ngFor="let description of deductionDescriptionList" [value]="description.payItemsCD">
                {{description.payItemsName}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span [hidden]="!deductionDescription.errors?.required">Please select PAO</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Short Name" disabled [(ngModel)]="objDeductionDefinition.payItemsNameShort" name="payItemsNameShort" required />
          </mat-form-field>
        </div>

        <div class="com-sm-12 col-md-6 col-lg-4 combo-col-3">
          <div class="col-md-8 pading-0">
            <label>Whether to be Subtracted from Salary</label>
          </div>
          <div class="col-md-4">
            <mat-radio-group [(ngModel)]="objDeductionDefinition.subtractedFromSalary" name="subtractedFromSalary">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="fom-title mt-20">Account Head Type</div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Grant No" disabled [(ngModel)]="objDeductionDefinition.grantNo" name="GrantNo" required />
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Functional Head" disabled [(ngModel)]="objDeductionDefinition.functionalHead" name="FunctionalHead" required />
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Object Head" disabled [(ngModel)]="objDeductionDefinition.objectHead" name="ObjectHead" required />
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select Category" disabled required #category="ngModel" [(ngModel)]="objDeductionDefinition.categoryID" (selectionChange)="categoryChnage($event.value)" name="category">
              <mat-option *ngFor="let category of categoryListOfDeduction" [value]="category.categoryID">
                {{category.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4 combo-col-3">
          <div class="col-md-8 pading-0">
            <label>Whether Exempted From ITax</label>
          </div>
          <div class="col-md-4">
            <mat-radio-group [(ngModel)]="objDeductionDefinition.exemptedFromITax" name="exemptedFromITax">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="com-sm-12 col-md-6 col-lg-4 combo-col-3">
          <div class="col-md-8 pading-0">
            <label>Auto-Calculated</label>
          </div>
          <div class="col-md-4">
            <mat-radio-group [(ngModel)]="objDeductionDefinition.autoCalculated" name="autoCalculated">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <!--<button type="button" class="btn btn-success" [disabled]="DeductionDefinition.invalid" (click)="deductionDefinitionSubmit(objDeductionDefinition)">Save</button>-->
          <button type="button" class="btn btn-success" [disabled]="DeductionDefinition.invalid" (click)="deductionDefinitionSubmit(objDeductionDefinition)" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
          <button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>
        </div>
      </mat-card>

    </form>
    <!--Form for entry end-->

  </mat-expansion-panel>
</mat-accordion>

<!--right table-->
<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Edit Deduction Definition Details
      </mat-panel-title>
    </mat-expansion-panel-header>


    <mat-form-field>
      <!--<input matInput placeholder="Search">-->
      <!--<input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchfield" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" placeholder="Search" maxlength="50">-->
      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" placeholder="Search" maxlength="50">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color ">

        <ng-container matColumnDef="payItemsCD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Deduction Code </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsCD}} </td>
        </ng-container>

        <ng-container matColumnDef="payItemsName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Items Name </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsName}} </td>
        </ng-container>

        <!-- Short Name Column -->
        <ng-container matColumnDef="payItemsNameShort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Name</th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsNameShort}} </td>
        </ng-container>

        <!-- If Exempted Under Section Column -->
        <ng-container matColumnDef="grantNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Grant No </th>
          <td mat-cell *matCellDef="let element"> {{element.grantNo}} </td>
        </ng-container>


        <!-- Account Head Type Column -->
        <ng-container matColumnDef="functionalHead">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Functional Head </th>
          <td mat-cell *matCellDef="let element"> {{element.functionalHead}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="objectHead">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Object Head </th>
          <td mat-cell *matCellDef="let element"> {{element.objectHead}} </td>
        </ng-container>

        <ng-container matColumnDef="subtractedFromSalary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>subtractedFromSalary </th>
          <td mat-cell *matCellDef="let element" hidden>  {{element.subtractedFromSalary}} </td>
        </ng-container>

        <ng-container matColumnDef="exemptedFromITax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>exemptedFromITax </th>
          <td mat-cell *matCellDef="let element" hidden>  {{element.exemptedFromITax}} </td>
        </ng-container>

        <ng-container matColumnDef="autoCalculated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>autoCalculated </th>
          <td mat-cell *matCellDef="let element" hidden>  {{element.autoCalculated}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="getDeductionDefinitionById(element,0)">edit</a>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div [hidden]="isTableHasData">
        No  Records Found
      </div>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>

  </mat-expansion-panel>
</mat-accordion>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteDeductionDefinitionById();">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup1 = !deletepopup1">Cancel</button>
    </div>

  </div>
</app-dialog>
