<div class="main-content">
  <div class="container-fluid">
    <!--<form #PAODetail="ngForm" class="rowdasa" novalidate>-->
    <div class="col-md-12 col-lg-12">
      <form #PAODetail="ngForm" class="rowdasa" novalidate>
        <div class="example-card mat-card margin-bottom-9">
          <div class="col-sm-4 col-md-4">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Please select PAO" required #pao="ngModel" [(ngModel)]="PAOID" name="pao" (selectionChange)="onpaoSelectchanged($event.value)">
                <mat-option *ngFor="let pao of paosList" [value]="pao.values">
                  {{pao.text}}
                </mat-option>
              </mat-select>
              <mat-error>
                <span [hidden]="!pao.errors?.required">Please select PAO</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <div *ngIf="btnFlageView">
              <button type="button" class="btn btn-success" (click)='View()'>View Assigned PAO</button>
            </div>
            <div *ngIf="btnFlage">
              <button type="submit" class="btn btn-warning" (click)='PAODetail.onSubmit();PAODetail.valid && View()'>Select Employee</button>
            </div>
          </div>
        </div>
      </form>
      <!--=======================DDO drop down =======================-->
      <form #DDODetail="ngForm" class="rowdasa" novalidate>
        <div class="example-card mat-card margin-bottom-9" *ngIf="DDLHideShow">
          <div class="col-sm-4 col-md-4">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Please select DDO" required #ddo="ngModel" [(ngModel)]="DDOID" name="ddo" (selectionChange)="DDOSelectChange($event.value)">
                <mat-option *ngFor="let ddo of ddlDDOList" [value]="ddo.values">
                  {{ddo.text}}
                </mat-option>
              </mat-select>
              <mat-error>
                <span [hidden]="!ddo.errors?.required">Please select DDO</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-mini-fab color="primary" type="submit" class="go-btn" (click)='DDODetail.onSubmit();DDODetail.valid && Go()'>Go</button>
          </div>
        </div>
      </form>
      <!--=======================Assign Employee List=======================-->
      <form #empDetail="ngForm" class="rowdasa" novalidate>
        <div *ngIf="IsFlagUnAssigned">
          <div *ngIf="AssignedEmp.length != 0" class="example-card mat-card margin-bottom-9">
            <div class="fom-title">Assigned PAO</div>
            <table mat-table [dataSource]="AssignedEmp" matSort class="mat-elevation-z8 even-odd-color">
              <ng-container matColumnDef="EmpCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
                <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
              </ng-container>
              <ng-container matColumnDef="DDOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
              </ng-container>
              <ng-container matColumnDef="EmpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
                <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
              </ng-container>
              <ng-container matColumnDef="CommonDesigDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>
              <ng-container matColumnDef="ActiveDeactive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Unassign</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="checkStatus =='Yes'; else NotAssign">
                    <div *ngIf="element.activeStatus =='PAO'; else Assign">
                      <a class="material-icons i-dactivate" matTooltip="Delete" (click)="fillPopup(element.empCd,element.empName,element.activeStatus);deactivatePopup = !deactivatePopup"> cancel </a>
                    </div>
                  </div>
                  <ng-template #NotAssign>
                    <button type="button" class="btn btn-success btn-xs" (click)="fillPopup(element.empCd,element.empName,element.activeStatus);ActivatePopup = !ActivatePopup">
                      <i class="material-icons">edit</i>
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </form>
    </div>
    
    <!--=======================unassign Employee List=======================-->
    <form class="rowdasa">
      <div *ngIf="IsFlagAssign">
        <div class="col-md-12 col-lg-12">
          <div class="example-card mat-card">
            <div class="fom-title">Employee List</div>
            <mat-form-field>
              <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
              <i class="material-icons icon-right">search</i>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
              <ng-container matColumnDef="EmpCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
                <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
              </ng-container>
              <ng-container matColumnDef="DDOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
              </ng-container>
              <ng-container matColumnDef="EmpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
                <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
              </ng-container>
              <ng-container matColumnDef="CommonDesigDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>
              <ng-container matColumnDef="ActiveDeactive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="checkStatus =='Yes'; else NotAssign">
                    <div *ngIf="element.activeStatus =='PAO'; else Assign">
                      <a class="material-icons i-edit" matTooltip="Edit" (click)="fillPopup(element.empCd,element.empName,element.empDOB,element.activeStatus);deactivatePopup = !deactivatePopup">edit</a>
                    </div>
                  </div>
                  <ng-template #NotAssign>
                    <a class="material-icons i-activate" matTooltip="Edit" (click)="fillPopup(element.empCd,element.empName,element.empDOB,element.activeStatus);ActivatePopup = !ActivatePopup">check_circle_outline</a>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div [hidden]="MessageDataFound">
              <font color="red">No employee exist</font>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-dialog [(visible)]="deactivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to unassign?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="Assigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="ActivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to assign?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="Assigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>
