
<div class="col-md-12 col-lg-12" style="text-align:center">
  <label>Select Extension Of Service Employee  </label>
  <mat-form-field style="width:500px;text-align:center">
    <mat-select placeholder="Select" (selectionChange)="GetcommonMethod($event.value)" required>
      <mat-option [value]="">Select</mat-option>
      <mat-option *ngFor="let ot of list" [value]="ot.value1">
        {{ot.text1}}
      </mat-option>
    </mat-select>
    <mat-error>
      Extension Of Service Employee Required !
    </mat-error>
  </mat-form-field>

</div>



<div class="col-md-6 col-lg-6">

  <form [formGroup]="extensionOfServiceForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <div class="fom-title">Extension Of Service Order</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="OrderNo" placeholder="Order No." autocomplete=off [readonly]="editable" required>
          <mat-error *ngIf="extensionOfServiceForm?.controls.OrderNo?.errors?.required">Order No. Required !</mat-error>
          <mat-error *ngIf="extensionOfServiceForm?.controls.OrderNo?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="extensionOfServiceForm?.controls.OrderNo?.errors?.maxlength">Maximum Length required is 100 characters.</mat-error>
         
          <mat-error *ngIf="extensionOfServiceForm?.controls.OrderNo?.errors?.pattern">Special characters not allowed</mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="OrderDate.open()" [matDatepicker]="OrderDate" [max]="maxDate" formControlName="OrderDate"
                 [min]="extensionOfServiceForm.controls.JoiningDate.value"
                 placeholder="Order Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
          <mat-error>Order Date Required!</mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="FromDate.open()" [matDatepicker]="FromDate" [max]="maxDate" formControlName="FromDate"
                 [min]="extensionOfServiceForm.controls.JoiningDate.value"
                 (dateChange)="changeEvent($event)"
                 placeholder="From Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker #FromDate></mat-datepicker>
          <mat-error>From Date Required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="ToDate.open()" [matDatepicker]="ToDate" [min]="extensionOfServiceForm.controls.FromDate.value" formControlName="ToDate" placeholder="To Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
          <mat-datepicker #ToDate></mat-datepicker>
          <mat-error>To Date Required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="JoiningDate"
                 formControlName="JoiningDate" placeholder="Date of Joining" [readonly]="JDreadonly" disabled>

          <!--<input matInput (click)="JoiningDate.open()" [matDatepicker]="JoiningDate"
                 formControlName="JoiningDate" placeholder="Date of Joining" [readonly]="JDreadonly" required disabled>
          <mat-datepicker-toggle matSuffix [for]="JoiningDate"></mat-datepicker-toggle>
          <mat-datepicker #JoiningDate></mat-datepicker>-->
          <mat-error>Date of Joining Required!</mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="Remarks" rows="1" placeholder="Remarks" required></textarea>
          <mat-error *ngIf="extensionOfServiceForm?.controls.Remarks?.errors?.required">Remarks Required !</mat-error>
          <mat-error *ngIf="extensionOfServiceForm?.controls.Remarks?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="extensionOfServiceForm?.controls.Remarks?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="extensionOfServiceForm?.controls.Remarks?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-12" *ngIf="extensionOfServiceForm.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks" [readonly]="editable"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4" style="display:none;">
        <mat-form-field>
          <input matInput formControlName="empCd">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="oldOrderNo">
        </mat-form-field>
      </div>

      <div *ngIf="roleId == 6" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="!empCd ||infoScreen">{{Btntxt}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm()" [disabled]="infoScreen||!btnCancel">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!fwdtochker" (click)="forwardToChecker()">Forward To Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>
      </div>
    </mat-card>
  </form>

</div>
<div class="col-md-6 col-lg-6">
  <mat-card>
    <div class="fom-title"> Extension Of Service Order Details</div>

    <mat-form-field>
      <input matInput (keyup)="applyFiltercurrent($event.target.value)" (keypress)="allowAlphaNumericSpace($event)" [disabled]="!empCd"  placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="S.No">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index;">{{paginator.pageIndex * paginator.pageSize + i + 1}} </mat-cell>
      </ng-container>

      <!-- Group Column -->
      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="EmpCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Emp. Code
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="EmployeeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Employee Name

        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="OrderNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Order No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderNo}} </mat-cell>
      </ng-container>

      <!-- Date Of Joining Column -->
      <ng-container matColumnDef="OrderDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Order Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderDate|date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="FromDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          From Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fromDate|date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ToDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          To Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.toDate|date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <label *ngIf="element.status == 'E'">Entry</label>
          <label *ngIf="element.status == 'U'">Entry Updated</label>
          <label *ngIf="element.status == 'P'">Sent to Checker</label>
          <label *ngIf="element.status == 'V'">Verified</label>
          <label *ngIf="element.status == 'R'">Rejected</label>
          <label *ngIf="element.status == 'N'">Exists Value</label>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
             class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
            edit
          </a>
          <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
            delete_forever
          </a>
          <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
             class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
            info
          </a>
          <a *ngIf="(element.status == 'P' || element.status == 'V' || element.status == 'R' ) &&  roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
            info
          </a>

        </mat-cell>

      </ng-container>

      <!--<ng-container class="hiddenField">
        <mat-cell *matCellDef="let element" class="hiddenField"> {{element.remarks}} </mat-cell>

        <mat-cell *matCellDef="let element" class="hiddenField"> {{element.joiningDate}} </mat-cell>
      </ng-container>-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0">No records found</div>
  </mat-card>
</div>

<!--popup-->


<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure to Delete the Record?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject?</h3>
      <mat-form-field class="wid-100">
        <textarea matInput formControlName="rejectionRemark1" rows="2" placeholder="Remarks" required></textarea>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.required">Order No. Required !</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.pattern">Special characters not allowed</mat-error>
       
      </mat-form-field>
      &nbsp;&nbsp;
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" (click)="updateStatus('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
      </div>
    </div>
  </form>
</app-dialog>
