<!--Start Alert message for delet, info-->
<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>

</div>
<!--End Alert message for delet, info-->
<!--End Alert message for delet, info-->
<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isCityMasterPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        City Class Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Pay Commission"
                      formControlName="cclPaycommId" required (selectionChange)="onSelectionChanged($event)">
            <mat-option *ngFor="let py of PayCommissions" [value]="py.payCommission">
              {{py.payCommDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="City Class" maxlength="2" (keyup)="checkAllreadyexist($event.target)" (keydown.space)="$event.preventDefault();" (keypress)="omit_special_char($event)" autocomplete="off" formControlName="cclCityclass">
          <mat-error><span *ngIf="form?.controls.cclCityclass?.errors?.required">Please City Class Name </span></mat-error>
          <mat-error><span *ngIf="form?.controls.cclCityclass?.errors?.pattern">Numaric Value is Not Allowed</span> </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="savebuttonstatus">{{btnUpdateText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<!--right table-->
<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title">City Class Master History Details</div>
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>
          <td mat-cell *matCellDef="let element; let i = index;">{{ i+1 }} </td>
        </ng-container>
        <ng-container matColumnDef="payCommDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Commission </th>
          <td mat-cell *matCellDef="let element"> {{element.payCommDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="cclCityclass">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  City Class </th>
          <td mat-cell *matCellDef="let element"> {{element.cclCityclass}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a type="button" class="material-icons i-edit" matTooltip="Edit" (click)="editButtonClick(element)"> edit </a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.msCityclassID);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        -->
      </table>
    </div>
    <div [hidden]="isTableHasData">
      <h3> <span> No Data Found</span></h3>
    </div>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteDuesDefinationByDuesCode(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>
<!--{{form.value | json}}-->
