.float-r {
  float: right !important;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

.margin-bottom-9 {
  margin-bottom: 9px
}
.EmptyMessage {
  color: red;
}
