<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Pay bill Group Creation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="billGroupCreationForm" #creationForm="ngForm" ngNativeValidate (ngSubmit)="saveBillGroup(billGroupCreation)">

      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Account Head *" [(ngModel)]="billGroupCreation.accountHead" name="accountHead" formControlName="accountHead">
            <!--<mat-option value="option">GPF</mat-option>
            <mat-option value="option">GPF</mat-option>-->
            <mat-option *ngFor="let accountheads of getAccountHead" [value]="accountheads.msPSchemeID">{{accountheads.schemeCode}}</mat-option>

          </mat-select>
          <mat-error>required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Service Type *" [(ngModel)]="billGroupCreation.serviceType" name="serviceType" formControlName="serviceType" [disabled]="disableFlag">
            <mat-option *ngFor="let serviceTypes of serviceType" [value]="serviceTypes.serviceTypeId">{{serviceTypes.serviceText}}</mat-option>

          </mat-select>
          <mat-error>required</mat-error>
        </mat-form-field>
      </div>
      <!--</div>-->
      <!--<div class="row">-->
      <div class="col-md-12 col-lg-4 mat-form-field-wrapper combo-col-2">
        <!-- <button md-raised-button color="primary" (click)="fileInput.click()">Upload</button> -->

        <div class="col-md-4 col-lg-2 pading-0"><label>Group *</label></div>
        <div class="col-md-8 col-lg-10 pading-0">

          <mat-selection-list class="checkbox mar-pad-0" [(ngModel)]="billGroupCreation.group" name="group" formControlName="group">
            <mat-list-option *ngFor="let grops of group " [value]="grops.id" (click)="groupSelection(billGroupCreation);" class="brd0">
              {{grops.name}}
            </mat-list-option>
          </mat-selection-list>

          <!--<mat-error *ngIf="billGroupCreationForm.controls.group.errors && billGroupCreationForm.controls.group.errors.required">
            required
          </mat-error>-->
          <!--Options selected: {{grops.selectedOptions.selected.length}}-->


        </div>

        <!--<span class="help-block" *ngIf="group.invalid && group.touched">Phone number is required</span>-->
      </div>
      <span class="ml-10">
        <span *ngIf="checkBoxValidation" class="txtred">required</span>
      </span>
      <!--</div>-->
      <!--<div class="row">-->
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <!--<textarea matInput placeholder="Name" required></textarea>-->
          <input matInput placeholder="Pay Bill Group Name *" name="billGroupName" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="billGroupCreation.billGroupName" formControlName="billGroupName" pattern="[-(),./a-zA-Z \\]*">
          <!--<textarea matInput placeholder="First Name" required>-->
          <mat-error *ngIf="billGroupCreationForm.controls.billGroupName.errors && billGroupCreationForm.controls.billGroupName.errors.required">
            required
          </mat-error>
          <mat-error *ngIf="billGroupCreationForm.controls.billGroupName.errors && billGroupCreationForm.controls.billGroupName.errors.pattern">
            Invalid Text
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-6 col-lg-4 display-non">
        <mat-form-field class="wid-100">
          <!--<textarea matInput placeholder="Name" required></textarea>-->
          <input matInput name="payBillGroupId" [(ngModel)]="billGroupCreation.payBillGroupId" formControlName="payBillGroupId" [disabled]="disableFlag">
          <!--<textarea matInput placeholder="First Name" required>-->

        </mat-form-field>
      </div>
      <!--</div>-->
      <!--<div class="row">-->
      <div class="col-md-6 col-lg-4 mat-form-field-wrapper combo-col-2">
        <!-- <button md-raised-button color="primary" (click)="fileInput.click()">Upload</button> -->

        <div class="col-md-6 col-lg-4 pading-0"><label>Bill for GAR 15</label></div>
        <div class="col-md-6 col-lg-8 pading-0">

          <mat-radio-group [(ngModel)]="billGroupCreation.billForGAR" name="billForGAR" formControlName="billForGAR" [disabled]="disableFlag">
            <mat-radio-button value="true" class="ml-10">Yes</mat-radio-button>
            <mat-radio-button value="false" class="ml-10">No</mat-radio-button>
          </mat-radio-group>

          <!--<label class="radio-inline">
            <input type="radio" value="yes" required #billForGAR="ngModel" name="billForGAR" [(ngModel)]="billGroupCreation.billForGAR">
            Yes
          </label>
          <label class="radio-inline">
            <input type="radio" value="no" required #billForGAR="ngModel" name="billForGAR" [(ngModel)]="billGroupCreation.billForGAR">
            No
          </label>-->
          <!--<mat-checkbox value="always" class="ml-10">B</mat-checkbox>
          <mat-checkbox value="auto" class="ml-10">BN-Gz</mat-checkbox>
          <mat-checkbox value="always" class="ml-10">C</mat-checkbox>
          <mat-checkbox value="always" class="ml-10">D</mat-checkbox>-->
          <!--</div>-->

        </div>
      </div>
      <!--<div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Type"  (selectionChange)="getEmployeeTypeId($event.value)">
              <mat-option ></mat-option>
            </mat-select>
        </mat-form-field>
      </div>-->

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="Submit" id="btn_save" class="btn btn-success">{{_btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Cancel</button>
      </div>

    </form>


  </mat-expansion-panel>
</mat-accordion>





<!--Angular Generated Form Model : {{billGroupCreationForm.value | json}}-->
<!--Our Employee Model : {{ billGroupCreationForm | json }}-->
<!--<div class="col-md-12 col-lg-8">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <ng-container matColumnDef="doj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Joining </th>
        <td mat-cell *matCellDef="let element">  </td>
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="Info">error</a>
          <a class="material-icons i-edit" matTooltip="Edit">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>-->
<!--right table-->


<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title">Edit Details</div>
    <mat-form-field>
      <input matInput (keypress)="charaterOnlyNoSpace($event)" (keyup)="applyFilter($event.target.value)" placeholder="Search" pattern="^[A-Za-z]\w*$">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

        <!-- commonDesigSrNo Column -->
        <!--<ng-container matColumnDef="commonDesigSrNo">
          <th mat-header-cell *matHeaderCellDef> Designation Code </th>
          <td mat-cell *matCellDef="let element">
            {{element.commonDesigSrNo}}

          </td>
        </ng-container>-->
        <!-- Designation Column -->
        <ng-container matColumnDef="S.No">
          <th mat-header-cell *matHeaderCellDef> S.No </th>
          f=
          <td mat-cell *matCellDef="let element ; let i = index;">{{ i+1}} </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="billgrDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay bill GroupId & Name </th>
          <td mat-cell *matCellDef="let element"> {{element.billgrDesc}}-{{ element.billgrId }} </td>
        </ng-container>

        <ng-container matColumnDef="schemeCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Head </th>
          <td mat-cell *matCellDef="let element"> {{element.schemeCode}} </td>
        </ng-container>

        <!-- Superannuation Column -->
        <ng-container matColumnDef="serviceType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</th>
          <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
        </ng-container>

        <ng-container matColumnDef="groups">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Groups</th>
          <td mat-cell *matCellDef="let element"> {{element.groups}} </td>
        </ng-container>

        <ng-container matColumnDef="Scheme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme</th>
          <td mat-cell *matCellDef="let element"> {{element.schemeId}} </td>
        </ng-container>


        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <!-- <a href="#">Edit</a> -->
            <!--<a class="material-icons i-info" matTooltip="Info">error</a>-->
            <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.schemeId ,element.serviceTypeId,element.groups,element.billgrDesc, element.billForGAR, element.payBillGroupId)">edit</a>
            <!--<a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.commonDesigDesc,element.commonDesigGroupCD,element.commonDesigSrNo,element.commonDesigSuperannAge)">edit</a>-->
            <!--<a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowHighlight(row)"
            [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightgreen' : ''"></tr>

      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0">No records found</div>
  </div>
</div>

<!--right table End-->
