.ml-10 {
  margin-left: 15px !important;
}
.mar-pad-0 {  margin: 0;  padding: 0;}
.checkbox > .mat-list-option { height: auto !important;}



/*12-03-19*/
table[_ngcontent-c10] {
  width: 100%;
}
.mat-elevation-z8[_ngcontent-c10] {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

