.select-drop-head[_ngcontent-c10] {
  margin: 0 30px;
}
.pay-fixation-margin {
  margin-top: 22px;
  margin-bottom: 22px;
}
.record-not-found {
  text-align: center;
  display: inline-block
}
.header-button-style {
  display: none
}
