<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->

<mat-accordion class="col-md-12 mb-20">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">

      </mat-panel-title>

    </mat-expansion-panel-header>

    <ng-template matStepLabel>Pay Bill Group Attach</ng-template>


    <div class="col-md-12 combo-col clear-both select-type ">
      <div class="col-md-6 col-lg-3 pading-16">
        <label>Financial Year</label>
      </div>
      <div class="col-md-6 col-lg-3">

        <mat-form-field class="wid-100">
          <mat-label>Select Financial Year</mat-label>
          <mat-select [(value)]="selected">

            <mat-option value="option1">2018-2019</mat-option>
            <mat-option value="option2">2019-2020</mat-option>

          </mat-select>
        </mat-form-field>


      </div>


    </div>



    <div class="col-md-6 col-lg-3">
      <mat-form-field class="wid-100">
        <input matInput (click)="DOB.open()" [matDatepicker]="DOB" placeholder="Select pay month"
               [(ngModel)]="billAttach.empDOB" name="empDOB" readonly>
        <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
        <mat-datepicker #DOB></mat-datepicker>
      </mat-form-field>
    </div>





    <div class="col-md-6 col-lg-3">
      <mat-form-field class="wid-100">


        <mat-select placeholder="Pay Bill Group" name="billgroupId" #billgroupId="ngModel"
                    [(ngModel)]="billAttach.billgroupId" (selectionChange)="GetPayBillGroupId($event.value)">
          <mat-option *ngFor="let Bill of getPayBillGroup" [value]="Bill.billgrId">
            {{Bill.billgrId +'('+Bill.billgrDesc+')'}}


          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="col-md-6 col-lg-6 combo-col-2">

      <div class="col-md-6 col-lg-3 pading-0">
        <label>Generate GAR inner By</label>
      </div>
      <div class="col-md-6 col-lg-9">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="auto" checked>Alphabetically</mat-radio-button>
          <mat-radio-button value="Paylevelwise" class="gender-mr">Pay level wise</mat-radio-button>
          <mat-radio-button value="Designationwise">Designation wise</mat-radio-button>
        </mat-radio-group>

      </div>
    </div>




    <div class="col-md-6 col-lg-3">
      <mat-form-field class="wid-100">
        <mat-label>Bill Type</mat-label>
        <mat-select [(value)]="selected1">

          <mat-option value="option1">Bill Type 1</mat-option>
          <mat-option value="option2">Bill Type 2</mat-option>
          <mat-option value="option2">Test</mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" (click)="saveMethod('name')" class="btn btn-success">Process</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>












<div class="col-md-12 col-lg-12">

  <div class="example-card mat-card tabel-wraper">

    <div class="fom-title">Employees of selected  Bill Group</div>


    <table mat-table [dataSource]="dataSourceDeAttach" matSort class="mat-elevation-z8 even-odd-color">



      <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
      </ng-container>


      <ng-container matColumnDef="desigFieldDeptCD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DepttEmpCode </th>
        <td mat-cell *matCellDef="let element"> {{element.desigFieldDeptCD}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox (change)="$event ? masterToggleForDeAttach() : null" [checked]="selectionDeAttach.hasValue() && isAllSelectedForDeAttach()"
                        [indeterminate]="selectionDeAttach.hasValue() && !isAllSelectedForDeAttach()"></mat-checkbox>
        </th>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDeAttach.toggle(row) : null"
                        [checked]="selectionDeAttach.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="isTableHasData">
      No Data Found
    </div>




  </div>

  <div class="col-lg-12 text-center attach-dattach-wraper">
    <button mat-raised-button class="attach-btn" (click)="DeAttachSelectedRows()">
      Select
    </button>


    <button mat-raised-button class="dattach-btn" (click)="AttachSelectedRows()">

      UnSelect
    </button>


  </div>



  <div class="example-card mat-card tabel-wraper">

    <div class="fom-title">Attached Employees Whoose Bill To be processed</div>



    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
      </ng-container>


      <ng-container matColumnDef="desigFieldDeptCD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DepttEmpCode </th>
        <td mat-cell *matCellDef="let element"> {{element.desigFieldDeptCD}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                        [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
        </th>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null"
                        [checked]="selectionAttach.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
    <div [hidden]="isTableHasData">
      No Data Found
    </div>


  </div>
</div>
