<!---Atul Walia 14/Jun/19--->
<!--Start Alert message for delet, info-->
  <div class="col-md-12">

    <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong> {{responseMessage}} </strong>
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong> {{responseMessage}} </strong>
    </div>

  </div>



<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isDuesRateMasterPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Dues Rate Details
      </mat-panel-title>

    </mat-expansion-panel-header>


    <form (ngSubmit)="onSubmit()" [formGroup]="form">



      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Organization Type" formControlName="OrganizationType" required (selectionChange)="onSelectionChanged($event)">

            <mat-option *ngFor="let ot of OrgnizationType" [value]="ot.organizationType">
              {{ot.description}}
            </mat-option>
          </mat-select>
          <mat-error>
            Organization Type is required
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Pay Commission"
                      formControlName="PayCommission" required (selectionChange)="getSlabType($event.value)">
            <mat-option *ngFor="let py of PayCommissions" [value]="py.payCommission">
              {{py.payCommDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            Pay Commission Type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Dues/Desc" name="DuesCodeDuesDefination" formControlName="DuesCodeDuesDefination" required>
            <mat-option *ngFor="let DD of DuesCodeDuesDefination" [value]="DD.duesCodeDuesDefination">
              {{DD.payItemsName}}
            </mat-option>
          </mat-select>
          <mat-error>
            DuesCode-DuesDefination Type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="City Class" name="CityClass" formControlName="CityClass"
                      required>
            <mat-option *ngFor="let cc of CityClassModel" [value]="cc.msCityclassID">
              {{cc.payCityClass}}
            </mat-option>
          </mat-select>
          <mat-error>
            City Class is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker" required placeholder="With Effect From" formControlName="WithEffectFrom" [value]="currentDate" readonly>

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Please Enter With Effect From!</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker2" placeholder="With Effect To" formControlName="WithEffectTo" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>

            <mat-error *ngIf="form.get('WithEffectTo').errors?.validateDateUL">

              WET Date can't be before WEF Date

            </mat-error>

          </mat-form-field>

        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="State" name="state" formControlName="state"
                      required>
            <mat-option *ngFor="let st of StateMode" [value]="st.state">
              {{st.stateName}}
            </mat-option>
          </mat-select>
          <mat-error>
            State is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Slab Type:" name="SlabType" formControlName="SlabType"
                      required>
            <mat-option *ngFor="let st of SlabType" [value]="st.slabType">{{st.msSlabTypeDes}}</mat-option>
          </mat-select>
          <mat-error>
            Slab Type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Value:" name="Value" formControlName="Value" (selectionChange)="PercentValueChange($event.value)" required>

            <mat-option value="Y">In Percent</mat-option>
            <mat-option value="N">Fixed</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('Value').errors?.required">
            Value is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Vide Letter No" required name="Vide Letter No" maxlength="15" autocomplete="off" (keydown.space)="$event.preventDefault();"
                 (keypress)="omit_special_char($event)" formControlName="VideLetterNo">
          <mat-error>Please Enter Vide Letter No!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker3" required placeholder="Vide Letter Date" formControlName="VideLetterDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error>Please enter Vide Letter Date!</mat-error>
        </mat-form-field>

      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 combo-col-2">
        <div class="col-sm-6 col-md-6 col-lg-4 pading-0">
          <div class="wid-100">
            <label class="label-font">Activated</label>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-8">
          <div class="wid-100">
            <mat-radio-group name="Activated" formControlName="Activated" required>
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
              <!--<mat-error><span ></span></mat-error>-->
            </mat-radio-group>
          </div>
        </div>

      </div>



      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="fom-title">Rate Details</div>

        <table matSort class="mat-elevation-z8 even-odd-color tabel-form w-100" border="1">
          <tr class="table-head">

            <th>Slab No.*</th>
            <th>Lower Limit *</th>
            <th>Upper Limit *</th>
            <th>Value *</th>
            <th>Min Amount *</th>
            <th>Action</th>
          </tr>
          <tbody formArrayName="RateDetails" *ngFor="let rateDetails  of getControls(); let i = index">
            <tr [formGroupName]="i">

              <td>


                <input matInput maxlength="2" id="{{'SlabNo'+i}}" required formControlName="slabNo" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" autocomplete="off">
                <!--<mat-error *ngIf="form.controls.RateDetails.controls[i].controls.slabNo.touched && form.controls.RateDetails.controls[i].controls.slabNo.errors.required">Please enter slabNo!</mat-error>-->
                <mat-error *ngIf="getGroupControl(i, 'slabNo').touched && getGroupControl(i, 'slabNo').invalid">Please Enter Slab No</mat-error>
                <!--<mat-error *ngIf="form.controls.RateDetails.controls[i].controls.slabNo.errors.required && form.controls.RateDetails.controls[i].controls.slabNo.touched">Please select SlabType</mat-error>-->
              </td>
              <td>
                <input matInput maxlength="6" id="{{'LowerLimit'+i}}" formControlName="lowerLimit" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" autocomplete="off">
                <mat-error *ngIf="getGroupControl(i, 'lowerLimit').touched && getGroupControl(i, 'lowerLimit').invalid">Please Enter Lower limit</mat-error>

              </td>
              <td>
                <input matInput maxlength="6" id="{{'UpperLimit'+i}}" required formControlName="upperLimit" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" autocomplete="off">

                <mat-error *ngIf="getGroupControl(i, 'upperLimit').touched && getGroupControl(i, 'upperLimit').errors?.required">Please Enter Upper Limit</mat-error>
                <mat-error *ngIf="form.controls.RateDetails.controls[i].controls.upperLimit.errors?.validateUL">
                  Value of Upper Limit should be Greter than Lower Limit
                </mat-error>




                <br>

              </td>
              <td>
                <input matInput maxlength="{{maxLength}}" required pattern="{{percentValuePattern}}" id="{{'ValueDuesRate'+i}}" formControlName="valueDuesRate" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" autocomplete="off">
                <mat-error *ngIf="getGroupControl(i, 'valueDuesRate').touched && getGroupControl(i, 'valueDuesRate').invalid">Please Enter Value</mat-error>
                <mat-error *ngIf="form.controls.RateDetails.controls[i].controls.valueDuesRate.errors?.pattern">
                  Only 3 digits are allowed
                </mat-error>

              </td>
              <td>
                <input matInput maxlength="6" id="{{'MinAmount'+i}}" required formControlName="minAmount" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" autocomplete="off">
                <mat-error *ngIf="getGroupControl(i, 'minAmount').touched && getGroupControl(i, 'minAmount').invalid">Please Enter Min Amount</mat-error>

              </td>

              <td class="action-single-btn">
                <span *ngIf="form.get('RateDetails').length>1">
                  <a class="material-icons i-delet" matTooltip="Delete" (click)="removeRateDetailsButtonClick(i)"> delete_forever </a>
                </span>
              </td>

            </tr>
          </tbody>


        </table>

        <div class="col-md-12 col-lg-12 text-right add-del-btn">
          <a class="btn btn-success add-leave-btn add-due " (click)="AddRowOnClick()" matTooltip="Add"><i class="material-icons">playlist_add</i></a>
          <!--<a class="btn btn-danger delete-leave-btn" matTooltip="Delete"><i class="material-icons">delete_forever</i></a>-->
        </div>
        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus" [disabled]="isDisable">{{btnUpdateText}} </button>
          <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>


        </div>
      </div>

    </form>


  </mat-expansion-panel>
</mat-accordion>



<!--right table-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Dues Rate History Details
      </mat-panel-title>
    </mat-expansion-panel-header>



    <!--<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form value
          </mat-panel-title>
        </mat-expansion-panel-header>
        <code>
          {{form.value | json}}
        </code>
      </mat-expansion-panel>
    </mat-accordion>-->

    <mat-form-field>
      <input matInput placeholder="Search" formControlName="filter" maxlength="20" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" (keyup)="applyFilter($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <!-- Name Column -->
        <ng-container matColumnDef="srNo">

          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>

          <td mat-cell *matCellDef="let element; let i = index;">{{ i+1 }} </td>
        </ng-container>

        <!-- Date Of Birth Column -->
        <ng-container matColumnDef="payRatesPayItemCD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DuesCode </th>
          <td mat-cell *matCellDef="let element"> {{element.payRatesPayItemCD}} </td>
        </ng-container>

        <ng-container matColumnDef="payItemsName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.payItemsName}} </td>
        </ng-container>

        <!-- Date Of Joining Column -->
        <!--<ng-container matColumnDef="payCityClass">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  City Class </th>
          <td mat-cell *matCellDef="let element"> {{element.payCityClass}} </td>
        </ng-container>-->

        <ng-container matColumnDef="withEffectFrom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  With Effect From </th>
          <td mat-cell *matCellDef="let element"> {{element.withEffectFrom |date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <br />

        <ng-container matColumnDef="withEffectTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  With Effect To </th>
          <td mat-cell *matCellDef="let element"> {{element.withEffectTo |date:'yyyy-MM-dd'}} </td>
        </ng-container>





        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <ng-container matColumnDef="msSlabTypeDes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  SlabType </th>
          <td mat-cell *matCellDef="let element"> {{element.msSlabTypeDes}} </td>
        </ng-container>

        <ng-container matColumnDef="slabType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  SlabType </th>
          <td mat-cell *matCellDef="let element"> {{element.slabType}} </td>
        </ng-container>


        <ng-container matColumnDef="activated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Activated </th>
          <td mat-cell *matCellDef="let element"> {{element.activated}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">

            <a type="button" class="material-icons i-edit" matTooltip="Edit" (click)="editButtonClick(element)"> edit </a>

            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.msPayRatesID);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>
        <tr *ngIf="dataSource?.length> 0">
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
      </table>
    </div>
    <div [hidden]="isTableHasData">
      <h3> <span> No Data Found</span></h3>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>


  </mat-expansion-panel>
</mat-accordion>

<!--{{form.value | json}}-->

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteDuesRateSDetails(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>
