<app-header></app-header>
<mat-sidenav-container class="example-container" autosize (click)="$event.stopPropagation()" >
  <mat-sidenav class="example-sidenav sidebar-mini" #sideNav mode="side" opened="true">
    <mat-nav-list>
      <app-nav-menu *ngFor="let item of navItems" [item]="item" class="mg_b" (numberGenerated)="onNumberGenerated()" ></app-nav-menu>
    </mat-nav-list>
  </mat-sidenav>
  <!--<p>Random number from child component: {{ randomNumber || 'Not yet generated' }}</p>-->
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon class="material-icons md-24">menu</mat-icon>
  </button>

  <ul class="breadcrumb" *ngIf="navItems.length > 0">
    <li>
      <a href="/dashboard/home" (click)="resetbreadcrumbsDtls()">Home </a> <span> {{breadcrumbsDtls.displayName}} </span>
    </li>
  </ul>
  <!-- breadcrumb -->
  <!--<div class="col">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"
          *ngFor="let item of breadcrumbList; let i = index"
          [class.active]="i===breadcrumbList.length-1">
        <a [routerLink]="item.route" *ngIf="i!==breadcrumbList.length-1">
          {{ item.displayName }}
        </a>
        <span *ngIf="i===breadcrumbList.length-1">{{ item.displayName }}</span>
      </li>
    </ol>
  </div>-->

  <router-outlet></router-outlet>
</mat-sidenav-container>




