<!---Raju verma 24/06/19--->
<form name="form" #annualIncrment="ngForm" novalidate>

  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      <div class="col-sm-12 col-md-3">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Pay Commission" id="msCddirID" [(ngModel)]="_pScaleObj.msCddirID" name="msCddirID">
            <mat-option label="Select Pay Commission" [value]="0">Select Pay Commission</mat-option>
            <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
              {{ _payscalelist.cddirCodeText }}
            </mat-option>
          </mat-select>
          <mat-error><span *ngIf="annualIncrment.submitted && msCddirID.invalid">Pay Commission required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <button type="button" class="btn btn-info" (click)="getOrderWithEmployee()">GO</button>
      </div>
      
    </div>
    </div>



  <div class="col-md-12 col-lg-5" *ngIf="showhideGried">
    <mat-card class="example-card">
      <div class="fom-title">Annual Increment Report :</div>
      <div class="row">
        <table mat-table [dataSource]="dataSourceEmp" class="mat-elevation-z8 even-odd-color" >
          <tr class="table-head">

            <ng-container matColumnDef="OrderNo">
              <th mat-header-cell *matHeaderCellDef>Order No. </th>
              <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
            </ng-container>

            <ng-container matColumnDef="OrderDate">
              <th mat-header-cell *matHeaderCellDef>Order Date </th>
              <td mat-cell *matCellDef="let element"> {{element.orderDate|date}} </td>
            </ng-container>

            <ng-container matColumnDef="NoofEmployee">
              <th mat-header-cell *matHeaderCellDef>No. of Employee</th>
              <td mat-cell *matCellDef="let element"> {{element.noofEmployee}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element let k = index;">
                <a class="btn btn-info" (click)="getAnnualIncReport(element.id);">View</a>
              </td>
            </ng-container>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div [hidden]="isTableHasData">
          No  Records Found
        </div>
      </div>
    </mat-card>
  </div>
</form>


<div class="col-md-12 col-lg-7" *ngIf="showhideGriedReport">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">Annual Increment Report Details</div>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <tr>
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
          <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>


        <ng-container matColumnDef="empCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code</th>
          <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="desigCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
          <td mat-cell *matCellDef="let element"> {{element.desigCode}} </td>
        </ng-container>

        <ng-container matColumnDef="oldBasic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Basic Pay</th>
          <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
        </ng-container>

        <ng-container matColumnDef="nextIncDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Increment Date</th>
          <td mat-cell *matCellDef="let element"> {{element.nextIncDate|date}} </td>
        </ng-container>

      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    </table>
   
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
