.bgorange {
  color: orange;
}

.bgdarkorange {
  color: darkorange;
}

.bggreen {
  color: green;
}

.bgblue {
  color: blue;
}

.bgred {
  color: red;
}
.primary {
  color: red;
}

.secondary {
  color: green;
}


.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: red !important;
}
