<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="fom-title">Enter NG Recovery Amount</div>



  <!--<div class="col-md-12 col-lg-12 upload-container">
    <div class="col-sm-12 col-md-4 col-lg-2 pading-0"><label>Upload File</label></div>
    <div class="col-sm-12 col-md-8 col-lg-6"><input type="file"></div>
    <button type="button">Upload</button>
  </div>

  <div class="col-md-12 col-lg-12"><label>Download Template</label><a class="material-icons">vertical_align_bottom</a></div>-->

  <mat-form-field>
    <input matInput placeholder="Search">
    <i class="material-icons icon-right">search</i>
  </mat-form-field>

  <div class="table-title">Attached Employees</div>
  <table matSort class="mat-elevation-z8 even-odd-color tabel-form wid-100 recovery-tabel" border="1">
    <tr class="table-head">
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <th>SI.No</th>
      <th>Employee Code</th>
      <th>Employee Name</th>
      <th>Amount</th>
      <th>No. of Installment</th>
      <th>Recovered No. of Installment</th>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        1
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        2
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        3
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="200">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        4
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="200">
      </td>
      <td>
        -
      </td>
    </tr>
    <tr class="tabel-total">
      <td colspan="4"></td>
      <td class="text-center">Total</td>
      <td>500</td>
      <td></td>
    </tr>
  </table>
</div>

<!--Add Remove Button-->
<div class="col-md-12 col-lg-12 pading-0 text-center mb-20 mt-40">

  <button class="btn btn-labeled btn-success add-list  text-center">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-up"></i></span>Add to list
  </button>

  <button class="btn btn-labeled btn-success remove-list  text-center">
    <span class="btn-label"><i class="glyphicon glyphicon-arrow-down"></i></span>Remove
  </button>
</div>

<!--Add Remove Button End-->


<div class="col-sm-12 col-md-12 col-lg-12">
  



  <!--<div class="col-md-12 col-lg-12 upload-container">
    <div class="col-sm-12 col-md-4 col-lg-2 pading-0"><label>Upload File</label></div>
    <div class="col-sm-12 col-md-8 col-lg-6"><input type="file"></div>
    <button type="button">Upload</button>
  </div>

  <div class="col-md-12 col-lg-12"><label>Download Template</label><a class="material-icons">vertical_align_bottom</a></div>-->

  <mat-form-field>
    <input matInput placeholder="Search">
    <i class="material-icons icon-right">search</i>
  </mat-form-field>

  <div class="table-title">Un- Attached Employees</div>
  <table matSort class="mat-elevation-z8 even-odd-color tabel-form wid-100 recovery-tabel" border="1">
    <tr class="table-head">
      <th>
        <mat-checkbox></mat-checkbox>
      </th>
      <th>SI.No</th>
      <th>Employee Code</th>
      <th>Employee Name</th>
      <th>Amount</th>
      <th>No. of Installment</th>
      <th>Recovered No. of Installment</th>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        1
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        2
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        3
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="200">
      </td>
      <td>
        -
      </td>
    </tr>

    <tr>
      <td>
        <mat-checkbox></mat-checkbox>
      </td>
      <td>
        4
      </td>
      <td>
        ABC123
      </td>
      <td>
        Anik Khanna
      </td>
      <td>
        <input matInput placeholder="Enter value" value="100">
      </td>
      <td>
        <input matInput placeholder="Enter value" value="200">
      </td>
      <td>
        -
      </td>
    </tr>
    <tr class="tabel-total">
      <td colspan="4"></td>
      <td class="text-center">Total</td>
      <td>500</td>
      <td></td>
    </tr>
  </table>
</div>
