<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>

</div>
<!--End Alert message for delet, info-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isRateDetailPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="resetRateDetailPanel()">
      <mat-panel-title class="acordion-heading">
        Other Dues (to be added to salary)
      </mat-panel-title>

    </mat-expansion-panel-header>

    <form [formGroup]="otherDuesForm" (ngSubmit)="onSubmit()">

      <div class="col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <mat-select formControlName="duesId" placeholder="Please Select Dues" [disabled]="onEdit" required>
            <!--<mat-option value="">Please Select</mat-option>-->
            <mat-option *ngFor="let code of ArrddlDues" value="{{code.duesId}}">{{code.duesDesc}}</mat-option>
          </mat-select>
          <mat-error>Please select Dues</mat-error>
          <!--<mat-error *ngIf="otherDuesForm.controls.duesId.value == 0">Please select other dues</mat-error>-->
        </mat-form-field>
      </div>

      <mat-card class="example-card mat-card margin-top-10px" [ngClass]="bgColor">
        <div class="fom-title">Section Details</div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="majorSectionCode" (selectionChange)="BindSectionCode($event.value)" placeholder="Please Select Major Section Code" required>
              <!--<mat-option value="">Please Select</mat-option>-->
              <mat-option *ngFor="let code of ArrddlMajSecCode" value="{{code.majorSectionCode}}">{{code.majorSectionDesc}}</mat-option>
            </mat-select>
            <mat-error>Please select Major Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="sectionCode" (selectionChange)="BindSubSectionCode()" placeholder="Please Select Section Code" required>
              <!--<mat-option value="">Please Select</mat-option>-->
              <mat-option *ngFor="let code of ArrddlSecCode" value="{{code.secCode}}">{{code.secCode}}</mat-option>
            </mat-select>
            <mat-error>Please select Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <!--<mat-select formControlName="subSectionCode" (selectionChange)="BindSectionCodeDescription()" placeholder="Sub Section Code" [(value)]="ArrddlSubSecCode.subSecCode">-->
            <mat-select formControlName="subSectionCode" (selectionChange)="BindSectionCodeDescription()" placeholder="Please Select Sub Section Code" required>
              <!--<mat-option value="">Please Select</mat-option>-->
              <mat-option *ngFor="let code of ArrddlSubSecCode" value="{{code.subSecCode}}">{{code.subSecCode}}</mat-option>
            </mat-select>
            <mat-error>Please select Sub Section Code</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <textarea matInput formControlName="sectionDesc" (paste)="$event.preventDefault()" placeholder="Section Description" autocomplete=off readonly></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" [ngClass]="btnCssClass" *ngIf="submitButtonText">{{submitButtonText}}</button>
          <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
        </div>

      </mat-card>

    </form>

  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Other Dues Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <mat-form-field>
      <input matInput (keyup.enter)="applyFilter($event.target.value)" [(ngModel)]="searchTerm" placeholder="Search">
      <span (click)="applyFilter(searchTerm)"><i class="material-icons icon-right">search</i></span>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <ng-container matColumnDef="serialNo">
          <th mat-header-cell mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell mat-cell *matCellDef="let element; let i = index;">{{ i+1 }}</td>
        </ng-container>

        <ng-container matColumnDef="duesId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dues Id</th>
          <td mat-cell *matCellDef="let element"> {{element.duesId}} </td>
        </ng-container>

        <ng-container matColumnDef="duesDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dues Description</th>
          <td mat-cell *matCellDef="let element"> {{element.duesDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="sectionCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
          <td mat-cell *matCellDef="let element"> <label *ngIf="element.subSectionCode != 'NA'">{{element.sectionCode + ' ' + element.subSectionCode}}</label> <label *ngIf="element.subSectionCode == 'NA'">{{element.sectionCode}}</label>  </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="actionWidth"> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="deleteDetails(element);DeletePopup = !DeletePopup">
              delete_forever
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
    <mat-paginator #paginator [length]="totalCount" [pageSizeOptions]="[5, 10]" [pageSize]="5" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>
    <mat-toolbar color="warning" class="record-not-found" *ngIf="dataSource.data.length == 0">{{noRecordMsg}}</mat-toolbar>

  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete record?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="DeletePopup = !DeletePopup">Cancel</button>
    </div>
  </div>
</app-dialog>
