<app-comman-mst (onchange)="GetcommanMethod($event)" [events]="eventsSubject.asObservable()"></app-comman-mst>
<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" #formDirective="ngForm" >
  <div class="col-md-12 col-lg-7" >
    <mat-card class="example-card">
      <ng-template matStepLabel>Deputation Details</ng-template>

      <div class="fom-title">Deputation Out Details</div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Deputation Type" formControlName="deputedTypeId" required [errorStateMatcher]="matcher">
             <mat-option *ngFor="let deputationType of deputationTypes" [value]="deputationType.cddirCodeValue">
              {{deputationType.cddirCodeText}}
            </mat-option>

          </mat-select>
          <mat-error *ngIf="form.controls['deputedTypeId'].errors?.required">
            Deputation Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Service Type" formControlName="serviceTypeId" required [errorStateMatcher]="matcher">
           <mat-option *ngFor="let serviceType of serviceType" [value]="serviceType.serviceValue">
              {{serviceType.serviceText}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['serviceTypeId'].errors?.required">
            Service Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Deputation Order Number" formControlName="depuOrderNo" maxlength="50" pattern="[A-Za-z1-9]{1}|[A-Za-z][A-Za-z0-9-/_]+" required [errorStateMatcher]="matcher" >
          <mat-error *ngIf=" form.controls['depuOrderNo'].errors?.required">
            Deputation Order Number is Required
          </mat-error>
          <mat-error *ngIf="form.controls['depuOrderNo'].errors?.pattern">
            Deputation Order Number is Invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="deputationDate" placeholder="Deputation Order Date " (click)="deputationDate.open()"  (dateChange)="Checkdate()" formControlName="depuOrderDate" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="deputationDate"></mat-datepicker-toggle>
          <mat-datepicker #deputationDate></mat-datepicker>
          <mat-error *ngIf=" form.controls['depuOrderDate'].errors?.required">
            Deputation Order Date is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">

          <input matInput placeholder="Deputation To Office" formControlName="depuedToOffice" pattern="[A-Za-z]{1}[A-Za-z- ]+" required maxlength="50" [errorStateMatcher]="matcher">
          <mat-error *ngIf="form.controls['depuedToOffice'].errors?.required">
            Deputation To Office is Required
          </mat-error>
          <mat-error *ngIf="form.controls['depuedToOffice'].errors?.pattern">
            Deputation To Office is Invalid
          </mat-error>


        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Deputation On Designation" formControlName="depuOnDesignation" required #singleSelect [errorStateMatcher]="matcher">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation Before Deputation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
            </mat-option>
          
            <mat-option *ngFor="let designa of filteredDesignation | async" [value]="designa.desigId">
              {{designa.desigDesc}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['depuOnDesignation'].errors?.required">
            Deputation On Designation is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="dateofDeputation" (click)="dateofDeputation.open()" placeholder="Date Of Deputation" formControlName="dateOfDeputataion" [min]="form.controls['depuOrderDate'].value" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="dateofDeputation"></mat-datepicker-toggle>
          <mat-datepicker #dateofDeputation></mat-datepicker>
          <mat-error *ngIf="form.controls['dateOfDeputataion'].errors?.required">
            Date Of Deputation is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="relievingDate" (click)="relievingDate.open()" placeholder="Relieved On Date " formControlName="relievingDate" [min]="form.controls['depuOrderDate'].value" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="relievingDate"></mat-datepicker-toggle>
          <mat-datepicker #relievingDate></mat-datepicker>
          <mat-error *ngIf="form.controls['relievingDate'].errors?.required">
            Relieved On Date is Required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-placeholder [ngClass]="flag ? 'actplacholder' : 'dsbplaceholder'"> Tenure Of Deputation(Years) </mat-placeholder>

          <input matInput  (keypress)="numberOnly($event)" formControlName="depuTenureYear" pattern="([1-9]|[1-5][0-9]|60)" maxlength="2" [ngClass]="flag ? 'label-disabled' : 'label-active'">
          <mat-error *ngIf="form.controls['depuTenureYear'].errors?.pattern">
            Tenure Of Deputation(Year) is Invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-placeholder [ngClass]="flag ? 'actplacholder' : 'dsbplaceholder'"> Tenure Of Deputation(Months) </mat-placeholder>

          <input matInput  (keypress)="numberOnly($event)" formControlName="depuTenureMonth" pattern="([1-9]|1[0-2])" maxlength="2">
          <mat-error *ngIf="form.controls['depuTenureMonth'].errors?.pattern">
            Tenure Of Deputation(Months) is Invalid
          </mat-error>
        </mat-form-field>
      
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-placeholder [ngClass]="flag ? 'actplacholder' : 'dsbplaceholder'"> Tenure Of Deputation(Days) </mat-placeholder>

          <input matInput (keypress)="numberOnly($event)" formControlName="depuTenureDays" pattern="([1-9]|[12][0-9]|3[01])" maxlength="2">
          <mat-error *ngIf="form.controls['depuTenureDays'].errors?.pattern">
            Tenure Of Deputation(Days) is Invalid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4" *ngIf="form.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="2" placeholder="Checker Remarks" readonly></textarea>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6">
        <button type="submit" class="btn btn-success"  [disabled]="btndisabled">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="ResetForm();">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwardStatusUpdate('0');" [disabled]="disableForwardflag">Forward to DDO Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>

        <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
      </div>

    </mat-card>
  </div>
</form>





<!--right table-->
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">
    <!--<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form value
          </mat-panel-title>
        </mat-expansion-panel-header>
        <code>
          {{form.value | json}}
        </code>
      </mat-expansion-panel>
    </mat-accordion>-->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <!-- Name Column -->
      <ng-container matColumnDef="srNo">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>

        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}  </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="deputeFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deputation Type </th>
        <td mat-cell *matCellDef="let element"> {{element.depuTypeName}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->
      <ng-container matColumnDef="orderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.depuOrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">

          <label *ngIf="element.veriFlag == 'E'" class="bgorange">Entry</label>
          <label *ngIf="element.veriFlag == 'U'" class="bgdarkorange" >Entry Updated</label>
          <label *ngIf="element.veriFlag == 'F'" class="bggreen">Sent to Checker</label>
          <label *ngIf="element.veriFlag == 'V'" class="bgblue">Verified</label>
          <label *ngIf="element.veriFlag == 'R'" class="bgred">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td *matCellDef="let element">
          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'N' || element.veriFlag == 'R' || element.veriFlag == 'U')&& roleId == 6" class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.empDeputDetailsId)">edit</a>
          <!--<a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteEOSDetails(element);DeletePopup = !DeletePopup">
    delete_forever
  </a>-->
          <a *ngIf="(element.veriFlag != 'E' && element.veriFlag != 'N'  && element.veriFlag != 'R' && element.veriFlag != 'U') && roleId == 6" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
          <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
        </td>

</ng-container>
      <tr *ngIf="dataSource?.length> 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>


  </div>

</div>

<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject? <br /> <br /></h3>
      <div class="col-md-3"></div>
      <mat-form-field class="col-md-6 card-title text-center">
        <textarea matInput spellcheck="false" [(ngModel)]="rejectionRemark" formControlName="rejectionRemark1" rows="2" maxlength="100" align="center" placeholder="Remarks" required inputmode="full-width-latin"></textarea>
        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.required">Remarks is Required </mat-error>

        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.pattern">Remarks is Invalid</mat-error>



      </mat-form-field>

      <div class="form-group text-center col-md-12">

        <button type="submit" class="btn btn-info" (click)="forwardStatusUpdate('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>


