<app-comman-mst></app-comman-mst>

<div class="col-sm-12 col-md-12 col-lg-7">
  <mat-card class="example-card">
    <div class="fom-title">Details</div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="peragraph-input">I have Scrutinized the applicationn of Shri/Smt./Kumari</p>
      <mat-form-field class="float-left">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">may be approved in relaxation of rule 4(b) of House Building Advance Rules.</p>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="DOA" disabled name="Date of appointment" placeholder="Date of appointment">
        <mat-datepicker-toggle matSuffix [for]="DOA"></mat-datepicker-toggle>
        <mat-datepicker #DOA></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput [matDatepicker]="DOR" disabled name="Date of retirement" placeholder="Date of retirement">
        <mat-datepicker-toggle matSuffix [for]="DOR"></mat-datepicker-toggle>
        <mat-datepicker #DOR></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Pay" title="Pay">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Pay" title="Pay">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Pay" title="Pay">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="50 Months Pay" title="50 Months Pay">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Cost Ceiling for Construction" title="Cost Ceiling for Construction">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Amount of GP Fund Withdrawal / other advance to be adjusted" title="Amount of GP Fund Withdrawal / other advance to be adjusted">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Advance Entitled" title="Advance Entitled">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Estimated / Assessed cost of construction " title="Estimated / Assessed cost of construction ">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Expected date of starting recovery " title="Expected date of starting recovery ">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="No. of Monthly Installment" title="No. of Monthly Installment">
      </mat-form-field>
    </div>


    <div class="fom-title">Repaying Capacity Details</div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Proposed rate of recovery" title="Proposed rate of recovery">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Amount recoverable at the proposed rate of recovery" title="Amount recoverable at the proposed rate of recovery">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Amount Adjustable from DCRG " title="Amount Adjustable from DCRG ">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Total" title="Total">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Apporximate Amount of Intrest" title="Apporximate Amount of Intrest">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Amount of advance that can be sanctioned based on repaying capacity" title="Amount of advance that can be sanctioned based on repaying capacity">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput disabled placeholder="Amount of HBA recommended for sanctioned" title="Amount of HBA recommended for sanctioned">
      </mat-form-field>
    </div>


    <div class="fom-title">Rate of Recovery Details</div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="peragraph-input">Principal (Rs.) </p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">in</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input"> installments of Rs</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">  each</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="peragraph-input">Principal (Rs.) </p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">in</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input"> installments of Rs</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">  each</p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="peragraph-input">An Advance Rs </p>
      <mat-form-field class="float-left fillinthe-blanks">
        <input matInput placeholder="" title="">
      </mat-form-field>
      <p class="peragraph-input">may be approved in relaxation of rule 4(b) of House Building Advance Rules.</p>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger">Reject</button>
      <button type="button" class="btn btn-warning">Cancel</button>
      <button class="btn btn-primary" type="button"> Forward to HOO Checker </button>
    </div>

  </mat-card>
</div>




<!--right table-->



<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">

    <div class="fom-title">Tabel Details</div>



  </div>
</div>

