 
     
    
 
              <!-- <progress *ngIf="isLoading" class="loading">Loading...</progress> -->
          <!---Left Form for personal details---->
         
          <div class="row">
             <form (ngSubmit)="pdetails.valid && UpdateEmpDetails();" #pdetails="ngForm" novalidate> 
             <div class="col-md-12 col-lg-7">
              <mat-card class="example-card ">
                <ng-template matStepLabel>Personal Details</ng-template>
                <div class="fom-title">Personal Details</div>
                <div class="col-md-12 col-lg-4">
                  <mat-form-field class="wid-100">
                    <input matInput [matDatepicker]="picker" placeholder="Date of Retirement" [(ngModel)]="empdetails.empServendDt" name="empServendDt" readonly
                           (click)="picker.open()" #empServendDt="ngModel" disabled="disabled" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>
                      <span [hidden]="!empServendDt.errors?.required">Date of Retirement is required</span>
                    </mat-error>
                  </mat-form-field>

                   </div>
    
    
                <div class="col-md-12 col-lg-4">
                  <mat-form-field class="wid-100">
                    <input matInput placeholder="Regimental / Force No./ Dpt Emp. Code" [(ngModel)]="empdetails.empCd" name="empCd" required #empCd disabled="disabled">
                    <mat-error>
                      <span [hidden]="!empCd.errors?.required">Employee Code is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
    
                <div class="col-md-12 col-lg-4">
                  <mat-form-field class="wid-100">
                    <input matInput placeholder="Mobile No." [(ngModel)]="empdetails.emp_mobile_no" #emp_mobile_no="ngModel" name="emp_mobile_no" required
                           maxlength="10" minlength="10" pattern="^(0|[1-9][0-9]*)$">
                    <mat-error>
                      <span [hidden]="!emp_mobile_no.errors?.required">Mobile No is required</span>
                      <span [hidden]="!emp_mobile_no.errors?.pattern">Mobile No. must be numeric</span>
                      <!--<span [hidden]="!emp_mobile_no.errors?.minlength ||!emp_mobile_no.errors?.maxlength">Mobile No is required</span>-->

                    </mat-error>

                 
                  </mat-form-field>
                </div>
    
    
                <div class="col-md-12 col-lg-4">
                  <mat-form-field class="wid-100">
                    <input matInput placeholder="Email" [(ngModel)]="empdetails.emp_Email" name="emp_Email" #emp_Email="ngModel" required
                           pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$">
                    <mat-error>
                      <span [hidden]="!emp_Email.errors?.required">Email is required</span>
                      <span [hidden]="!emp_Email.errors?.pattern">Invalid email address.</span>
                    </mat-error>
                  </mat-form-field>
                </div>
    
                <div class="col-md-12 col-lg-8 combo-col">
                  <div class="col-md-12 col-lg-6 pading-0">
                    <div class="wid-100">
                      <label class="label-font">Physical Disability Status</label>
                    </div>
                  </div>
    
                  <div class="col-md-12 col-lg-6">
                    <mat-radio-group [(ngModel)]="empdetails.empPhFlag" name="empPhFlag" #empPhFlag="ngModel" required >
                      <mat-radio-button value="Y" (click)="showPH = !showPH ;GetEmpPHDetails(empdetails.empCd); GetPhysicalDisabilityTypes();">Yes</mat-radio-button>
                      <mat-radio-button value="N"[checked] ="true" >No</mat-radio-button>
                       <mat-error><span *ngIf="pdetails.submitted && empPhFlag.invalid">Physical Disability Status required</span></mat-error> 
                    </mat-radio-group>
                     
                  </div>
                </div>
     
                <button type="submit" class="btn btn-success"  >{{btnText}}</button>
                <button type="button" class="btn btn-warning" (click)=" resetPersonalDdetailsForm()"  >Clear</button>
                
                
              </mat-card>
            </div>
    
          </form>
            <!--right table-->
    
    
            <div class="col-md-12 col-lg-5">
              <div class="example-card">
                <mat-card>
                  <div>
                   
                    <label class="label-font">Employee Details 1</label> 
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
    
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Employee Name</td>
                            <td>{{empdetails.empFirstName}}</td>
                            <!-- <td>dsfsd</td> -->
    
                          </tr>
                          <tr>
                            <td>Date Of Birth</td>
                            <td>{{empdetails.empDOB | date}}
                            <td>
    
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td> {{empdetails.genderName}} </td>
    
                          </tr>
                          <tr>
                            <td>PAN No</td>
                            <td>{{empdetails.emp_pan_no}}</td>
    
                          </tr>
                          <tr>
                            <td>Aadhar No.</td>
                            <td>{{empdetails.emp_adhaar_no}}</td>
    
                          </tr>
                          <tr>
                            <td>Employee Type</td>
                            <td>{{empdetails.emp_typeName}}</td>
    
                          </tr>
                          <tr>
                            <td>Employee Sub-Type</td>
                            <td>{{empdetails.empSubTypeName}}</td>
    
                          </tr>
                          <tr>
                            <td>Service Type</td>
                            <td>{{empdetails.serviceTypeName}}</td>
    
                          </tr>
                          <tr>
                            <td>Joining Mode</td>
                            <td>{{empdetails.empApptTypeName}}</td>
    
                          </tr>
                          <tr>
                            <td>Joining Category</td>
                            <td>{{empdetails.joining_CatogaryName}}</td>
    
                          </tr>
                          <tr>
                            <td>Date of First Joining (In Govt. Service)</td>
                            <td>{{empdetails.empEntryDt | date}}</td>
    
                          </tr>
                          <tr>
                            <td>Date of Joining Ministry/ Controller</td>
                            <td>{{empdetails.empJoinDt | date}}</td>
    
                          </tr>
    
                        </tbody>
                      </table>
                    </div>
      
                  </div>
                </mat-card>
              </div>
            </div>
          
          </div>
        

        
<app-dialog [(visible)]="showPH">
  
  <form (ngSubmit)="EmPDdetailsForm.valid && SavePHDetails();" #EmPDdetailsForm="ngForm" novalidate>
    <mat-card>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Type of disability" [(ngModel)]="empdetails.phType" name="phType" #phType="ngModel" required>
            <mat-option *ngFor="let types of empphTypes" [value]="types.phType">
              {{types.phTypeName}}
            </mat-option>

          </mat-select>
          <mat-error>
            <span [hidden]="!phType.errors?.required">Type of disability is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Percentage of disability" [(ngModel)]="empdetails.phPcnt" name="phPcnt" #phPcnt="ngModel"
                 required oninput="this.value=Math.abs(this.value)" type="number" onKeyPress="if(this.value.length==3) return false;" max="100" min="1" pattern="^(?!0)(100|[1-9]?[0-9])?$" autocomplete="off">
          <mat-error>
            <span [hidden]="!phPcnt.errors?.required">Percentage of disability is required</span>
            <span [hidden]="!phPcnt.errors?.pattern">Percentage of disability between 1 to 100</span>
          </mat-error>
          <!--<mat-error>
            
          </mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Certificate no" [(ngModel)]="empdetails.phCertNo" name="phCertNo" #phCertNo="ngModel" required
                 pattern="^[A-Za-z0-9]+$" onpaste="return false" maxlength="20">
          <mat-error><span [hidden]="!phCertNo.errors?.required">Certificate no is required</span></mat-error>
          <mat-error><span *ngIf="phCertNo.errors?.pattern">Special character not allowed</span></mat-error>
        </mat-form-field>
      </div>

        
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="certificateDate" placeholder="certificate Date" [(ngModel)]="empdetails.phCertDt" name="phCertDt"
                 #phCertDt="ngModel" required readonly (click)="certificateDate.open()" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="certificateDate"></mat-datepicker-toggle>
          <mat-datepicker #certificateDate></mat-datepicker>
          <mat-error>
            <span [hidden]="!phCertDt.errors?.required">certificate date is required</span>

          </mat-error>

          <!--<mat-error><span *ngIf="hraform.submitted && empTypeID.invalid">Employee type required</span></mat-error>-->
        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Issuing Authority" [(ngModel)]="empdetails.phCertAuth" name="phCertAuth" #phCertAuth="ngModel" required
                  pattern="^[A-Za-z0-9]+$" onpaste="return false" maxlength="20" >
          <mat-error><span [hidden]="!phCertAuth.errors?.required">Issuing Authority is required</span> </mat-error>
          <mat-error><span *ngIf="phCertAuth.errors?.pattern">Special character not allowed</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Office Order No" [(ngModel)]="empdetails.phAdmOrdno" name="phAdmOrdno" #phAdmOrdno="ngModel" required
                  pattern="^[A-Za-z0-9]+$" onpaste="return false" maxlength="20" >
          <mat-error><span [hidden]="!phAdmOrdno.errors?.required">Office Order No is required</span></mat-error>
          <mat-error><span *ngIf="phAdmOrdno.errors?.pattern">Special character not allowed</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OfficeOrderDate" placeholder="Office Order Date" [(ngModel)]="empdetails.phAdmOrddt" name="phAdmOrddt"
                 #phAdmOrddt="ngModel" required readonly (click)="OfficeOrderDate.open()"  [min]="empdetails.phCertDt">
          <mat-datepicker-toggle matSuffix [for]="OfficeOrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OfficeOrderDate></mat-datepicker>
          <mat-error>
            <span [hidden]="!EmPDdetailsForm.invalid">Office Order date must be greater than or equal to the Certificate date</span>
            <span [hidden]="!phAdmOrddt.errors?.required">Office Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-8 combo-col-2">
        <div class="col-md-12 col-lg-6 pading-0">
          <div classclass="wid-100">

            <label class="label-font">Severe</label>

          </div>
        </div>
        <div class="col-md-12 col-lg-5" name="isSevere">
          <div classclass="wid-100">
            <mat-radio-group [(ngModel)]="empdetails.isSevere" name="isSevere" #isSevere="ngModel" required>
              <mat-radio-button value="Y">Yes</mat-radio-button>
              <mat-radio-button value="N" checked>No</mat-radio-button>
            </mat-radio-group>
            <mat-error><span *ngIf="EmPDdetailsForm.submitted && isSevere.invalid">isSevere required</span></mat-error>

          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-8 combo-col clear-both">
        <div class="col-md-12 col-lg-6 pading-0">
          <div classclass="wid-100">
            <label class="label-font">Eligible for handicapped TA</label>
          </div>
        </div>
        <div class="col-md-12 col-lg-5">
          <div classclass="wid-100">
            <mat-radio-group [(ngModel)]="empdetails.empDoubleTa" name="empDoubleTa" #empDoubleTa="ngModel" required>
              <mat-radio-button value="Y">Yes</mat-radio-button>
              <mat-radio-button value="N">No</mat-radio-button>
              <mat-error><span *ngIf="EmPDdetailsForm.submitted && empDoubleTa.invalid">Eligible for handicapped TA is required</span></mat-error>
            </mat-radio-group>

          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-12 mt-10">
        <textarea rows="5" class="wid-100" placeholder="Remarks" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="empdetails.phRemarks" name="phRemarks" (paste)="$event.preventDefault()" >
               Remarks
             </textarea>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning" (click)=" resetEmPDdetailsForm(); showPH = !showPH ">Close</button>
      </div>

    </mat-card>
  </form>
  </app-dialog> 
