<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Pay Bill Group:</label>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select [formControl]="billCtrl" placeholder="Pay Bill Group" #singleSelect (selectionChange)="BindDropDownDesignation($event.value)">
            <mat-option>
              <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredBill | async" [value]="emp.billgrId">
              {{emp.billgrDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Designation:</label>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select [formControl]="designCtrl" placeholder="Find Designation" #singleSelect (selectionChange)="BindDropDownEmployee($event.value)">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.desigId">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Employee:</label>
      <button mat-mini-fab color="primary" class="go-btn" >Go</button>
      <div class="col-md-6">

        <mat-form-field class="wid-100">
          <mat-select [formControl]="empCtrl" placeholder="Find Employee" #singleSelect >
            <mat-option>

              <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="0">
              Select
            </mat-option>
            <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCd">
              {{emp.empName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </div>
</div>





<mat-accordion class="col-md-12">
  <mat-expansion-panel>

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Recovery of Excess Payment Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="f.valid && SavePayment(ObjTempData);" #f="ngForm" novalidate>


      <ng-template matStepLabel>Family Details</ng-template>




      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select" [(ngModel)]="ObjTempData.payMentStop" name="payMentStop" #payMentStop="ngModel" required>
            <mat-option value="Temporary Stop"> Temporary Stop</mat-option>
            <mat-option value="Permanent Stop"> Permanent Stop</mat-option>
            <mat-option value="Re-initiate"> Re-initiate</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!payMentStop.errors?.required">Nationality Status required</span>
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="order No" [(ngModel)]="ObjTempData.orderNo" name="orderNo" #orderNo="ngModel" required>
          <mat-error>
            <span [hidden]="!orderNo.errors?.required">orderNo required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="orderdate" [(ngModel)]="ObjTempData.orderdate" name="orderdate"
                 placeholder="Order Date" #orderdate="ngModel" required>
          <mat-datepicker-toggle matSuffix [for]="orderdate"></mat-datepicker-toggle>
          <mat-datepicker #orderdate></mat-datepicker>
          <mat-error>
            <span [hidden]="!orderdate.errors?.required">Order Date</span>
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput (click)="orderfromdate.open()" [(ngModel)]="ObjTempData.orderfromdate" [matDatepicker]="orderfromdate" placeholder="From Date" name="orderfromdate" readonly required>
          <mat-datepicker-toggle matSuffix [for]="orderfromdate"></mat-datepicker-toggle>
          <mat-datepicker #orderfromdate></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput (click)="ordertodate.open()" [(ngModel)]="ObjTempData.ordertodate" [matDatepicker]="ordertodate" placeholder="To Date" name="ordertodate" readonly required>
          <mat-datepicker-toggle matSuffix [for]="ordertodate"></mat-datepicker-toggle>
          <mat-datepicker #ordertodate></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" *ngIf="btnSave" class="btn btn-success" [disabled]="f.invalid">Save</button>
        <button type="button" class="btn btn-warning" (click)="Clear();">Cancel</button>
      </div>


    </form>
  </mat-expansion-panel>
</mat-accordion>




<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="fom-title">Recovery Details</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSourceRecoveryPayment" matSort class="mat-elevation-z8">

      <!-- Leave Type Column -->
      <ng-container matColumnDef="payMentStop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovery Status </th>
        <td mat-cell *matCellDef="let element"> {{element.payMentStop}} </td>
      </ng-container>
      <ng-container matColumnDef="orderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No </th>
        <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
      </ng-container>
      <ng-container matColumnDef="orderdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Dt </th>
        <td mat-cell *matCellDef="let element"> {{element.orderdate}} </td>
      </ng-container>
      <ng-container matColumnDef="orderfromdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>From Dt </th>
        <td mat-cell *matCellDef="let element"> {{element.orderfromdate}} </td>
      </ng-container>
      <ng-container matColumnDef="ordertodate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>To Dt </th>
        <td mat-cell *matCellDef="let element"> {{element.ordertodate}} </td>
      </ng-container>
      <!-- Action Column -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="Info" (click)="FillForm(element.payMentStop,element.orderNo,element.orderdate,element.orderfromdate,element.ordertodate)">error</a>
          <a class="material-icons i-edit" matTooltip="Edit" (click)="SaveRecord()">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

    <div class="col-md-12 col-lg-12 text-right view-btn-wraper">
      <button class="btn view-detail-btn" mat-button (click)="toggle();">View History</button>
      </div>
      <div *ngIf="show_dialog">
        <div class="fom-title">Excess Payment Recovery Details History</div>
        <table mat-table [dataSource]="dataSourceRecoveryPayment" matSort class="mat-elevation-z8">

          <!-- Leave Type Column -->
          <ng-container matColumnDef="payMentStop">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovery Status </th>
            <td mat-cell *matCellDef="let element"> {{element.payMentStop}} </td>
          </ng-container>
          <ng-container matColumnDef="orderNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No </th>
            <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
          </ng-container>
          <ng-container matColumnDef="orderdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Dt </th>
            <td mat-cell *matCellDef="let element"> {{element.orderdate}} </td>
          </ng-container>
          <ng-container matColumnDef="orderfromdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>From Dt </th>
            <td mat-cell *matCellDef="let element"> {{element.orderfromdate}} </td>
          </ng-container>
          <ng-container matColumnDef="ordertodate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>To Dt </th>
            <td mat-cell *matCellDef="let element"> {{element.ordertodate}} </td>
          </ng-container>
          <!-- Action Column -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-info" matTooltip="Info">error</a>
              <a class="material-icons i-edit" matTooltip="Edit">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

      </div>
    </div>
  </div>

<!--right table End-->
<!--Excess Payment Recovery Details History On Popup-->
<!--End Of Excess Payment Recovery Details History On Popup-->
