<!--<div class="col-md-12 col-lg-6">
  <mat-form-field class="wid-100">
    <mat-select placeholder="Financial Year">
      <mat-option *ngFor="let financialYears of financialYearList" [value]="financialYears.financialYear">{{financialYears.fullDescription}}</mat-option>
    </mat-select>

  </mat-form-field>
</div>-->
<!--<div class="col-md-12 col-lg-6">
  <mat-form-field class="wid-100">
    <mat-select placeholder="Month">
      <mat-option *ngFor="let months of monthList" [value]="months.msMonthid">{{months.monthName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>-->
<div class="col-md-12 col-lg-12 combo-col clear-both select-type">
  <mat-radio-group [(ngModel)]="selectedRadio" name="RadioButton" aria-label="Select an option">
    <mat-radio-button value="1" (change)="toggleRecComp(1)">Data Entry</mat-radio-button>
    <mat-radio-button value="2" (change)="toggleRecComp(2)">File Upload</mat-radio-button>
  </mat-radio-group>
</div>
