 
  <form ref-Quarter="ngForm" (ngSubmit)="Quarter.valid && SaveUpdateQuarterDetails();" novalidate>
    <div class="col-md-12 col-lg-7">
       <mat-card class="example-card"> 
          <div class="fom-title">Gov.Quarter Details</div>
          <div class="col-sm-12 col-md-12 col-lg-12 combo-col clear-both select-type">
            <mat-radio-group [(ngModel)]="objQuaterDetails.allocAndVac" name="allocAndVac" #allocAndVac="ngModel" required>
              <mat-radio-button value="allocate" (click)="showAllocateAndVacate(true)">Allocate Quarter</mat-radio-button>
              <mat-radio-button value="vacate" (click)="showAllocateAndVacate(false)">Vacate Quarter</mat-radio-button>
              <mat-error>
                <span *ngIf="Quarter.submitted && allocAndVac.invalid">Gov.Quarter Details is required</span>
              </mat-error>
            </mat-radio-group>
          </div>
 
         <div class="fom-title">Allotment Details</div>
 
         <div *ngIf="AllotcateQuater; else VacateQuater">
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="Allotted to" title="Allotted to" [(ngModel)]="objQuaterDetails.accmQrtrAllot" name="accmQrtrAllot" #accmQrtrAllot="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let alliot of _listAllottedTo | async" [value]="alliot.accmQrtrAllot">  {{alliot.accmQrtrAllotName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!accmQrtrAllot.errors?.required">Allotted to is required</span>
             </mat-error>
           </mat-form-field>
         </div>
 
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput [matDatepicker]="AllotaccmOccupDt" placeholder="Occupied Date" [(ngModel)]="objQuaterDetails.accmOccupDt" name="accmOccupDt"
                    #accmOccupDt="ngModel" required (click)="AllotaccmOccupDt.open()" [disabled]=disbleQuaterflag readonly [min]="maxDate">
             <mat-datepicker-toggle matSuffix [for]="AllotaccmOccupDt"></mat-datepicker-toggle>
             <mat-datepicker #AllotaccmOccupDt></mat-datepicker>
             <mat-error>
               <span [hidden]="!accmOccupDt.errors?.required">Occupied Date is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Allotment Letter No" title="Allotment Letter No" [(ngModel)]="objQuaterDetails.allotLetterNo" name="allotLetterNo" #allotLetterNo="ngModel"
                    required [disabled]=disbleQuaterflag maxlength="12" (keypress)="charaterWithNumeric($event)" (paste)="$event.preventDefault()" autocomplete="off">
             <mat-error>
               <span [hidden]="!allotLetterNo.errors?.required">Allotment Letter No is required</span>
             </mat-error>
           </mat-form-field>
         </div>
 
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput [matDatepicker]="AllotLetterDt" placeholder="Allotment Date " (click)="AllotLetterDt.open()" [(ngModel)]="objQuaterDetails.allotLetterDt"
                    name="allotLetterDt" #allotLetterDt="ngModel" required [disabled]=disbleQuaterflag readonly [min]="objQuaterDetails.accmOccupDt">
             <mat-datepicker-toggle matSuffix [for]="AllotLetterDt"></mat-datepicker-toggle>
             <mat-datepicker #AllotLetterDt></mat-datepicker>
             <mat-error>
               <span [hidden]="!allotLetterDt.errors?.required">Allotment Date is required</span>
             </mat-error>
             <mat-error *ngIf="allotLetterDt.hasError('matDatepickerMin')">Date should be equal or grater than occupied date </mat-error>
           </mat-form-field>
         </div>
  
         <div class="fom-title">Rent Details</div>
 
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="Quarter Owned by" (selectionChange)="GetCustodian($event.value)" [(ngModel)]="objQuaterDetails.qrtrOwnedBy" name="qrtrOwnedBy" #qrtrOwnedBy="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let ownedby of _listQuarterOwnedby | async" [value]="ownedby.qrtrOwnedBy">{{ownedby.qrtrOwnedByName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!qrtrOwnedBy.errors?.required">Quarter Owned by is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="Custodian" [(ngModel)]="objQuaterDetails.custId" name="custId" #custId="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let cudtodian of _listCustodian | async" [value]="cudtodian.custId">{{cudtodian.custName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!custId.errors?.required">Custodian is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="Quarter Type" [(ngModel)]="objQuaterDetails.accmQrtrType" name="accmQrtrType" #accmQrtrType="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let quatertype of _listQuarterType | async" [value]="quatertype.accmQrtrType">{{quatertype.accmQrtrTypeName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!custId.errors?.required">Custodian is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="Rent Status " [(ngModel)]="objQuaterDetails.accmRentStat" name="accmRentStat" #accmRentStat="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let rentStatus of _listRentStatus | async" [value]="rentStatus.accmRentStat">{{rentStatus.accmRentStatName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!accmRentStat.errors?.required">Rent Status is required</span>
             </mat-error>
           </mat-form-field>
         </div>
 
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Licence Fee/Rent(Rs.)" type="number" [(ngModel)]="objQuaterDetails.accmRent"
                    name="accmRent" #accmRent="ngModel" required [disabled]=disbleQuaterflag maxlength="7" [max]="9999999"
                    autocomplete="off" onpaste="return false" oninput="this.value=Math.abs(this.value)"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
             <mat-error>
               <span [hidden]="!accmRent.errors?.required">Licence Fee/Rent (Rs.) is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Water Charge(Rs.)" type="number" oninput="this.value=Math.abs(this.value)" [(ngModel)]="objQuaterDetails.accmWaterCharge"
                    name="accmWaterCharge" #accmWaterCharge="ngModel" required [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" >
             <mat-error>
               <span [hidden]="!accmWaterCharge.errors?.required">Water Charge (Rs.) is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Electric Charge" type="number" oninput="this.value=Math.abs(this.value)" [(ngModel)]="objQuaterDetails.accmAddRent1"
                    name="accmAddRent1" #accmAddRent1="ngModel" required [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
             <mat-error>
               <span [hidden]="!accmAddRent1.errors?.required">Electric Charge is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Garage Rent(Rs.) " type="number" oninput="this.value=Math.abs(this.value)" [(ngModel)]="objQuaterDetails.accmGarageRent"
                    name="accmGarageRent" #accmGarageRent="ngModel" required [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
             <mat-error>
               <span [hidden]="!accmGarageRent.errors?.required">Garage Rent (Rs.) is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Service Charge(Rs.)" type="number" oninput="this.value=Math.abs(this.value)" [(ngModel)]="objQuaterDetails.accmServCharge"
                    name="accmServCharge" #accmServCharge="ngModel" required [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
             <mat-error>
               <span [hidden]="!accmServCharge.errors?.required">Service Charge (Rs.) is required</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Common Area Maintenance(Rs.)" type="number" oninput="this.value=Math.abs(this.value)" [(ngModel)]="objQuaterDetails.commonAreaMaint"
                    name="commonAreaMaint" #commonAreaMaint="ngModel"  [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" title="Common Area Maintenance(Rs.)">
            
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="Lawn Maintenance Charge(Rs.)" type="number" oninput="this.value=Math.abs(this.value)" title="Lawn Maintenance Charge(Rs.)"
                    [(ngModel)]="objQuaterDetails.lawnMaintCharges" name="lawnMaintCharges" #lawnMaintCharges="ngModel" 
                    [disabled]=disbleQuaterflag maxlength="7" [max]="9999999" autocomplete="off" onpaste="return false"
                    onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">            
           </mat-form-field>
         </div>
 
 
         <div class="col-md-12 col-lg-8 mat-form-field-wrapper combo-col">
           <div class="col-md-12 col-lg-6 pading-0">
             <label>
               Whether Licence fee to be booked in suspense head ?
             </label>
           </div>
           <div class="col-md-12 col-lg-6 ">
           
             <mat-radio-group [(ngModel)]="objQuaterDetails.susBookingYn" name="susBookingYn" #susBookingYn="ngModel" [disabled]=disbleQuaterflag required>
               <mat-radio-button value="Y">Yes</mat-radio-button>
               <mat-radio-button value="N">No</mat-radio-button>
               <mat-error>
                 <span *ngIf="Quarter.submitted && susBookingYn.invalid">Whether Licence fee to be booked in suspense head is required</span>
               </mat-error>
             </mat-radio-group>
           </div>
         </div>
 
 
         <div class="fom-title">Quarter Location</div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <input matInput placeholder="(AAN) Allottee Account No." [(ngModel)]="objQuaterDetails.aan" name="aan" #aan="ngModel" required [disabled]=disbleQuaterflag maxlength="20"
                    pattern="^(?=.*\d)(?=.*[1-9]).{9,18}$" (keypress)="numberOnly($event)" (paste)="$event.preventDefault()" autocomplete="off">
             <mat-error>
               <span [hidden]="!aan.errors?.required">Allottee Account No is required</span>
               <span *ngIf="aan.errors?.pattern">Allottee Account No is not valid</span>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col-md-12 col-lg-4">
           <mat-form-field class="wid-100">
             <mat-select placeholder="GPRA City Location " [(ngModel)]="objQuaterDetails.gpraCityCode" name="gpraCityCode" #gpraCityCode="ngModel" required [disabled]=disbleQuaterflag>
               <mat-option *ngFor="let gpraCity of _listGPRACityLocation | async" [value]="gpraCity.gpraCityCode">{{gpraCity.gpraCityName}}</mat-option>
             </mat-select>
             <mat-error>
               <span [hidden]="!gpraCityCode.errors?.required">GPRA City Location is required</span>
             </mat-error>
           </mat-form-field>
         </div>

             <div class="col-md-12 col-lg-12 mt-10">
               <mat-form-field class="wid-100">
                
                 <textarea matInput placeholder="Address 1" [(ngModel)]="objQuaterDetails.qrtrAddress1" name="qrtrAddress1" #qrtrAddress1="ngModel" maxlength="100"
                           required [disabled]=disbleQuaterflag (keypress)="charaterWithNumeric($event)"> Address 1 </textarea>
                 <mat-error>
                   <span [hidden]="!qrtrAddress1.errors?.required">Address 1 is required</span>
                 </mat-error>
               </mat-form-field>
             </div>
         <div class="col-md-12 col-lg-12 mt-10">
           <mat-form-field class="wid-100">
             <textarea matInput placeholder="Address 2" class="wid-100" [(ngModel)]="objQuaterDetails.qrtrAddress2" name="qrtrAddress2" maxlength="100" #qrtrAddress2="ngModel"
                       [disabled]=disbleQuaterflag (keypress)="charaterWithNumeric($event)">Address 2</textarea>
           </mat-form-field>
             </div>
 
       </div> 
 <ng-template #VacateQuater>
   
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <mat-select placeholder="Allotted to" title="Allotted to" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmQrtrAllot" name="accmQrtrAllot" #accmQrtrAllot="ngModel" required>
         <mat-option *ngFor="let alliot of _listAllottedTo | async" [value]="alliot.accmQrtrAllot">  {{alliot.accmQrtrAllotName}}</mat-option>

       </mat-select>
       <mat-error>
         <span [hidden]="!accmQrtrAllot.errors?.required">Allotted to is required</span>
       </mat-error>
     </mat-form-field>
   </div>
  
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput [matDatepicker]="picker3" placeholder="Allotment Date" disabled="disabled" [(ngModel)]="objVacateQtrDtls.allotLetterDt"
              name="allotLetterDt" #allotLetterDt="ngModel" required (click)="picker3.open()">
       <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
       <mat-datepicker #picker3></mat-datepicker>
       <mat-error>
         <span [hidden]="!allotLetterDt.errors?.required">Allotment Date is required</span>
       </mat-error>
     </mat-form-field>
   </div>
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput [matDatepicker]="picker2" placeholder="Occupied Date" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmOccupDt" name="accmOccupDt" #accmOccupDt="ngModel"
              required (click)="picker2.open()">
       <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
       <mat-datepicker #picker2></mat-datepicker>
       <mat-error>
         <span [hidden]="!accmOccupDt.errors?.required">Occupied Date is required</span>
       </mat-error>
     </mat-form-field>
   </div>
    
   <div class="col-md-12 col-lg-12 mt-10">
     <label>Address 1</label>
     <textarea rows="5" class="wid-100"   disabled="disabled" [(ngModel)]="objVacateQtrDtls.qrtrAddress1" name="qrtrAddress1" #qrtrAddress1="ngModel" required >  >Address 1</textarea>
   </div>
   <div class="fom-title">Rent Details if Quarter Alloted to self</div>
   
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <mat-select placeholder="Custodian" disabled="disabled" [(ngModel)]="objVacateQtrDtls.custId" name="custId" #custId="ngModel" required>
         <mat-option *ngFor="let cudtodian of _listCustodian | async" [value]="cudtodian.custId">{{cudtodian.custName}}</mat-option>
       </mat-select>
       <mat-error>
         <span [hidden]="!custId.errors?.required">Custodian is required</span>
       </mat-error>
     </mat-form-field>
   </div> 
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <mat-select placeholder="Quarter Type" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmQrtrType" name="accmQrtrType" #accmQrtrType="ngModel" required>
         <mat-option *ngFor="let quatertype of _listQuarterType | async" [value]="quatertype.accmQrtrType">{{quatertype.accmQrtrTypeName}}</mat-option>
       </mat-select>
       <mat-error>
         <span [hidden]="!accmQrtrType.errors?.required">Quarter Type is required</span>
       </mat-error>
     </mat-form-field>
   </div>
    
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <mat-select placeholder="Rent Status " disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmRentStat" name="accmRentStat" #accmRentStat="ngModel" required>
         <mat-option *ngFor="let rentStatus of _listRentStatus | async" [value]="rentStatus.accmRentStat">{{rentStatus.accmRentStatName}}</mat-option>
       </mat-select>
       <mat-error>
         <span [hidden]="!accmRentStat.errors?.required">Rent Status is required</span>
       </mat-error>
     </mat-form-field>
   </div> 
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Licence Fee/Rent (Rs.)" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmRent" name="accmRent" #accmRent="ngModel" required
              autocomplete="off" onpaste="return false" maxlength="7" [max]="9999999" type="number" oninput="this.value=Math.abs(this.value)"
              onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
       <mat-error>
         <span [hidden]="!accmRent.errors?.required">Licence Fee/Rent (Rs.) is required</span>
       </mat-error>
     </mat-form-field>
   </div>
   
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Water Charge (Rs.)" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmWaterCharge" name="accmWaterCharge" #accmWaterCharge="ngModel"
              required autocomplete="off" onpaste="return false" maxlength="7" [max]="9999999" type="number" oninput="this.value=Math.abs(this.value)"
              onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
       <mat-error>
         <span [hidden]="!accmWaterCharge.errors?.required">Water Charge (Rs.) is required</span>
       </mat-error>
     </mat-form-field>
   </div>
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Electric Charge" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmAddRent1" name="accmAddRent1" #accmAddRent1="ngModel"
              required autocomplete="off" onpaste="return false" maxlength="7" [max]="9999999" type="number" oninput="this.value=Math.abs(this.value)"
              onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
       <mat-error>
         <span [hidden]="!accmAddRent1.errors?.required">Electric Charge is required</span>
       </mat-error>
     </mat-form-field>
   </div>
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Garage Rent (Rs.)" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmGarageRent" name="accmGarageRent" #accmGarageRent="ngModel"
              required autocomplete="off" onpaste="return false" maxlength="7" [max]="9999999" type="number" oninput="this.value=Math.abs(this.value)"
              onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
       <mat-error>
         <span [hidden]="!accmGarageRent.errors?.required">Garage Rent (Rs.) is required</span>
       </mat-error>
     </mat-form-field>
   </div>
 
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Service Charge (Rs.)" disabled="disabled" [(ngModel)]="objVacateQtrDtls.accmServCharge" name="accmServCharge" #accmServCharge="ngModel"
              required autocomplete="off" onpaste="return false" maxlength="7" [max]="9999999" type="number" oninput="this.value=Math.abs(this.value)"
              onKeyPress="if(this.value.length==7 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
       <mat-error>
         <span [hidden]="!accmServCharge.errors?.required">Service Charge (Rs.) is required</span>
       </mat-error>
     </mat-form-field>
   </div>
   
   <div class="fom-title">Vacating Details</div>
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput placeholder="Vacating Letter No" [(ngModel)]="objVacateQtrDtls.vacatingLetterNo" maxlength="12" name="vacatingLetterNo" #vacatingLetterNo="ngModel"
              required [disabled]=disbleQuaterflag (keypress)="charaterWithNumeric($event)" (paste)="$event.preventDefault()" autocomplete="off">
       <mat-error>
         <span [hidden]="!vacatingLetterNo.errors?.required">Vacating Letter No is required</span>
       </mat-error>
     </mat-form-field>
   </div>
 
    
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput [matDatepicker]="VacatingLetterDt" placeholder="Letter Date " [min]="maxDate" [(ngModel)]="objVacateQtrDtls.vacatingLetterDt" name="vacatingLetterDt"
              #vacatingLetterDt="ngModel" required (click)="VacatingLetterDt.open()" [disabled]=disbleQuaterflag readonly>
       <mat-datepicker-toggle matSuffix [for]="VacatingLetterDt"></mat-datepicker-toggle>
       <mat-datepicker #VacatingLetterDt></mat-datepicker>
       <mat-error>
         <span [hidden]="!vacatingLetterDt.errors?.required">Letter Date is required</span>
       </mat-error>
     </mat-form-field>
   </div>
   
   <div class="col-md-12 col-lg-4">
     <mat-form-field class="wid-100">
       <input matInput [matDatepicker]="AccmVacateDt" placeholder="Date Vacated" (click)="AccmVacateDt.open()" [min]="objVacateQtrDtls.vacatingLetterDt" [(ngModel)]="objVacateQtrDtls.accmVacateDt"
              name="accmVacateDt" #accmVacateDt="ngModel" required [disabled]=disbleQuaterflag readonly>
       <mat-datepicker-toggle matSuffix [for]="AccmVacateDt"></mat-datepicker-toggle>
       <mat-datepicker #AccmVacateDt></mat-datepicker>
       <mat-error>
         <span [hidden]="!accmVacateDt.errors?.required">Date Vacated is required</span>
       </mat-error>
       <mat-error *ngIf="accmVacateDt.hasError('matDatepickerMin')">Date should be equal or grater than letter date </mat-error>
     </mat-form-field>
   </div>
   
 </ng-template>
  
         <ng-template matStepLabel>Govt. Quarter Details</ng-template>
   
         <div class="col-md-12 col-lg-12 text-center btn-wraper">
           <button type="submit" class="btn btn-success" [disabled]="_saveDisabledflag">{{btnText}}</button>
           <button type="button" class="btn btn-warning" (click)=" resetQuaterDdetailsForm()" >Clear</button>
     
         </div>
 
       </mat-card>
     </div>
   </form>
 <!--right table-->
  
    <!-- ======================================Right table of Quater Details================= -->
 
    <div class="col-md-12 col-lg-5  ">
      <div class="example-card mat-card tabel-wraper Select Verified Employee Code:">
        <div class="fom-title">Quarter Details</div>
        <mat-form-field>
          <input matInput (keyup)="QuaterDetailsFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <table mat-table [dataSource]="quaterdataSource" matSort class="mat-elevation-z8 even-odd-color">

          <!-- Date Of MaritalStatus Column -->
          <ng-container matColumnDef="Allotedto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Alloted To </th>
            <td mat-cell *matCellDef="let element"> {{element.accmQrtrAllotName}} </td>
          </ng-container>

          <!-- Date Of RelationShip Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.accmOccupDt | date }} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-info" matTooltip="Info" (click)="QuarterDetails(element.empCd,0,element.msEmpAccmID)">error</a>
              <a class="material-icons i-edit" matTooltip="Edit" (click)="QuarterDetails(element.empCd,1,element.msEmpAccmID )">edit</a>
              <!-- <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteQuarterDetails(element.empCd ,element.msEmpAccmID); deletepopup = !deletepopup"> delete_forever </a>   -->

              <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.empCd ,element.msEmpAccmID ); deletepopup = !deletepopup"> delete_forever </a>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="quaterdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: quaterdisplayedColumns;"></tr>
        </table>
        <div [hidden]="isTableHasData">
          No  Records Found
        </div>
        <mat-paginator #quaterpaginator [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
       
      </div>
  </div>

  
  <app-dialog [(visible)]="deletepopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="DeleteQuarterDetails()">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletepopup =!deletepopup">Cancel</button>
      </div>

    </div>
  </app-dialog>
