<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="isWarningStatus" (click)="isWarningStatus = false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> {{responseMessage}} </strong>
  </div>

</div>
<!--End Alert message for delet, info-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isRateDetailPanel" [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="resetRateDetailPanel()">
      <mat-panel-title class="acordion-heading">
        Section Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="incomeTaxRatesForm" (ngSubmit)="onSubmit()">

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="serSecCode" placeholder="Section Code" required>
            <mat-option value="" (click)="bindEntertainMasters('')">Select</mat-option>
            <mat-option *ngFor="let ele of entertainMaster" value="{{ele.sdeSecCode}}" (click)="bindEntertainMasters(ele.msSdrId)">{{ele.sdeSecCode}}</mat-option>
          </mat-select>
          <mat-error>Please select a Section Code!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="serSecDesc" placeholder="Section Description" [disabled]="true">
            <mat-option value="" (click)="bindEntertainMasters('')">Select</mat-option>
            <mat-option *ngFor="let ele of entertainMaster" value="{{ele.sdeDesc}}" (click)="bindEntertainMasters(ele.msSdrId)">{{ele.sdeDesc}}</mat-option>
          </mat-select>
          <mat-error>Please select a Section Description!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select formControlName="serSlab" placeholder="Slab" [disabled]="true">
            <mat-option value="" (click)="bindEntertainMasters('')">Select</mat-option>
            <mat-option *ngFor="let ele of entertainMaster" value="{{ele.sdeSlab}}" (click)="bindEntertainMasters(ele.msSdrId)">{{ele.sdeSlab}}</mat-option>
          </mat-select>
          <mat-error>Please select a Slab!</mat-error>
        </mat-form-field>
      </div>

      <mat-card class="example-card mat-card margin-top-10px" [ngClass]="bgColor">
        <div class="fom-title">Financial Year Details</div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="serFinFyr" placeholder="Financial Year From" (selectionChange)="onFinYearChange()" required>
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let fin of financialYears" value="{{fin}}">{{fin}}</mat-option>
            </mat-select>
            <!--<input matInput formControlName="serFinFyr" placeholder="Financial Year From" autocomplete=off maxlength="9" (keyup)="modifyFinancialYearFromInput($event, 'from')" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">-->
            <mat-error *ngIf="incomeTaxRatesForm.controls.serFinFyr && incomeTaxRatesForm.controls.serFinFyr.errors && incomeTaxRatesForm.controls.serFinFyr.errors.required">Please enter Financial Year From!</mat-error>
            <mat-error *ngIf="incomeTaxRatesForm.controls.serFinFyr && incomeTaxRatesForm.controls.serFinFyr.errors && incomeTaxRatesForm.controls.serFinFyr.errors.invalidError">Financial Year From should be less than Financial Year To!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="serFinTyr" placeholder="Financial Year To" (selectionChange)="onFinYearChange()" required>
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let fin of financialYears" value="{{fin}}">{{fin}}</mat-option>
            </mat-select>
            <!--<input matInput formControlName="serFinTyr" placeholder="Financial Year To" autocomplete=off maxlength="9" (keyup)="modifyFinancialYearFromInput($event, 'to')" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">-->  <!--|| (event.charCode == 45)-->
            <mat-error>Please enter Financial Year To!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="serRateFor" placeholder="Rates For" required>
              <mat-option value="">Select</mat-option>
              <mat-option value="M">M - Male</mat-option>
              <mat-option value="F">F- Female</mat-option>
              <mat-option value="C">C - Common</mat-option>
            </mat-select>
            <mat-error>Please enter Rates For!</mat-error>
          </mat-form-field>
        </div>
      </mat-card>
      <mat-card class="example-card mat-card margin-top-10px" [ngClass]="bgColor">
        <div class="fom-title">Rate Details</div>
        <div class="tabel-wraper wid-100">
          <table class="mat-elevation-z8 col-md-12 col-lg-12 table2" formArrayName="rateDetails">
            <tr>
              <th>Lower Limit</th>
              <th>Upper Limit</th>
              <th>Percentage Value %</th>
              <th>Max Admissible</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let rate of incomeTaxRatesForm.controls.rateDetails.controls; let i = index;" [formGroupName]="i">
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput class="mat-input-element" formControlName="serLLimit" (keyup)="validateLowerLimit(i)" maxlength="6" placeholder="Lower Limit" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors.required == true">Please enter Lower Limit!</mat-error>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors.collapse == true">Lower limit and upper limit value should not be overlapped!</mat-error>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serLLimit.errors.invalidError == true">Should be less than Upper Limit!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput class="mat-input-element" formControlName="serULimit" (keyup)="validateUpperLimit(i)" maxlength="6" placeholder="Upper Limit" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serULimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serULimit.errors.required == true">Please enter Upper Limit!</mat-error>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serULimit.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serULimit.errors.invalidError == true">Should be greater than lower Limit!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput class="mat-input-element" formControlName="serPercValue" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" maxlength="3" placeholder="Percentage value %" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serPercValue.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serPercValue.errors.required">Please enter Percentage value %!</mat-error>
                  <mat-error *ngIf="incomeTaxRatesForm.controls.rateDetails && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serPercValue.errors && incomeTaxRatesForm.controls.rateDetails.controls[i].controls.serPercValue.errors.pattern">Please enter valid percentage value %!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-width">
                  <input matInput class="mat-input-element" formControlName="serValue" maxlength="6" placeholder="Max Admissible" autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" required>
                  <mat-error>Please enter Max Admissible!</mat-error>
                </mat-form-field>
              </td>
              <td>
                <a *ngIf="rateDetails.length > 1" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRateDetail(i)">
                  delete_forever
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-12 col-lg-12 text-right btn-wraper">
          <button type="button" class="btn btn-success" (click)="addRateDetail()">Add Row</button>
        </div>
      </mat-card>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" *ngIf="submitButtonText">{{submitButtonText}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
      </div>
    </form>
    
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Rate Detail History
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="dataSource.data.length > 0">

        <ng-container matColumnDef="sno">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'"> Sno. </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;" [ngClass]="'customWidthClass'">{{ i + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serSecCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Section Code </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'alignTextCentre'"> {{element.serSecCode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serFinFyr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year From</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'alignTextCentre'"> {{element.serFinFyr}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serFinTyr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Financial Year To</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'alignTextCentre'"> {{element.serFinTyr}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serRateFor">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">Rate for</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'alignTextCentre customWidthClass'"> {{element.serRateFor}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">Action</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteDetails(element);DeletePopup = !DeletePopup">
              delete_forever
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
    <!--<mat-paginator [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" #paginator [length]="totalCount" [pageSizeOptions]="[5, 10, 20, 50]" (page)="pageEvent = getPaginationData($event)" showFirstLastButtons></mat-paginator>-->
    <mat-paginator [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" #paginator [length]="totalCount" [pageSizeOptions]="[5, 10]" [pageSize]="pageSize" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>

  </mat-expansion-panel>
</mat-accordion>

<mat-toolbar color="warning" class="record-not-found" *ngIf="dataSource.data.length == 0">Record is not found</mat-toolbar>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="DeletePopup = false">Cancel</button>
    </div>
  </div>
</app-dialog>
