/*mat-table {
  border-collapse: collapse;
}

mat-row {
  border-right: 1px solid #000000;
}

mat-cell {
  border-right: 1px solid #000000;
}

mat-header-cell {
  border-right: 1px solid #000000;
  color: white;
  justify-content:center;
}

mat-header-row {
  background-color: #3268ab;
  color: white;
}
.customWidthClassForm {
  flex: 0 0 30px;
}
.customWidthClass {
  flex: 0 0 70px;
}
.alignTextCentre{
  display:flex;
  justify-content:center
}*/

.record-not-found {
  text-align: center;
  display: inline-block;
  height: 33px;
}
.form-field-width {
  width: 150px;
}

.customWidthClass {
  flex: 0 0 75px;
}

.bgcolor {
  background-color: #fffbda99;
}
