.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }

p {
  font-family: Lato;
}

.example-card {
  max-width: 300px;
  margin: 4px
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* 29-jan-19 */

table {
  width: 100%;
}

.margin-rbl {
  margin: 0 50px 10px 0
}

.fild-one {
  margin-bottom: 35px;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mat-card {
  box-shadow: none;
  border: 1px solid #e4e2e2;
}

.example-card {
  max-width: 100% !important;
}

.mat-form-field {
  width: 181px;
}


/* Responsive */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .mat-form-field {
    width: 100%;
  }

  .detail_one {
    width: 100%;
  }

  .detail_two {
    width: 100%;
  }
}

@media only screen and (min-width : 1025px) and (max-width : 1397px) {
  .detail_one {
    width: 50%;
  }

  .detail_two {
    width: 45%;
  }
}
/*31/jan/19*/
.m-20 {
  margin: 0 20px 20px 20px !important;
}

.mat-form-field-infix {
  width: 100%;
}


.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mt-10 {
  margin-top: 10px;
}

.select-drop-head {
  margin: 0 30px;
}

.example-full-width {
  width: 100%;
}

.icon-right {
  position: absolute;
}
.bgcolor {
  background-color: #fffbda99;
}

