<!--30/7/19 Start-->
<div class="col-md-12">
  <div class="profile-card">
    <!--<div class="col-md-3 profile-wraper">
      <div class="col-md-12 profile-img">
        <img src="" />
      </div>
      <div class="col-md-12 left-profile">
        <ul class="profile-info">
          <li class="detail-heading">Employee Name<label class="emp-name">{{uname}}</label></li>
          <li class="detail-heading">EMP Code<label class="emp-name">{{Uempcode}}</label></li>
        </ul>
      </div>
    </div>-->
    <div class="col-md-12 pading-0 border-l">
      <!--Personal Details-->
      <div class="col-md-12 bg-w">
        <span class="profile-tittle">Personal Details</span>
        <div class="col-md-3 row">
          <ul class="profile-info">
            <li class="detail-heading">Employee Name</li>
            <li class="detail-info">{{uname}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Gender</li>
            <li class="detail-info">{{ugender}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Date Of Birth</li>
            <li class="detail-info">{{updob|date}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Email</li>
            <li class="detail-info">{{Email}}</li>
          </ul>
        </div>

        <div class="col-md-3 row">
          <ul class="profile-info">
            <li class="detail-heading">Employee Joining Date</li>
            <li class="detail-info">{{UJoinDt|date}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Mobile No.</li>
            <li class="detail-info">{{UMobileNo}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Adhaar No.</li>
            <li class="detail-info">{{UAdhaarNo}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">PAN NO</li>
            <li class="detail-info">{{upan}}</li>
          </ul>
        </div>


        <div class="col-md-3 row">
          <ul class="profile-info">
            <li class="detail-heading">Employee Type</li>
            <li class="detail-info">{{EmpType}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Employee Sub-Type</li>
            <li class="detail-info">{{EmpSubType}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Service  Name</li>
            <li class="detail-info">{{ServiceTypeName}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Joining Catogary Name</li>
            <li class="detail-info">Test{{joining_CatogaryName}}</li>
          </ul>
        </div>



        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Employee Sub-Type</li>
            <li class="detail-info">{{EmpSubType}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Date of First Joining (In Govt. Service)</li>
            <li class="detail-info">{{EmpJoinDt|date}}</li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="profile-info">
            <li class="detail-heading">Date of Joining Ministry/ Controller</li>
            <li class="detail-info">{{joining_CatogaryName}}</li>
          </ul>
        </div>
        <div class="col-md-3 row">
          <ul class="profile-info">
            <li class="detail-heading">Joining Mode</li>
            <li class="detail-info">{{joining_Catogary}}</li>
          </ul>
        </div>
      </div>

      <!--END OF Personal Details-->
     
      <div class="col-md-12 bg-w">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="profile-tittle"> Bank Details</span>
            </mat-expansion-panel-header>
            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">A/c No.</li>
                <li class="detail-info">{{AcNo}}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">IFSC Code</li>
                <li class="detail-info">{{IFSCCode}}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">Bank Name</li>
                <li class="detail-info">{{BankName}}</li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">Branch State</li>
                <li class="detail-info">{{BranchState}}</li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">Branch City</li>
                <li class="detail-info">{{BranchCity}}</li>
              </ul>
            </div>


            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">Branch Name</li>
                <li class="detail-info">{{BranchName}}</li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul class="profile-info">
                <li class="detail-heading">Branch Address</li>
                <li class="detail-info">{{BranchAddress}}</li>
              </ul>
            </div>

            <!--<div class="col-md-3">
    <ul class="profile-info">
      <li class="detail-heading">PAN NO</li>
      <li class="detail-info">AMLPV2936R</li>
    </ul>
  </div>-->

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="profile-tittle"> Family Details</span>
            </mat-expansion-panel-header>

            <div *ngFor="let Familyrow of ArrFamily;  let i = index" [attr.data-index]="i">
              <div id="Name_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Name</li>
                  <li class="detail-info">{{Familyrow.name}}</li>
                </ul>
              </div>
              <div id="Relations_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Relationship</li>
                  <li class="detail-info">{{Familyrow.relationship}}</li>
                </ul>
              </div>
              <div id="DOB_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">DOB</li>
                  <li class="detail-info">{{Familyrow.dob|date}}</li>
                </ul>
              </div>
              <div id="MaritalStatus_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Marital Status</li>
                  <li class="detail-info">{{Familyrow.maritalStatus}}</li>
                </ul>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>

              <span class="profile-tittle"> Nomination Details for GPF/CPF/NPS and Pensionary Benefits</span>
            </mat-expansion-panel-header>
            <div *ngFor="let nom of ArrNomnee; let i = index" [attr.data-index]="i">
              <div id="NomneeName_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Nomnee Name</li>
                  <li class="detail-info">{{nom.name}}</li>
                </ul>
              </div>

              <div id="NomneeRelations_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Nominee Percentage Share</li>
                  <li class="detail-info">{{nom.nomineePercentageShare}}%</li>
                </ul>
              </div>

              <div id="NomneeDOB_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">DOB</li>
                  <li class="detail-info">{{nom.dob|date}}</li>
                </ul>
              </div>

              <div id="GuardianName_{{i}}" class="col-md-3">
                <ul class="profile-info">
                  <li class="detail-heading">Guardian Name</li>
                  <li class="detail-info">{{nom.guardianName}}</li>
                </ul>
              </div>


              <!--<div id="NomneeStateName_{{i}}" class="col-md-3">
        <ul class="profile-info">
          <li class="detail-heading">StateName</li>
          <li class="detail-info">{{nom.stateName}}</li>
        </ul>
      </div>-->
            </div>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
  </div>
</div>

<!--30/7/19 End-->
