<form #Pay="ngForm" (ngSubmit)="Pay.valid && SaveUpdatePayDetails();" novalidate>
  <div class="col-md-12 col-lg-7" >
    <mat-card class="example-card">
      
      <div class="fom-title">Pay Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field  class="wid-100">
      <mat-select placeholder="Select Organisation Type" [(ngModel)]="objPayDetails.organisation_Type" name="organisation_Type" required #organisation_Type="ngModel"
       (selectionChange)="GetAllSatate($event.value)" >
        <mat-option *ngFor="let orgType of OrganisationType" [value]="orgType.organisation_Type">{{orgType.organisation_TypeName}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!organisation_Type.errors?.required">Organisation Type is required</span>
      </mat-error>
    </mat-form-field>
    </div>
  
    <div class="col-md-12 col-lg-4" *ngIf="reqPayState">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select State" [(ngModel)]="objPayDetails.stateID" name="stateID" #stateID="ngModel" required>
          <mat-option *ngFor="let state of states" [value]="state.stateCode">{{state.stateName}}</mat-option>
        </mat-select>
        <mat-error>
          <span [hidden]="!stateID.errors?.required">State is required</span>
        </mat-error>
      </mat-form-field>
  </div>
  
      <div class="col-md-12 col-lg-4">
          <mat-form-field  class="wid-100">
        <mat-select placeholder="Select Pay Commission" [(ngModel)]="objPayDetails.payComm" name="payComm" #payComm="ngModel" required (selectionChange)="getInfoByPayCommission($event.value)" required>
        <mat-option *ngFor='let commissionCode of payCommission' [value]="commissionCode.msCddirID" >{{commissionCode.cddirCodeText}}</mat-option>
         </mat-select>
        <mat-error>
          <span [hidden]="!payComm.errors?.required">Pay Commission is required</span>
        </mat-error>
      </mat-form-field>
      </div>
  
      <div class="col-md-12 col-lg-4" *ngIf="showFieldBy7thPay">
        <mat-form-field  class="wid-100">
      <mat-select placeholder="Select Pay Level"  [(ngModel)]="objPayDetails.payLevel" name="payLevel" #payLevel="ngModel" required (selectionChange)="getPayIndex($event.value)">
        <mat-option *ngFor="let paylevel of payLevelDetails" [value]="paylevel.payLevel">{{paylevel.payLevel}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!payLevel.errors?.required">Pay Level is required</span>
      </mat-error>
    </mat-form-field>
    </div>
  
    <div class="col-md-12 col-lg-4" *ngIf="showFieldBy7thPay">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Pay Index" [(ngModel)]="objPayDetails.payIndex" name="payIndex" #payIndex="ngModel" required (selectionChange)="getBasicDetails(objPayDetails.payLevel,$event.value)">
          <mat-option *ngFor="let paylevel of payIndexDetails" [value]="paylevel.payIndex">{{paylevel.payIndexName}}</mat-option>
        </mat-select>
        <mat-error>
          <span [hidden]="!payIndex.errors?.required">Pay Index is required</span>
        </mat-error>
      </mat-form-field>
  </div>
  
  <div class="col-sm-12 col-md-4" *ngIf="showFieldBy6thPay">
    <mat-form-field>
      <mat-select placeholder="Select Grade Pay" [(ngModel)]="objPayDetails.gradePay" name="gradePay" #gradePay="ngModel" required (selectionChange)="getPayScale($event.value)" >
        <mat-option>
          <ngx-mat-select-search [formControl]="gradepayFilterCtrl" [placeholderLabel]="'Find Grade pay...'" [noEntriesFoundLabel]="'Grade pay not found'"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let emp of filteredgradepay | async" [value]="emp.gradePay">
          {{emp.gradePay}}
        </mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!gradePay.errors?.required">Grade Pay is required</span>
      </mat-error>
    </mat-form-field>
  </div> 
  
  
  <div class="col-md-12 col-lg-4" *ngIf="showFieldBy6thPay">
    <mat-form-field class="wid-100">
      <mat-select placeholder="Select Pay Scale" [(ngModel)]="objPayDetails.pscScaleCd" name="pscScaleCd" #pscScaleCd="ngModel" required (selectionChange)="resetPayInPbAndBasicPay($event.value)">
        <mat-option *ngFor="let ScaleId of SacleIDs | async" [value]="ScaleId.pscScaleCd">{{ScaleId.payScalePscDscr}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!pscScaleCd.errors?.required">Pay Scale is required</span>
      </mat-error>
    </mat-form-field>
  </div>
  
  <div class="col-md-12 col-lg-4" *ngIf="showFieldBy6thPay">
    <mat-form-field class="wid-100">
      <input matInput placeholder="Pay In Pay Band"  [(ngModel)]="objPayDetails.payInPb"  name="payInPb" #payInPb="ngModel"
             required (blur)="CalculateBasicPay()" maxlength="5"  autocomplete="off" onpaste="return false" 
             oninput="this.value=Math.abs(this.value)" pattern="^[1-9]\d{3,5}$" type="number" [max]="99999"
             onKeyPress="if(this.value.length==5 || event.charCode == 46 || event.charCode == 43 || event.charCode == 45) return false;"/>             
      <mat-error>
        <span [hidden]="!payInPb.errors?.required">Pay In Pay Band is required</span>
        <span *ngIf="payInPb.errors?.pattern">Pay Band is not valid</span>
      </mat-error>
    </mat-form-field>
    
  </div> 
  
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Basic Pay" required [(ngModel)]="objPayDetails.basicPay" name="basicPay" #basicPay="ngModel" 
                 autocomplete="off" onpaste="return false"  pattern="^[1-9]\d{3,6}$" maxlength="6" type="number" [max]="999999" oninput="this.value=Math.abs(this.value)"
                 onKeyPress="if(this.value.length==6 || event.charCode == 46 || event.charCode == 43 || event.charCode == 45) return false;"/>             
          <mat-error>
            <span [hidden]="!basicPay.errors?.required">Basic Pay is required</span>
            <span *ngIf="basicPay.errors?.pattern">Basic Pay is not valid</span>
          </mat-error>
        </mat-form-field> 
      </div>
  
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="PWEFD" placeholder="Pay w.e.f. Date" [(ngModel)]="objPayDetails.basicPayDT" autocomplete="off" name="basicPayDT"
                 #basicPayDT="ngModel" required (click)="PWEFD.open()" readonly [min]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="PWEFD"></mat-datepicker-toggle>
          <mat-datepicker #PWEFD></mat-datepicker>
          <mat-error>
            <span [hidden]="!basicPayDT.errors?.required">Pay w.e.f. Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="IncrpayDT" placeholder="Next Increment Date" [(ngModel)]="objPayDetails.incrpayDT" required name="IncrpayDT"
                 #IncrpayDate="ngModel" (click)="IncrpayDT.open();" readonly [min]="objPayDetails.basicPayDT">
          <mat-datepicker-toggle matSuffix [for]="IncrpayDT"></mat-datepicker-toggle>
          <mat-datepicker #IncrpayDT></mat-datepicker>
          <mat-error><span [hidden]="!IncrpayDate.errors?.required">Next Increment Date is required</span></mat-error>
          <mat-error *ngIf="IncrpayDate.hasError('matDatepickerMin')">Next Increment Date should be equal or greater than Pay w.e.f. date </mat-error>
        </mat-form-field>
   </div>
    
  
  <div class="col-md-12 col-lg-4">
  <mat-list-item class="primary-imenu-item" role="listitem">
    <mat-form-field class="wid-100">
      <mat-select placeholder="Dues" name="Dues" class="filter-select" [(ngModel)]="objPayDetails.dues"
                  [compareWith]="equalsDues" required multiple #dues="ngModel">
        <mat-option disabled="disabled" class="filter-option">
          <input type="checkbox" (click)="selectAll(duescheckAll.checked, dues, nonComputationalDues)" #duescheckAll> --SelectAll--
        </mat-option>
        <mat-option *ngFor="let dues of nonComputationalDues" [value]="dues">{{dues.duesName}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!dues.errors?.required">Dues is required</span>
      </mat-error>
    </mat-form-field>
  </mat-list-item>
    </div> 
  
  <div class="col-md-12 col-lg-4">
  <mat-list-item class="primary-imenu-item" role="listitem">
      <mat-form-field class="wid-100">
          <mat-select 
          placeholder=" Select Deduction" 
          name="Deduction" 
          class="filter-select" 
          [(ngModel)]="objPayDetails.deduction" 
          [compareWith]="equalsDeduction"
         required
          multiple 
          #deduction="ngModel">
            <mat-option disabled="disabled" class="filter-option">
              <input type="checkbox"(click)="selectAll(deductioncheckAll.checked, deduction, nonComputationalDeductionList)" #deductioncheckAll> --SelectAll--
            </mat-option>
            <mat-option *ngFor="let deduction of nonComputationalDeductionList"  [value]="deduction">{{deduction.deductionName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!deduction.errors?.required">Deduction is required</span>
          </mat-error>
      </mat-form-field>
    </mat-list-item>
  </div>
  
  
  <div class="col-md-12 col-lg-8 combo-col"  *ngIf="showofficevehicle">
  <div class="col-md-12 col-lg-6 pading-0">
    <div class="wid-100">
      <label class="label-font">Entitled to office vehicle</label>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <mat-radio-group [(ngModel)]="objPayDetails.entitledOffVehID" name="entitledOffVeh" #EntitledOffVeh="ngModel" required>

      <mat-radio-button *ngFor="let veh of entitledOffVeh" [value]="veh.entitledOffVehID">{{veh.entitledOffVehIDName}}</mat-radio-button>
      <!-- <mat-radio-button value="Y">Yes</mat-radio-button>
    <mat-radio-button value="N"[checked] ="true" >No</mat-radio-button> -->
    </mat-radio-group>
    <mat-error>
      <span [hidden]="!EntitledOffVeh.errors?.required">Entitled to office vehicle</span>
    </mat-error>
  </div>
  </div>
  
  <div class="col-md-12 col-lg-12 text-center btn-wraper">
    <button type="submit" class="btn btn-success" >{{btnText}}</button>
    <button type="button" class="btn btn-warning" (click)=" resetPayDetailsForm()" >Clear</button>
  
  </div>
  
    </mat-card>
  </div>
  </form>
  <!-- ======================================Right table of pay Details================= -->
  <div class="col-md-12 col-lg-5">
  <div class="example-card">
    <mat-card>
      <div>
       
        <label class="label-font">Pay Details </label> 
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            
            </thead>
            <tbody>
              <tr>
                <td>Pay Commission</td>
                <td>{{objPayDetails.payCommName}}</td>
              </tr>
              <tr *ngIf="showDetailsBy7thPay">
                <td>Pay Level</td>
                <td>{{objPayDetails.payLevelName}}
                <td>
  
              </tr>
              <tr *ngIf="showDetailsBy7thPay">
                <td>Pay Index</td>
                <td> {{objPayDetails.payIndexName}} </td>
  
              </tr>
  
              <tr *ngIf="showDetailsBy6thPay">
                <td>Grade Pay</td>
                <td> {{objAllPayDetails.gradepay}} </td>
  
              </tr>
              <tr *ngIf="showDetailsBy6thPay">
                <td>Pay Scale</td>
                <td> {{objAllPayDetails.PayScalePscDscr}} </td>
  
              </tr>
              <tr *ngIf="showDetailsBy6thPay">
                <td>Pay in Pay Band </td>
                <td> {{objAllPayDetails.payInPb}} </td>
  
              </tr>
              <tr>
                <td>Basic Pay</td>
                <td>{{objAllPayDetails.basicPay}}</td>
  
              </tr>
  
              <tr>
                <td>Pay w.e.f. Date</td>
                <td>{{objAllPayDetails.basicPayDT | date: 'dd/MM/yyyy'}}</td>
  
              </tr>
              
              <tr>
                <td>Next Increment Date</td>
                <td>{{objAllPayDetails.incrpayDT  | date: 'dd/MM/yyyy'}}</td>
  
              </tr>
              
              
               
            </tbody>
          </table>
        </div>
  
  
  
  
      </div>
    </mat-card>
  </div>
  </div>
