<!--code for on click note-->
<div class="note-wraper">
  <button type="button" class="slide-toggle note-slide" (click)="test(dstatus = !dstatus);">
    <i class="material-icons">
      keyboard_arrow_left
    </i><span>Note</span>
  </button>

  <div [ngClass]="divbox">
    <div class="box-inner">
      Please enter details when the employee is revoked after completion of Suspension period
    </div>
  </div>

</div>
<!--on click note end-->
<!--Start Alert message for delet, info-->
<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="btnclose();">&times;</span>
  </button>&nbsp;
</div>

<!--End Alert message for delet, info-->
<mat-accordion class="col-sm-12 col-md-12 col-lg-12 mb-20">
  <mat-expansion-panel [expanded]="true" #panel1 [ngClass]="bgcolor">

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        GPF Recovery Rules
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="msgGpfRules.form.valid && insertUpdateGpfRules();" #msgGpfRules="ngForm">
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PF Type" [(ngModel)]="gpfrules.pfType" name="pfType" #pfType="ngModel" required [disabled]="disableflag">
            <mat-option value="C">CPF</mat-option>
            <mat-option value="G">GPF</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!pfType.errors?.required">PF Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" [(ngModel)]="gpfrules.ruleApplicableFromDate" name="ruleApplicableFromDate" #ruleApplicableFromDate="ngModel"
                 required readonly placeholder="Rules applicable from date" (click)="picker2.open()" [min]="max">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>
            <span [hidden]="!ruleApplicableFromDate.errors?.required">Rules applicable from date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker3" [(ngModel)]="gpfrules.rulesValidTillDate" name="rulesValidTillDate" readonly placeholder="Rules valid till date"
                 #rulesValidTillDate="ngModel" required (click)="picker3.open()" [min]="gpfrules.ruleApplicableFromDate">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error>
            <span [hidden]="!rulesValidTillDate.errors?.required">Rules applicable from date is required</span>
          </mat-error>
          <mat-error *ngIf="rulesValidTillDate.hasError('matDatepickerMin')">Date should be equal or grater than from date </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Min Instalments that can be fixed" [(ngModel)]="gpfrules.minInstalmentst" name="minInstalmentst" type="number"
                 #minInstalmentst="ngModel" required [max]="999" onpaste="return false" oninput="this.value=Math.abs(this.value)"
                 onKeyPress="if(this.value.length==3 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" autocomplete="off">
          <mat-error>
            <span [hidden]="!minInstalmentst.errors?.required">Min Instalments that can be fixed  required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Max Instalments that can be fixed" [(ngModel)]="gpfrules.maxInstalmentst" name="maxInstalmentst" type="number"
                 #maxInstalmentst="ngModel" required [max]="999" onpaste="return false" oninput="this.value=Math.abs(this.value)"
                 onKeyPress="if(this.value.length==3 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" autocomplete="off">
          <mat-error>
            <span [hidden]="!maxInstalmentst.errors?.required">Max Instalments that can be fixed required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="GPF Rule Reference Number" [(ngModel)]="gpfrules.gpfRuleRefNo" name="gpfRuleRefNo" #gpfRuleRefNo="ngModel"
                 onpaste="return false" (keypress)="charaterWithNumeric($event)" autocomplete="off" maxlength="20">
          <mat-error>
            <span [hidden]="!gpfRuleRefNo.errors?.required">GPF Rule Reference Number required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="col-md-12 col-lg-6 pading-0">
          <label mat-label>Whether to consider Odd Installment</label>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="gpfrules.oddInstallment" name="oddInstallment" #oddInstallment="ngModel" required>
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
            <mat-error>
              <span *ngIf="msgGpfRules.submitted && oddInstallment.invalid">Whether to consider Odd Installment required</span>
            </mat-error>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" *ngIf="btnText" [class.btn-info]="isClicked">{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Cancel</button>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>





<!--- Table Right--->
<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">GPF  Recovery Rules List</div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="pfType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pf Type</th>
        <td mat-cell *matCellDef="let element">{{element.pfType}}</td>
      </ng-container>
      <ng-container matColumnDef="ruleApplicableFromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rule Applicable From Date</th>
        <td mat-cell *matCellDef="let element">{{element.ruleApplicableFromDate|date:"dd/MM/yyyy"}}</td>
      </ng-container>
      <ng-container matColumnDef="rulesValidTillDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rules Valid Till Date</th>
        <td mat-cell *matCellDef="let element">{{element.rulesValidTillDate|date:"dd/MM/yyyy"}}</td>
      </ng-container>
      <ng-container matColumnDef="gpfRuleRefNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gpf Rule Ref No</th>
        <td mat-cell *matCellDef="let element"> {{element.gpfRuleRefNo}}</td>
      </ng-container>
      <ng-container matColumnDef="minInstalmentst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Instalment</th>
        <td mat-cell *matCellDef="let element">{{element.minInstalmentst}}</td>
      </ng-container>
      <ng-container matColumnDef="maxInstalmentst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Instalmentst</th>
        <td mat-cell *matCellDef="let element">{{element.maxInstalmentst}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-edit" matTooltip="Edit" (click)="getGpfRecoveryRulesByID(element.msGpfRecoveryID);">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.msGpfRecoveryID);deletepopup = !deletepopup">delete_forever </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="isTableHasData">
      No  Records Found
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>


<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="delete(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>
