<div class="col-md-12">
  <div class="example-card mat-card">
    <div class="fom-title">View And Forward Paybill </div>

    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>


   <!--Table One-->

    <table mat-table [dataSource]="dataSource" matSort class="even-odd-color">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Scheme Code <br />(Bill Description)</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Id </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="schemecode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Type </th>
        <td mat-cell *matCellDef="let element"> {{element.schemecode}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="billbd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Month </th>
        <td mat-cell *matCellDef="let element"> {{element.billbd}} </td>
      </ng-container>

      <ng-container matColumnDef="billtype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Status </th>
        <td mat-cell *matCellDef="let element"> {{element.billtype}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button class="btn btn-primary" type="button">Forward to Checker</button>
    </div>
  </div>
</div>



<mat-accordion class="col-md-12 margin-top-10px">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Regular bill for the month of April,2019
      </mat-panel-title>

    </mat-expansion-panel-header>
    <!--Table Two-->
    <table mat-table [dataSource]="dataSource2" matSort class="even-odd-color">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select the Report to View/Print</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;">     </tr>

    </table>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button class="btn btn-info" type="button">View/Print</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>








