<div class="col-md-12 col-lg-12">
  <div class="alert" [ngClass]="divBgColor" *ngIf="btnStatus==true">
    <strong> {{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="btnStatus=false;">&times;</span>
    </button>&nbsp;
  </div>
  <mat-expansion-panel [expanded]="panelOpenState" [ngClass]="bgColor" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        GPF Withdrawal Rules
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="msGpfWithdrawRules.form.valid && insertUpdateGpfWithdrawalRules();" #msGpfWithdrawRules="ngForm">
      <div class="col-md-12 col-md-3">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PF Type" [(ngModel)]="gpfWithdraw.pfType" name="pfType" #pfType="ngModel" required>
            <mat-option value="G">GPF</mat-option>
            <mat-option value="C">CPF</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!pfType.errors?.required">PF Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="RAD" (click)="RAD.open()"
                 placeholder="Rules applicable from date" [(ngModel)]="gpfWithdraw.ruleApplicableFromDate" name="ruleApplicableFromDate" #ruleApplicableFromDate="ngModel" required readonly>
          <mat-datepicker-toggle matSuffix [for]="RAD"></mat-datepicker-toggle>
          <mat-datepicker #RAD></mat-datepicker>
          <mat-error>
            <span [hidden]="!ruleApplicableFromDate.errors?.required">Rules applicable from date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="RVD" (click)="RVD.open()" [min]="gpfWithdraw.ruleApplicableFromDate" #pfTypeValidTillDate="ngModel" required
                 placeholder="Rules valid till date" [(ngModel)]="gpfWithdraw.pfTypeValidTillDate" name="pfTypeValidTillDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="RVD"></mat-datepicker-toggle>
          <mat-datepicker #RVD></mat-datepicker>
          <mat-error>
            <span *ngIf="pfTypeValidTillDate.errors?.required">Rules valid till date is required</span>
          </mat-error>

          <mat-error *ngIf="pfTypeValidTillDate.hasError('matDatepickerMin')">Date should be equal or grater than from date </mat-error>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="GPF Rule Reference Number" maxlength="20" [(ngModel)]="gpfWithdraw.gpfRuleRefNo" name="gpfRuleRefNo" #gpfRuleRefNo="ngModel" required (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" autocomplete="off">
          <mat-error>
            <span [hidden]="!gpfRuleRefNo.errors?.required">GPF Rule Reference no is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="isLoading" [class.btn-info]="isClicked"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</div>



<!--right table-->

<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">GPF Withdrawal Rule</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" matSortActive="pfType" matSortDirection="asc">
      <ng-container matColumnDef="pfType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PF Type </th>
        <td mat-cell *matCellDef="let element"> {{element.pfType}} </td>
      </ng-container>
      <ng-container matColumnDef="ruleApplicableFromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule wef </th>
        <td mat-cell *matCellDef="let element"> {{element.ruleApplicableFromDate | date}} </td>
      </ng-container>


      <ng-container matColumnDef="pfTypeValidTillDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule Valid Till </th>
        <td mat-cell *matCellDef="let element"> {{element.pfTypeValidTillDate | date}} </td>
      </ng-container>



      <ng-container matColumnDef="gpfRuleRefNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GPF Rule Ref No. </th>
        <td mat-cell *matCellDef="let element"> {{element.gpfRuleRefNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <!--<a class="material-icons i-info" matTooltip="Info" (click)="getEmployeeById(element.empCd,1)">error</a>-->
          <a class="material-icons i-edit" matTooltip="Edit" (click)="getGpfWithdrawalRulesByID(element.msGpfWithdrawRulesRefID)">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.msGpfWithdrawRulesRefID);deletePopUp = !deletePopUp">delete_forever </a>
        </td>
      </ng-container>
      <!--(click)="deleteGpfWithdrawalRules(element.msGpfWithdrawRulesRefID)"-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      No Record Found.
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteGpfWithdrawalRules(setDeletIDOnPopup);">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletePopUp = !deletePopUp">Cancel</button>
    </div>

  </div>
</app-dialog>


