<!---Raju verma 28/may/19--->
<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">

    <!--Dialog Box-->
    <app-dialog [(visible)]="Newrole">
      <form name="form" (ngSubmit)="f.valid && SaveNewRole();" #f="ngForm" novalidate>


        <mat-card class="example-card dialog-wraper">
          <div class="fom-title">
            {{lbleditrole}}
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <!--<input matInput placeholder="Enter Role Name" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" required name="textNewrole" [(ngModel)]="textNewrole">-->
              <input id="textNewrole1" name="textNewrole1" #textNewrole1="ngModel" matInput pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" placeholder="Enter Role Name" autocomplete="off" [(ngModel)]="textNewrole" required>
              <input type="text" name="someData" [(ngModel)]="hdnRoleId" style="display: none;" />
              <mat-error>
                <span *ngIf="f.submitted && !textNewrole1.valid">Special character are not allowed</span>
              </mat-error>
            </mat-form-field>

            <!--<input id="email" name="email" #ref_email="ngModel" matInput type="email" email placeholder="Email" [(ngModel)]="email" required>

          <mat-error *ngIf="!ref_email.valid && ref_email.errors.required">
            Email is required
          </mat-error>-->

          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Enter Role Description" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" required name="textDescription" [(ngModel)]="textDescription">

              <mat-error>
                <span *ngIf="f.submitted && !textDescription.valid">Special character are not allowed</span>
            </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12 col-lg-12 text-center btn-wraper">
            <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
            <!--<button type="button" class="btn btn-warning" (click)="ClearInput();">Cancel</button>-->
            <button type="button" class="btn btn-warning" (click)="Close();Newrole = !Newrole">Cancel</button>
          </div>
        </mat-card>

      </form>
    </app-dialog>




    <div class="fom-title">Role List</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="TxtSexrch" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <button type="button" class="btn btn-labeled btn-success float-r margin-0" (click)="TextChange();Newrole = !Newrole">
      <!--TextChange();-->
      <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>New Role
    </button>

    <table mat-table [dataSource]="roledataSource" matSort class="mat-elevation-z8 even-odd-color mat-table tabel-wraper">
      <!-- Column -->
      <ng-container matColumnDef="roleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name </th>
        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
      </ng-container>

      <ng-container matColumnDef="roleDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Description </th>
        <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="CreatedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>
      <ng-container matColumnDef="roleDeactivateDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Deactivation Reason</th>
        <td mat-cell *matCellDef="let element"> {{element.deActDesc}} </td>
      </ng-container>
      <ng-container matColumnDef="DeactivationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Deactivated On</th>
        <td mat-cell *matCellDef="let element"> {{element.deactivationDate}} </td>
      </ng-container>
      <!-- Action Column -->
      <!--<ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.roleStatus =='c'">
          <a class="material-icons i-edit text-center" (click)="UpdateRole(element.roleName,element.roleID,element.roleDescription);Newrole = !Newrole" matTooltip="Edit">edit</a>
        </div>
      </td>
    </ng-container>-->
      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="float-left" *ngIf="element.roleStatus =='c'">
            <a class="material-icons i-edit text-center" (click)="UpdateRole(element.roleName,element.roleID,element.roleDescription);Newrole = !Newrole" matTooltip="Edit">edit</a>
          </div>
          <div *ngIf="element.roleStatus =='p'">
            <h5><b><A>Predefined</A></b></h5>
          </div>
          <div *ngIf="element.roleStatus =='c'">
            <div *ngIf="element.isActive =='Not Active'">
              <a class="material-icons i-dactivate" matTooltip="Activate" (click)="FillFormrevokerolePop(element.roleID,element.roleName,element.isActive,false);Activaterole = !Activaterole">cancel</a>
            </div>
            <div *ngIf="element.isActive =='Active'">
              <a class="material-icons i-activate" matTooltip="Dactivate" (click)="FillFormrevokerolePop(element.roleID,element.roleName,element.isActive,true);Activaterole = !Activaterole">check_circle</a>
            </div>
          </div>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      <font color="red">Data Not Found...</font>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



  </div>
  <!--End Of Table User Details-->
</div>



<app-dialog [(visible)]="Activaterole">
  <form name="form" (ngSubmit)="frm.valid && Revokerole();" #frm="ngForm" novalidate>
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">{{ActiveDactiveHeaderText}}</h3>
      <div class="form-group text-center col-md-12">
        <!--<div class="col-md-4">
         <label class="control-label">Role ID: {{roleID}}</label>
        </div>
        <div class="col-md-4">
          <label class="control-label">Role Name: &nbsp; {{showroleName}}</label>


        </div>-->
        <div class="col-md-3"></div>
        <div *ngIf="IsDeactivatetextDesc==true">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Enter reason for deactivate role" required name="textDeactivateDescription" pattern="^[a-zA-Z][a-zA-Z0-9 ]+$" autocomplete="off" [(ngModel)]="textDeactivateDescription">
            <mat-error>
              <span *ngIf="frm.submitted &&!textDeactivateDescription.valid" >Special charector are not allowed</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" >Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel();">Cancel</button>
      </div>
    </div>
    </form>
</app-dialog>

<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>



