<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div [ngClass]="dvClassColor" *ngIf="is_btnStatus" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{strongMsg}}</strong> {{msg}}
  </div>
</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        PSU Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="PsuForm" #psuForm="ngForm" (ngSubmit)="psuForm.valid && SavePSUMasterDetails(objPsuModel)">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PsuCode" placeholder="PSU Code" [(ngModel)]="objPsuModel.PsuCode">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PDesc" placeholder="Description" [(ngModel)]="objPsuModel.PDesc">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PDescBilingual" placeholder="Description Bilingual"
            [(ngModel)]="objPsuModel.PDescBilingual">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PAddress" placeholder="Address" [(ngModel)]="objPsuModel.PAddress">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PPinCode" type="number" placeholder="Pin Code"
            [(ngModel)]="objPsuModel.PPinCode" pattern="^(0|[1-9][0-9]*)$"
            onKeyPress="if(this.value.length==6) return false;" />

          <!-- <input matInput placeholder="% of Salary during Suspension Period" maxlength="2" min="1" max="99"
          type="number" name="SalaryPercent" required formControlName="SalaryPercent" pattern="[0-9]*"
          [(ngModel)]="objempSusDetails.SalaryPercent" /> -->

        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PPhoneNo" placeholder="Phone Number" type="number"
            [(ngModel)]="objPsuModel.PPhoneNo" onKeyPress="if(this.value.length==10) return false;"
            pattern="^(0|[1-9][0-9]*)$">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PFaxNo" type="number" placeholder="Fax No." [(ngModel)]="objPsuModel.PFaxNo"
            onKeyPress="if(this.value.length==10) return false;" pattern="^(0|[1-9][0-9]*)$">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput formControlName="PEmail" placeholder="Email" [(ngModel)]="objPsuModel.PEmail"
            pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select [(ngModel)]="objPsuModel.PStateName" (selectionChange)="ddlState($event.value)"
                      formControlName="PStateName" placeholder="State" required>
            <mat-option *ngFor="let item of stateList" [value]="item.stateId">{{item.stateName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select [(ngModel)]="objPsuModel.PCity" formControlName="PCity" placeholder="City" required>
            <mat-option *ngFor="let item of distList" [value]="item.cityId">{{item.cityName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 combo-col">
        <div class="col-md-12 col-lg-4 pading-0">
          <label>
            Is Bank Details Available:
          </label>
        </div>
        <div class="col-md12 col-lg-4">
          <mat-radio-group [(ngModel)]="objPsuModel.PIsBankDetails" (change)="radioChange($event.value)"
            formControlName="PIsBankDetails">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="isBankDetailsAvail">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PIfscCode" placeholder="IFSC Code" [(ngModel)]="objPsuModel.PIfscCode">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PBankName" placeholder="Bank Name" [(ngModel)]="objPsuModel.PBankName">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PBranchName" placeholder="Branch Name"
              [(ngModel)]="objPsuModel.PBranchName">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PBankAccNum" type="number" placeholder="Bank Account Number"
              [(ngModel)]="objPsuModel.PBankAccNum" pattern="^(0|[1-9][0-9]*)$" />
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PConfirmAccNum" type="number" placeholder="Confirm Account Number"
              [(ngModel)]="objPsuModel.PConfirmAccNum" pattern="^(0|[1-9][0-9]*)$" />
              <mat-error *ngIf="PsuForm?.controls.PConfirmAccNum?.errors?.required">Confirm Saving A/C No. Required !</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="!isBankDetailsAvail">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput formControlName="PChequeInFavour" placeholder="Cheque In Favouring"
              [(ngModel)]="objPsuModel.PChequeInFavour">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-warning">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!--right table-->
<div class="col-md-12">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Edit Pr. AO Master Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Search -->
      <mat-form-field>
        <input matInput placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>
      <div class="tabel-wraper">
        <table mat-table [dataSource]="dataSourcePsuDetails" matSort class="mat-elevation-z8 even-odd-color">

          <ng-container matColumnDef="PsuCode">
            <th mat-header-cell *matHeaderCellDef>Psu Code</th>
            <td mat-cell *matCellDef="let element">{{ element.psuCode }}</td>
          </ng-container>
          <!-- Order Date -->
          <ng-container matColumnDef="Desc">
            <th mat-header-cell *matHeaderCellDef>Desc</th>
            <td mat-cell *matCellDef="let element">{{ element.pDesc }}</td>
          </ng-container>
          <!-- From Date -->
          <ng-container matColumnDef="DescBilingual">
            <th mat-header-cell *matHeaderCellDef>Bilingual</th>
            <td mat-cell *matCellDef="let element">{{ element.pDescBilingual}}</td>
          </ng-container>
          <!-- To Date Order No. -->
          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.pAddress}}</td>
          </ng-container>
          <!-- No. of Days -->
          <ng-container matColumnDef="PhoneNo">
            <th mat-header-cell *matHeaderCellDef>PhoneNo</th>
            <td mat-cell *matCellDef="let element">{{ element.pPhoneNo}}</td>
          </ng-container>
          <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{ element.stateName}}</td>
          </ng-container>
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let element">{{ element.cityName}}</td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <!-- <a href="#">Edit</a> -->
              <!-- <a class="material-icons i-info" matTooltip="Info">error</a> -->
              <div>
                <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element,false)">edit</a>
                <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteJoiningDetails(element.psuId,true)">
                  delete_forever
                </a>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="psuColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: psuColumns"></tr>
        </table>

        <mat-paginator #paginatorTable1 [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,15]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteJoiningDetails(psuId,false)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>


