<app-commonddl (onchange)="GetcommonMethod($event)"></app-commonddl>

<div class="col-md-6 col-lg-6 ">
  <!--<mat-radio-group aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   [(ngModel)]="contactDetails"  (change)="contactDetailsChange($event.value)">
    <mat-radio-button class="example-radio-button" *ngFor="let ot of list" [value]="ot.value1">
      {{ot.text1}}
    </mat-radio-button>
  </mat-radio-group>-->
  <form [formGroup]="contForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <div class="fom-title">
        Sanction Order Details

      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="OrderNo" placeholder="Order No./Authority/Ref.Letter No." [readonly]="editable" autocomplete=off required>

          <mat-error *ngIf="contForm?.controls.OrderNo?.errors?.required">Order No. Required !</mat-error>
          <mat-error *ngIf="contForm?.controls.OrderNo?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.OrderNo?.errors?.maxlength">Maximum Length required is 100 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.OrderNo?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="OrderDate.open()" [matDatepicker]="OrderDate" [max]="maxDate" formControlName="OrderDate" placeholder="Order Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
          <mat-error>Order Date Required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="Remarks" rows="1" placeholder="Remarks" required></textarea>
          <mat-error *ngIf="contForm?.controls.Remarks?.errors?.required">Remarks Required !</mat-error>
          <mat-error *ngIf="contForm?.controls.Remarks?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.Remarks?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.Remarks?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-12" *ngIf="contForm.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks"
                    [readonly]="editable"></textarea>
        </mat-form-field>
      </div>


      <div class="fom-title">Select </div>
      <div class="col-md-12 col-lg-12">
        <mat-radio-group formControlName="contactDetails" required>
          <!--<mat-radio-button value="MobileNo" (click)="empCd && getcontactDetailsChange('MobileNo');"> Mobile No. </mat-radio-button>
          <mat-radio-button value="Email" (click)="empCd && getcontactDetailsChange('Email');"> E-mail </mat-radio-button>
          <mat-radio-button value="EmpEcode" (click)="empCd && getcontactDetailsChange('EmpEcode');"> Emp.E-Code</mat-radio-button>-->

          <mat-radio-button value="MobileNo" (change)="getcontactDetailsChange($event.value)"> Mobile No. </mat-radio-button>
          <mat-radio-button value="Email" (change)="getcontactDetailsChange($event.value)"> E-mail </mat-radio-button>
          <mat-radio-button value="EmpEcode" (change)="getcontactDetailsChange($event.value)"> Emp.E-Code</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="fom-title">Revised Details</div>


      <div class="col-md-6 col-lg-4" *ngIf="MobileNodiv">

        <mat-form-field class="wid-100">
          <input matInput placeholder="Mobile No." formControlName="MobileNo" required />
          <mat-error *ngIf="contForm?.controls.MobileNo?.errors?.required">Mobile No. Required !</mat-error>
          <mat-error *ngIf="(contForm?.controls.MobileNo?.errors?.minlength) || (contForm?.controls.MobileNo?.errors?.maxlength)">Minimum & Maximum Length required is 10 </mat-error>
          <mat-error *ngIf="contForm?.controls.MobileNo?.errors?.pattern">It only accept (0-9) characters.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4" *ngIf="Emaildiv">

        <mat-form-field class="wid-100">
          <input matInput placeholder="Email Part 1" formControlName="EmailPart1" required />
          <mat-error *ngIf="contForm?.controls.EmailPart1?.errors?.required">Email Part1 Required !</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart1?.errors?.minlength">Minimum Length required is 5 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart1?.errors?.maxlength">Maximum Length required is 80 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart1?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
        <mat-form-field class="wid-100">
          <input matInput placeholder="Email Part 2" formControlName="EmailPart2" required />
          <mat-error *ngIf="contForm?.controls.EmailPart2?.errors?.required">Email Part2 Required !</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart2?.errors?.minlength">Minimum Length required is 5 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart2?.errors?.maxlength">Maximum Length required is 80 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.EmailPart2?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="EmpEcodediv">

        <mat-form-field class="wid-100">
          <input matInput placeholder="Emp Ecode" formControlName="EmpEcode" required />

          <mat-error *ngIf="contForm?.controls.EmpEcode?.errors?.required">Emp Ecode Required !</mat-error>
          <mat-error *ngIf="(contForm?.controls.EmpEcode?.errors?.minlength) || (contForm?.controls.EmpEcode?.errors?.maxlength)">Minimum & Maximum Length required is 10 characters.</mat-error>
          <mat-error *ngIf="contForm?.controls.EmpEcode?.errors?.pattern">Special characters not allowed</mat-error>
        </mat-form-field>

      </div>


      <div class="col-md-12 col-lg-4" style="display:none;">
        <mat-form-field>
          <input matInput formControlName="empCd">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="oldOrderNo">
        </mat-form-field>
      </div>
      <div *ngIf="roleId == 6" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="!empCd ||infoScreen">{{Btntxt}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm()" [disabled]="infoScreen||!btnCancel">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!fwdtochker" (click)="forwardToChecker()">Forward To Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>
      </div>
    </mat-card>
  </form>

</div>

<!--- MobileNo Table Right--->
<div *ngIf="MobileNodiv">
  <div class="col-md-12 col-lg-6 mb-15">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">Current Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFiltercurrentMobileNo1($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstMobileNo1" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">
              {{MobileNo1currentPagination.pageIndex * MobileNo1currentPagination.pageSize + i + 1}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name

            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="currentMobileNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Mobile No.
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.currentMobileNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
                 class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
                edit
              </a>
              <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
                delete_forever
              </a>
              <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
                 class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>
              <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>

            </mat-cell>

          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsMobileNo1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsMobileNo1;"></mat-row>

        </mat-table>

        <mat-paginator #MobileNo1currentPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

        <div *ngIf="dstMobileNo1.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">History Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFilterhistoryMobileNo2($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstMobileNo2" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">  {{MobileNo2historyPagination.pageIndex * MobileNo2historyPagination.pageSize + i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="revisedMobileNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Mobile No.
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.revisedMobileNo}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsMobileNo2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsMobileNo2;"></mat-row>
        </mat-table>
        <mat-paginator #MobileNo2historyPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        <div *ngIf="dstMobileNo2.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
</div>

<!--- Email Table Right--->
<div *ngIf="Emaildiv">
  <div class="col-md-12 col-lg-6 mb-15">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">Current Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFiltercurrentEmail1($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstEmail1" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">
              {{Email1currentPagination.pageIndex * Email1currentPagination.pageSize + i + 1}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name

            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="currentEmail">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Email
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.currentEmail}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
                 class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
                edit
              </a>
              <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
                delete_forever
              </a>
              <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
                 class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>
              <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>

            </mat-cell>

          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsEmail1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsEmail1;"></mat-row>

        </mat-table>

        <mat-paginator #Email1currentPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

        <div *ngIf="dstEmail1.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">History Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFilterhistoryEmail2($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstEmail2" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">  {{Email2historyPagination.pageIndex * Email2historyPagination.pageSize + i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="revisedEmail">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Email
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.revisedEmail}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsEmail2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsEmail2;"></mat-row>
        </mat-table>
        <mat-paginator #Email2historyPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        <div *ngIf="dstEmail2.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
</div>
<!--- EmpEcode Table Right--->
<div *ngIf="EmpEcodediv">
  <div class="col-md-12 col-lg-6 mb-15">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">Current Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFiltercurrentEmpCode1($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstEmpEcode1" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">
              {{EmpCode1currentPagination.pageIndex * EmpCode1currentPagination.pageSize + i + 1}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name

            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="currentEmpEcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Ecode
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.currentEmpEcode}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
                 class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
                edit
              </a>
              <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
                delete_forever
              </a>
              <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
                 class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>
              <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
                info
              </a>

            </mat-cell>

          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsEmpCode1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsEmpCode1;"></mat-row>

        </mat-table>

        <mat-paginator #EmpCode1currentPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

        <div *ngIf="dstEmpEcode1.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="example-card tabel-wraper even-odd-color">
      <div class="fom-title">History Details</div>
      <mat-card>

        <mat-form-field>
          <input matInput (keyup)="applyFilterhistoryEmpCode2($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>
        <mat-table #table [dataSource]="dstEmpEcode2" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="Sr.No">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index;">  {{EmpCode2historyPagination.pageIndex * EmpCode2historyPagination.pageSize + i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Emp. Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="revisedEmpEcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Ecode
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.revisedEmpEcode}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label *ngIf="element.status == 'E'" style="color: orange">Entry</label>
              <label *ngIf="element.status == 'U'" style="color: darkorange">Entry Updated</label>
              <label *ngIf="element.status == 'P'" style="color: green">Sent to Checker</label>
              <label *ngIf="element.status == 'V'" style="color: blue">Verified</label>
              <label *ngIf="element.status == 'R'" style="color: red">Rejected</label>
              <label *ngIf="element.status == 'N'" style="color: red">Exists Value</label>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsEmpCode2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsEmpCode2;"></mat-row>
        </mat-table>
        <mat-paginator #EmpCode2historyPagination [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        <div *ngIf="dstEmpEcode2.data.length === 0">No records found</div>

      </mat-card>
    </div>
  </div>
</div>
<!--dialog-->
<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure to Delete the Record?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ApprovePopup">

  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('V')">Yes</button>

      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>

</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject?</h3>
      <mat-form-field class="wid-100">
        <textarea matInput formControlName="rejectionRemark1" rows="2" placeholder="Remarks" required></textarea>

        <mat-error *ngIf="RejectPopupForm.controls.rejectionRemark1.errors && !RejectPopupForm.controls.rejectionRemark1.errors.minlength">Remarks Required !</mat-error>
        <mat-error *ngIf="RejectPopupForm.controls.rejectionRemark1.errors && RejectPopupForm.controls.rejectionRemark1.errors.minlength">Minimum Length required is 3</mat-error>
        <mat-error *ngIf="RejectPopupForm.controls.rejectionRemark1.errors && RejectPopupForm.controls.rejectionRemark1.errors.maxLength">Maximum Length required is 200</mat-error>
        <mat-error *ngIf="RejectPopupForm.controls.rejectionRemark1.errors && RejectPopupForm.controls.rejectionRemark1.errors.pattern">Only characters,numbers & special characters ("/, -, _") allowed</mat-error>

      </mat-form-field>
      &nbsp;&nbsp;
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" (click)="updateStatus('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
      </div>
    </div>
  </form>
</app-dialog>
