<div class="col-md-12 col-lg-12">
  <div class="alert" [ngClass]="divBgColor" *ngIf="btnStatus==true">
    <strong> {{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="btnStatus=false;">&times;</span>
    </button>&nbsp;
  </div>
  <mat-expansion-panel [expanded]="panelOpenState" [ngClass]="bgColor" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        GPF Withdrawal Reasons
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form #msGpfWithdrawReasons="ngForm" (ngSubmit)="msGpfWithdrawReasons.valid && insertUpdateGpfWithdrawalReasons();">
      <div class="col-md-12 col-md-3">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PF Type" [(ngModel)]="objgpf.pfType" name="pfType" #pfType="ngModel" required>
            <mat-option value="G">GPF</mat-option>
            <mat-option value="C">CPF</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!pfType.errors?.required">PF Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-md-3">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Main Reason" [(ngModel)]="objgpf.mainReasonID" name="mainReasonID" #mainReasonID="ngModel" required>
            <mat-option *ngFor="let _mainReasonslist of mainReasons" [value]="_mainReasonslist.mainReasonID">{{_mainReasonslist.mainReasonText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!pfType.errors?.required">Main Reason is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Reason Description" name="reasonDescription" [(ngModel)]="objgpf.reasonDescription"
                 (keypress)="charaterOnlyNoSpace($event)" maxlength="50" required #reasonDescription="ngModel" (paste)="$event.preventDefault()" autocomplete="off">
          <mat-error>
            <span [hidden]="!reasonDescription.errors?.required">Reason Description is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Min Service(Years)" type="number" [(ngModel)]="objgpf.minService" name="minService" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==2 || event.charCode == 46 ) return false;" required #minService="ngModel" min="1" [max]="45" pattern="^(?!0)(([0-9])|([0-1][0-9])|([0-2][0-9])|([0-3][0-9])|([0-4][0-5]))$">
          <mat-error>
            <span *ngIf="minService.errors?.required">Min Service(Years) is required</span>
          </mat-error>
          <mat-error>
            <span *ngIf="minService.errors?.pattern">Min Service is between 1 to 45 </span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt pay (Months)" type="number" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==2 || event.charCode == 46) return false;" max="99" [(ngModel)]="objgpf.sealingForAdvancePay" name="sealingForAdvancePay" #sealingForAdvancePay="ngModel" required>
          <mat-error>
            <span [hidden]="!sealingForAdvancePay.errors?.required">Sealing for advance wrt pay is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt balance (%)" type="number" onKeyPress="if(this.value.length==3) return false;" [(ngModel)]="objgpf.sealingForAdvanceBalance" name="sealingForAdvanceBalance" #sealingForAdvanceBalance="ngModel" required max="100" min="1" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" autocomplete="off" step=".01">
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.required">Sealing for advance wrt balance is required</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.pattern">Sealing for advance wrt balance between 1 to 100</span>
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div class="col-sm-12 col-md-12 col-lg-12 combo-col clear-both select-type">
        <div class="col-sm-6 col-md-6  col-lg-6  pading-0">
          <div classclass="wid-100">
            <label class="label-font">Convert Withdrawals*</label>
          </div>
        </div>
        <div class="col-sm-6  col-md-6  col-lg-6 ">
          <div classclass="wid-100">
            <mat-radio-group [(ngModel)]="objgpf.convertWithdrawals" name="convertWithdrawals" #convertWithdrawals="ngModel" required>
              <mat-radio-button value="Y">Yes</mat-radio-button>
              <mat-radio-button value="N">No</mat-radio-button>
              <mat-error><span *ngIf="msGpfWithdrawReasons.submitted && convertWithdrawals.invalid">Convert Withdrawals is required</span></mat-error>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Withdrawals" type="number" oninput="this.value=Math.abs(this.value)" onKeyPress="if (this.value.length == 3 || event.charCode == 46) return false;" onpaste="return false;" name="noOfAdvances" [(ngModel)]="objgpf.noOfAdvances" #noOfAdvances="ngModel" required>
          <mat-error>
            <span [hidden]="!noOfAdvances.errors?.required">No. of Withdrawals is required</span>
          </mat-error>
        </mat-form-field>
      </div>-->


      <div class="col-md-12 col-lg-3">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PF Rule Reference Number" [(ngModel)]="objgpf.pFRuleReferenceNumber" name="pFRuleReferenceNumber" maxlength="20" #pFRuleReferenceNumber="ngModel" required (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" autocomplete="off">
          <mat-error>
            <span [hidden]="!pFRuleReferenceNumber.errors?.required">PF Rule Reference No is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="isLoading" [class.btn-info]="isClicked"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</div>


<!--right table-->

<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">GPF Withdrawal Reasons</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" matSortActive="pfRefNo" matSortDirection="desc">

      <!--<ng-container matColumnDef="pfRefNo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PF Number </th>
        <td mat-cell *matCellDef="let element"> {{element.pfRefNo}} </td>
      </ng-container>-->

      <ng-container matColumnDef="pfType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> PF Type </th>
        <td mat-cell *matCellDef="let element"> {{element.pfTypeName}} </td>
        </ng-container>
      <ng-container matColumnDef="mainReasonText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Main Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.mainReasonText}} </td>
      </ng-container>


      <ng-container matColumnDef="reasonDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Reason Description </th>
        <td mat-cell *matCellDef="let element"> {{element.reasonDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="sealingForAdvanceBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Balance Percentage(%) </th>
        <td mat-cell *matCellDef="let element">{{element.sealingForAdvanceBalance}} </td>
      </ng-container>

      <ng-container matColumnDef="sealingForAdvancePay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Sealing for Withdrawal wrt Pay </th>
        <td mat-cell *matCellDef="let element"> {{element.sealingForAdvancePay | number}}   </td>
      </ng-container>

      <!--<ng-container matColumnDef="convertWithdrawals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Convert Withdrawal </th>
        <td mat-cell *matCellDef="let element"> {{element.convertWithdrawals}} </td>
      </ng-container>-->

      <ng-container matColumnDef="minService">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Min Service (Year) </th>
        <td mat-cell *matCellDef="let element"> {{element.minService}} </td>
        mi
        ng
      </ng-container>

      <ng-container matColumnDef="pFRuleReferenceNumber.">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> PF Rule Ref No. </th>
        <td mat-cell *matCellDef="let element"> {{element.pFRuleReferenceNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" width="10%">
          <a class="material-icons i-edit" matTooltip="Edit" (click)="editGpfWithdrawalReasons(element);">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.pfRefNo);deletePopUp = !deletePopUp"> delete_forever </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      No Record Found.
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteGpfWithdrawalReasons(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletePopUp = !deletePopUp">Cancel</button>
    </div>

  </div>
</app-dialog>



