.mat-sidenav {
  width: 260px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
}
.sidenav-toolbar {
  height: 64px;
  background-color: #3f51b5;
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}

  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
    font-size: 94%;
  }
}
.version-info {
  font-size: 8pt;
  float: right;
  padding: 8px;
}

/*breadcrumb*/
ul.breadcrumb { width: calc(100% - 100px); float: right; background: #fff; margin-top: 4px;}

/*pramod*/

.loading-bar {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  height: 100%;
  filter: Alpha(Opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.6;
  /* <img class="logo" src="assets/images/loading" /> */
}

.modalprogress1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  color: #990000;
  font-weight: bold;
  font-size: 14px;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  padding-top: 20%;
}

.loading > h2 {
  color: #ccc;
  margin: 0;
  font: .8em verdana;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #008FB2;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  background: #009B9E;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
  background: #00A77D;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
  background: #00B247;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
  background: #5AB027;
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

.loading span:nth-of-type(7) {
  background: #A0B61E;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@media (max-width: 767px) {
  ._fxContainer {
    position: relative;
    width: auto;
    height: auto;
  }

  .mat-calendar {
    width: 240px !important;
  }

  .container h2::after {
    width: 0px;
    height: 0px;
    background: #ffffff;
  }

  .loading {
    padding-top: 75%;
  }
}
/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader {
  position: absolute;
  height: 50%;
  width: 100%;
  background: #000;
  text-align: center;
  padding-top: 10%;
  opacity: 0.5;
}

.loader > h3 {
  color: #ccc;
  margin: 0;
  font: .8em verdana;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loader span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  -webkit-animation: loader 1s infinite alternate;
  animation: loader 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loader span:nth-of-type(2) {
  background: #008FB2;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
  background: #009B9E;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader span:nth-of-type(4) {
  background: #00A77D;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loader span:nth-of-type(5) {
  background: #00B247;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loader span:nth-of-type(6) {
  background: #5AB027;
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

.loader span:nth-of-type(7) {
  background: #A0B61E;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}


a {
  text-decoration: none;
  color: #666666;
}

input[readonly],
textarea[readonly] {
  color: gray;
}

.copyright {
  color: #555;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.featresAccordion .slimscroll-wrapper {
  width: 100% !important;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #419bf9 !important;
}
/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

