
<app-comman-mst (onchange)="GetcommanMethod($event)" ></app-comman-mst>


<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" #formDirective="ngForm" novalidate>
  <div class="col-md-12 col-lg-7" [attr.disabled]="disableflag">
    <mat-card class="example-card emp1-form">

      <ng-template matStepLabel>Lien Period/Extension of Lien Period</ng-template>


      <div class="fom-title">Relieving Details</div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Relieving Order Number" formControlName="relievingOrderNo" maxlength="50" required readonly>
          <mat-error *ngIf="(!form.controls['relievingOrderNo'].valid || form.controls['relievingOrderNo'].dirty || form.controls['relievingOrderNo'].touched) && form.controls['relievingOrderNo'].invalid && form.controls['relievingOrderNo'].errors.required">
            Relieving Order Number is Required
          </mat-error>
          <!--<mat-error *ngIf="(form.controls['relievingOrderNo'].dirty || form.controls['relievingOrderNo'].touched) && form.controls['relievingOrderNo'].invalid && form.controls['relievingOrderNo'].errors.pattern">
        Relieving Order Number is invalid
      </mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">

        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="RelievingOrderDate" placeholder="Relieving Order Date"  formControlName="relievingOrderDate" required readonly />
          <mat-datepicker-toggle matSuffix [for]="RelievingOrderDate" class="display-non"></mat-datepicker-toggle>
          <mat-datepicker #RelievingOrderDate></mat-datepicker>
          <mat-error *ngIf="form.controls['relievingOrderDate'].invalid || !form.controls['relievingOrderDate'].valid && form.controls['relievingOrderDate'].touched">
            Relieving Order Date is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Relieving Office" formControlName="relievingOffice" required readonly>
          <mat-error *ngIf="(!form.controls['relievingOffice'].valid || form.controls['relievingOffice'].dirty || form.controls['relievingOffice'].touched) && form.controls['relievingOffice'].invalid && form.controls['relievingOffice'].errors.required">
            Relieving Office is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['relievingOffice'].dirty || form.controls['relievingOffice'].touched) && form.controls['relievingOffice'].invalid && form.controls['relievingOffice'].errors.pattern">
            Relieving Office is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Relieved by ( TRY - DDO )" formControlName="relievingBy" required readonly>
          <mat-error *ngIf="(!form.controls['relievingBy'].valid || form.controls['relievingBy'].dirty || form.controls['relievingBy'].touched) && form.controls['relievingBy'].invalid && form.controls['relievingBy'].errors.required">
            Relieved By is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['relievingBy'].dirty || form.controls['relievingBy'].touched) && form.controls['relievingBy'].invalid && form.controls['relievingBy'].errors.pattern">
            Relieved By is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Relieved On" [matDatepicker]="RelievedOn" formControlName="relievedOn" required readonly>
          <mat-datepicker-toggle matSuffix [for]="RelievedOn" class="display-non"></mat-datepicker-toggle>
          <mat-datepicker #RelievedOn></mat-datepicker>
          <mat-error *ngIf="(!form.controls['relievedOn'].valid || form.controls['relievedOn'].dirty || form.controls['relievedOn'].touched) && form.controls['relievedOn'].invalid && form.controls['relievedOn'].errors.required">
            Relieved On is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['relievedOn'].dirty || form.controls['relievedOn'].touched) && form.controls['relievedOn'].invalid && form.controls['relievedOn'].errors.pattern">
            Relieved On is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="On Designation" formControlName="onRelievedDesignation" required readonly>
          <mat-error *ngIf="(!form.controls['onRelievedDesignation'].valid || form.controls['onRelievedDesignation'].dirty || form.controls['onRelievedDesignation'].touched) && form.controls['onRelievedDesignation'].invalid && form.controls['onRelievedDesignation'].errors.required">
            On Designation is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['onRelievedDesignation'].dirty || form.controls['onRelievedDesignation'].touched) && form.controls['onRelievedDesignation'].invalid && form.controls['onRelievedDesignation'].errors.pattern">
            On Designation is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Pay Commission" formControlName="payCommission" required readonly>
          <mat-error *ngIf="(!form.controls['payCommission'].valid || form.controls['payCommission'].dirty || form.controls['payCommission'].touched) && form.controls['payCommission'].invalid && form.controls['payCommission'].errors.required">
            Pay Commission is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['payCommission'].dirty || form.controls['payCommission'].touched) && form.controls['payCommission'].invalid && form.controls['payCommission'].errors.pattern">
            Pay Commission is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Pay Scale" formControlName="payScale" required readonly>
          <mat-error *ngIf="(!form.controls['payScale'].valid || form.controls['payScale'].dirty || form.controls['payScale'].touched) && form.controls['payScale'].invalid && form.controls['payScale'].errors.required">
            Pay Scale is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['payScale'].dirty || form.controls['payScale'].touched) && form.controls['payScale'].invalid && form.controls['payScale'].errors.pattern">
            Pay Scale is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Basic Pay" formControlName="basicPay" required readonly>
          <mat-error *ngIf="(!form.controls['basicPay'].valid || form.controls['basicPay'].dirty || form.controls['basicPay'].touched) && form.controls['basicPay'].invalid && form.controls['basicPay'].errors.required">
            Basic Pay is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['basicPay'].dirty || form.controls['basicPay'].touched) && form.controls['basicPay'].invalid && form.controls['basicPay'].errors.pattern">
            Basic Pay is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Joining Details</div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder=" Join Service As " formControlName="joinServiceAs" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let joinservice of joinService" [value]="joinservice.msEmpTypeID">
              {{joinservice.joiningText}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['joinServiceAs'].valid || form.controls['joinServiceAs'].dirty || form.controls['joinServiceAs'].touched) && form.controls['joinServiceAs'].invalid && form.controls['joinServiceAs'].errors.required">
            Join Service As is Required
          </mat-error>
          <!--<mat-error *ngIf="(form.controls['joinServiceAs'].dirty || form.controls['joinServiceAs'].touched) && form.controls['joinServiceAs'].invalid && form.controls['joinServiceAs'].errors.pattern">
        Join Service As is invalid
      </mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Joining on Account of" formControlName="joiningonAccountof" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let getjoiningaccount of getJoiningAccount" [value]="getjoiningaccount.cddirCodeValue">
              {{getjoiningaccount.cddirCodeText}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['joiningonAccountof'].valid || form.controls['joiningonAccountof'].dirty || form.controls['joiningonAccountof'].touched) && form.controls['joiningonAccountof'].invalid && form.controls['joiningonAccountof'].errors.required">
            Join Service As is Required
          </mat-error>
          <!--<mat-error *ngIf="(form.controls['joiningonAccountof'].dirty || form.controls['joiningonAccountof'].touched) && form.controls['joiningonAccountof'].invalid && form.controls['joiningonAccountof'].errors.pattern">
        Join Service As is invalid
      </mat-error>-->

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Joining Order No." formControlName="joiningOrderNo" maxlength="50" pattern="[A-Za-z0-9]{1}[A-Za-z0-9-/_]+" required>
          <mat-error *ngIf="(!form.controls['joiningOrderNo'].valid || form.controls['joiningOrderNo'].dirty || form.controls['joiningOrderNo'].touched) && form.controls['joiningOrderNo'].invalid && form.controls['joiningOrderNo'].errors.required">
            Joining Order Number is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['joiningOrderNo'].dirty || form.controls['joiningOrderNo'].touched) && form.controls['joiningOrderNo'].invalid && form.controls['joiningOrderNo'].errors.pattern">
            Joining Order Number is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="JoiningOrderDate" placeholder="Joining Order Date" [min]="form.controls['relievingOrderDate'].value" (click)="JoiningOrderDate.open()" formControlName="joiningOrderDate" required readonly />
          <mat-datepicker-toggle matSuffix [for]="JoiningOrderDate"></mat-datepicker-toggle>
          <mat-datepicker #JoiningOrderDate></mat-datepicker>
          <mat-error *ngIf="form.controls['joiningOrderDate'].invalid && form.controls['joiningOrderDate'].errors.required">
            Joining Order Date is required
          </mat-error>

          <!--<mat-error *ngIf="!form.controls['joiningOrderDate'].valid">
            Joining Order Date is invalid
          </mat-error>-->
    
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100 example-full-width">

          <mat-select placeholder="Time" formControlName="joiningTime" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let joiningTime of joiningTimeDdl" [value]="joiningTime">{{joiningTime}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['joiningTime'].valid || form.controls['joiningTime'].dirty || form.controls['joiningTime'].touched) && form.controls['joiningTime'].invalid && form.controls['joiningTime'].errors.required">
            Time is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100 example-full-width">
          <mat-select placeholder="Office Name" formControlName="officeId" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let getofficelists of getofficelist" [value]="getofficelists.officeId">{{getofficelists.officeName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['officeId'].valid || form.controls['officeId'].dirty || form.controls['officeId'].touched) && form.controls['officeId'].invalid && form.controls['officeId'].errors.required">
            Office Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100 example-full-width">
          <mat-select placeholder="Office City Class" formControlName="officeCityClass" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let officecityclass of officeCityClassList" [value]="officecityclass.officeClassCityId">{{officecityclass.officeClassCityName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['officeCityClass'].valid || form.controls['officeCityClass'].dirty || form.controls['officeCityClass'].touched) && form.controls['officeCityClass'].invalid && form.controls['officeCityClass'].errors.required">
            Office City Class is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">


          <mat-select placeholder="Designation" formControlName="joiningDesigcode" required >
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let designa of designation" [value]="designa.desigId">
              {{designa.desigDesc}}
            </mat-option>
          </mat-select>
          <!--<mat-error *ngIf="!form.controls['joiningDesigcode'].valid">
            Office City Class is Required
          </mat-error>-->
          <mat-error *ngIf="(!form.controls['joiningDesigcode'].valid || form.controls['joiningDesigcode'].dirty || form.controls['joiningDesigcode'].touched) && form.controls['joiningDesigcode'].invalid && form.controls['joiningDesigcode'].errors.required">
            Designation is Required
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="form.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6">
        <button type="submit" class="btn btn-success"  [disabled]="form.controls['employeeCode'].invalid">{{btnUpdateText}}</button>
        <button type="button" class="btn btn-warning" (click)="ResetForm();" [disabled]="form.controls['employeeCode'].invalid">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwardStatusUpdate('0');" [disabled]="!disableForwardflag">Forward to DDO Checker</button>

      </div>

      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>

        <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
      </div>

    </mat-card>
  </div>
</form>


<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">
    <!--<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form value
        </mat-panel-title>
      </mat-expansion-panel-header>
      <code>
        {{form.value | json}}
      </code>
    </mat-expansion-panel>
  </mat-accordion>-->

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="tblfiltervalue" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="epsJoinData" matSort class="mat-elevation-z8 even-odd-color" matSortActive="joiningOrderNo" matSortDirection="asc">
      <!-- Name Column -->
      <ng-container matColumnDef="joiningOrderNo">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Order No </th>

        <td mat-cell *matCellDef="let element;"> {{element.joiningOrderNo}}  </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="joiningOrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.joiningOrderDate | date}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->
      <ng-container matColumnDef="relievingOrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Relieving Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.relievingOrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="relievingOrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Relieving Order Date. </th>
        <td mat-cell *matCellDef="let element"> {{element.relievingOrderDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="relievingOffice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Office Name </th>
        <td mat-cell *matCellDef="let element"> {{element.relievingOffice}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">
          <label *ngIf="element.veriFlag == 'N'" class="bgred">Lien Period</label>
          <label *ngIf="element.veriFlag == 'E'" class="bgorange">Entry</label>
          <label *ngIf="element.veriFlag == 'U'" class="bgdarkorange">Entry Updated</label>
          <label *ngIf="element.veriFlag == 'F'" class="bggreen">Sent to Checker</label>
          <label *ngIf="element.veriFlag == 'V'" class="bgblue">Verified</label>
          <label *ngIf="element.veriFlag == 'R'" class="bgred">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <mat-cell *matCellDef="let element">
          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'N' || element.veriFlag == 'R' || element.veriFlag == 'U')&& roleId == 6"  class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.msAfterLeinId)">edit</a>
  <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRecordClick(element.msAfterLeinId);DeletePopup=!DeletePopup">
    delete_forever
  </a>
  <a *ngIf="(element.veriFlag != 'E' && element.veriFlag != 'N'  && element.veriFlag != 'R' && element.veriFlag != 'U') && roleId == 6" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.msAfterLeinId)">
    info
  </a>
  <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.msAfterLeinId)">
    info
  </a>
</mat-cell>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound" class="add-leave-btn">

      <font color=red> Record Not Found </font>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10]" [pageSize]="10" showFirstLastButtons></mat-paginator>

  </div>
</div>
<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure want to delete? <br /> <br /></h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to approve? <br /> <br /></h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form (ngSubmit)="form2.valid && forwardStatusUpdate('R')" #freject="ngForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to reject? <br /> <br /></h3>
      <div class="col-md-3"></div>
      <mat-form-field class="col-md-6 card-title text-center">
        <textarea matInput [(ngModel)]="rejectionRemark" name="rejectionRemark1" #rejectionRemark1="ngModel"  rows="2" maxlength="50" align="center" placeholder="Remarks" pattern="[A-Za-z]{1}[A-Za-z0-9-/_,. ]+" required></textarea>
        <mat-error>
          <span [hidden]="!rejectionRemark1.errors?.required">Remarks is required</span>
          <!--<span [hidden]="!rejectionRemark.errors?.required">Service Type is required</span>-->
          <!--<span *ngIf="!rejectionRemark.valid">Remarks Required !</span>-->
        </mat-error>
      </mat-form-field>

      <div class="form-group text-center col-md-12">

        <button type="submit" class="btn btn-info">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
