<!---Raju verma 24/08/2019--->

<form name="form" #f="ngForm">
  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      
      <div class="col-sm-12 col-md-3">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="designCtrl" placeholder="Select Designation" [(ngModel)]="ArrddlDesign.msDesigMastID" >
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.msDesigMastID">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
          
          <mat-error>
          <span [hidden]="!designFilterCtrl.errors?.required">Designation is required</span>
        </mat-error>

        </mat-form-field>
      </div>



      <div class="col-sm-12 col-md-3">
        <button type="button" class="btn btn-info" (click)="f.onSubmit() ; f.valid && getEmpDueIncReport()">GO</button>
      </div>

    </div>
  </div>
  </form>



  <!--Report View-->

<div class="col-md-12 col-lg-12 mb-20" *ngIf="showPH">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">Employees due for Increment Details :</div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
    <tr>
      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial No. </th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
      </ng-container>


      <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code</th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="desigCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.desigCode}} </td>
      </ng-container>

      <ng-container matColumnDef="oldBasic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Basic Pay</th>
        <td mat-cell *matCellDef="let element"> {{element.oldBasic}} </td>
      </ng-container>

      <ng-container matColumnDef="nextIncDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Increment Date</th>
        <td mat-cell *matCellDef="let element"> {{element.nextIncDate|date}} </td>
      </ng-container>

    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
  <div [hidden]="isTableHasData">
    No  Records Found
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>

