<app-comman-mst (onchange)="GetcommanMethod($event)"></app-comman-mst>


<div class="col-md-6 col-lg-6">
  <form #InstRecover="ngForm" (ngSubmit)="InstRecover.valid && Save(InstEmpDetais);" novalidate>
    <div class="mat-card">
      <div class="fom-title"> Loan Recovery  Details </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type" [(ngModel)]="RecoveryDetails.loanCD" name="loanCD" #loanCD="ngModel" (selectionChange)="BindSanctionDetails($event.value)">
            <mat-option label="Select Loan Type" disabled="disabled">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of RecoveryDetails" [value]="Loantype.loanCD">
              {{Loantype.payloanrefloandesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder=" Pay Month" title=" Pay Month" [(ngModel)]="InstEmpDetais.billMonth" name="billMonth" #billMonth="ngModel" disabled="disabled">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No./ Letter No" title="Order No./ Letter No" [(ngModel)]="InstEmpDetais.orderNo" name="orderNo" #OrderNo="ngModel" required [disabled]=IsDisabled>
          <!--<mat-error>
            <span [hidden]="!orderNo.errors?.required">Order No is required</span>
          </mat-error>-->
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" placeholder="Order Date" [(ngModel)]="InstEmpDetais.orderDt" name="orderDt" #OrderDt="ngModel" required [disabled]=IsDisabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <!--<mat-error>
            <span [hidden]="!OrderDate.errors?.required">Order Date is required</span>
          </mat-error>-->
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Installments to be recovered" (keypress)="numberOnly($event)" title="No. of Installments to be recovered" maxlength="3" [(ngModel)]="InstEmpDetais.totAmtRecov" #TotAmtRecov="ngModel" name="TotAmtRecov" required [disabled]=IsDisabled>
          <!--<mat-error>
             <span [hidden]="!recoveredInstNo.errors?.required">Installments recovered is required</span>
          </mat-error>-->
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Amount to be deducted" (keypress)="numberOnly($event)" title="Amount to be deducted" disabled="disabled">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" *ngIf="FlagSave">{{btnname}}</button>
        <button type="button" class="btn btn-warning" *ngIf="FlagCancel" (click)="cancel()" name="Cancel">Cancel</button>
        <button type="button" class="btn btn-primary" *ngIf="FlagForwordChecker" (click)="ForwardtoDDOChecker(InstEmpDetais)" name="ForwardtoDDOChecker">Forward to DDO Checker</button>

        <!--<button type="submit" class="btn btn-primary"  name="Update" *ngIf="FlagUpdate"  (click)="Update()" >Update</button>-->
        <button type="button" class="btn btn-success" *ngIf="FlageAccept" (click)="Accept()" name="accept">Accept</button>
        <button type="button" class="btn btn-danger" *ngIf="FlagReject" (click)="Reject()" name="Reject">Reject</button>
      </div>
    </div>
  </form>
</div>


<div class="col-md-6 col-lg-6">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">Current Details </div>
    <!--<mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>-->

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>

    <!--<table>table</table>-->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="loanType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Type </th>
        <td mat-cell *matCellDef="let element">{{element.payloanrefloandesc}} </td>
      </ng-container>

      <ng-container matColumnDef="sancOrdNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No </th>
        <td mat-cell *matCellDef="let element">{{element.sancOrdNo}}</td>
      </ng-container>

      <ng-container matColumnDef="billMonth">
        <th mat-header-cell *matHeaderCellDef>Pay Month</th>
        <td mat-cell *matCellDef="let element"> {{element.billMonth}} </td>
      </ng-container>

      <!--<ng-container matColumnDef="empCd" hidden>
        <th mat-header-cell *matHeaderCellDef>Emp Cd</th>
        <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
      </ng-container>-->



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.statusId == '64' && userRoleID=='6'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditLoanDetailsById(element.msEmpLoanMultiInstId,element.empCD)">edit</a>
          </span>


          <span *ngIf="element.statusId == '64' && userRoleID=='6'">
            <a class="material-icons i-delete" matTooltip="delete" (click)="setDeleteId(element.msEmpLoanMultiInstId,element.empCD);deletepopup = !deletepopup">delete</a>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



    <div class="fom-title margin-top-10px">Details </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Sanctioned Order Date" title="Sanctioned Order Date" [(ngModel)]="SanctionDetails.sancOrdDT" name="sancOrdDT" #sancOrdDT="ngModel" disabled="disabled">
      </mat-form-field>
    </div>

    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Sanctioned Order No" [(ngModel)]="SanctionDetails.sancOrdNo" name="sancOrdNo" #sancOrdNo="ngModel" title="Sanctioned Order No" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Loan Amount Disbursed" title="Loan Amount Disbursed" [(ngModel)]="SanctionDetails.loanAmtDisbursed" name="loanAmtDisbursed" #loanAmtDisbursed="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Total No. of Installments" title="Total No. of Installments" [(ngModel)]="SanctionDetails.priTotInst" name="priTotInst" #priTotInst="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Installment Amount" title="Installment Amount" [(ngModel)]="SanctionDetails.priTotInst" name="priTotInst" #priTotInst="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Odd Installment No" title="Odd Installment No" [(ngModel)]="SanctionDetails.oddInstNoPri" name="oddInstNoPri" #oddInstNoPri="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Odd Installment Amount" title="Odd Installment Amount" [(ngModel)]="SanctionDetails.oddInstAmtPri" name="oddInstAmtPri" #oddInstAmtPri="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Last Installment No. Recovered" title="Last Installment No. Recovered" [(ngModel)]="SanctionDetails.priLstInstRec" name="priLstInstRec" #priLstInstRec="ngModel" disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Outstanding Amount" title="Outstanding Amount" [(ngModel)]="SanctionDetails.outstandingAmt" name="outstandingAmt" #outstandingAmt="ngModel" disabled="disabled">
      </mat-form-field>
    </div>

  </div>
</div>


<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteLoanDetailsById(setDeletIDOnPopup,setDeletIDOnPopup2)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
