
<div class="col-md-6 col-lg-8">
  <div class="example-card mat-card">
    <app-headerforallemployee></app-headerforallemployee>
    <div class="fom-title">Enter NG Recovery for all Employees</div>
    <form [formGroup]="EntryForAllEmployee" #creationForm="ngForm" (ngSubmit)="SaveNgDetails()">
      <mat-card class="example-card">
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <mat-select placeholder="NG Recovery" formControlName="ngRecovery">
              <mat-option *ngFor="let ng of NgList" [value]="ng.ngDedCd">{{ng.ngDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--<div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Scroll NGR from Previous Month?" formControlName="previousMonth" (selectionChange)="toggleRecovery($event.value)">
            <mat-option value="true">Yes</mat-option>
            <mat-option value="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
        <div class="col-md-12 col-lg-6">
          <!--<mat-form-field class="wid-100">
          <mat-select placeholder="Pay Bill Group">
            <mat-option>Select Pay Bill Group</mat-option>
          </mat-select>

        </mat-form-field>-->
          <mat-form-field class="wid-100">
            <mat-select placeholder="Pay Bill Group" #singleSelect (selectionChange)="BindDropDownDesignation($event.value)" [(value)]="selected2" formControlName="billGrId">
              <mat-option>
                <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Employee...'"></ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Select
              </mat-option>
              <mat-option *ngFor="let Paybill of filteredBill | async" [value]="Paybill.billgrId">
                {{Paybill.billgrDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12 col-lg-6">

          <mat-form-field class="wid-100">

            <mat-select placeholder="Find Designation" #singleSelect (selectionChange)="FilterEmployeeByDesignation($event.value)" [(value)]="selected" formControlname="desigId">
              <mat-option>
                <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'"></ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="0">
                Select
              </mat-option>
              <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.desigId">
                {{emp.desigDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount" formControlName="universalAmount">
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6 margin-top-10px">

          <mat-checkbox (change)="onChange($event, i, item)">Amount applicale to all Employees</mat-checkbox>

        </div>


        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="toggleRecoveryBool == 'false'">
          <div class="fom-title">NG Recoveries</div>



          <!--<div class="col-md-12 col-lg-12 upload-container">
          <div class="col-sm-12 col-md-4 col-lg-2 pading-0"><label>Upload File</label></div>
          <div class="col-sm-12 col-md-8 col-lg-6"><input type="file"></div>
          <button type="button">Upload</button>
        </div>

        <div class="col-md-12 col-lg-12"><label>Download Template</label><a class="material-icons">vertical_align_bottom</a></div>-->

          <div class="mat-card">
            <ng-container formArrayName="employeeList">
              <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color tabel-form wid-100 recovery-tabel">

                <ng-container matColumnDef="CheckBox">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                                  [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element ; let i = index;" [formGroupName]="i">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(EntryForAllEmployee.controls.employeeList.controls[i].value) : null; AddCheckedObj()"
                                  [checked]="selectionAttach.isSelected(EntryForAllEmployee.controls.employeeList.controls[i].value)">
                    </mat-checkbox>
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="S.No">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
                  <mat-cell *matCellDef="let element ; let i = index;">{{ i+1}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="Employee Code">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                    <input matInput placeholder="" formControlName="empCode" readonly>

                    <!--{{element.empCode}}-->
                  </mat-cell>
                  ma
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="Employee Name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                    <input matInput placeholder="" formControlName="empName" readonly>

                    <!--{{element.empName}}-->
                  </mat-cell>
                  ma
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

                </ng-container>


                <ng-container matColumnDef="SubsAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Subscription Amount </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i"> <input matInput placeholder="Enter value" formControlName="subscriptionAmt" (keyup)="RowSubsSum($event.target.value, i);updateDatasource(element, $event.target.value)"> </mat-cell>
                  <!--<mat-footer-cell *matFooterCellDef> {{totalSumAmount}} </mat-footer-cell>-->
                  el
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="RecovAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Recovery Amount </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i"> <input matInput placeholder="Enter value" formControlName="recoveryAmt" (keyup)="RowRecovSum($event.target.value, i);updateDatasource(element, $event.target.value)"> </mat-cell>
                  <mat-footer-cell *matFooterCellDef> Total: </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="TotAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i"> <input matInput placeholder="Enter value" formControlName="totalAmt" readonly> </mat-cell>
                  <mat-footer-cell *matFooterCellDef> {{totalSumAmount}} </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="No. of Installment">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> No. of Installment </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i"> <input matInput placeholder="Enter value" formControlName="installmentCount" (keyup)="updateInstallment(element,$event.target.value)"> </mat-cell>
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="Recovered No. of Installment">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Recovered No. of Installment </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">

                    <input matInput placeholder="" formControlName="recoveredInstallment" readonly>

                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                </ng-container>
                <!--<ng-container matColumnDef="Total">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
                <mat-cell *matCellDef="let element"> 50000 </mat-cell>
                <mat-footer-cell *matFooterCellDef mat-sort-header> 50000 </mat-footer-cell>

              </ng-container>-->
                <!--<tr class="table-head">
                <th>
                  <mat-checkbox></mat-checkbox>
                </th>
                <th>SI.No</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Amount</th>
                <th>No. of Installment</th>
                <th>Recovered No. of Installment</th>
              </tr>-->
                <!--<tr>
                <td>
                  <mat-checkbox></mat-checkbox>
                </td>
                <td>
                  1
                </td>
                <td>
                  ABC123
                </td>
                <td>
                  Anik Khanna
                </td>
                <td>
                  <input matInput placeholder="Enter value" value="100">
                </td>
                <td>
                  <input matInput placeholder="Enter value" value="">
                </td>
                <td>
                  -
                </td>
              </tr>-->
                <!--<tr  class="tabel-total">
                <td colspan="4"></td>
                <td class="text-center">Total</td>
                <td>500</td>
                <td></td>
              </tr>-->


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
              </mat-table>
            </ng-container>
            <!--<table class="mat-elevation-z8 tabel-form wid-100 recovery-tabel">
            <tr class="">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr class="tabel-total">
              <td colspan="4"></td>
              <td class="text-center">Total:</td>
              <td>500</td>
              <td></td>
            </tr>
          </table>-->
            <!--<div class="col-md-6 col-lg-6">

          </div>

          <div class="col-md-6 col-lg-6">
            <div class="tabel-total">
              <label class="text-center">Total: 500</label>
            </div>
          </div>-->
            <!--<div class="col-md-12 col-lg-6">
            <mat-form-field class="wid-100">
              <input matInput placeholder="Amount ">
            </mat-form-field>
          </div>-->

          </div>
        </div>
        <app-edit-view-all-employee *ngIf="toggleRecoveryBool == 'true'"></app-edit-view-all-employee>
        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="reset" class="btn btn-warning">Cancel</button>
        </div>
      </mat-card>
    </form>
  </div>

</div>



<!--right table-->



<div class="col-md-6 col-lg-4">

  <div class="fom-title">Enter NG Recovery for all Employees</div>
  <table class="w-100 ">
    <tr class="tab-tr-bg">
      <td colspan="2" class="tab-th">S.No</td>
      <td colspan="2" class="tab-th">NGR Code</td>
      <td>NG Recovery Description</td>
    </tr>
  </table>

  <mat-accordion class="accordion-wrap">
    <mat-expansion-panel *ngFor="let ng of dataSourceforgrid; let i = index">
      <mat-expansion-panel-header (click)="expansionHeader()">
        <mat-panel-title >
         {{i+1}}
        </mat-panel-title>
        <mat-panel-title>
          {{ng.ngDedCd}}
        </mat-panel-title>
        <mat-panel-description>
          {{ng.ngDesc}}
          <!--AGCR CO Opereative Credit-->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="mat-elevation-z8 even-odd-color mat-table">
        <thead>
          <tr class="mat-header-row ng-star-inserted">
            <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Pay Bill Group </th>
            <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Month/Year </th>
            <th class="mat-header-cell cdk-column-position mat-column-position ng-star-inserted"> Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of ng.payBillDetails">
          <tr class="mat-row ng-star-inserted">
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">{{item.billgrDesc}}</td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">{{item.monthName}}</td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
              <a class="material-icons i-info" mattooltip="info">info</a>
              <a class="material-icons i-edit" mattooltip="edit">edit</a>
              <a class="material-icons i-delet" mattooltip="delete">delete</a>
            </td>
          </tr>
          <!--<tr class="mat-row ng-star-inserted">
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">AAO NPS</td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">August/2019</td>
            <td class="mat-cell cdk-column-position mat-column-position ng-star-inserted">
              <a class="material-icons i-info" mattooltip="info">info</a>
              <a class="material-icons i-edit" mattooltip="edit">edit</a>
              <a class="material-icons i-delet" mattooltip="delete">delete</a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </mat-expansion-panel>


    <!--<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2
        </mat-panel-title>
        <mat-panel-description>
          Kerala State Fund
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="mat-elevation-z8 even-odd-color mat-table">
        <thead>
          <tr class="mat-header-row ng-star-inserted">
            <th class="mat-sort-header"> Pay Bill Group </th>
            <th class="mat-sort-header"> Month/Year </th>
            <th class="mat-sort-header">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row ng-star-inserted">
            <td class="mat-cell cdk-column-id mat-column-id ng-star-inserted">dgggdgg</td>
            <td class="mat-cell cdk-column-id mat-column-id ng-star-inserted">dgggdgg</td>
            <td class="mat-cell cdk-column-id mat-column-id ng-star-inserted">
              <a class="material-icons i-info" mattooltip="info">info</a>
              <a class="material-icons i-edit" mattooltip="edit">edit</a>
              <a class="material-icons i-delet" mattooltip="delete">delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>-->

  </mat-accordion>


</div>




