
<app-comman-mst (onchange)="GetcommanMethod($event)" [events]="eventsSubject.asObservable()"></app-comman-mst>
<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" #formDirective="ngForm" novalidate>
  <div class="col-md-12 col-lg-7" [attr.disabled]="disableflag">
    <mat-card class="example-card">
      <ng-template matStepLabel>Repatriation Details</ng-template>

      <div class="fom-title">Repatriation Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">

          <mat-select placeholder="Deputation Type" formControlName="repatDeputedTypeId" required [errorStateMatcher]="matcher">

            <mat-option *ngFor="let deputationType of deputationTypes" [value]="deputationType.cddirCodeValue">
              {{deputationType.cddirCodeText}}
            </mat-option>

          </mat-select>
          <mat-error *ngIf="form.controls['repatDeputedTypeId'].errors?.required">
            Deputation Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">


          <mat-select placeholder="Service Type" formControlName="repatServiceTypeId" required [errorStateMatcher]="matcher">

            <mat-option *ngFor="let serviceType of serviceType" [value]="serviceType.serviceValue">
              {{serviceType.serviceText}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['repatServiceTypeId'].errors?.required">
            Service Type is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Repatriation Order No" formControlName="repatOrderNo" maxlength="50" pattern="[A-Za-z1-9]{1}|[A-Za-z][A-Za-z0-9-/_]+" required [errorStateMatcher]="matcher">

          <mat-error *ngIf="form.controls['repatOrderNo'].errors?.required">
            Repatriation Order Number is Required
          </mat-error>
          <mat-error *ngIf="form.controls['repatOrderNo'].errors?.pattern">
            Repatriation Order Number is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="repatOrderDate" placeholder="Repatriation  Order Date " (dateChange)="Checkdate()" (click)="repatOrderDate.open()"   formControlName="repatOrderDate" [min]="form.controls['depuInDate'].value" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="repatOrderDate"></mat-datepicker-toggle>
          <mat-datepicker #repatOrderDate></mat-datepicker>
          <mat-error *ngIf="form.controls['repatOrderDate'].errors?.required">
            Repatriation  Order Date is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="repatEffecDate" placeholder="Repatriation Effective Date " (click)="repatEffecDate.open()" formControlName="repatEffecDate" [min]="form.controls['repatOrderDate'].value" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="repatEffecDate"></mat-datepicker-toggle>
          <mat-datepicker #repatEffecDate></mat-datepicker>
          <mat-error *ngIf="form.controls['repatEffecDate'].errors?.required">
            Repatriation  Effective Date is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="repatRelievingDate" placeholder="Repatriation Relieving Date " (click)="repatRelievingDate.open()" formControlName="repatRelievingDate" [min]="form.controls['repatOrderDate'].value" readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="repatRelievingDate"></mat-datepicker-toggle>
          <mat-datepicker #repatRelievingDate></mat-datepicker>
          <mat-error *ngIf="form.controls['repatRelievingDate'].errors?.required">
            Repatriation Relieving Date  is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-placeholder [ngClass]="flag ? 'actplacholder' : 'dsbplaceholder'"> Remark (If Any) </mat-placeholder>

          <textarea matInput formControlName="repatRemarks" maxlength="100" pattern="[A-Za-z0-9-/ ]+"></textarea>
          <mat-error *ngIf="form.controls['repatRemarks'].errors?.required">
            Remark (If Any) is Required
          </mat-error>
          <mat-error *ngIf="form.controls['repatRemarks'].errors?.pattern">
            Remark (If Any) is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="form.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="2" placeholder="Checker Remarks" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4" *ngIf="false">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="depuInDate" placeholder="Repatriation Effective Date " formControlName="depuInDate"  readonly required [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="repatEffecDate"></mat-datepicker-toggle>
          <mat-datepicker #repatEffecDate></mat-datepicker>
          
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6">
        <button type="submit" class="btn btn-success" [disabled]="btndisabled">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="ResetForm();">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwardStatusUpdate('0');" [disabled]="disableForwardflag">Forward to DDO Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>

        <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
      </div>


    </mat-card>
  </div>
</form>
<!--right table-->
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">
    <!--<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form value
          </mat-panel-title>
        </mat-expansion-panel-header>
        <code>
          {{form.value | json}}
        </code>
      </mat-expansion-panel>
    </mat-accordion>-->


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <!-- Name Column -->
      <ng-container matColumnDef="srNo">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>

        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}  </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="deputeFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deputed Type </th>
        <td mat-cell *matCellDef="let element"> {{element.repatDepuTypeName}} </td>
      </ng-container>

      <ng-container matColumnDef="orderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.repatOrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">

          <label *ngIf="element.veriFlag == 'E'" class="bgorange">Entry</label>
          <label *ngIf="element.veriFlag == 'U'" class="bgdarkorange">Entry Updated</label>
          <label *ngIf="element.veriFlag == 'F'" class="bggreen">Sent to Checker</label>
          <label *ngIf="element.veriFlag == 'V'" class="bgblue">Verified</label>
          <label *ngIf="element.veriFlag == 'R'" class="bgred">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        
        <td *matCellDef="let element">

          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'N' || element.veriFlag == 'R' || element.veriFlag == 'U')&& roleId == 6" type="button" class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.empDeputDetailsId)">edit</a>
          <!--<a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteEOSDetails(element);DeletePopup = !DeletePopup">
    delete_forever
  </a>-->
          <a *ngIf="(element.veriFlag != 'E' && element.veriFlag != 'N'  && element.veriFlag != 'R' && element.veriFlag != 'U') && roleId == 6" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
          <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.empDeputDetailsId)">
            info
          </a>
        </td>

      </ng-container>
      <tr *ngIf="dataSource?.length> 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>


  </div>

</div>
<!--<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure want to Delete?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>-->


<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject? <br /> <br /></h3>
      <div class="col-md-3"></div>
      <mat-form-field class="col-md-6 card-title text-center">
        <textarea matInput spellcheck="false" [(ngModel)]="rejectionRemark" formControlName="rejectionRemark1" rows="2" maxlength="100" align="center" placeholder="Remarks" required inputmode="full-width-latin"></textarea>
        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.required">Remarks is Required </mat-error>

        <mat-error *ngIf="RejectPopupForm.controls['rejectionRemark1'].errors?.pattern">Remarks is Invalid</mat-error>



      </mat-form-field>

      <div class="form-group text-center col-md-12">

        <button type="submit" class="btn btn-info" (click)="forwardStatusUpdate('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>
<!--<app-dialog [(visible)]="RejectPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Reject?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="rejectionRemark" rows="2" maxlength="50" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">

      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('R')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>-->
