<form #Bank="ngForm" (ngSubmit)="Bank.valid && UpdateBankDetails();" novalidate>

  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="col-md-12 col-lg-7">
    <mat-card class="example-card">
      <div class="fom-title">Bank Details</div>
      <div class="col-md-12 col-lg-4">
        <!--<mat-form-field class="wid-100">
          <input matInput placeholder="IFSC Code" required [(ngModel)]="objBankDetails.ifscCD" name="ifscCD" (blur)="getBankDetailsByIFSC(objBankDetails.ifscCD)">
        </mat-form-field>-->



        <mat-form-field class="wid-100">
          <mat-select placeholder="IFSC Code" #ifscCD="ngModel" [(ngModel)]="objBankDetails.ifscCD" name="ifscCD"
                      (selectionChange)="getBankDetailsByIFSC($event.value)" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="ifscFilterCtrl" [placeholderLabel]="'Find IFSC...'" [noEntriesFoundLabel]="'IFSC code not found'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let option of filteredIfsc | async" [value]="option.ifscCD">
              {{option.ifscCD}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!ifscCD.errors?.required">IFSC Code is required</span>
          </mat-error>


        </mat-form-field>


      </div>


      <!-- <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Bank Name" required [(ngModel)]="objBankDetails.bankName" name="bankName">
        </mat-form-field>
      </div> -->

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Bank" [(ngModel)]="objBankDetails.bankId" name="bankID" #bankId="ngModel" required>
            <mat-option *ngFor="let bank of BankesInfo" [value]="bank.bankId">{{bank.bankName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!bankId.errors?.required">Bank is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="col-md-12 col-lg-4">
       <mat-form-field class="wid-100">
      <input matInput placeholder="Branch Name" required [(ngModel)]="objBankDetails.branchName" name="branchName">
       </mat-form-field>
       </div> -->

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Branch" [(ngModel)]="objBankDetails.branchId" name="branchId" #branchId=ngModel required>
            <mat-option *ngFor="let branch of BankesInfo" [value]="branch.branchId">{{branch.branchName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!branchId.errors?.required">Branch is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Saving A/c No" required [(ngModel)]="objBankDetails.bnkAcNo" name="bnkAcNo" #bnkAcNo=ngModel maxlength="20" autocomplete="off" onpaste="return false"
                 pattern="^(?=.*\d)(?=.*[1-9]).{9,18}$" (keypress)="numberOnly($event)">
          <mat-error>
            <span [hidden]="!bnkAcNo.errors?.required">Saving A/c No is required</span>
            <span *ngIf="bnkAcNo.errors?.pattern">Account no is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Confirm Saving A/c No" pattern="{{objBankDetails.bnkAcNo}}" required [(ngModel)]="objBankDetails.confirmbnkAcNo" name="confirmbnkAcNo"
                 #confirmbnkAcNo=ngModel maxlength="20" autocomplete="off" onpaste="return false" (keypress)="numberOnly($event)" />

          <mat-error>
            <span [hidden]="!confirmbnkAcNo.errors?.pattern">Confirm Saving A/c No must be same as Saving A/c No</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!confirmbnkAcNo.errors?.required">Confirm Saving A/c No is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success">{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)=" resetBankDetailsForm()">Clear</button>

      </div>


    </mat-card>
  </div>
</form>


<!--right table-->


<div class="col-md-12 col-lg-5">
  <div class="example-card">
    <mat-card>
      <div>
       
        <label class="label-font">Bank Details</label> 
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            
            </thead>
            <tbody>
              <tr>
                <td>IFSC Code</td>
                <td>{{objAllBankDetails.ifscCD1}}</td>
              

              </tr>
              <tr>
                <td>Bank Name</td>
                <td>{{objAllBankDetails.bankName1}}
                <td>

              </tr>
              <tr>
                <td>Branch Name</td>
                <td> {{objAllBankDetails.branchName1}} </td>

              </tr>
              <tr>
                <td>Account No.</td>
                <td>{{objAllBankDetails.bnkAcNo1}}</td>

              </tr>
               
            </tbody>
          </table>
        </div>




      </div>
    </mat-card>
  </div>
</div>
