 
<form (ngSubmit)="Nominee.valid && UpdateNomineeDetails();" #Nominee="ngForm" novalidate>

  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="col-md-12 col-lg-7">

    <mat-card class="example-card" [ngClass]="bgcolor">
      <div class="fom-title">Nominee Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Salutation" [(ngModel)]="objNomineeDetails.nomineeSaluation" name="nomineeSaluation" #nomineeSaluation="ngModel" required [disabled]=disbleNomineeflag>
            <mat-option *ngFor="let title of salutations" [value]="title.cddirCodeValue">{{title.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!nomineeSaluation.errors?.required">Salutation required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">

          <input matInput placeholder="First Name" [(ngModel)]="objNomineeDetails.nomineeFirstName" name="nomineeFirstName" #nomineeFirstName="ngModel"
                 required [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeFirstName.errors?.required">First Name is required</span>
            <span *ngIf="nomineeFirstName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Middle Name" [(ngModel)]="objNomineeDetails.nomineeMiddleName" name="nomineeMiddleName" #nomineeMiddleName="ngModel"
                 [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span *ngIf="nomineeMiddleName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Last Name" [(ngModel)]="objNomineeDetails.nomineeLastName" name="nomineeLastName" #nomineeLastName="ngModel"
                 required [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeLastName.errors?.required">Last Name is required</span>
            <span *ngIf="nomineeLastName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Major/ Minor" name="nomineeMajorMinorFlag" required [(ngModel)]="objNomineeDetails.nomineeMajorMinorFlag" #nomineeMajorMinorFlag="ngModel" [disabled]=disbleNomineeflag>
            <mat-option value="1">Major</mat-option>
            <mat-option value="0">Minor</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!nomineeMajorMinorFlag.errors?.required">Major/ Minor is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="Date of Birth" [(ngModel)]="objNomineeDetails.nomineeDOBMinor" name="nomineeDOBMinor"
                 #nomineeDOBMinor="ngModel" required [disabled]=disbleNomineeflag (click)="picker1.open()" readonly [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>
            <span [hidden]="!nomineeDOBMinor.errors?.required">Date of Birth is required</span>
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Select RelationShip" [(ngModel)]="objNomineeDetails.nomineeRelation" name="nomineeRelation" #nomineeRelation="ngModel" required [disabled]=disbleNomineeflag>
            <mat-option *ngFor="let rel of relations" [value]="rel.cddirCodeValue">{{rel.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!nomineeRelation.errors?.required">RelationShip is required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Percentage Share" [(ngModel)]="objNomineeDetails.nomineePercentageShare" name="nomineePercentageShare" #nomineePercentageShare="ngModel"
                 required [disabled]=disbleNomineeflag pattern="^0*(?:[1-9][0-9]?|100)$" maxlength="3"
                 autocomplete=off onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)" onpaste="return false;">
          <mat-error>
            <span [hidden]="!nomineePercentageShare.errors?.required">Percentage Share is required</span>
            <span *ngIf="nomineePercentageShare.errors?.pattern">Percentage Share is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Salutation" [(ngModel)]="objNomineeDetails.guardianSaluation" name="guardianSaluation" #guardianSaluation="ngModel" required [disabled]=disbleNomineeflag>
            <mat-option *ngFor="let title of salutations" [value]="title.cddirCodeValue">{{title.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!guardianSaluation.errors?.required">Salutation required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Guardian First Name (in case of a minor)" [(ngModel)]="objNomineeDetails.nomineeGuardianFirstName" name="nomineeGuardianFirstName"
                 #nomineeGuardianFirstName="ngModel" required [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeGuardianFirstName.errors?.required">Guardian First Name (in case of a minor) is required</span>
            <span *ngIf="nomineeGuardianFirstName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Guardian Middle Name" [(ngModel)]="objNomineeDetails.nomineeGuardianMiddleName" name="nomineeGuardianMiddleName"
                 #nomineeGuardianMiddleName="ngModel" [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span *ngIf="nomineeGuardianMiddleName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Guardian Last Name" [(ngModel)]="objNomineeDetails.nomineeGuardianLastName" name="nomineeGuardianLastName"
                 #nomineeGuardianLastName="ngModel" required [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeGuardianLastName.errors?.required">Guardian Last Name is required</span>
            <span *ngIf="nomineeGuardianLastName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Flat/Room/Door/Block No" [(ngModel)]="objNomineeDetails.nomineeAddressLine1" name="nomineeAddressLine1"
                 #nomineeAddressLine1="ngModel" required [disabled]=disbleNomineeflag (keypress)="charaterWithNumeric($event)" maxlength="100">
          <mat-error>
            <span [hidden]="!nomineeAddressLine1.errors?.required">Flat/Room/Door/Block No is required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Premises/Building/Village" [(ngModel)]="objNomineeDetails.nomineeAddressLine2" name="nomineeAddressLine2" maxlength="150"
                 #nomineeAddressLine2="ngModel" required [disabled]=disbleNomineeflag (keypress)="charaterWithNumeric($event)" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeAddressLine2.errors?.required">Premises/Building/Village is required</span>
            <span *ngIf="nomineeAddressLine2.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Area/Locality/Taluka" [(ngModel)]="objNomineeDetails.nomineeAddressLine3" name="nomineeAddressLine3" maxlength="200"
                 #nomineeAddressLine3="ngModel" required [disabled]=disbleNomineeflag (keypress)="charaterWithNumeric($event)" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeAddressLine3.errors?.required">Area/Locality/Taluka is required</span>
            <span *ngIf="nomineeAddressLine3.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PIN Code/ ZIP Code" [(ngModel)]="objNomineeDetails.nomineePin" name="nomineePin" #nomineePin="ngModel" [max]="999999"
                 required [disabled]=disbleNomineeflag type="number" oninput="this.value=Math.abs(this.value)" pattern="^\d{6}(?:\d{2})?$"
                 onKeyPress="if (this.value.length == 6 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" onpaste="return false;">
          <mat-error>
            <span [hidden]="!nomineePin.errors?.required">PIN Code/ ZIP Code is required</span>
            <span *ngIf="nomineePin.errors?.pattern">PIN Code/ ZIP Code is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Country" [(ngModel)]="objNomineeDetails.nomineeCountry" name="nomineeCountry" #nomineeCountry="ngModel" required [disabled]=disbleNomineeflag>
            <mat-option value="1">India</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!nomineeCountry.errors?.required">Country is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="State/ U.T" [(ngModel)]="objNomineeDetails.nomineeState" name="nomineeState" #nomineeState="ngModel" required [disabled]=disbleNomineeflag>
            <mat-option *ngFor="let state of states" [value]="state.stateCode">{{state.stateName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!nomineeState.errors?.required">State/ U.T is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">

          <input matInput placeholder="City" [(ngModel)]="objNomineeDetails.nomineeAddressLine4" name="nomineeAddressLine4" #nomineeAddressLine4="ngModel"
                 required [disabled]=disbleNomineeflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!nomineeAddressLine4.errors?.required">City is required</span>
            <span *ngIf="nomineeAddressLine4.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" [disabled]=disbleNomineeflag>{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)=" resetNomineeDdetailsForm()">Clear</button>

      </div>


    </mat-card>
  </div>
</form>
   
   
            <!-- ======================================Right table of Nominee Details================= -->
         <div class="col-md-12 col-lg-5  ">
           <div class="example-card mat-card tabel-wraper Select Verified Employee Code:">
             <div class="fom-title">Nominee Details</div>
             <mat-form-field>
               <input matInput (keyup)="NomineeFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)" maxlength="20">
               <i class="material-icons icon-right">search</i>
             </mat-form-field>

             <table mat-table #nomineesort="matSort" matSort [dataSource]="nomineedataSource" class="mat-elevation-z8 even-odd-color">

               <!-- Name Column -->
               <!-- <ng-container matColumnDef="NominneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container> -->
               <tr>
                 <!-- Date Of MaritalStatus Column -->
                 <ng-container matColumnDef="Name">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                   <td mat-cell *matCellDef="let element"> {{element.nomineeFirstName}} </td>
                 </ng-container>

                 <!-- Date Of RelationShip Column -->
                 <ng-container matColumnDef="RelationShip">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> RelationShip </th>
                   <td mat-cell *matCellDef="let element"> {{element.nomineeRelationName }} </td>
                 </ng-container>
                 <!-- Date Of DOB Column -->
                 <ng-container matColumnDef="Percentage">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </th>
                   <td mat-cell *matCellDef="let element"> {{element.nomineePercentageShare}} %</td>
                 </ng-container>
                 <ng-container matColumnDef="Action">
                   <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                   <td mat-cell *matCellDef="let element">
                     <a class="material-icons i-info" matTooltip="Info" (click)="getNomineeDetails(element.empcd,0,element.nomineeID)">error</a>
                     <a class="material-icons i-edit" matTooltip="Edit" (click)="getNomineeDetails(element.empcd,1,element.nomineeID )">edit</a>
                     <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.empcd ,element.nomineeID , 'DeleteNomineeDetails'); deletepopup = !deletepopup"> delete_forever </a>
                   </td>
                 </ng-container>
               </tr>
               <tr mat-header-row *matHeaderRowDef="nomineedisplayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: nomineedisplayedColumns;"></tr>
             </table>
             <div [hidden]="isTableHasData">
               No Data Found
             </div>
             <mat-paginator #nomineepaginator [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
           </div>
          </div>

           
<app-dialog [(visible)]="deletepopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="DeleteNomineeDetails()">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletepopup =!deletepopup">Cancel</button>
      </div>

    </div>
  </app-dialog>
