 <!--<mat-card>-->
<form [formGroup]="tptaMasterForm" (ngSubmit)="createTptaMaster()">


  <!--Start Alert message for delet, info-->
  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <!--End Alert message for delet, info-->


  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      <div class="col-md-2">
        <label class="select-lbl">Employee Type:</label>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select placeholder="Select Employee type" formControlName="empTypeID" [disabled]="disableFlag" (selectionChange)="getPayCommision($event.value)" required>
            <mat-option value="1">Central Govt.</mat-option>
            <mat-option value="2">State Govt.</mat-option>
          </mat-select>
          <mat-error>Employee type required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <label class="select-lbl">Pay Commission:</label>
      </div>
      <div class="col-md-3">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Pay Commission" formControlName="payCommissionCode" required (selectionChange)="getSlabType($event.value)" [disabled]="disableFlag">
            <mat-option *ngFor="let _paylist of CommissionCodelist" value="{{_paylist.payCommissionCode}}">
              {{ _paylist.payCommisionName }}
            </mat-option>
          </mat-select>
          <mat-error>Pay Commission required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>


  <mat-accordion class="col-md-12 mb-20">
    <mat-expansion-panel [expanded]="true" #panelTpta [ngClass]="bgcolor">
      <mat-expansion-panel-header class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          TPTA Details
        </mat-panel-title>

      </mat-expansion-panel-header>


      <label class="select-lbl" *ngIf="showhidestate">State:</label>

      <div class="col-md-3" *ngIf="showhidestate">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select State" formControlName="stateId" name="stateId" required [disabled]="disableFlag">
            <mat-option *ngFor="let state of states" [value]="state.stateId">
              {{state.stateName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tptaMasterForm.controls['stateId'].invalidError || tptaMasterForm.controls['stateId'].value == 0">
            State name required
          </mat-error>
        </mat-form-field>
      </div>



      <table matSort class="mat-elevation-z8 even-odd-color tabel-form" formArrayName="rateDetails" >
        <tr class="table-head">

          <th>Slab No.</th>
          <th>City Class</th>
          <th>Slab Type</th>
          <th>Lower Limit</th>
          <th>Upper Limit</th>
          <th>Min Amount</th>
          <th>Value</th>
          <th>Action</th>
        </tr>

        <tr *ngFor="let rate of tptaMasterForm.controls.rateDetails.controls; let i = index;" [formGroupName]="i" >
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width" >
              <input matInput formControlName="slabNo" placeholder="Slab No" autocomplete=off maxlength="6" onpaste="return false"
                     onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required pattern="^(?=.*\d)(?=.*[1-9]).{1,6}$">
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.slabNo.errors">Slab no required</span></mat-error>
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.slabNo.errors?.pattern">Slab no is not valid</span></mat-error>
            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width" >
              <mat-select placeholder="Select City Class" formControlName="city" name="city" required>

                <mat-option *ngFor="let class of CityClass" [value]="class.city">{{class.cityClass}}</mat-option>
              </mat-select>
              <mat-error>City Class required</mat-error>
            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width">
              <mat-select placeholder="Select Slab Type" formControlName="slabType" name="slabType" required>
                <mat-option label="Select Slab Type">Select Slab Type</mat-option>
                <mat-option *ngFor="let st of SlabTypelist" [value]="st.slabType">{{st.msSlabTypeDes}}</mat-option>
              </mat-select>
              <mat-error>Slab Type required</mat-error>
            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width" >
              <input matInput formControlName="lowerLimit" placeholder="Lower Limit" autocomplete=off maxlength="6" (keyup)="validateLowerLimit(i)"
                     onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required onpaste="return false" pattern="^(?=.*\d)(?=.*[1-9]).{1,6}$">
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.lowerLimit.errors && rate.controls.lowerLimit.errors.required">Lower limit required</mat-error>             
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.lowerLimit.errors?.pattern">Lower limit is not valid</span></mat-error>
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.lowerLimit.errors && rate.controls.lowerLimit.errors.invalidError == true">Lower limit should be less or equal to upper limit</mat-error>


            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width">
              <input matInput formControlName="upperLimit" placeholder="Upper Limit" autocomplete=off maxlength="6" pattern="^(?=.*\d)(?=.*[1-9]).{1,6}$"
                     onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required onpaste="return false" (keyup)="validateUpperLimit(i)">
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.upperLimit.errors && rate.controls.upperLimit.errors.required">Upper limit required</mat-error>
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.upperLimit.errors?.pattern">Upper limit is not valid</span></mat-error>
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.upperLimit.errors && rate.controls.upperLimit.errors.invalidError == true">Upper limit should be greater or equal to lower Limit</mat-error>
            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width" >
              <input matInput formControlName="minvalue" placeholder="Min Amount" autocomplete=off maxlength="6" pattern="^(?=.*\d)(?=.*[1-9]).{1,6}$"
                     onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required onpaste="return false" (keyup)="validateMinAmt(i)">
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.minvalue.errors && rate.controls.minvalue.errors.required">Min amount required</mat-error>
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.minvalue.errors?.pattern">Min amount is not valid</span></mat-error>
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.minvalue.errors && rate.controls.minvalue.errors.invalidError == true">
              Min amount should be less or equal to value</mat-error>
            </mat-form-field>
          </td>
          <td [ngClass]="bgcolor">
            <mat-form-field class="form-field-width" >
              <input matInput formControlName="tptaAmount" placeholder="Value" autocomplete=off maxlength="6" pattern="^(?=.*\d)(?=.*[1-9]).{1,6}$"
                     onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required onpaste="return false" (keyup)="validateUpperAmt(i)">
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.tptaAmount.errors && rate.controls.tptaAmount.errors.required">Value required</mat-error>
              <mat-error><span *ngIf="tptaMasterForm.controls.rateDetails.controls[i].controls.tptaAmount.errors?.pattern">Value is not valid</span></mat-error>
              <mat-error *ngIf="tptaMasterForm.controls.rateDetails && rate.controls.tptaAmount.errors && rate.controls.tptaAmount.errors.invalidError == true">
                Value should be greater or equal to min amount
              </mat-error>
            </mat-form-field>
          </td>
          <td class="action-single-btn" [ngClass]="bgcolor">
            <a *ngIf="rateDetails.length > 1" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRateDetail(i)">
              delete_forever
            </a>
          </td>
        </tr>

      </table>
      <div class="col-md-12 col-lg-12 text-right btn-wraper" *ngIf="showhidebtn">
        <button type="button" class="btn btn-success" (click)="addRateDetail()">Add Row</button>
      </div>




      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="clearInput();">Cancel</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</form>


  <!--Table start here-->

  <mat-accordion class="col-md-12 mb-20">
    <mat-expansion-panel [expanded]="panelOpenState" >

      <mat-expansion-panel-header class="panel-header btm-m15">
        <mat-panel-title class="acordion-heading">
          Edit TPTA Master Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" maxlength="20" [(ngModel)]="searchfield" (keypress)="charaterOnlyNoSpace($event)"
               onpaste="return false">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <tr>
          <ng-container matColumnDef="employeeType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</th>
            <td mat-cell *matCellDef="let element"> {{element.employeeType}} </td>
          </ng-container>

          <ng-container matColumnDef="payCommisionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Commission</th>
            <td mat-cell *matCellDef="let element"> {{element.payCommisionName}} </td>
          </ng-container>

          <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
          </ng-container>

          <ng-container matColumnDef="slabNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Slab No</th>
            <td mat-cell *matCellDef="let element"> {{element.slabNo}} </td>
          </ng-container>

          <ng-container matColumnDef="cityClass">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City Class</th>
            <td mat-cell *matCellDef="let element"> {{element.cityClass}} </td>
          </ng-container>

          <ng-container matColumnDef="slabtypDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Slab Type</th>
            <td mat-cell *matCellDef="let element"> {{element.slabtypDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="lowerLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lower Limit</th>
            <td mat-cell *matCellDef="let element"> {{element.lowerLimit}} </td>
          </ng-container>

          <ng-container matColumnDef="upperLimit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Upper Limit</th>
            <td mat-cell *matCellDef="let element"> {{element.upperLimit}} </td>
          </ng-container>

          <ng-container matColumnDef="minvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.minvalue}} </td>
          </ng-container>

          <ng-container matColumnDef="tptaAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
            <td mat-cell *matCellDef="let element"> {{element.tptaAmount}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <a class="material-icons i-edit" matTooltip="Edit" (click)="editTptaMaster(element)">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.tptaMasterID);deletepopup = !deletepopup"> delete_forever </a>
            </td>
          </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div [hidden]="isTableHasData">
        No  Records Found
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" showFirstLastButtons></mat-paginator>


    </mat-expansion-panel>
  </mat-accordion>
  <!--</mat-card>-->


<!--Delete Pop Up-->
  <app-dialog [(visible)]="deletepopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="deleteTptaDetails(setDeletIDOnPopup)">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
      </div>

    </div>
  </app-dialog>
