
<app-comman-mst (onchange)="GetcommanMethod($event)" [data]="callTypevar"></app-comman-mst>


<div class="col-md-6 col-lg-7">
  <div class="example-card mat-card">
    <div class="fom-title">Enter NG Recovery for all Employees</div>

    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Financial Year">
          <!--<mat-option>2019-2020</mat-option>-->
          <mat-option *ngFor="let financialYears of financialYearList" [value]="financialYears.financialYear">{{financialYears.fullDescription}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Month">
          <!--<mat-option>May</mat-option>-->
          <mat-option *ngFor="let months of monthList" [value]="months.msMonthid">{{months.monthName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <table matSort class="mat-elevation-z8 even-odd-color tabel-form wid-100 recovery-tabel" border="1">
      <tr class="table-head">
        <th>Sl.No</th>
        <th>
          NG Recovery Code & Description
        </th>
        <th>Amount (Rs)</th>
        <th>No. of Installments</th>
        <th>Recovered no. of Installments</th>
        <th>Function</th>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="" required>
              <mat-option value="option1">Kerala State Fund-002 </mat-option>
              <mat-option value="option2">AAO Association-003</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="" required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="" required>
          </mat-form-field>
        </td>
        <td>
          
        </td>
        <td>
          <i class="material-icons i-delet">delete</i>
        </td>
      </tr>
    </table>

    <div class="col-md-12 col-lg-12 text-right mt-10 margin-top-10px">
      <a class="btn btn-success add-leave-btn " matTooltip="Add"><i class="material-icons">playlist_add</i></a>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="reset" class="btn btn-warning">Cancel</button>
    </div>

  </div>
</div>
<!-------------------------right table----------------------------------->
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <div class="fom-title">NG Recoveries</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table matSort class="mat-elevation-z8 even-odd-color wid-100">
      <tr>
        <th>S.No</th>
        <th>NGR Code</th>
        <th>NG Recovery Description</th>
        <th>Amount (Rs)</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>
          1
        </td>
        <td>
          001
        </td>
        <td>
          AAO Association
        </td>
        <td>100</td>
        <td>
          <a class="material-icons i-info" matTooltip="info">info</a>
          <a class="material-icons i-edit" matTooltip="Edit">edit</a>
          <a class="material-icons i-delet" matTooltip="Edit">delete</a>
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          002
        </td>
        <td>
          AICAGRBGZ ASSOCIATION
        </td>
        <td>300          </td>
        <td>
          <a class="material-icons i-info" matTooltip="info">info</a>
          <a class="material-icons i-edit" matTooltip="Edit">edit</a>
          <a class="material-icons i-delet" matTooltip="Edit">delete</a>
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>
