  
<form ref-CGHS="ngForm" (ngSubmit)="CGHS.valid && SaveUpdateCGHSDetails();" novalidate> 
  <div class="col-md-12 col-lg-7"> 
<mat-card class="example-card">
  <div class="fom-title">CGHS Details</div>
<div class="col-md-12 col-lg-4">
  <mat-form-field class="wid-100">
    <mat-select placeholder="Select Deduction Item" [(ngModel)]="objCGHSDetails.cgisDeduct" name="cgisDeduct" #cgisDeduct="ngModel" (selectionChange)="showAndHideMIS($event.value)" required>
      <mat-option value="Y">CGHS</mat-option>
      <mat-option value="O">MIS State / Other</mat-option>
    </mat-select>
    <mat-error>
      <span [hidden]="!cgisDeduct.errors?.required">Deduction item is required</span>
    </mat-error>
  </mat-form-field>
  </div>

    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Description" [(ngModel)]="objCGHSDetails.empCghsFlag" name="empCghsFlag" #empCghsFlag="ngModel" required (selectionChange)="showAndHideMISbyFlag($event.value)">
          <mat-option value="Y">Yes</mat-option>
          <mat-option value="N">No</mat-option>
        </mat-select>
        <mat-error>
          <span [hidden]="!empCghsFlag.errors?.required">Description is required</span>
        </mat-error>
      </mat-form-field>
    </div>


    <div class="col-md-12 col-lg-4" *ngIf="showDeduction">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Card no" required [(ngModel)]="objCGHSDetails.empCghsNo" name="empCghsNo" maxlength="7"
               #empCghsNo="ngModel" onpaste="return false"  minlenght="7"  autocomplete="off" pattern="[0-9]{6}[1-9]{1}" 
                (keypress)="numberOnly($event)">
        <mat-error>
          <span [hidden]="!empCghsNo.errors?.required">Card no is required</span>
          <span *ngIf="empCghsNo.errors?.pattern">Card no is not valid</span>
        </mat-error>
        
      </mat-form-field> 
       </div>
     
    
    <div class="col-md-12 col-lg-4" *ngIf="showcghsDescription">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Enter description details " required [(ngModel)]="objCGHSDetails.cghsDescription" name="cghsDescription" #cghsDescription="ngModel"
               pattern="^[A-Za-z0-9]+$" onpaste="return false">
        <mat-error>
        <span [hidden]="!cghsDescription.errors?.required">Description details is required</span>
        <span *ngIf="cghsDescription.errors?.pattern">Special character not allowed</span>
        </mat-error>
      </mat-form-field> 
 </div>
     

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" >{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)=" resetCGGDetailsForm()" >Clear</button>
         
   </div>

</mat-card>
</div>
</form>
<!--right table-->

<div class="col-md-12 col-lg-5">
<div class="example-card">
  <mat-card>
    <div> 
      <label class="label-font">CGHS Details</label> 
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          
          </thead>
          <tbody>
            <tr>
              <td> Deduction Item</td>
              <td>{{objAllCGHSDetails.cgisDeduct}}</td>
             
            </tr>
            <tr>
              <td> Description</td>
              <td>{{objAllCGHSDetails.empCghsFlag}}
              <td>

              </tr>
            <tr *ngIf="showempCghsNoDetails">
              <td>Card No.</td>
              <td> {{objAllCGHSDetails.empCghsNo}} </td>

            </tr>
            <tr *ngIf="showcghsDescriptionDetails">
              <td>Description Details </td>
              <td>{{objAllCGHSDetails.cghsDescription }}</td>

            </tr>
             
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
</div>
</div>
