<app-commonddl (onchange)="GetcommonMethod($event)"></app-commonddl>

<div class="col-md-6 col-lg-6 ">

  <form [formGroup]="designationForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <div class="fom-title">Sanction Order Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput formControlName="OrderNo" placeholder="Order No./Authority/Ref.Letter No." [readonly]="editable" autocomplete=off required>
          <mat-error *ngIf="designationForm?.controls.OrderNo?.errors?.required">Order No. Required !</mat-error>
          <mat-error *ngIf="designationForm?.controls.OrderNo?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="designationForm?.controls.OrderNo?.errors?.maxlength">Maximum Length required is 100 characters.</mat-error>
          <mat-error *ngIf="designationForm?.controls.OrderNo?.errors?.pattern">Special characters not allowed</mat-error>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">

          <input matInput (click)="OrderDate.open()" [matDatepicker]="OrderDate" [max]="maxDate" formControlName="OrderDate" placeholder="Order Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
          <mat-error>Order Date Required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="Remarks" rows="1" placeholder="Remarks" required></textarea>
          <mat-error *ngIf="designationForm?.controls.Remarks?.errors?.required">Remarks Required !</mat-error>
          <mat-error *ngIf="designationForm?.controls.Remarks?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
          <mat-error *ngIf="designationForm?.controls.Remarks?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
          <mat-error *ngIf="designationForm?.controls.Remarks?.errors?.pattern">Special characters not allowed</mat-error>


        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-12" *ngIf="designationForm.controls.rejectionRemark.value ">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks"
                    [readonly]="editable"></textarea>

        </mat-form-field>
      </div>

      <div class="fom-title">Revised Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Designation" formControlName="designation" [compareWith]="compare" required>
            <mat-option *ngFor="let ot of list" [value]="ot.value1">
              {{ot.text1}}
            </mat-option>
          </mat-select>

          <mat-error>
            Designation required
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <input matInput (click)="WithEffectDate.open()" [matDatepicker]="WithEffectDate" [max]="maxDate" formControlName="WithEffectDate" placeholder="With Effect Date" autocomplete=off required>
          <mat-datepicker-toggle matSuffix [for]="WithEffectDate"></mat-datepicker-toggle>
          <mat-datepicker #WithEffectDate></mat-datepicker>
          <mat-error>
            With Effect Date Required!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4" style="display:none;">
        <mat-form-field>
          <input matInput formControlName="empCd">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="oldOrderNo">
        </mat-form-field>
      </div>
      <div *ngIf="roleId == 6" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [disabled]="!empCd ||infoScreen">{{Btntxt}}</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm()" [disabled]="infoScreen||!btnCancel">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!fwdtochker" (click)="forwardToChecker()">Forward To Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>
      </div>
    </mat-card>
  </form>

</div>

<!--- Table Right--->
<div class="col-md-12 col-lg-6 mb-15">
  <div class="example-card tabel-wraper even-odd-color">
    <div class="fom-title">Current Details</div>
    <mat-card>
      <mat-form-field>
        <input matInput (keyup)="applyFiltercurrent($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>


      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

        <ng-container matColumnDef="Sr.No">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;">
            {{paginator.pageIndex * paginator.pageSize + i + 1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EmpCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Emp. Code
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EmployeeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee Name

          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="currentdesignation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Designation

          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.currentdesignation}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label *ngIf="element.status == 'E'">Entry</label>
            <label *ngIf="element.status == 'U'">Entry Updated</label>
            <label *ngIf="element.status == 'P'">Sent to Checker</label>
            <label *ngIf="element.status == 'V'">Verified</label>
            <label *ngIf="element.status == 'R'">Rejected</label>
            <label *ngIf="element.status == 'N'">Exists Value</label>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a *ngIf="(element.status == 'E' || element.status == 'R' || element.status == 'U')&& roleId == 6"
               class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element)">
              edit
            </a>
            <a *ngIf="(element.status == 'E' || element.status == 'U')" class="material-icons i-delet" matTooltip="Delete" (click)="DeleteChangeDetails(element);DeletePopup = !DeletePopup">
              delete_forever
            </a>
            <a *ngIf="(element.status != 'E' && element.status != 'R' && element.status != 'U' && element.status != 'N') && roleId == 6"
               class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
              info
            </a>
            <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element)">
              info
            </a>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

      <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0">No records found</div>

    </mat-card>
  </div>
</div>

<div class="col-md-12 col-lg-6">
  <div class="example-card tabel-wraper even-odd-color">
    <div class="fom-title">History Details</div>
    <mat-card>

      <mat-form-field>
        <input matInput (keyup)="applyFilterhistory($event.target.value)" [disabled]="!empCd" (keypress)="allowAlphaNumericSpace($event)" placeholder="Search">
        <i class="material-icons icon-right">search</i>
      </mat-form-field>
      <mat-table #table [dataSource]="dataSource1" matSort class="mat-elevation-z8 even-odd-color">
        <ng-container matColumnDef="Sr.No">
          <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;"> {{historyPagination.pageIndex * historyPagination.pageSize + i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EmpCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Emp. Code
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empCd}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="EmployeeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Employee Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="reviseddesignation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Designation
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.reviseddesignation}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label *ngIf="element.status == 'E'">Entry</label>
            <label *ngIf="element.status == 'U'">Entry Updated</label>
            <label *ngIf="element.status == 'P'">Sent to Checker</label>
            <label *ngIf="element.status == 'V'">Verified</label>
            <label *ngIf="element.status == 'R'">Rejected</label>
            <label *ngIf="element.status == 'N'">Exists Value</label>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
      </mat-table>
      <mat-paginator #historyPagination [length]="totalCounthis" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      <div *ngIf="dataSource1.data.length === 0 || dataSource1.filteredData.length === 0">No records found</div>

    </mat-card>
  </div>
</div>


<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure to Delete the Record?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ApprovePopup">

  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="updateStatus('V')">Yes</button>

      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
    </div>
  </div>

</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form [formGroup]="RejectPopupForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to Reject?</h3>
      <mat-form-field class="wid-100">
        <textarea matInput formControlName="rejectionRemark1" rows="2" placeholder="Remarks" required></textarea>

        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.required">Remarks Required !</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.minlength">Minimum Length required is 3 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.maxlength">Maximum Length required is 200 characters.</mat-error>
        <mat-error *ngIf="RejectPopupForm?.controls.rejectionRemark1?.errors?.pattern">Special characters not allowed</mat-error>
      </mat-form-field>
      &nbsp;&nbsp;
      <div class="form-group text-center col-md-12">
        <button type="submit" class="btn btn-info" (click)="updateStatus('R')">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">No</button>
      </div>
    </div>
  </form>
</app-dialog>
