

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
       
      </mat-panel-title>

    </mat-expansion-panel-header>


    <ng-template matStepLabel>Pay Bill Group Attach</ng-template>


    <div class="col-sm-12 col-md-12 col-lg-12 combo-col clear-both select-type">
      <div class="col-md-6 col-lg-3 pading-16">
        <label>Select Pay Bill Group</label>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Pay Bill Group" name="billgroupId" #billgroupId="ngModel"
                      [(ngModel)]="billAttach.billgroupId" (selectionChange)="GetPayBillGroupId($event.value)">
            <mat-option *ngFor="let Bill of getPayBillGroup" [value]="Bill.billgrId">
              {{Bill.billgrId +'('+Bill.billgrDesc+')'}}


            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>


    </div>



    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="AccountHead" [disabled]=disbleflag [(ngModel)]="billAttach.schemeId"
               [value]="billAttach.schemeId" name="schemeId" #schemeId="ngModel">
      </mat-form-field>
    </div>





    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="SeriveType" [disabled]=disbleflag [(ngModel)]="billAttach.serviceType"
               [value]="billAttach.serviceType" name="serviceType" #serviceType="ngModel">
      </mat-form-field>
    </div>


    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="GroupId" [(ngModel)]="billAttach.groupId" [value]="billAttach.groupId"
               name="groupId" #groupId="ngModel">
      </mat-form-field>
    </div>




    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Pay BillGroup Name" [disabled]=disbleflag [(ngModel)]="billAttach.billgrDesc"
               [value]="billAttach.billgrDesc" name="billgrDesc" #billgrDesc="ngModel" class="width-fill">
      </mat-form-field>
    </div>


    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Bill For GAR 15" [disabled]=disbleflag [(ngModel)]="billAttach.billgrFor"
               [value]="billAttach.billgrFor" name="billgrDesc" #billgrFor="ngModel" class="width-fill">
      </mat-form-field>
    </div>




    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Employee Type" [(ngModel)]="getEmpById.emp_type" name="emp_type" #emp_type="ngModel"
                    (selectionChange)="getEmployeeTypeId($event.value)">
          <mat-option *ngFor="let employeeType of employeeTypes" [value]="employeeType.codeValue">
            {{employeeType.codeText}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Type" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>



  </div> -->




    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Employee Sub-Type" [(ngModel)]="getEmpById.empSubType" name="empSubType"
                    #empSubType="ngModel">
          <mat-option *ngFor="let employeeSubType of employeeSubTypes" [value]="employeeSubType.codeValue">
            {{employeeSubType.codeText}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>




    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" (click)="saveMethod(billAttach)" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>


  </mat-expansion-panel>
</mat-accordion>








<div class="col-md-12 col-lg-12">

  <div class="example-card mat-card tabel-wraper">

    <div class="fom-title">Employee not Attached to any Bill Group</div>
    

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
        <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
      </ng-container>


      <ng-container matColumnDef="desigFieldDeptCD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DepttEmpCode </th>
        <td mat-cell *matCellDef="let element"> {{element.desigFieldDeptCD}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox (change)="$event ? masterToggleForAttach() : null" [checked]="selectionAttach.hasValue() && isAllSelectedForAttach()"
                        [indeterminate]="selectionAttach.hasValue() && !isAllSelectedForAttach()"></mat-checkbox>
        </th>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAttach.toggle(row) : null"
                        [checked]="selectionAttach.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
    </table>
    <div [hidden]="isTableHasData">
      No Data Found
    </div>


  </div>

  <div class="col-lg-12 text-center attach-dattach-wraper">
    <button mat-raised-button  class="attach-btn" (click)="AttachSelectedRows()">
      Attach
    </button>
   

    <button mat-raised-button  class="dattach-btn" (click)="DeAttachSelectedRows()">
      DeAttach
    </button>


  </div>

  
  
    <div class="example-card mat-card tabel-wraper">

      <div class="fom-title">Employee Attached to selected Bill Group</div>


      <table mat-table [dataSource]="dataSourceDeAttach" matSort class="mat-elevation-z8 even-odd-color">
        <ng-container matColumnDef="empCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
          <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
        </ng-container>

        <!-- Date Of Birth Column -->
        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
          <td mat-cell *matCellDef="let element"> {{element.empName}} </td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>


        <ng-container matColumnDef="desigFieldDeptCD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DepttEmpCode </th>
          <td mat-cell *matCellDef="let element"> {{element.desigFieldDeptCD}} </td>
        </ng-container>

        <!-- Date Of Joining Column -->

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-checkbox (change)="$event ? masterToggleForDeAttach() : null" [checked]="selectionDeAttach.hasValue() && isAllSelectedForDeAttach()"
                          [indeterminate]="selectionDeAttach.hasValue() && !isAllSelectedForDeAttach()"></mat-checkbox>
          </th>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDeAttach.toggle(row) : null"
                          [checked]="selectionDeAttach.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div [hidden]="isTableHasData">
        No Data Found
      </div>



    </div>
  </div>
