<div class="col-md-10 col-lg-10 col-md-offset-1">
  <div class="basic-container select-drop-head">
    <form [formGroup]="headersForm" (ngSubmit)="onSubmit()">
      <div class="row  selection-hed">
        <div class="col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="searchEmployeeType" placeholder="Search Employees">
              <mat-option value="name">Employee Name/Code</mat-option>
              <mat-option value="pan">Employee PAN No.</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4">
          <mat-form-field class="wid-100" *ngIf="headersForm.controls.searchEmployeeType.value == 'name'">
            <mat-select formControlName="searchEmployee" placeholder="Employee Name and Code">
              <mat-option>
                <ngx-mat-select-search [formControl]="searchEmployee" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Employee is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredEmp | async" value="{{emp.msEmpId}}">{{emp.empName}} ({{emp.empCd}})</mat-option>
            </mat-select>
            <mat-error>Please Select a Employee</mat-error>
          </mat-form-field>

          <mat-form-field class="wid-100" *ngIf="headersForm.controls.searchEmployeeType.value == 'pan'">
            <mat-select formControlName="searchEmployee" placeholder="Employee PAN no.">
              <mat-option>
                <ngx-mat-select-search [formControl]="searchEmployeePAN" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Employee is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredPAN | async" value="{{emp.msEmpId}}">{{emp.empPanNo}}</mat-option>
            </mat-select>
            <mat-error>Please Select a Employee</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4">
          <button class="btn btn-success" type="submit">GO</button>
        </div>
      </div>
    </form>
  </div>
</div>
