<div class="main-content">
  <div class="container-fluid">

    <!--<form #controllerDetail="ngForm" class="rowdasa" novalidate>-->
    <div class="col-md-12 col-lg-12">
      <form #controllerDetail="ngForm"   class="rowdasa" novalidate>
        <div class="example-card mat-card margin-bottom-9">
          <div class="col-sm-4 col-md-4">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select controller" required #controller="ngModel" [(ngModel)]="MsControllerID" (selectionChange)="ControllerChnage($event.value)" name="controller">
                <mat-option>
                  <ngx-mat-select-search [formControl]="controllerFilterCtrl" [placeholderLabel]="'Find controller...'" [noEntriesFoundLabel]="'Controller is not found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let controller of filteredcontroller |async " [value]="controller.values">
                  {{controller.text}}
                </mat-option>
              </mat-select>
              <mat-error>
                <span [hidden]="!controller.errors?.required">Please select Controller</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <div *ngIf="btnFlageView">
              <button type="button" class="btn btn-success" (click)='View()'>View Assigned Controller</button>
            </div>
            <div *ngIf="btnFlage">
              <button type="submit" class="btn btn-info" (click)="controllerDetail.onSubmit();controllerDetail.valid && View()">Go</button>
            </div>
          </div>
        </div>
      </form>

      <!--=======================two drop down List=======================-->
      <form #DDLDetail="ngForm" class="rowdasa" novalidate>
        <div class="example-card mat-card margin-bottom-9" *ngIf="DDLHideShowFlage">
          <div class="col-sm-4 col-md-4">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select PAO" required #pao="ngModel" [(ngModel)]="PAOID" (selectionChange)="onpaoSelectchanged($event.value)" name="pao">
                <mat-option *ngFor="let pao of ddlPAOList" [value]="pao.values">
                  {{pao.text}}
                </mat-option>
              </mat-select>
              <mat-error>
                <span [hidden]="!pao.errors?.required">Please select PAO</span>
              </mat-error>
            </mat-form-field>
            
          </div>
          <div class="col-sm-4 col-md-4">
            <mat-form-field class="wid-100">
              <mat-select matNativeControl placeholder="Select DDO" required #ddo="ngModel" [(ngModel)]="DDOID" (selectionChange)="DDOSelectChange($event.value)" name="ddo">
                <mat-option *ngFor="let ddo of ddlDDOList" [value]="ddo.values">
                  {{ddo.text}}
                </mat-option>
              </mat-select>
              <mat-error>
                <span [hidden]="!ddo.errors?.required">Please select DDO</span>
              </mat-error>
            </mat-form-field>
           
          </div>
          <div class="col-sm-4 col-md-4">
            <button type="submit" class="btn btn-info" (click)='DDLDetail.onSubmit();DDLDetail.valid && go()'>Get Employee</button>
          </div>
        </div>
      </form>

      <!--=======================Assign Employee List=======================-->
      <form  #empDetail="ngForm" class="rowdasa" novalidate>
        <div *ngIf="IsFlagUnAssigned">
          <div *ngIf="AssignedEmpList.length != 0" class="example-card mat-card margin-bottom-9">
            <div class="fom-title">Assigned Controller</div>
            <table mat-table [dataSource]="AssignedEmpList" matSort class="mat-elevation-z8 even-odd-color">
              <ng-container matColumnDef="EmpCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
                <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
              </ng-container>
              <ng-container matColumnDef="DDOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
              </ng-container>
              <ng-container matColumnDef="PAOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.paoName}} </td>
              </ng-container>
              <ng-container matColumnDef="EmpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
                <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
              </ng-container>
              <ng-container matColumnDef="CommonDesigDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>
              <ng-container matColumnDef="ActiveDeactive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Unassign</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="checkStatus =='Yes'; else NotAssign">
                    <div *ngIf="element.activeStatus =='Controller'; else Assign">
                      <a class="material-icons i-dactivate" matTooltip="Delete" (click)="fillPopup(element.empCd,element.empName,element.activeStatus);deactivatePopup = !deactivatePopup"> cancel </a>
                    </div>
                  </div>
                  <ng-template #NotAssign>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="AssignedEmpList.length === 0" class="EmptyMessage">No controller assigned</div>
          </div>
        </div>
      </form>
    </div>
    <!--</form>-->
    <!--===========form first end===================-->
    <!-- ----------  For List of Employees  ---------------->
    <form  class="rowdasa">
      <div *ngIf="IsFlagAssign">
        <div class="col-md-12 col-lg-12">
          <div class="example-card mat-card">
            <div class="fom-title">Employee List</div>
            <mat-form-field>
              <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
              <i class="material-icons icon-right">search</i>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
              <ng-container matColumnDef="EmpCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
                <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
              </ng-container>
              <ng-container matColumnDef="DDOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
              </ng-container>
              <ng-container matColumnDef="PAOName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Name </th>
                <td mat-cell *matCellDef="let element">  {{element.paoName}} </td>
              </ng-container>
              <ng-container matColumnDef="EmpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
                <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
              </ng-container>
              <ng-container matColumnDef="CommonDesigDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>
              <ng-container matColumnDef="ActiveDeactive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="checkStatus =='Yes'; else NotAssign">
                    <div *ngIf="element.activeStatus =='Controller'; else Assign">
                    </div>
                  </div>
                  <ng-template #NotAssign>
                    <a class="material-icons i-activate" matTooltip="Edit" (click)="fillPopup(element.empCd,element.empName,element.empDOB,element.activeStatus);activatePopup = !activatePopup">check_circle_outline</a>
                  </ng-template>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div [hidden]="MessageDataFound">
              <font color="red">No employee exists</font>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-dialog [(visible)]="deactivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Unassign?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="PaosAssigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="activatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to Assign?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="PaosAssigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>


<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>

