<!--------------- Left Form Start --------------->
<app-rejoiningof-employee-header #header></app-rejoiningof-employee-header>
<div class="col-md-12 col-lg-6">
  <!--------------- Employee Details Start --------------->
  <mat-card class="example-card">
    <div class="fom-title">
      Employee Details
    </div>
    <form [formGroup]="rejoiningForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-12 col-md-7 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Employee Name" formControlName="empName" readonly>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Employee Type" formControlName="currentType" readonly>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker" formControlName="empDOB" placeholder="Date of Birth" [disabled]="true" autocomplete=off>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Gender" formControlName="empGender" [disabled]="true">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PAN No." formControlName="empPanNo" readonly>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="End of Service Date" formControlName="endServDt" readonly>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Reason for End of Service" formControlName="empEndReason" readonly>
        </mat-form-field>
      </div>
      <!--------------- Re-Joining Details Start --------------->
      <div class="fom-title">
        Re-Joining Details
      </div>
      <div class="col-md-12 col-lg-12 combo-col">
        <div class="col-md-12 col-lg-5 pading-0">
          <label>Consider Previous Govt Service</label>
        </div>
        <div class="col-md12 col-lg-4">
          <mat-radio-group formControlName="isPreviousGovService" (change)="setPreviousJoiningDetails($event)">
            <mat-radio-button value="y">Yes</mat-radio-button>
            <mat-radio-button value="n">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Type" formControlName="reJoiningEmployeeTypeId" [disabled]="(rejoiningForm && rejoiningForm.controls.isPreviousGovService.value == 'y') || infoMode || roleId == 5">
            <mat-option value="1">Regular</mat-option>
            <mat-option value="2">Co-Terminus</mat-option>
            <mat-option value="33">Re-Employeer Pensioner</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="picker3.open()" [matDatepicker]="picker3" placeholder="Date of Re-Joining" formControlName="empRejoiningDate" [disabled]="(rejoiningForm && rejoiningForm.controls.isPreviousGovService.value == 'y') || infoMode || roleId == 5" autocomplete=off readonly>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Time" formControlName="empJoiningTime" [disabled]="(rejoiningForm && rejoiningForm.controls.isPreviousGovService.value == 'y') || infoMode || roleId == 5">
            <mat-option value="B">Forenoon</mat-option>
            <mat-option value="A">Afternoon</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mat-card" *ngIf="rejoiningForm.controls.reJoiningEmployeeTypeId.value == 33">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Pension Amount" formControlName="pensionAmount">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="wid-100">
            <mat-select placeholder="DA taken from" formControlName="daTakenFrom">
              <mat-option value="Parent">Parent DDO</mat-option>
              <mat-option value="Current">Current DDO</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="NOC Order No." formControlName="nocOrderNo">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput (click)="picker5.open()" [matDatepicker]="picker5" placeholder="NOC Order Date" formControlName="nocOrderDt" autocomplete=off readonly>
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!--------------- Re-Joining Details End --------------->
      <!--------------- Order Details Start --------------->
      <div class="fom-title">
        Order Details
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No." formControlName="orderNo">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput (click)="picker4.open()" [matDatepicker]="picker4" placeholder="Order Date" formControlName="orderDt" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks" formControlName="remark">
      </textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="rejoiningForm.controls.verifFlag.value == 'R' || rejoiningForm.controls.verifFlag.value == 'V'">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remark from DDO Checker" formControlName="reasonForRej" readonly>
      </textarea>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6">
        <button type="submit" class="btn btn-success" [disabled]="rejoiningForm.controls.empId.value == 0 || infoMode">Save</button>
        <button type="button" class="btn btn-warning" (click)="cancelForm();header.resetForm()" [disabled]="rejoiningForm.controls.empId.value == 0">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="changeStatus('P')" [disabled]="rejoiningForm.controls.empId.value == 0 || !editMode || infoMode">Forward to Checker</button>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 5">
        <button type="button" class="btn btn-success" [disabled]="(rejoiningForm.controls.verifFlag.value == 'V' && infoMode) || rejoiningForm.controls.msEmpReinstateDetID.value == 0" (click)="ApprovePopup = !ApprovePopup">Accept</button>
        <button type="button" class="btn btn-warning" [disabled]="(rejoiningForm.controls.verifFlag.value == 'V' && infoMode) || rejoiningForm.controls.msEmpReinstateDetID.value == 0" (click)="RejectPopup = !RejectPopup">Reject</button>
      </div>

    </form>
    <!--------------- Order Details End --------------->

  </mat-card>

  <!--------------- Employee Details End --------------->

</div>
<!---Left Form End--->
<!----Right Form Start-->
<div class="col-md-12 col-lg-6">
  <div class="example-card mat-card tabel-wraper even-odd-color">
    <div class="fom-title">
      Re-Joining of End of Service Employee Details
    </div>
    <!--
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
        -->
    <mat-form-field class="col-md-10">
      <input matInput (keyup)="applyFilter()" [(ngModel)]="searchTerm" placeholder="Filter"> <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" *ngIf="totalCount > 0">
      <!-- ID Column -->
      <ng-container matColumnDef="OrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No. </th>
        <td mat-cell *matCellDef="let row"> {{row.orderNo}} </td>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date</th>
        <td mat-cell *matCellDef="let row"> {{row.orderDt | date: 'dd-MM-yyyy'}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="EmployeeType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Type </th>
        <td mat-cell *matCellDef="let row"> {{row.rejoiningType}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="EndofServiceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End of Service Date </th>
        <td mat-cell *matCellDef="let row"> {{row.endServDt | date: 'dd-MM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="PANNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PAN No. </th>
        <td mat-cell *matCellDef="let row"> {{row.empPanNo}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <td mat-cell *matCellDef="let row">
          <i class="material-icons i-info" matTooltip="Information" (click)="formInfo(row)">info</i>
          <i class="material-icons i-edit" (click)="editForm(row)" matTooltip="Edit" *ngIf="row.verifFlag != 'P' && row.verifFlag != 'V' && roleId == 6">edit</i>
          <i class="material-icons i-delet" matTooltip="Delete" (click)="DeleteRejoiningDetails(row);DeletePopup = !DeletePopup" *ngIf="row.verifFlag != 'P' && row.verifFlag != 'V' && roleId == 6">delete</i>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator [ngStyle]="{display: totalCount > 0 ? 'block' : 'none'}" [length]="totalCount" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginationData($event)" showFirstLastButtons></mat-paginator>
    <mat-toolbar color="warning" style="text-align:center;display:inline-block" *ngIf="totalCount == 0">Record is not found</mat-toolbar>
  </div>
</div>

<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Delete?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Approve?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="reasonForRej" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="changeStatus('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to Reject?</h3>
    <mat-form-field class="wid-100">
      <textarea matInput [(ngModel)]="reasonForRej" rows="2" placeholder="Remarks"></textarea>
      <mat-error>Remarks Required !</mat-error>
    </mat-form-field>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="changeStatus('R')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>
