.CheckBoxLayout {
  width: 24px;
  height: 25px;
}

.rdBoxLayout {
  width: 24px;
  height: 17px;
}

.Pointer {
  cursor: pointer;
}







.mat-tree {
  display: block;
  width: 650px;
  position: relative;
  overflow-y: scroll;
  height: 270px;
  border: 1px solid #d4d4d4;
}

span.rdo-btn {
  display: block;
  position: absolute;
  right: 0;
}

.btn-space {
  margin: 0 35px 0 4px;
}

.mat-tree-node.even {
}

.role-detail {
  margin-top: 10px;
}

  .role-detail span {
    font-size: 15px;
    font-weight: 600;
    margin: 9px 0;
    display: block;
  }

  .role-detail ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .role-detail ul li {
      padding-bottom: 5px;
    }

th.tree-title {
  width: 50%;
  float: left;
}

span.num-tree-title {
  position: absolute;
  right: 88px;
}

  span.num-tree-title > .btn-space {
    margin-right: 42px;
  }

    span.num-tree-title > .btn-space:last-child {
      margin: 0 !important;
    }

.table-head {
  background: #c1c1c1;
  padding: 5px 10px;
  float: left;
  width: 100%;
}

.mat-tree-node {
  min-height: 0;
}

.access-lbl-with {
  width: 100%;
}


.btn-margin {
  margin-top: 20px;
}
/*07/01/2019*/
span.btn-label {
  position: relative;
  left: -12px; /* display: inline-block; */
  padding: 8px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.inner-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}
.CheckBoxLayout {
  width: 24px;
  height: 25px;
}

.rdBoxLayout {
  width: 24px;
  height: 17px;
}

.Pointer {
  cursor: pointer;
}







.mat-tree {
  display: block;
  width: 650px;
  position: relative;
  overflow-y: scroll;
  height: 270px;
  border: 1px solid #d4d4d4;
}

span.rdo-btn {
  display: block;
  position: absolute;
  right: 0;
}

.btn-space {
  margin: 0 35px 0 4px;
}

.mat-tree-node.even {
}

.role-detail {
  margin-top: 10px;
}

  .role-detail span {
    font-size: 15px;
    font-weight: 600;
    margin: 9px 0;
    display: block;
  }

  .role-detail ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .role-detail ul li {
      padding-bottom: 5px;
    }

th.tree-title {
  width: 50%;
  float: left;
}

span.num-tree-title {
  position: absolute;
  right: 88px;
}

  span.num-tree-title > .btn-space {
    margin-right: 42px;
  }

    span.num-tree-title > .btn-space:last-child {
      margin: 0 !important;
    }

.table-head {
  background: #c1c1c1;
  padding: 5px 10px;
  float: left;
  width: 100%;
}

.mat-tree-node {
  min-height: 0;
}

.access-lbl-with {
  width: 100%;
}


.btn-margin {
  margin-top: 20px;
}
/*07/01/2019*/
span.btn-label {
  position: relative;
  left: -12px; /* display: inline-block; */
  padding: 8px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.inner-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}
.CheckBoxLayout {
  width: 24px;
  height: 25px;
}

.rdBoxLayout {
  width: 24px;
  height: 17px;
}

.Pointer {
  cursor: pointer;
}







.mat-tree {
  display: block;
  width: 650px;
  position: relative;
  overflow-y: scroll;
  height: 270px;
  border: 1px solid #d4d4d4;
}

span.rdo-btn {
  display: block;
  position: absolute;
  right: 0;
}

.btn-space {
  margin: 0 35px 0 4px;
}

.mat-tree-node.even {
}

.role-detail {
  margin-top: 10px;
}

  .role-detail span {
    font-size: 15px;
    font-weight: 600;
    margin: 9px 0;
    display: block;
  }

  .role-detail ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .role-detail ul li {
      padding-bottom: 5px;
    }

th.tree-title {
  width: 50%;
  float: left;
}

span.num-tree-title {
  position: absolute;
  right: 88px;
}

  span.num-tree-title > .btn-space {
    margin-right: 42px;
  }

    span.num-tree-title > .btn-space:last-child {
      margin: 0 !important;
    }

.table-head {
  background: #c1c1c1;
  padding: 5px 10px;
  float: left;
  width: 100%;
}

.mat-tree-node {
  min-height: 0;
}

.access-lbl-with {
  width: 100%;
}


.btn-margin {
  margin-top: 20px;
}
/*07/01/2019*/
span.btn-label {
  position: relative;
  left: -12px; /* display: inline-block; */
  padding: 8px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.inner-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}


