<!--<div class="panel panel-body panel-default col-md-12">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">



    <div class="form-group col-md-6 panel panel-body panel-default">
      <button type="button" class="btn btn-info" (click)="TextChange();showDialog = !showDialog">New Role</button>
    </div>-->
<!--Div Of Assign Role-->
<!--<div class="form-group col-md-6 panel panel-body panel-default">
  <button type="button" class="btn btn-info" (click)="TextChange();showDialog = !showDialog">Assign Role</button>
</div>-->
<!--End Of Div Of Assign Role-->
<!--</div>

  <div class="col-lg-1"></div>
</div>-->
<!--Table Show Role And Revoke User Details-->
<!--hide new role showAssignRole start   -->
<!--<div class="col-md-6 mb-10">
  <button type="button" class="btn btn-labeled btn-success" (click)="TextChange();showDialog = !showDialog">
    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>New Role
  </button>
</div>
<div class="col-md-6 mb-10">
  <button type="button" class="btn btn-labeled btn-success" (click)="ClearInputRole();showAssignRole = !showAssignRole">
    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Assign Role
  </button>
</div>-->
<!--hide new role showAssignRole end   -->
<!--Table Role Details-->
<div class="col-md-12 col-lg-6">
  <div class="example-card mat-card">
    <div class="fom-title">Role List</div>
    <!--<div class="table-responsive DivScrollbar">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Role</th>
          <th>User</th>
          <th>Assign Menu</th>
        </tr>
      </thead>
      <tbody id="myTableRoles">
        <tr *ngFor="let role of ArrRoles; let i = index">
          <td>{{role.roleName}}</td>
          <td class="td-actions">
            <button type="button" class="btn btn-info btn-xs" (click)="GetUserDetails(i)">
              <i class="material-icons">person</i>
            </button>
          </td>
          <td class="td-actions">
            <button type="button" class="btn btn-success btn-xs" (click)="TreestructureList(role.roleID,role.roleName);SaveAssignMenuPermission(role.roleID);showAssignMenu = !showAssignMenu">
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngIf="ArrRoles?.length == 0"><td><font color="red">Records Not Found...</font></td></tr>
      </tfoot>
    </table>
  </div>-->
    <!--Material Table USe For Role-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" [(ngModel)]="textSearch" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="roledataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
      <!-- Column -->
      <ng-container matColumnDef="roleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name </th>
        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef> Existing User </th>
        <td mat-cell *matCellDef="let element">
          <!--<a class="material-icons i-info" matTooltip="info" (click)="GetUserDetails(element.roleID)">info</a>-->
          <a class="material-icons i-edit" matTooltip="Details" (click)="GetUserDetails(element.roleID,element.roleName)">person</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="AssignMenu">
        <th mat-header-cell *matHeaderCellDef> Assign/Un-assign Menu </th>
        <td mat-cell *matCellDef="let element">

          <i class="material-icons i-edit" disabled matTooltip="Assign/Un-assign Menu" (click)="TreestructureList(element.roleID,element.roleName,element.roleStatus);SaveAssignMenuPermission(element.roleID);showAssignMenu = !showAssignMenu">edit</i>

          <!--<a class="material-icons i-edit" matTooltip="Edit" > edit </a>-->
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      <font color="red">Data Not Found...</font>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    <!--End Of Material Table USe For Role-->
  </div>
</div>


<!--End Of Table Role Details-->
<!--Table User Details-->
<div class="col-md-12 col-lg-6">

  <div class="example-card mat-card">
    <div class="fom-title">Existing User List</div>
    <mat-form-field>
      <input matInput (keyup)="UserapplyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="ArrUserListdataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
      <!-- Column -->
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
      </ng-container>
      <ng-container matColumnDef="PAN">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PAN </th>
        <td mat-cell *matCellDef="let element"> {{element.pan}} </td>
      </ng-container>
      <ng-container matColumnDef="EmpCd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>	Emp Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
    </table>
    <div [hidden]="isTableHasData">
      <font color="red">Record not found</font>
    </div>
       <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    <!--End Of Table User Details-->



  </div>
</div>
<!--End Of Table Show Role And Revoke User Details-->
<!--Create New Role and Update On Popup-->
<app-dialog [(visible)]="showDialog">
  <form ngNativeValidate (ngSubmit)="SaveNewRole()" #f="ngForm" class="panel panel-body panel-default">
    <div class="card-content">
      <h4 class="card-title text-center"> {{lblPopupText}}</h4>
      <div class="form-group label-floating">
        <label class="control-label" for="textNewrole">Enter Role Name</label>
        <input id="textNewrole" type="text" [(ngModel)]="textNewrole" name="textNewrole" class="form-control" required>
        <input type="text" name="someData" [(ngModel)]="hdnRoleId" style="display: none;" />
      </div>
      <div class="checkbox">
        <label> <input type="checkbox" [(ngModel)]="checkIsActiveRole" name="optionsCheckboxes" class="CheckBoxLayout"> </label>
        <label> Is Active     </label>
      </div>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">{{btnPopupText}}</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="ClearInputRole()">Clear</button>
    </div>
  </form>
</app-dialog>
<!--Create New Role and Update On Popup-->
<!--User Revoke On Popup-->
<app-dialog [(visible)]="showrevoke">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Revoke Role</h3>
    <div class="checkbox">
      <h4 class="card-title">{{Username}}</h4>
      <label> <input type="checkbox" [(ngModel)]="checkRevokeUser" name="checkRevokeUser" class="CheckBoxLayout"></label>
      <label>  Is Active </label>
    </div>
    <button type="button" class="btn btn-info" (click)="RevokeUser()">Save</button>
    &nbsp;
    <button type="button" class="btn btn-info" (click)="showrevoke = !showrevoke">Cancel</button><!--RevokeCancel()"-->
  </div>
</app-dialog>
<!--End Of User Revoke On Popup-->
<!--Assign Role-->
<app-dialog [(visible)]="showAssignRole">
  <h5 class="card-title text-center"><b>Assign Role</b></h5>
  <div class="col-md-12">
    <div class="col-md-8">
      <input id="textSearch" type="text" [(ngModel)]="textSearch" name="textSearch" placeholder="Enter User  Pan/Employee Code" class="form-control">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info text-center btn-sm" (click)="Search(Upan, MsRoleID, roleName);">GO</button>
      <button type="button" class="btn btn-info text-center btn-sm" (click)="Cancel()">Cancel</button>
    </div>
  </div>
  <div class="form-group col-md-12 label-floating">

    <div class="table-responsive">
      <table class="table table-striped" style="height:350px">
        <thead>
          <tr>
            <th class="text-center">User Name</th>
            <th class="text-center">Emp Code</th>
            <th class="text-center">PAN</th>
            <!--<th class="text-center">Designation</th>-->
            <!--<th class="text-center">IsActive</th>-->
            <th class="text-center">Roles</th>
            <th class="text-center"></th><!--Save-->
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let User of ArrByPanUserDetail; let i = index">
            <!--ngfor-->
            <td class="text-center">{{User.firstName}}</td>
            <td class="text-center">{{User.empCd}}</td>
            <td class="text-center">{{User.pan}}</td>
            <!--<td class="text-center">{{User.designation}}</td>-->
            <!--<td class="text-center">{{User.isActive}}</td>-->
            <td class="text-center" width="500px;">
              <!--<mat-select multiple plaer="Select Role" [(ngMo"SlectedRole" value="{{SlectedRole}}">
                      <mat-option *ngFor="let role of ArrRoles; let i = index" id="Roles_{{role.roleID}}" value="{{role.roleID}}">
                        {{role.roleName}}
                      </mat-option>
                    </mat-select>-->

              <ng-multiselect-dropdown [placeholder]="'Select Role'"
                                       [data]="ArrAssignRoleForUser"
                                       [(ngModel)]="SlectedRole"
                                       [settings]="dropdownSettings"
                                       (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>


            </td>
            <td> <button type="button" class="btn btn-info text-center btn-sm" (click)="SaveAssignRoleForUser(i);">Save</button></td>
          </tr>

        </tbody>
        <tfoot>
          <tr *ngIf="ArrByPanUserDetail?.length == 0"><td><font color="red">Records Not Found...</font></td></tr>
        </tfoot>
      </table>
    </div>
  </div>
</app-dialog>

<!--End Of Assign Role-->

<app-dialog [(visible)]="showAssignMenu">
  <div class="tree well col-lg-12">
    <h2>Assign/Un-assign Menu to {{nameRole}}</h2>
    <div class="col-md-12">
      <table>
        <tr class="table-head">
          <th class="tree-title">
            Menu Name
          </th>
          <th class="tree-title">
            <span class="num-tree-title">
              <label class="btn-space">0</label>
              <label class="btn-space">1</label>
              <label class="btn-space">2</label>
              <label class="btn-space">3</label>
            </span>
          </th>
          <!--<th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>-->
        </tr>
        <tr>
          <td>
            <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <div class="mat-tree-node odd">
                  <button mat-icon-button disabled></button>
                  {{node.mainMenuName}}
                  <span class="rdo-btn">
                    <input type="radio" hidden="hidden" id="{{node.msMenuID}}" value="{{node.status}}">
                    <input type="radio" class="btn-space" id="{{node.msMenuID}}_0" [disabled]="IsPermission" [checked]="node.status == 0" value="{{node.msMenuID}}_0" (click)="RdValueSet(node.msMenuID,0);" name="rdstatus_{{node.msMenuID}}">
                    <input type="radio" class="btn-space" id="{{node.msMenuID}}_1" [disabled]="IsPermission" [checked]="node.status == 1" value="{{node.msMenuID}}_1" (click)="RdValueSet(node.msMenuID,1);" name="rdstatus_{{node.msMenuID}}">
                    <input type="radio" class="btn-space" id="{{node.msMenuID}}_2"[disabled]="IsPermission" [checked]="node.status == 2" value="{{node.msMenuID}}_2" (click)="RdValueSet(node.msMenuID,2);" name="rdstatus_{{node.msMenuID}}">
                    <input type="radio" class="btn-space" id="{{node.msMenuID}}_3" [disabled]="IsPermission" [checked]="node.status == 3" value="{{node.msMenuID}}_3" (click)="RdValueSet(node.msMenuID,3);" name="rdstatus_{{node.msMenuID}}">
                  </span>
                </div>
              </mat-tree-node>
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
                <div>
                  <div class="mat-tree-node even">
                    <button mat-icon-button matTreeNodeToggle>
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.mainMenuName}}<span class="rdo-btn">
                      <input type="radio" hidden="hidden" id="{{node.msMenuID}}" value="{{node.status}}">
                      <input type="radio" class="btn-space" id="{{node.msMenuID}}_0" [disabled]="IsPermission" value="{{node.msMenuID}}_0" [checked]="node.status == 0" (click)="RdValueSet(node.msMenuID,0);" name="rdstatus_{{node.msMenuID}}">
                      <input type="radio" class="btn-space" id="{{node.msMenuID}}_1" [disabled]="IsPermission" value="{{node.msMenuID}}_1" [checked]="node.status == 1" (click)="RdValueSet(node.msMenuID,1);" name="rdstatus_{{node.msMenuID}}">
                      <input type="radio" class="btn-space" id="{{node.msMenuID}}_2" [disabled]="IsPermission" value="{{node.msMenuID}}_2" [checked]="node.status == 2" (click)="RdValueSet(node.msMenuID,2);" name="rdstatus_{{node.msMenuID}}">
                      <input type="radio" class="btn-space" id="{{node.msMenuID}}_3" [disabled]="IsPermission" value="{{node.msMenuID}}_3" [checked]="node.status == 3" (click)="RdValueSet(node.msMenuID,3);" name="rdstatus_{{node.msMenuID}}">
                    </span>
                  </div>
                  <ul [class.hidden]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </div>
              </mat-nested-tree-node>
            </mat-tree>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-12 role-detail">
      <span>Access Level:</span>
      <table class="access-lbl-with">
        <tr>
          <td>
            0-- No Access
          </td>
          <td>
            1-- View Only
          </td>
          <td>
            2-- Add & Delete
          </td>
          <td>
            3-- Edit & Delete
          </td>
        </tr>
      </table>

      <!--<ul>
        <li>0-- No Access</li>
        <li>1-- View Only</li>
        <li>2-- Add & Delete</li>
        <li>3-- Edit & Delete</li>

      </ul>-->
    </div>


    <!--<div class="form-group col-md-6 panel panel-body panel-default">
      <button type="button" class="btn btn-info" (click)="SaveMenuPerMission();">Save</button>
      <button type="button" class="btn btn-info">Cancel</button>
    </div>-->

    <div class="form-group text-center btn-margin col-md-12">
      
     
        <button *ngIf="Isbtnsave" type="button" class="btn btn-info" (click)="SaveMenuPerMission();">Save</button>
       
      <!--[disabled]="f.invalid"-->
      &nbsp;
      <button type="button" class="btn btn-info" (click)="showAssignMenu=!showAssignMenu">Cancel</button><!--AssignMenuPopUpCancel()-->
    </div>
  </div>

</app-dialog>
<!--Create New Role and Update On Popup-->
<!--Loder-->
<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>
<!--End Of Loder-->
