<div *ngIf="userRoleID !=17">
  <app-comman-mst (onchange)="GetcommanMethod($event)" ></app-comman-mst>
</div>
<div class="col-md-12 col-lg-7">
  <form (ngSubmit)="Release.valid && btnsubmit()" #Release="ngForm" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Release Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type"
                      [(ngModel)]="_releasedetails.payLoanRefLoanCD" name="payLoanRefLoanCD"
                      #payLoanRefLoanCD="ngModel" required [disabled]=disbleflag>
            <mat-option label="Select Loan Type">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of ArrLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="payLoanRefLoanCD.submitted && payLoanRefLoanCD.invalid">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title"> Sanction Order Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">

          <input matInput name="sancOrdNo" placeholder="Order No" #sancOrdNo="ngModel" (keypress)="numberOnly($event)" [(ngModel)]="_releasedetails.sancOrdNo"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!sancOrdNo.errors?.required">Order Number is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="Order Date" title="Order Date" [max]="maxDate"
                 [(ngModel)]="_releasedetails.sancOrdDT" (click)="picker1.open()" name="sancOrdDT" #sancOrdDT="ngModel" [disabled]=disbleflag required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>
            <span [hidden]="!sancOrdDT.errors?.required">Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Sanctioned Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtDisbursed" placeholder="Amount Request Loan"
                 #loanAmtDisbursed="ngModel" BlockCopyPaste (keypress)="numberOnly($event)" [(ngModel)]="_releasedetails.loanAmtDisbursed"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtDisbursed.errors?.required">Amount Request Loan is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtSanc" placeholder="Sanction Amount" (keypress)="numberOnly($event)"
                 #loanAmtSanc="ngModel" [(ngModel)]="_releasedetails.loanAmtSanc"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Sanction Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empName" placeholder="User Name" #empName="ngModel" [(ngModel)]="_releasedetails.empName"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!empName.errors?.required">User Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="description" placeholder="Description " #description="ngModel" [(ngModel)]="_releasedetails.description"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!description.errors?.required">Description is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Bank Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="IFSC Code" [(ngModel)]="_releasedetails.ifscCD" name="ifscCD" (blur)="getBankDetailsByIFSC(_releasedetails.ifscCD)" [disabled]=disbleflag required>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Bank Name" [(ngModel)]="objBankDetails.bankName" name="bankName" #bankName="ngModel" [disabled]=disbleflag required>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Branch Name" [(ngModel)]="objBankDetails.branchName" name="branchName" #branchName="ngModel" [disabled]=disbleflag required>
        </mat-form-field>
      </div>
       <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Saving A/c No" [(ngModel)]="_releasedetails.bnkAcNo" type="{{type}}" maxlength="15" name="bnkAcNo"
                 (keypress)="numberOnly($event)" [disabled]=disbleflag required>
        </mat-form-field>
        <a (click)="toggleShow()">show/hide</a>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Confirm Saving A/c No" required [(ngModel)]="_releasedetails.ConfirmbnkAcNo" maxlength="15" name="bnkAcNo" #bnkAcNo="ngModel" BlockCopyPaste (keypress)="numberOnly($event)" [disabled]=EmpTypeFlag>
        </mat-form-field>
      </div>




      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" id="btn_save" class="btn btn-primary" *ngIf="btndisable">
          <i class="fa fa-floppy-o"></i>{{buttonText}}
        </button>
        <button type="button" class="btn btn-primary" (click)="resetLoanDdetailsForm()" *ngIf="btndisable">Cancel</button>
        <button class="btn btn-info" type="button" (click)="forwarDDOMaker()" *ngIf="disableFwdMakerFlag">Forward to DDO Maker</button>
        <button class="btn btn-info" type="button" (click)="forwarDDOChecker()" *ngIf="disableFwdCheckerFlag">Forward to DDO Checker</button>
        <button class="btn btn-success" type="button" (click)="VerifyChecker()" *ngIf="disableVerifyCheckerFlag">Verify</button>
        <button class="btn btn-danger" type="button" *ngIf="disableRejectCheckerFlag" (click)="deletePopup = !deletePopup">Reject</button>
      </div>
    </mat-card>
  </form>
</div>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="EMPId" style="display:none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none;"> ID </th>
        <td mat-cell *matCellDef="let element" style="display:none;"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="EMPCode" style="width:120px;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
      <ng-container matColumnDef="LoanCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanCode}} </td>
      </ng-container>
      <ng-container matColumnDef="PurposeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose  </th>
        <td mat-cell *matCellDef="let element"> {{element.purposeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
          <a  matTooltip="{{element.moduleStatus}}"> {{element.status}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="view details" (click)="ViewEditLoanDetailsById(element.id,0)">error</a>
          <span *ngIf="element.statusId == '54' && userRoleID==6">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>

          <span *ngIf="element.statusId == '55' && userRoleID==6">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>

          <span *ngIf="element.statusId == '58' && userRoleID==6">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>
          <span *ngIf="element.statusId == '56' && userRoleID==5">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteEmployeeById(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletePopup = !deletePopup">Cancel</button>
    </div>

  </div>
</app-dialog>

<app-dialog [(visible)]="deletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Please Enter Remarks.</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_releasedetails.release_Remarks" title="Remarks" name="release_Remarks" #release_Remarks="ngModel" required></textarea>
          <mat-error>
            <span [hidden]="!release_Remarks.errors?.required">Remarks is required</span>
          </mat-error>
        </mat-form-field>
        <button type="button" class="btn btn-info center" (click)="Reject()">Ok</button>
        <button type="button" class="btn btn-info center" (click)="deletePopup = !deletePopup">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>
