<form (ngSubmit)="Family.valid && UpdateEmpFamilyDetails();" #Family="ngForm" novalidate>


  <div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus">
    <strong> {{Message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
    </button>&nbsp;
  </div>

  <div class="col-md-12 col-lg-7" [attr.disabled]="disbleflag">

    <mat-card class="example-card" [ngClass]="bgcolor">

      <div class="fom-title">Family Details</div>


      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Select RelationShip" [(ngModel)]="objFamilyDetails.relationshipId" name="relationshipId" #RelationshipId="ngModel" required [disabled]=disbleflag>
            <mat-option *ngFor="let rel of relations" [value]="rel.cddirCodeValue">{{rel.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!RelationshipId.errors?.required">RelationShip is required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Salutation" [(ngModel)]="objFamilyDetails.saluation" name="saluation" #Saluation="ngModel" required [disabled]=disbleflag>
            <mat-option *ngFor="let title of salutations" [value]="title.cddirCodeValue">{{title.cddirCodeText}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!Saluation.errors?.required">Salutation is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="FirstName" [(ngModel)]="objFamilyDetails.firstName" name="firstName" #FirstName="ngModel" required
                 [disabled]=disbleflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!FirstName.errors?.required">FirstName is required</span>
            <span *ngIf="FirstName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Middle Name" [(ngModel)]="objFamilyDetails.middleName" name="middleName" [disabled]=disbleflag
                 onpaste="return false" #MiddleName="ngModel" pattern="^[A-Za-z]+$">
          <mat-error>
            <span *ngIf="MiddleName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Last Name" [(ngModel)]="objFamilyDetails.lastName" name="lastName" #LastName="ngModel" required
                 [disabled]=disbleflag pattern="^[A-Za-z]+$" onpaste="return false">
          <mat-error>
            <span [hidden]="!LastName.errors?.required">LastName is required</span>
            <span *ngIf="LastName.errors?.pattern">Special character and number not allowed</span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DateOfbirth" [(ngModel)]="objFamilyDetails.dob" name="DOB" [min]="minDate"
                 placeholder="Date of Birth" #DOB="ngModel" required [disabled]=disbleflag (click)="DateOfbirth.open()" readonly [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="DateOfbirth"></mat-datepicker-toggle>
          <mat-datepicker #DateOfbirth></mat-datepicker>
          <mat-error>
            <span [hidden]="!DOB.errors?.required">Date of Birth is required</span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Marital Status" [(ngModel)]="objFamilyDetails.maritalStatusID" name="maritalStatusID" #maritalStatusID="ngModel" required [disabled]=disbleflag>
            <mat-option *ngFor="let marstatus of objMaritalStatus" [value]="marstatus.maritalStatusID">{{marstatus.maritalStatusName}}</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!maritalStatusID.errors?.required">Marital Status is required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Nationality" [(ngModel)]="objFamilyDetails.nationalityId" name="nationalityId" #NationalityId="ngModel" required [disabled]=disbleflag>
            <mat-option value='1'>Indian</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!NationalityId.errors?.required">Nationality is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">


        <mat-form-field class="wid-100">
          <input matInput placeholder="PAN number " [(ngModel)]="objFamilyDetails.panNumber" name="panNumber"
                 #PANNumber="ngModel" required [disabled]=disbleflag maxlength="10 " minlength="10" class="upperCase" pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]$" (keydown.space)="$event.preventDefault();" autocomplete="off" (paste)="$event.preventDefault()">
          <mat-error>
            <span [hidden]="!PANNumber.errors?.required">PAN number is required</span>
            <span [hidden]="!PANNumber.errors?.pattern">PAN number is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Aadhaar number" [(ngModel)]="objFamilyDetails.aadhaarNumber" name="aadhaarNumber" #AadhaarNumber="ngModel" (paste)="$event.preventDefault()" [max]="999999999999"
                 required [disabled]=disbleflag type="number" oninput="this.value=Math.abs(this.value)" pattern="^\d{12}(?:\d{2})?$"
                 onKeyPress="if(this.value.length==12 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;">
          <mat-error>
            <span [hidden]="!AadhaarNumber.errors?.required">Aadhaar number is required</span>
            <span *ngIf="AadhaarNumber.errors?.pattern">Aadhaar number is not valid</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" [disabled]=disbleflag>{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)=" resetFamilyDdetailsForm()">Clear</button>

      </div>

    </mat-card>

  </div>
</form>
<!-- ====================================== right table for family details================== -->




<div class="col-md-12 col-lg-5  ">
<div class="example-card mat-card tabel-wraper Select Verified Employee Code:">
 <div class="fom-title">Family Details</div>
 <mat-form-field>
   <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)" maxlength="20">
   <i class="material-icons icon-right">search</i>
 </mat-form-field>

 <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" [trackBy]="trackById">


   <!-- Name Column -->
   <ng-container matColumnDef="Name">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
     <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
   </ng-container>

   <!-- Date Of MaritalStatus Column -->
   <ng-container matColumnDef="MaritalStatus">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> MaritalStatus </th>
     <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
   </ng-container>

   <!-- Date Of RelationShip Column -->
   <ng-container matColumnDef="RelationShip">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> RelationShip </th>
     <td mat-cell *matCellDef="let element"> {{element.relationship }} </td>
   </ng-container>
   <!-- Date Of DOB Column -->
   <ng-container matColumnDef="BirthDate">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
     <td mat-cell *matCellDef="let element"> {{element.dob |date}} </td>
   </ng-container>
   <ng-container matColumnDef="Action">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
     <td mat-cell *matCellDef="let element">
       <a class="material-icons i-info" matTooltip="Info" (click)="getFamilyDetails(element.empCd,0,element.msDependentDetailID)">error</a>
       <a class="material-icons i-edit" matTooltip="Edit" (click)="getFamilyDetails(element.empCd,1,element.msDependentDetailID )">edit</a>
       <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.empCd ,element.msDependentDetailID , 'DeleteFamilyDetails'); deletepopup = !deletepopup" > delete_forever </a>
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
 <div [hidden]="isTableHasData">
  No Data Found
 </div>
 <!-- <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator> -->

 <mat-paginator #familypaginator  [pageSize]="5"  [pageSizeOptions]="[5, 10]" showFirstLastButtons ></mat-paginator>
</div>
</div>



  
<app-dialog [(visible)]="deletepopup">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure you want to delete?</h3>
      <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="button" class="btn btn-info center" (click)="DeleteFamilyDetails()">Delete</button>
        <button type="button" class="btn btn-info center" (click)="deletepopup =!deletepopup">Cancel</button>
      </div>

    </div>
  </app-dialog>
