<!--code for on click note-->
<div class="note-wraper">
  <button type="button" class="slide-toggle note-slide" (click)="test(dstatus = !dstatus);">
    <i class="material-icons">
      keyboard_arrow_left
    </i><span>Note</span>
  </button>

  <div [ngClass]="divbox">
    <div class="box-inner">
      Please enter details when the employee is revoked after completion of Suspension period
    </div>
  </div>

</div>
<!--on click note end-->
<!--Start Alert message for delet, info-->
<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="btnclose();">&times;</span>
  </button>&nbsp;
</div>

<!--End Alert message for delet, info-->
<mat-accordion class="col-sm-12 col-md-12 col-lg-12 mb-20">
  <mat-expansion-panel [expanded]="true" #panel1 [ngClass]="bgcolor">


    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        GPF Advance Reasons
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--<div class="col-md-12">

      <mat-expansion-panel [expanded]="true" [ngClass]="bgcolor">
        <mat-expansion-panel-header class="panel-header btm-m15">
          <mat-panel-title class="acordion-heading">
            GPF Advance Reasons
          </mat-panel-title>
        </mat-expansion-panel-header>-->
    <form name="form" (ngSubmit)="gpfviewchild.valid && InsertandUpdate();" #gpfviewchild="ngForm" novalidate>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PF Type" [(ngModel)]="objgpf.pfType" name="msPfAgencyID" required #msPfAgencyID="ngModel">
            <!--<mat-option label="Select Pf Type">Select PF Type</mat-option>-->
            <mat-option value="C">CPF</mat-option>
            <mat-option value="G">GPF</mat-option>
          </mat-select>
          <mat-error><span *ngIf="gpfviewchild.submitted && msPfAgencyID.invalid">PF Type required</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Main Reasons" [(ngModel)]="objgpf.mainReasonID" name="mainReasonID" required #mainReasonID="ngModel">
            <!--<mat-option label="Select Main Reasons">Select Main Reasons</mat-option>-->
            <mat-option *ngFor="let _mainReasonslist of mainReasons" [value]="_mainReasonslist.mainReasonID">{{_mainReasonslist.mainReasonText}}</mat-option>
          </mat-select>
          <mat-error><span *ngIf="gpfviewchild.submitted && mainReasonID.invalid">Main Reasons required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Reason Description" name="reasonDescription" [(ngModel)]="objgpf.reasonDescription"
                 (keypress)="charaterOnlyNoSpace($event)" maxlength="50" required #reasonDescription="ngModel" (paste)="$event.preventDefault()" autocomplete="off">
          <mat-error>
            <span [hidden]="!reasonDescription.errors?.required">Reason Description required</span>
          </mat-error>
        </mat-form-field>
        <!--<mat-form-field class="wid-100">
          <input matInput placeholder="Reason Description" pattern="^(?=.*[a-zA-Z])[a-zA-Z0-9]+$" name="reasonDescription" [(ngModel)]="objgpf.reasonDescription" title="No. of advances allowed in service time" required #reasonDescription="ngModel">
          <mat-error><span *ngIf="reasonDescription.errors?.required">Reason description required</span></mat-error>
          <mat-error><span [hidden]="!reasonDescription.hasError('pattern')">Only Alpha Numeric Allowed</span></mat-error>
        </mat-form-field>-->
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Outstanding Limit for previous advance (₹)" [(ngModel)]="objgpf.outstandingLimitForPreviousAdvance" name="outstandingLimitForPreviousAdvance"
                 title="Outstanding Limit for previous advance (₹)" autocomplete="off" type="number" required #outstandingLimitForPreviousAdvance="ngModel"
                 onKeyPress="if ( event.charCode == 43 ||this.value.length == 8 || event.charCode == 46 || event.charCode == 45  ) return false;" oninput="this.value=Math.abs(this.value)" [max]="10000000" step="0.1">
          <mat-error><span *ngIf="gpfviewchild.submitted && outstandingLimitForPreviousAdvance.invalid">Outstanding Limit for previous advance required</span></mat-error>
        </mat-form-field>
      </div>



      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt pay (Months)" [(ngModel)]="objgpf.sealingForAdvancePay" name="sealingForAdvancePay" title="Sealing for advance wrt pay (Months)"
                 required #sealingForAdvancePay="ngModel" autocomplete="off" type="number" oninput="this.value=Math.abs(this.value)"
                 onKeyPress="if(this.value.length==2 || event.charCode == 46) return false;" [max]="99">
          <mat-error><span *ngIf="gpfviewchild.submitted && sealingForAdvancePay.invalid">Sealing for advance wrt pay required</span></mat-error>
        </mat-form-field>
      </div>

      <!--<div class="col-md-12 col-lg-6">

        <mat-form-field class="wid-100">


          <input matInput placeholder="Sealing for advance wrt balance (%)" type="number" oninput="this.value=Math.abs(this.value)"  onKeyPress="if(this.value.length==3) return false;"
                 [(ngModel)]="objgpf.sealingForAdvanceBalance" name="sealingForAdvanceBalance" #sealingForAdvanceBalance="ngModel" required max="999" min="1"
                 pattern="[0-9]{1,1}\d{0,2}(\.\d{1,2})?$" autocomplete="off" step=".01" >
          <mat-error><span *ngIf="gpfviewchild.submitted && sealingForAdvanceBalance.invalid">Sealing for advance wrt balance required</span></mat-error>
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.pattern">Sealing for advance wrt balance between 1 to 100</span>
          </mat-error>
        </mat-form-field>
      </div>-->
      <!--<div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt balance (%)" type="number" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==3) return false;"
                 [(ngModel)]="objgpf.sealingForAdvanceBalance" name="sealingForAdvanceBalance" #sealingForAdvanceBalance="ngModel" required max="100" min="1"
                 pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" autocomplete="off" step=".01" >
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.required">Sealing for advance wrt balance is required</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.pattern">Sealing for advance wrt balance between 1 to 100</span>
          </mat-error>
        </mat-form-field>
      </div>-->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt balance (%)" type="number" onKeyPress="if(this.value.length==3) return false;" [(ngModel)]="objgpf.sealingForAdvanceBalance" name="sealingForAdvanceBalance" #sealingForAdvanceBalance="ngModel" required max="100" min="1" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" autocomplete="off" step=".01">
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.required">Sealing for advance wrt balance is required</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.pattern">Sealing for advance wrt balance between 1 to 100</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PF Rule Reference Number" [(ngModel)]="objgpf.pFRuleReferenceNumber" name="pFRuleReferenceNumber" title="PF Rule Reference Number" autocomplete="off" required #pFRuleReferenceNumber="ngModel" maxlength="20" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()">
          <mat-error><span *ngIf="gpfviewchild.submitted && pFRuleReferenceNumber.invalid">PF rule reference number required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus" [class.btn-info]="isClicked">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>


    </form>
  </mat-expansion-panel>
</mat-accordion>
<!--</div>-->


<!--right table-->

<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">GPF Advance Reasons List</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

      <!-- Position Column -->
      <!-- Name Column -->
      <ng-container matColumnDef="pfType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PF Type </th>
        <td mat-cell *matCellDef="let element"> {{element.pfTypeName}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="reasonDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason Description</th>
        <td mat-cell *matCellDef="let element"> {{element.reasonDescription}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="mainReasonID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Main Reason</th>
        <!--<td mat-cell *matCellDef="let element">-->
        <td mat-cell *matCellDef="let element"> {{element.mainReasonText}}</td>
      </ng-container>
      <ng-container matColumnDef="outstandingLimitForPreviousAdvance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Balance Limit</th>
        <!--<td mat-cell *matCellDef="let element">-->
        <td mat-cell *matCellDef="let element"> {{element.outstandingLimitForPreviousAdvance}} </td>
      </ng-container>
      <ng-container matColumnDef="sealingForAdvancePay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sealing wrt Pay</th>
        <!--<td mat-cell *matCellDef="let element">-->
        <td mat-cell *matCellDef="let element"> {{element.sealingForAdvancePay | number}} </td>
      </ng-container>
      <ng-container matColumnDef="sealingForAdvanceBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sealing wrt Balance%</th>
        <!--<td mat-cell *matCellDef="let element">-->
        <td mat-cell *matCellDef="let element"> {{element.sealingForAdvanceBalance}}% </td>
      </ng-container>
      <ng-container matColumnDef="pFRuleReferenceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PF Rule Reference</th>
        <!--<td mat-cell *matCellDef="let element">-->
        <td mat-cell *matCellDef="let element"> {{element.pFRuleReferenceNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-edit" matTooltip="Edit" (click)="Edit(element.pfRefNo,element.pfType,element.mainReasonID,element.reasonDescription,element.outstandingLimitForPreviousAdvance ,element.monthsBetweenAdvances,element.sealingForAdvanceBalance,element.sealingForAdvancePay,element.convertWithdrawals,element.noOfAdvances,element.pFRuleReferenceNumber);">edit</a>
          <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.pfRefNo);deletepopup = !deletepopup">delete_forever </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="isTableHasData">
      <span> No Data Found</span>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="Delete(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>
  </div>
</app-dialog>
