<div class="example-card mat-card">
  <div class="fom-title">Leave Sanction Details</div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <i class="material-icons icon-right">search</i>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">



    <!-- Leave Type -->
    <ng-container matColumnDef="SanctionOrderNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order No</th>
      <td mat-cell *matCellDef="let element"> {{element.orderNo}}</td>
    </ng-container>
    <!-- From Date -->
    <ng-container matColumnDef="SanctionOrderDate">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let element"> {{element.orderDT}} </td>
    </ng-container>
    <!-- To Date Order No. -->
    <ng-container matColumnDef="LeaveReason">
      <th mat-header-cell *matHeaderCellDef>Leave Reason</th>
      <td mat-cell *matCellDef="let element"> {{element.leaveReasonDesc}} </td>
    </ng-container>
    <ng-container matColumnDef="LeaveCategory">
      <th mat-header-cell *matHeaderCellDef>Leave Category</th>
      <td mat-cell *matCellDef="let element"> {{element.leaveCategory}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element">
        <div  *ngIf="ShowinfoButton"><a class="material-icons i-info" matTooltip="Info" (click)="DissableLeaves(element.leaveMainId,element.orderNo,element.orderDT,element.leaveCategory,element.leaveReasonCD,element.remarks,element.leaveSanctionDetails)">error</a></div>
        <div  *ngIf="ShoweditButton"><a  class="material-icons i-edit" matTooltip="Edit" (click)="EditLeaves(element.leaveMainId,element.orderNo,element.orderDT,element.leaveCategory,element.leaveReasonCD,element.remarks,element.leaveSanctionDetails)">edit</a></div>
        <div  *ngIf="ShowdeleteButton"><a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteLeaves(element.leaveMainId)"> delete_forever </a></div>
</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowHighlight(row)"
        [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightgreen' : ''"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



</div>
