<div class="wrapper wrapper-full-page">

  <div class="full-page login-page" filter-color="black">
    <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
          <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid slideInDown">
            <div class="card card-login">
              <div class="card-header text-center" data-background-color="rose">
                <h4>Login</h4>
              </div>

            
              <!--<div class="input-group">
                  <mat-radio-group [(ngModel)]="selectedRadio" name="RadioButton">
                    <mat-radio-button value="Y">All</mat-radio-button>
                    <mat-radio-button value="N">Specific</mat-radio-button>
                  </mat-radio-group>
              </div>-->
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">email</i>
                </span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email Address" [(ngModel)]="loginModel.Username" name="username" required>
                </mat-form-field>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
                </span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" type="password" [(ngModel)]="loginModel.Password" name="password" required>
                </mat-form-field>
              </div>



            </div>
      <div class="footer text-center">
        <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>Login</button>
      </div>
    
  </form>
         
            

      </div>
    </div>
  </div>
    <!-- <div class="footer text-center">
      <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>Let's go</button>
    </div> -->
    <!--<div class="full-page-background" style="background-image: url('../../assets/img/login.jpeg')"></div>-->
  </div>
</div>
  </div>




<app-dialog [(visible)]="CheckLoginRole">


  <div class="card-content panel panel-body panel-default">
    <h4 class="card-title text-center">Please select Role </h4>
    <!-- Large input -->
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="md-form form-lg">
          <label for="inputLGEx">User ID</label>
          {{UserName}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="md-form form-lg">
          <mat-form-field class="wid-50">           
            <mat-select matNativeControl placeholder="Select Role" [(ngModel)]="msRoleIDs">
              <mat-option label="Select Role">Select Role</mat-option>
              <mat-option *ngFor="let role of userDetails; let i=index"  (click)="RoleSelectchanged(i)" [value]="role.msRoleID"> {{role.userRole}} </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>


      <div class="col-md-4">
        <button type="button" class="btn btn-info text-center btn-sm" (click)="RedirecToHome()">GO</button>
      </div>
    </div>
  </div>
</app-dialog>
