
.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.login-page > .content,
.lock-page > .content {
  padding-top: 18vh;
}
.form-group {
  padding-bottom: 10px;
  margin: 20px 0 0 0;
  position: relative;
}

// .login-page .card-login {
//   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
//   border-radius: 6px;
//   padding-bottom: 20px;
//   -webkit-transform: translate3d(0, 0, 0);
//   -moz-transform: translate3d(0, 0, 0);
//   -o-transform: translate3d(0, 0, 0);
//   -ms-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }
// .login-page .card-login.card-hidden {
//   opacity: 0;
//   -webkit-transform: translate3d(0, -60px, 0);
//   -moz-transform: translate3d(0, -60px, 0);
//   -o-transform: translate3d(0, -60px, 0);
//   -ms-transform: translate3d(0, -60px, 0);
//   transform: translate3d(0, -60px, 0);
// }
.login-page .card-login .btn-wd {
  min-width: 180px;
}
.login-page .card-login .card-header {
  margin-top: -40px;
  margin-bottom: 20px;
}
.login-page .card-login .card-header .title {
  margin-top: 10px;
}



.login-page,
.lock-page{
    > .content{
        padding-top: 18vh;
    }
}

.login-page{
 .card-login{
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        transform: translateY(0px);
        transition: width .35s ease-in-out;
        &.card-hidden{
            opacity: 0;
        }
        .btn-wd{
            min-width: 180px;
        }

        .card-header{
            margin-top:-40px;
            margin-bottom: 20px;

            .title{
                margin-top: 10px;
            }
        }
    }
}
 

.full-page[filter-color="rose"].lock-page .form-group .form-control {
  background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#D2D2D2, #D2D2D2);
}
.full-page[data-image]:after {
  opacity: .8;
}
.full-page > .content,
.full-page > .footer {
  position: relative;
  z-index: 4;
}
.full-page > .content {
  min-height: calc(100vh - 80px);
}
.full-page .full-page-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
  

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
      
.card [data-background-color] {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
  position: relative;
} 

  
.card [data-background-color="rose"] {
  background: linear-gradient(60deg, #3d3f6f, #3d3f6f);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #3d3f6f(233, 30, 99, 0.4);
}
   
.card [data-background-color] {
  color: #FFFFFF;
} 
 
.input-group .input-group-btn {
  padding: 0 12px;
}
.input-group .input-group-addon {
  border: 0;
  background: transparent;
  padding: 6px 15px 0px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.btn.btn-rose.btn-simple, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
  background-color: transparent;
  color: #3d3f6f;
  box-shadow: none;
}

.example-full-width{
  width:250px;
}


.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

