<app-header></app-header>
<div class="main-content">
  <div class="container-fluid">
    <form class="rowdasa" (ngSubmit)="OnBoarding.valid && OnBoardingSubmit(ObjOnBoarding);" #OnBoarding="ngForm" novalidate>
      <div class="col-md-8 col-lg-8">
        <div class="example-card mat-card margin-bottom-9">
          <div class="col-md-12 col-lg-12">
            <div class="fom-title"><p class="text-center">New Office On-Boarding</p></div>
          </div>

          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Request letter no" required [(ngModel)]="ObjOnBoarding.RequestLetterNo" name="RequestLetterNo">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput [matDatepicker]="picker1" placeholder="Request letter date" [(ngModel)]="ObjOnBoarding.RequestLetterDate" name="RequestLetterDate"
                       required (click)="picker1.open()" readonly [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Date of birth" required [(ngModel)]="ObjOnBoarding.RequestLetterNo" name="RequestLetterNo">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <label>Status:</label>
            </div>
            <div class="col-md-12 col-lg-12 text-center btn-wraper">
              <button type="submit" class="btn btn-success" (click)="SubmitForStatus()" >Submit</button>
              <button type="button" class="btn btn-warning" (click)="Cancel()">Cancel</button>

            </div>

          </div>
        </div>
      </div>
    </form>

  </div>
</div>
