
<div class="col-md-12 col-lg-12">
  <div class="alert" [ngClass]="divBgColor" *ngIf="btnStatus">
    <strong> {{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" (click)="btnStatus=false;">&times;</span>
    </button>&nbsp;
  </div>
  <mat-expansion-panel [expanded]="panelOpenState" [ngClass]="bgColor" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        DLIS Rule Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="msGpfDlisExceptions.form.valid && insertUpdateGpfDlisException();" #msGpfDlisExceptions="ngForm">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select PF Type" required [(ngModel)]="dlisDetails.msPfTypeId" #msPfTypeId="ngModel" name="msPfTypeId">

                <mat-option *ngFor="let pfTyp of pfTypes" [value]="pfTyp.msPfTypeId">
                  {{ pfTyp.pfDesc }}
                </mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="msPfTypeId.errors?.required">PF Type is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="FromDate" (click)="FromDate.open()" required
                     placeholder="Rules Applicable From Date" readonly [(ngModel)]="dlisDetails.ruleApplicableFromDate" #ruleApplicableFromDate="ngModel" name="ruleApplicableFromDate">
              <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
              <mat-datepicker #FromDate></mat-datepicker>
              <mat-error>
                <span *ngIf="ruleApplicableFromDate.errors?.required">Rules applicable from date is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <input matInput [matDatepicker]="TillDate" (click)="TillDate.open()" required [min]="dlisDetails.ruleApplicableFromDate"
                     placeholder="Rules Valid Till Date" readonly [(ngModel)]="dlisDetails.pfTypeValidTillDate" #pfTypeValidTillDate="ngModel" name="pfTypeValidTillDate">
              <mat-datepicker-toggle matSuffix [for]="TillDate"></mat-datepicker-toggle>
              <mat-datepicker #TillDate></mat-datepicker>
              <mat-error>
                <span *ngIf="pfTypeValidTillDate.errors?.required">Rules valid till date is required</span>
              </mat-error>

              <mat-error *ngIf="pfTypeValidTillDate.hasError('matDatepickerMin')">Date should be equal or grater than from date </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <mat-select placeholder=" Select From Pay Commission" required [(ngModel)]="dlisDetails.msPayCommId" #msPayCommId="ngModel" name="msPayCommId" (selectionChange)="getPayScale()">
                <mat-option *ngFor="let payComm of payCommission" [value]="payComm.payCommId">
                  {{ payComm.payCommDesc }}
                </mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="msPayCommId.errors?.required">Pay Commission is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select From Scale" required [(ngModel)]="dlisDetails.fromMsPayScaleID" #fromMsPayScaleID="ngModel" name="fromMsPayScaleID">
                <mat-option *ngFor="let payScales of payScale" [value]="payScales.msPayScaleID">
                  {{ payScales.payScalePscScaleCD }}
                </mat-option>
              </mat-select>
              <mat-error> <span *ngIf="fromMsPayScaleID.errors?.required">From Pay scale is required</span></mat-error>
            </mat-form-field>
          </div>
          <!--msPayScaleID-->
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <mat-select placeholder="Select To Scale" required [(ngModel)]="dlisDetails.toMsPayScaleID" #toMsPayScaleID="ngModel" name="toMsPayScaleID">
                <mat-option *ngFor="let payScales of payScale" [value]="payScales.msPayScaleID">
                  <!--[disabled]="payScales.msPayScaleID  <= fromMsPayScaleID.value "-->
                  {{ payScales.payScalePscScaleCD }}
                </mat-option>

              </mat-select>
              <mat-error> <span *ngIf="toMsPayScaleID.errors?.required">To Pay scale is required</span></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="DLIS Deduction Amount" type="number" required [(ngModel)]="dlisDetails.dlisAvgAmt" #dlisAvgAmt="ngModel" name="dlisAvgAmt" oninput="this.value=Math.abs(this.value)" onKeyPress="if(this.value.length==10 || event.charCode == 46 ) return false;">
              <mat-error> <span *ngIf="dlisAvgAmt.errors?.required">DLIS average amount is required</span></mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="wid-100">
              <input matInput placeholder="GPF Rules Reference No" maxlength="20" required [(ngModel)]="dlisDetails.gpfRuleRefNo" #gpfRuleRefNo="ngModel" name="gpfRuleRefNo" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" autocomplete="off">
              <mat-error> <span *ngIf="gpfRuleRefNo.errors?.required">Gpf rule refrence is required</span></mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" [disabled]="isLoading" [class.btn-info]="isClicked"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{btnText}}</button>
          <button type="button" class="btn btn-warning" (click)="resetForm()">Cancel</button>
        </div>

      </div>
    </form>
  </mat-expansion-panel>
</div>
<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="fom-title">Edit DLIS Rule Master Details</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">


      <tr>
        <ng-container matColumnDef="pfDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pf Type </th>
          <td mat-cell *matCellDef="let element"> {{element.pfDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="ruleApplicableFromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rule Applicable FromDate</th>
          <td mat-cell *matCellDef="let element"> {{element.ruleApplicableFromDate | date}} </td>
        </ng-container>



        <ng-container matColumnDef="pfTypeValidTillDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PfType Valid TillDate</th>
          <td mat-cell *matCellDef="let element"> {{element.pfTypeValidTillDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="payCommDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Commision </th>
          <td mat-cell *matCellDef="let element"> {{element.payCommDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="dlisAvgAmt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dlis Average Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.dlisAvgAmt}} </td>
        </ng-container>
        <ng-container matColumnDef="fromPayScale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>From Scale</th>
          <td mat-cell *matCellDef="let element"> {{element.fromPayScale}} </td>
        </ng-container>
        <ng-container matColumnDef="toPayScale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To Scale</th>
          <td mat-cell *matCellDef="let element"> {{element.toPayScale}} </td>
        </ng-container>
        <ng-container matColumnDef="gpfRuleRefNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gpf Rule RefNo</th>
          <td mat-cell *matCellDef="let element"> {{element.gpfRuleRefNo}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">


            <a class="material-icons i-edit" matTooltip="Edit" (click)="editGpfDlisException(element);">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.msGpfDlisExceptionsRefID);deletePopUp = !deletePopUp"> delete_forever </a>

          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      No Record Found.
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletePopUp">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteGpfDlisException(setDeletIDOnPopup);">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletePopUp = !deletePopUp">Cancel</button>
    </div>

  </div>
</app-dialog>
