<div class="col-md-10 col-lg-10 col-md-offset-1">
  <div class="basic-container select-drop-head">
    <form [formGroup]="headersForm">
      <div class="row  selection-hed">
        <div class="col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="pay_bill_group" (selectionChange)="BindDropDownDesigGroup($event.value)" placeholder="Pay Bill Group">
              <mat-option>
                <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Bill group...'" [noEntriesFoundLabel]="'Pay Bill Group is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let Bill of filteredBill | async" value="{{Bill.payBillGroupId}}">{{Bill.billgrDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="designation" (selectionChange)="onBillDesgSel($event.value)" placeholder="Designation">
              <mat-option>
                <ngx-mat-select-search [formControl]="desigFilterCtrl" [placeholderLabel]="'Find Designation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let Desig of filteredDesig | async" value="{{Desig.desigId}}">{{Desig.desigDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4">
          <mat-form-field class="wid-100">
            <mat-select formControlName="employee" (selectionChange)="getEmpTransDetails()" placeholder="Employee">
              <mat-option>
                <ngx-mat-select-search [formControl]="empFilterCtrl" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Employee is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredEmployee | async" value="{{emp.empCd}}">{{emp.empName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

<!--<mat-radio-group [(ngModel)]="selectedRadio" name="RadioButton" class="col-md-10 col-lg-10 col-md-offset-1 toggle-pro-rev"> 
  <mat-radio-button value="1" (change)="toggleComponent(1)" >Promotion</mat-radio-button>
  <mat-radio-button value="2" (change)="toggleComponent(2)" >Reversion</mat-radio-button>
</mat-radio-group>-->

