<app-comman-mst (onchange)="GetcommanMethod($event)" ></app-comman-mst>
<div class="col-md-12 col-lg-7">
  <form (ngSubmit)="Sanction.valid && btnsubmit()" #Sanction="ngForm" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Release Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type"
                      [(ngModel)]="_sanctiondetails.payLoanRefLoanCD" name="payLoanRefLoanCD"
                      #payLoanRefLoanCD="ngModel" required [disabled]=disbleflag>
            <mat-option label="Select Loan Type">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of ArrLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="payLoanRefLoanCD.submitted && payLoanRefLoanCD.invalid">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title"> Sanction Order Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">

          <input matInput name="sancOrdNo" placeholder="Order No" #sancOrdNo="ngModel" (keypress)="numberOnly($event)" [(ngModel)]="_sanctiondetails.sancOrdNo" BlockCopyPaste
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!sancOrdNo.errors?.required">Order Number is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="Order Date" title="Order Date"
                 [(ngModel)]="_sanctiondetails.sancOrdDT" (click)="picker1.open()" name="sancOrdDT" #sancOrdDT="ngModel" [disabled]=disbleflag required BlockCopyPaste="enter">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>
            <span [hidden]="!sancOrdDT.errors?.required">Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Sanctioned Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtDisbursed" placeholder="Amount Request Loan" #loanAmtDisbursed="ngModel" BlockCopyPaste (keypress)="numberOnly($event)" [(ngModel)]="_sanctiondetails.loanAmtDisbursed"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtDisbursed.errors?.required">Amount Request Loan is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtSanc" placeholder="Sanction Amount" (keypress)="numberOnly($event)" #loanAmtSanc="ngModel" [(ngModel)]="_sanctiondetails.loanAmtSanc"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Sanction Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12  col-lg-12">
        <mat-radio-group [(ngModel)]="_sanctiondetails.empApptType" name="empApptType" #empApptType="ngModel" [disabled]=disbleflag (click)="setempApptType(_sanctiondetails.empApptType)">
          <mat-radio-button value="R">Employee</mat-radio-button>
          <mat-radio-button value="T">Vendor</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empName" placeholder="Name" #empName="ngModel" [(ngModel)]="_sanctiondetails.empName"
                 [disabled]=EmpTypeFlag required>
          <mat-error>
            <span [hidden]="!empName.errors?.required">Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="description" placeholder="Description " #description="ngModel" [(ngModel)]="_sanctiondetails.description"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!description.errors?.required">Description is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Bank Details</div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="IFSC Code" required [(ngModel)]="_sanctiondetails.ifscCD" name="ifscCD" (blur)="getBankDetailsByIFSC(_sanctiondetails.ifscCD)" [disabled]=EmpTypeFlag>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Bank Name" required [(ngModel)]="objBankDetails.bankName" name="bankName" #bankName="ngModel" [disabled]=EmpTypeFlag>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Branch Name" required [(ngModel)]="objBankDetails.branchName" name="branchName" #branchName="ngModel" [disabled]=EmpTypeFlag>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Saving A/c No" required [(ngModel)]="_sanctiondetails.bnkAcNo" #showhideinput type="{{type}}" maxlength="15" name="bnkAcNo"
                 BlockCopyPaste (keypress)="numberOnly($event)" [disabled]=EmpTypeFlag>
        </mat-form-field>
        <a (click)="toggleShow()"><i class="fa fa-eye-slash" ></i></a>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Confirm Saving A/c No" required [(ngModel)]="_sanctiondetails.ConfirmbnkAcNo" maxlength="15" name="bnkAcNo" #bnkAcNo="ngModel" BlockCopyPaste (keypress)="numberOnly($event)" [disabled]=EmpTypeFlag>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" id="btn_save" class="btn btn-primary" *ngIf="btndisable">
          <i class="fa fa-floppy-o"></i>{{buttonText}}
        </button>
        <button type="button" class="btn btn-primary" (click)="resetLoanDdetailsForm()" *ngIf="btndisable">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="forwardddochecker()" *ngIf="btndisable">Forward to Checker</button>
      </div>
    </mat-card>
  </form>
</div>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="EMPId" style="display:none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none;"> ID </th>
        <td mat-cell *matCellDef="let element" style="display:none;"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="EMPCode" style="width:120px;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
      <ng-container matColumnDef="LoanCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanCode}} </td>
      </ng-container>
      <ng-container matColumnDef="PurposeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose  </th>
        <td mat-cell *matCellDef="let element"> {{element.purposeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">

          <a class="material-icons i-info" matTooltip="Info" (click)="ViewEditLoanDetailsById(element.id,1)">error</a>
          <span>
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.id);deletepopup = !deletepopup"> delete_forever </a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteEmployeeById(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
