<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Select Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select #singleSelect placeholder="Select Designation" [(value)]="selectedvalue"
                      (selectionChange)="ddlDesignationChanged($event.value)">
            <mat-option *ngFor="let item of objempDesignation" [value]="item.desigId">{{ item.desigDesc }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Select Employee:</label>
      <!--<button mat-mini-fab color="primary" class="go-btn">Go</button>-->
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="select employee" (selectionChange)="ddlEmployeeChanged($event.value)">
            <mat-option *ngFor="let item of objempModel" [value]="item.empCd">
              {{ item.empName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<!--------------- Left Form --------------->
<mat-accordion class="col-md-12">
  <mat-expansion-panel #exPanel>

    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Enter New Suspension Details
      </mat-panel-title>
    </mat-expansion-panel-header>


    <form [formGroup]="SuspensionDetailsForm" #formCreation="ngForm" ngNativeValidate
          (ngSubmit)="SavedSuspensionDetails(objempExtDetails)">

      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="FromDate" name="FromDate" [max]="todayDate" [(ngModel)]="objempExtDetails.FromDate"
                 placeholder="From Date" formControlName="FromDate" readonly required />
          <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
          <mat-datepicker #FromDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order Number" name="OrderNo" [(ngModel)]="objempExtDetails.OrderNo"
                 formControlName="OrderNo" pattern="[-(),/0-9a-zA-Z \\]*" required />
                 <mat-error>Special symbols are not allowed except (/, -)</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Suspension Period (Enter No of Days)"
                 (input)="AutoFillDate($event.target.value,false)" type="number" name="SusPeriod" formControlName="SusPeriod"
                 [(ngModel)]="objempExtDetails.SusPeriod" pattern="[0-9]*" />
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <!-- <input matInput [matDatepicker]="ValidUptoDate" name="ValidUptoDate" disabled [value]="02/02/2019"
        placeholder="Valid Upto" readonly />
      <mat-datepicker-toggle matSuffix [for]="ValidUptoDate"></mat-datepicker-toggle>
      <mat-datepicker #ValidUptoDate></mat-datepicker> -->
          <input matInput placeholder="Valid Upto" name="ValidUptoDate" disabled [value]="validUptoDate" />
        </mat-form-field>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-6 line-height-57">
    <mat-checkbox (value)="objempExtDetails.IsTillOrder" formControlName="IsTillOrder"
      [(ngModel)]="objempExtDetails.IsTillOrder" class="chk-single" name="IsTillOrder" color="primary"
      (change)="chkTillFurtherOrder($event)">Till further Orders</mat-checkbox>
  </div> -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" name="OrderDate" [(ngModel)]="objempExtDetails.OrderDate"
                 placeholder="Order Date" formControlName="OrderDate" [max]="todayDate" readonly />
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="% of Salary during Suspension Period" maxlength="2" min="1" max="99"
                 type="number" name="SalaryPercent" required formControlName="SalaryPercent" pattern="[0-9]*"
                 [(ngModel)]="objempExtDetails.SalaryPercent" />
          <mat-error>Please enter a value between 50 and 75</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 mt-10">
        <mat-form-field class="wid-100">
          <!--<textarea matInput placeholder="Name" required></textarea>-->
          <textarea matInput placeholder="Reason" name="Remarks" [(ngModel)]="objempExtDetails.Remarks"
                    formControlName="Remarks" pattern="[-(),/a-zA-Z \\]*" required></textarea>
                    <mat-error>Special symbols are not allowed except (/, -)</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="isRejected" class="col-sm-12 col-md-4 col-lg-4 mt-10">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Rejected Reason" name="RejectedReason" [(ngModel)]="objempExtDetails.RejectedReason"
                    formControlName="RejectedReason"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="isViewDetails">
        <div *ngIf="this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="button" class="btn btn-success"
                  (click)="VarifiedSus(_Id,false);hooCheckerLogin = !hooCheckerLogin"
                  [disabled]="SuspensionDetailsForm.invalid">
            {{_btnText}}
          </button>
          <!-- <button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button> -->
          <button class="btn btn-primary" type="button"
                  (click)="RejectedSus(_Id,false);hooCheckerLogin = !hooCheckerLogin"
                  [disabled]="SuspensionDetailsForm.invalid">
            {{_btnUpdateText}}
          </button>
        </div>
        <div *ngIf="!this.isCheckerLogin" class="col-md-12 col-lg-12 text-center btn-wraper">
          <button type="submit" class="btn btn-success" [disabled]="SuspensionDetailsForm.invalid || disableButton">{{_btnText}}</button>
          <button type="button" class="btn btn-warning" (click)="Reset()">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="ForwardToChecker(objempExtDetails)"
                  [disabled]="SuspensionDetailsForm.invalid || disableButton">
            {{_btnUpdateText}}
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!--right table-->
<div class="col-md-12 col-lg-12 margin-top-10px">
  <div class="example-card mat-card">
    <div class="fom-title">Extension Details</div>
    <!-- Search -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" [disabled]="orderValidFlag">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <!--tabel 2 start-->
    <div *ngIf="!this.isCheckerLogin">
      <div class="fom-title mt-40 ">Select Old Suspension Order to enter Extension Details</div>
      <table mat-table [(dataSource)]="dataSourceHistory" #t2Sort="matSort" matSort
             class="mat-elevation-z8 even-odd-color">
        <!-- Order No. -->
        <ng-container matColumnDef="OrderNo">
          <th mat-header-cell *matHeaderCellDef>Order Number</th>
          <td mat-cell *matCellDef="let element">{{ element.orderNo }}</td>
        </ng-container>
        <!-- Order Date -->
        <ng-container matColumnDef="OrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.orderDate  | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- From Date -->
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let element">{{ element.fromDate  | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <!-- To Date Order No. -->
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let element">{{ element.toDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- No. of Days -->
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks}}</td>
        </ng-container>
        <!---Status-->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <!--status end-->

        <tr mat-header-row *matHeaderRowDef="historyTableColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: historyTableColumns" (click)="rowHighlight(element)"
            [style.background]="highlightedRows.indexOf(element) != -1 ?'lightgreen' : ''"></tr>
      </table>
      <mat-paginator #paginatorTable2 [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons>
      </mat-paginator>
    </div>
    <div>
      <button *ngIf="this.isCheckerLogin" mat-button class="btn-primary">
        View Forwarded Suspension Order
        Details
      </button>
      <button *ngIf="!this.isCheckerLogin" mat-button class="btn-primary" (click)="ShowSuspensionDetails(true)">
        View New
        Captured Extension Details
      </button>
    </div>
    <div [hidden]="!ShowSusDetails">
      <div class="fom-title mt-40 ">
        New Captured Extension Details <button *ngIf="!this.isCheckerLogin" mat-button
                                               class="btn btn-warning" (click)="ShowSuspensionDetails(false)">
          Close
        </button>
      </div>
      <table mat-table [(dataSource)]="extDataDetails" #t1Sort="matSort" matSort
             class="mat-elevation-z8 even-odd-color">
        <!-- Order No. -->
        <ng-container matColumnDef="OrderNo">
          <th mat-header-cell *matHeaderCellDef>Order Number</th>
          <td mat-cell *matCellDef="let element">{{ element.orderNo }}</td>
        </ng-container>
        <!-- Order Date -->
        <ng-container matColumnDef="OrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.orderDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- From Date -->
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef>From Date</th>
          <td mat-cell *matCellDef="let element">{{ element.fromDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- To Date Order No. -->
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef>To Date</th>
          <td mat-cell *matCellDef="let element">{{ element.toDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <!-- No. of Days -->
        <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks}}</td>
        </ng-container>
        <!---Status-->i98
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <!--status end-->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a href="#">Edit</a> -->
            <a class="material-icons i-info" *ngIf="element.status=='Rejected'?false:true"
               (click)="btnEditClick(element,true)" matTooltip="Info">info</a>
            <div *ngIf="element.isEditable">
              <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element,false)">edit</a>
              <a class="material-icons i-delet" matTooltip="Delete" *ngIf="!isCheckerLogin"
                 (click)="DeleteSuspensionDetails(element.id,true);deletepopup = !deletepopup">
                delete_forever
              </a>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
      <mat-paginator #paginatorTable1 [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure, you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteSuspensionDetails(_Id,false)">Yes</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">No</button>
    </div>
  </div>
</app-dialog>
<app-dialog [(visible)]="hooCheckerLogin">
  <div class="card-content panel panel-body panel-default">
    <h3 *ngIf="isVarified" class="card-title text-center">Are you sure, you want to verify?</h3>
    <h3 *ngIf="!isVarified" class="card-title text-center">Are you sure, you want to reject?</h3>
    <div *ngIf="!isVarified">
      <mat-card>
        <input matInput type="text" placeholder="Reason" [(ngModel)]="reasonText" />
      </mat-card>
      <label *ngIf="isReasonEmpty" class="errormsg">{{successMsg}}</label>
    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" *ngIf="isVarified"
              (click)="VarifiedSus(_Id,true)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" *ngIf="!isVarified"
              (click)="RejectedSus(_Id,true)">
        Yes
      </button>
      <button type="button" class="btn btn-info center" (click)="hooCheckerLogin = !hooCheckerLogin">No</button>
    </div>
  </div>
</app-dialog>

