<app-comman-mst (onchange)="GetcommanMethod($event)" [events]="eventsSubject.asObservable()"></app-comman-mst>
<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" #formDirective="ngForm" novalidate>
  <div class="col-md-12 col-lg-7" [attr.disabled]="disableflag">
    <mat-card class="example-card emp1-form">
      <ng-template matStepLabel>Lien Period/Extension of Lien Period</ng-template>

      <div class="fom-title">Lien Period/Extension of Lien Period</div>
      <div class="fom-title">Order Details</div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order Number" formControlName="orderNo" maxlength="50" pattern="[A-Za-z0-9]{1}[A-Za-z0-9-/_]+" required>
          <mat-error *ngIf="(!form.controls['orderDate'].valid || form.controls['orderNo'].dirty || form.controls['orderNo'].touched) && form.controls['orderNo'].invalid && form.controls['orderNo'].errors.required">
            Order Number is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['orderNo'].dirty || form.controls['orderNo'].touched) && form.controls['orderNo'].invalid && form.controls['orderNo'].errors.pattern">
            Order Number is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">

        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="OrderDate" placeholder="Order Date" (click)="OrderDate.open()" formControlName="orderDate" required readonly />
          <mat-datepicker-toggle matSuffix [for]="OrderDate"></mat-datepicker-toggle>
          <mat-datepicker #OrderDate></mat-datepicker>
          <mat-error *ngIf="form.controls['orderDate'].invalid || !form.controls['orderDate'].valid && form.controls['orderDate'].touched">
            Order Date is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">

        <mat-form-field class="wid-100 example-full-width">
          <mat-select placeholder="Reason for Transfer" formControlName="reasonTransfer" (selectionChange)="getTransferReasonType()" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option *ngFor="let transferresond of reasonTransferDdl" [value]="transferresond">{{transferresond}}</mat-option>
          </mat-select>
          <mat-error *ngIf="(!form.controls['reasonTransfer'].valid || form.controls['reasonTransfer'].dirty || form.controls['reasonTransfer'].touched) && form.controls['reasonTransfer'].invalid && form.controls['reasonTransfer'].errors.required">
            Reason for Transfer is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks" formControlName="remarks" maxlength="200" pattern="[A-Za-z0-9]{1}[A-Za-z0-9-/_ ]+" required></textarea>
          <mat-error *ngIf="(!form.controls['remarks'].valid ||form.controls['remarks'].dirty || form.controls['remarks'].touched) && form.controls['remarks'].invalid && form.controls['remarks'].errors.required">
            Remarks is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['remarks'].dirty || form.controls['remarks'].touched) && form.controls['remarks'].invalid && form.controls['remarks'].errors.pattern">
            Remarks is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="wid-100" *ngIf="relHideShow">
        <div class="fom-title">Relieving Details</div>

        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Relieving Order Number" formControlName="relevingOrderNo" maxlength="50" pattern="[A-Za-z0-9]{1}[A-Za-z0-9-/_]+" required>
            <mat-error *ngIf="(!form.controls['relevingOrderNo'].valid || form.controls['relevingOrderNo'].dirty || form.controls['relevingOrderNo'].touched) && form.controls['relevingOrderNo'].invalid && form.controls['relevingOrderNo'].errors.required">
              Relieving Order Number is Required
            </mat-error>
            <mat-error *ngIf="(form.controls['relevingOrderNo'].dirty || form.controls['relevingOrderNo'].touched) && form.controls['relevingOrderNo'].invalid && form.controls['relevingOrderNo'].errors.pattern">
              Relieving Order Number is invalid
            </mat-error>
           
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">

          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="RelievingOrderDate" placeholder="Order Date" [min]="form.controls['orderDate'].value" (click)="RelievingOrderDate.open();" (Onblur)="CheckDate()" formControlName="relievingOrderDate" required readonly />
            <mat-datepicker-toggle matSuffix [for]="RelievingOrderDate"></mat-datepicker-toggle>
            <mat-datepicker #RelievingOrderDate></mat-datepicker>
            <mat-error *ngIf="form.controls['relievingOrderDate'].invalid && form.controls['relievingOrderDate'].errors.required">
              Relieving Order Date is required
            </mat-error>

            <!--<mat-error *ngIf="!form.controls['relievingOrderDate'].valid">
              Relieving Order Date is invalid
            </mat-error>-->
          </mat-form-field>


        </div>
        <div class="col-md-12 col-lg-4">

          <mat-form-field class="wid-100 example-full-width">
            <mat-select placeholder="Time" formControlName="relievingTime" required>
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let relievingTime of relievingTimeDdl" [value]="relievingTime">{{relievingTime}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(!form.controls['relievingTime'].valid || form.controls['relievingTime'].dirty || form.controls['relievingTime'].touched) && form.controls['relievingTime'].invalid && form.controls['relievingTime'].errors.required">
              Time is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4">
          <mat-form-field class="wid-100">


            <mat-select placeholder="Designation" formControlName="relievingDesigcode" required>
              <mat-option value="">--Select--</mat-option>
              <mat-option *ngFor="let designa of designation" [value]="designa.desigId">
                {{designa.desigDesc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="(!form.controls['relievingTime'].valid || form.controls['relievingDesigcode'].dirty || form.controls['relievingDesigcode'].touched) && form.controls['relievingDesigcode'].invalid && form.controls['relievingDesigcode'].errors.required">
              Designation is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="fom-title">Office Details</div>
      <div class="col-md-12 col-lg-12">
        <mat-radio-group formControlName="department">
          <mat-radio-button value="Civil" (click)="showCivilValue = !showCivilValue; getDepartment('Civil')"> Civil </mat-radio-button>
          <mat-radio-button value="Other" (click)="getDepartment('Other')"> Other </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Office Name" [readonly]="this.isOfFEditable"  formControlName="officeName" pattern="[A-Za-z]{1}[A-Za-z0-9-|/_(),.& ]+" required>
          <mat-error *ngIf="(form.controls['officeName'].dirty || !form.controls['officeName'].valid || form.controls['officeName'].touched) && form.controls['officeName'].invalid && form.controls['officeName'].errors.required">
            Office Name is Required
          </mat-error>
          <mat-error *ngIf="form.controls['officeName'].invalid && form.controls['officeName'].errors.pattern">
            Office Name is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="paoDdoHideShow">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PAO Name" formControlName="paoName" pattern="[A-Za-z]{1}[A-Za-z0-9-|/_(),.& ]+" required readonly>
          <mat-error *ngIf="(form.controls['paoName'].dirty || !form.controls['paoName'].valid || form.controls['paoName'].touched) && form.controls['paoName'].invalid && form.controls['paoName'].errors.required">
            PAO Name is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['paoName'].dirty  || form.controls['paoName'].touched) && form.controls['paoName'].invalid && form.controls['paoName'].errors.pattern">
            PAO Name is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="paoDdoHideShow">
        <mat-form-field class="wid-100">
          <input matInput placeholder="DDO Name" formControlName="ddoName" pattern="[A-Za-z]{1}[A-Za-z0-9-|/_(),.& ]+" required readonly>
          <mat-error *ngIf="(form.controls['ddoName'].dirty || !form.controls['ddoName'].valid  || form.controls['ddoName'].touched) && form.controls['ddoName'].invalid && form.controls['ddoName'].errors.required">
            DDO Name is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['ddoName'].dirty || form.controls['ddoName'].touched) && form.controls['ddoName'].invalid && form.controls['ddoName'].errors.pattern">
            DDO Name is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <!--<div class="col-md-6 col-lg-4" *ngIf="OffHideShow">
    <mat-form-field class="wid-100">
      <input matInput placeholder="Office Name" formControlName="officeNameother" required>
      <mat-error *ngIf="(form.controls['officeNameother'].dirty || form.controls['officeNameother'].touched) && form.controls['officeNameother'].invalid && form.controls['officeNameother'].errors.required">
        Office Name is Required
      </mat-error>
      <mat-error *ngIf="(form.controls['officeNameother'].dirty || form.controls['officeNameother'].touched) && form.controls['officeNameother'].invalid && form.controls['officeNameother'].errors.pattern">
        Office Name is invalid
      </mat-error>
    </mat-form-field>
  </div>-->
      <div class="col-md-6 col-lg-4" *ngIf="OffHideShow">

        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Office Address"  formControlName="officeAddress" pattern="[A-Za-z]{1}[A-Za-z0-9-/_(), ]+" required style="margin: -10px 0;"></textarea>
          <mat-error *ngIf="(form.controls['officeAddress'].dirty || !form.controls['officeAddress'].valid || form.controls['officeAddress'].touched) && form.controls['officeAddress'].invalid && form.controls['officeAddress'].errors.required">
            Office Address is Required
          </mat-error>
          <mat-error *ngIf="(form.controls['officeAddress'].dirty || form.controls['officeAddress'].touched) && form.controls['officeAddress'].invalid && form.controls['officeAddress'].errors.pattern">
            Office Address is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4" *ngIf="form.controls.rejectionRemark.value">
        <mat-form-field class="wid-100">
          <textarea matInput formControlName="rejectionRemark" rows="1" placeholder="Checker Remarks" pattern="[A-Za-z]{1}[A-Za-z0-9-/_ ]+" readonly></textarea>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="roleId == 6">
        <button type="submit" class="btn btn-success" *ngIf="savebuttonstatus" [disabled]="form.controls['employeeCode'].invalid">{{btnUpdateText}}</button>
        <button type="button" class="btn btn-warning" (click)="ResetForm();" [disabled]="form.controls['employeeCode'].invalid">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="forwardStatusUpdate('0');" [disabled]="!disableForwardflag">Forward to DDO Checker</button>

      </div>
      <div *ngIf="roleId == 5" class="col-md-12 col-lg-12 text-center btn-wraper">

        <button type="button" class="btn btn-success" (click)="ApprovePopup = !ApprovePopup" [disabled]="!infoScreen">Accept</button>
        <button type="button" class="btn btn-warning" (click)="RejectPopup = !RejectPopup" [disabled]="!infoScreen">Reject</button>

        <!--<button type="button" class="btn btn-primary" (click)="ForwardToMakerPopup = !ForwardToMakerPopup">Forward To Maker</button>-->
      </div>


    </mat-card>
  </div>
</form>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper">
    <!--<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form value
        </mat-panel-title>
      </mat-expansion-panel-header>
      <code>
        {{form.value | json}}
      </code>
    </mat-expansion-panel>
  </mat-accordion>-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="tblfiltervalue" placeholder="Search" (keypress)="charaterOnlyNoSpace($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="tranferLienPeriodData" matSort class="mat-elevation-z8 even-odd-color" matSortActive="orderNo" matSortDirection="asc">
      <!-- Name Column -->
      <ng-container matColumnDef="orderNo">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No </th>

        <td mat-cell *matCellDef="let element;"> {{element.orderNo}}  </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date}} </td>
      </ng-container>

      <!-- Date Of Joining Column -->
      <ng-container matColumnDef="relievingOrderNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Relieving Order No. </th>
        <td mat-cell *matCellDef="let element"> {{element.relevingOrderNo}} </td>
      </ng-container>

      <ng-container matColumnDef="relievingOrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Relieving Order Date. </th>
        <td mat-cell *matCellDef="let element"> {{element.relievingOrderDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Office Name </th>
        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
      </ng-container> 
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let element">
          <label *ngIf="element.veriFlag == 'E'" class="bgorange">Entry</label>
          <label *ngIf="element.veriFlag == 'U'" class="bgdarkorange">Entry Updated</label>
          <label *ngIf="element.veriFlag == 'F'" class="bggreen">Sent to Checker</label>
          <label *ngIf="element.veriFlag == 'V'" class="bgblue">Verified</label>
          <label *ngIf="element.veriFlag == 'R'" class="bgred">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <mat-cell *matCellDef="let element">
          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'R' || element.veriFlag == 'U')&& roleId == 6"  class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.mslienId)">edit</a>
          <a *ngIf="(element.veriFlag == 'E' || element.veriFlag == 'U' || element.veriFlag == 'R')" class="material-icons i-delet" matTooltip="Delete" (click)="deleteRecordClick(element.mslienId);DeletePopup=!DeletePopup">
            delete_forever
          </a>
          <a *ngIf="(element.veriFlag != 'E' && element.veriFlag != 'R' && element.veriFlag != 'U') && roleId == 6" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.mslienId)">
            info
          </a>
          <a *ngIf="roleId == 5" class="material-icons i-info" matTooltip="Info" (click)="btnInfoClick(element.mslienId)">
            info
          </a>
        </mat-cell>

      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound" class="add-leave-btn">

      <font color=red> Record Not Found </font>
    </div>
    <mat-paginator [pageSizeOptions]="[5,10]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
 
</div>
<app-dialog [(visible)]="showCivilValue">
  <ng-template matStepLabel>Search to Select Office</ng-template>

  <div class="fom-title">Search to Select Office</div>
  <form [formGroup]="formPopUp" style="height:500px" #formDirectivepop="ngForm">

    <legend>Search Office</legend>
    <div class="col-md-12 col-lg-4">

      <mat-form-field class="wid-100 example-full-width">
        <mat-select placeholder="Controller Name" formControlName="controllerId" (selectionChange)="bindddolist()" required>
          <mat-option value="">--Select--</mat-option>
          <mat-option *ngFor="let controllerListd of controllerList" [value]="controllerListd.controllerId">{{controllerListd.controllerName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="(formPopUp.controls['controllerId'].dirty || !formPopUp.controls['controllerId'].valid || formPopUp.controls['controllerId'].touched) && formPopUp.controls['controllerId'].invalid && formPopUp.controls['controllerId'].errors.required">
          Controller Name is Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">

      <mat-form-field class="wid-100 example-full-width">
        <mat-select placeholder="DDO Name" formControlName="ddoId" required>
          <mat-option value="">--Select--</mat-option>
          <mat-option *ngFor="let ddoLists of ddoList" [value]="ddoLists.ddoId">{{ddoLists.ddoName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="(formPopUp.controls['ddoId'].dirty || !formPopUp.controls['ddoId'].valid || formPopUp.controls['ddoId'].touched) && formPopUp.controls['ddoId'].invalid && formPopUp.controls['ddoId'].errors.required">
          DDO Name is Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Office Name" formControlName="officeName" pattern="[A-Za-z]{1}[A-Za-z0-9-/_ ]+">
        <!--<mat-error *ngIf="(form.controls['officeAddress'].dirty || form.controls['officeAddress'].touched) && form.controls['officeAddress'].invalid && form.controls['officeAddress'].errors.required">
          Office Address is Required
        </mat-error>
        <mat-error *ngIf="(form.controls['officeAddress'].dirty || form.controls['officeAddress'].touched) && form.controls['officeAddress'].invalid && form.controls['officeAddress'].errors.pattern">
          Office Address is invalid
        </mat-error>-->
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success" (click)="GetAllDetails()">GO</button>
      <button type="button" class="btn btn-warning" (click)="ClearPop()">Clear</button>


    </div>
    <div class="example-card mat-card tabel-wraper">


      <table mat-table [dataSource]="tranferOfficeData" matSort class="mat-elevation-z8 even-odd-color">
        <div class="col-md-12 col-lg-3">
          <ng-container matColumnDef="checked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>

            <mat-cell *matCellDef="let element">
              <mat-radio-button value="{{element.officeId}}" (click)="GetSelectCode(element.officeId)"></mat-radio-button>
              <!--<mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>-->
            </mat-cell>
          </ng-container>
        </div>
        <!-- Name Column -->
        <ng-container matColumnDef="OfficeName">

          <th mat-header-cell *matHeaderCellDef mat-sort-header> Office Name </th>

          <td mat-cell *matCellDef="let element;"> {{element.officeName}}  </td>
        </ng-container>

        <!-- Date Of Birth Column -->
        <ng-container matColumnDef="OfficeAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Office Address </th>
          <td mat-cell *matCellDef="let element"> {{element.officeAddress}} </td>
        </ng-container>

        <!-- Date Of Joining Column -->
        <ng-container matColumnDef="TelephoneNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone No. </th>
          <td mat-cell *matCellDef="let element"> {{element.officeTelePhoneNO}} </td>
        </ng-container>
        <ng-container matColumnDef="E-MailId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail Id </th>
          <td mat-cell *matCellDef="let element"> {{element.officeEmailId}} </td>
        </ng-container>


        <!--<tr *ngIf="dataSource?.length> 0">
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>


    </div>
  </form>

</app-dialog>
<app-dialog [(visible)]="DeletePopup">
  <div class="card-content panel panel-body panel-default ">
    <h3 class="card-title text-center">Are you sure want to delete? <br /> <br /></h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="confirmDelete()">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>


<app-dialog [(visible)]="ApprovePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure want to approve? <br /> <br /></h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="forwardStatusUpdate('V')">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="RejectPopup">
  <form  (ngSubmit)="form2.valid && forwardStatusUpdate('R')" #freject="ngForm">
    <div class="card-content panel panel-body panel-default">
      <h3 class="card-title text-center">Are you sure want to reject? <br /> <br /></h3>
      <div class="col-md-3"></div>
      <mat-form-field class="col-md-6 card-title text-center">
        <textarea matInput [(ngModel)]="rejectionRemark" name="rejectionRemark1" #rejectionRemark1="ngModel" rows="2" maxlength="50" align="center" placeholder="Remarks" pattern="[A-Za-z]{1}[A-Za-z0-9-/_., ]+" required></textarea>
        <mat-error>
          <span [hidden]="!rejectionRemark1.errors?.required">Remarks is required</span>
        </mat-error>
      </mat-form-field>

      <div class="form-group text-center col-md-12">

        <button type="submit" class="btn btn-info">Yes</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
      </div>
    </div>
  </form>
</app-dialog>


