<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert  alert-dismissible" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{Message}}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="panelOpenStateForm" #panel1 [ngClass]="bgcolor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        DDO Master
      </mat-panel-title>

    </mat-expansion-panel-header>

    <!--<mat-card>-->

    <form [formGroup]="DDOMasterUpdateForm" #DDOUpdateForm="ngForm" ngNativeValidate (ngSubmit)="SaveDDOMaster()">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Controller Code" formControlName="controllerId" required>
            <mat-option *ngFor="let item of ArrddController" (click)="ControllerChange(item)" [value]="item.controllerId">{{item.controllerCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PAO Code" formControlName="paoId" required>
            <mat-option *ngFor="let item of ArrddPAO;" (click)="PAOChange(item)" [value]="item.paoId">{{item.paoCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select DDO Code" formControlName="ddoId" required>
            <mat-option *ngFor="let item of ArrddDDO" (click)="DDOChange(item)" [value]="item.ddoId">{{item.ddoCode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select DDO Category" formControlName="ddoTypeId" required>
            <mat-option *ngFor="let item of ArrddDDOCategory" (click)="DdoCatgryChange(item)" [value]="item.ddoTypeId">{{item.ddoTypeText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Address" formControlName="ddoAddress" (keypress)="omit_special_char($event)">
          <mat-error>
            <span ng-show="DDOMasterUpdateForm.Address.$error.pattern">Not a valid Address</span>
            <!--<span [hidden]="!contactNo.errors?.pattern">Invalid mobile no.</span>-->
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input type="number" matInput placeholder="Pincode" formControlName="pinCode" pattern="[1-9][0-9]{5}">
          <!--pattern="[1-9][0-9]{5}"-->
          <mat-error>
            <span ng-show="DDOMasterUpdateForm.pinCode.$error.pattern">Not a valid pincode</span>
            <!--<span [hidden]="!pinCode.errors?.pattern">Invalid pincode.</span>-->
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Phone Number" formControlName="contactNo" maxlength="10" minlength="10" pattern="^(0|[1-9][0-9]*)$" />
          <!--pattern="[1-9][0-9]{9}"-->
          <mat-error>
            <span ng-show="DDOMasterUpdateForm.contactNo.$error.pattern">Not a valid phone number</span>
            <!--<span [hidden]="!contactNo.errors?.pattern">Invalid mobile no.</span>-->
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Fax Number" formControlName="faxNo" maxlength="10" minlength="10" pattern="^(0|[1-9][0-9]*)$" />
          <!--pattern="[1-9][0-9]{9}"-->
          <mat-error>
            <span ng-show="DDOMasterUpdateForm.faxNo.$error.pattern">Not a valid fax number</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Email" formControlName="emailAddress" pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$" />
          <mat-error>
            <span ng-show="DDOMasterUpdateForm.emailAddress.$error.pattern">Not a valid email</span>
            <!--<span [hidden]="!emailAddress.errors?.pattern">Invalid email address.</span>-->
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select State" formControlName="stateId" required>
            <mat-option *ngFor="let item of ArrddState" (click)="StateChange(item)" [value]="item.stateId">{{item.stateText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select City" formControlName="cityId" required>
            <mat-option *ngFor="let item of ArrddCity" [value]="item.cityId">{{item.cityText}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Description" formControlName="ddoName" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Bilingual Description" formControlName="ddoLang" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" [class.btn-info]="isClicked" [disabled]="DDOMasterUpdateForm.invalid">{{btnUpdateText}}</button>
        <button type="button" class="btn btn-warning" (click)="CancelDDOmaster()">Cancel</button>
      </div>

    </form>

  </mat-expansion-panel>
</mat-accordion>



<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="panelOpenStateGrid">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        DDO Master Details
      </mat-panel-title>

    </mat-expansion-panel-header>



    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="TxtSexrch" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color mat-table">
        <!-- Column -->
        <ng-container matColumnDef="ddoId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</th>
          <td mat-cell *matCellDef="let element">{{element.ddoId}}  </td>
        </ng-container>
        <ng-container matColumnDef="controllerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Controller Code</th>
          <td mat-cell *matCellDef="let element"> {{element.controllerCode}} </td>
        </ng-container>
        <ng-container matColumnDef="paoCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAO Code</th>
          <td mat-cell *matCellDef="let element"> {{element.paoCode}} </td>
        </ng-container>
        <ng-container matColumnDef="ddoCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DDO Code</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoCode}} </td>
        </ng-container>
        <ng-container matColumnDef="ddoName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoName}} </td>
        </ng-container>
        <ng-container matColumnDef="ddoTypeText">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DDO Cateogry</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoTypeText}} </td>
        </ng-container>
        <ng-container matColumnDef="ddoAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.ddoAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="contactNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
          <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="stateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
        </ng-container>
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
          <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="EditDDOmaster(element)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="DeleteDDOmaster(element.ddoId,true);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div [hidden]="isTableHasData">
        <span>No Data Found</span>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </mat-expansion-panel>
</mat-accordion>




  <app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3> 
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
     <button type="button" class="btn btn-info center" (click)="DeleteDDOmaster(ddoId,false)">OK</button>
     <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
