<!--<app-comman-mst (onchange)="GetcommanMethod($event)" [data]="callTypevar"></app-comman-mst>-->

<div *ngIf="userRoleID !=17">
  <app-comman-mst (onchange)="GetcommanMethod($event)" [data]="callTypevar" [events]="eventsSubject.asObservable()"></app-comman-mst>
</div>

<div class="col-md-12 col-lg-7">
  <form (ngSubmit)="Sanction.valid && btnsubmit()" #Sanction="ngForm" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Sanction Details</div>
      <div class="fom-title">A.Loan Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type" title="Loan Type"
                      [(ngModel)]="_sanctiondetails.payLoanRefLoanCD" name="payLoanRefLoanCD"
                      #payLoanRefLoanCD="ngModel" required [disabled]=disbleflag>
            <mat-option label="Select Loan Type">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of ArrLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="payLoanRefLoanCD.submitted && payLoanRefLoanCD.invalid">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title"> B. Sanction Order Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">

          <input matInput name="sancOrdNo" title="Order No" placeholder="Order No" #sancOrdNo="ngModel" (keypress)="numberOnly($event)" [(ngModel)]="_sanctiondetails.sancOrdNo" BlockCopyPaste
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!sancOrdNo.errors?.required">Order Number is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker1" placeholder="Order Date" title="Order Date"
                 [(ngModel)]="_sanctiondetails.sancOrdDT" (click)="picker1.open()" name="sancOrdDT" #sancOrdDT="ngModel" [disabled]=disbleflag required BlockCopyPaste="enter">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>
            <span [hidden]="!sancOrdDT.errors?.required">Order Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">C. Sanctioned Details</div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtSanc" title="Amount Requested for Loan" placeholder="Amount Requested for Loan (In Rs.)  " (keypress)="numberOnly($event)" #loanAmtSanc="ngModel" [(ngModel)]="_sanctiondetails.loanAmtSanc"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Amount Requested is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="loanAmtDisbursed" title="Total Sanctioned Amount" placeholder="Total Sanctioned Amount (In Rs.) " (blur)="valuechange($event.target.value)" #loanAmtDisbursed="ngModel" BlockCopyPaste (keypress)="numberOnly($event)" [(ngModel)]="_sanctiondetails.loanAmtDisbursed"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!loanAmtDisbursed.errors?.required">Sanctioned Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12  col-lg-12">
        <mat-radio-group [(ngModel)]="_sanctiondetails.empApptType" name="empApptType" #empApptType="ngModel" [disabled]=disbleflag required (click)="setempApptType(_sanctiondetails.empApptType)">
          <mat-radio-button value="R">Employee</mat-radio-button>
          <mat-radio-button value="T">Vendor</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empName" title="User Name" placeholder="User Name" #empName="ngModel" [(ngModel)]="_sanctiondetails.empName"
                 [disabled]=disableUserBankDetailsFlag required>
          <!--[disabled]=EmpTypeFlag required-->
          <mat-error>
            <span [hidden]="!empName.errors?.required">In Favour is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="description" title="Description" placeholder="Description " #description="ngModel" [(ngModel)]="_sanctiondetails.description"
                 [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!description.errors?.required">Description is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Bank Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="IFSC Code" title="IFSC Code" [(ngModel)]="_sanctiondetails.ifscCD" name="ifscCD" (blur)="getBankDetailsByIFSC(_sanctiondetails.ifscCD)" [disabled]=disableUserBankDetailsFlag required>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Bank Name" title="Bank Name" [(ngModel)]="objBankDetails.bankName" name="bankName" #bankName="ngModel" [disabled]=disableUserBankDetailsFlag required>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Branch Name" title="Branch Name" [(ngModel)]="objBankDetails.branchName" name="branchName" #branchName="ngModel" [disabled]=disableUserBankDetailsFlag required>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Saving A/c No" title="Saving A/c No" [(ngModel)]="_sanctiondetails.bnkAcNo" maxlength="15" name="bnkAcNo"
                 (keypress)="numberOnly($event)" [disabled]=disableUserBankDetailsFlag required>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6" *ngIf="_sanctiondetails.sanction_Remarks!=''">

        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_sanctiondetails.sanction_Remarks" title="Remarks" name="sanction_Remarks" #sanction_Remarks="ngModel" [disabled]=disbleflag></textarea>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" id="btn_save" class="btn btn-primary" *ngIf="btndisable">
          <i class="fa fa-floppy-o"></i>{{buttonText}}
        </button>
      
        <button type="button" class="btn btn-primary" (click)="resetLoanDdetailsForm()" *ngIf="btndisable">Cancel</button>
        <button class="btn btn-info" type="button" (click)="forwarDDOMaker()" *ngIf="disableFwdMakerFlag">Forward to DDO Maker</button>
        <button class="btn btn-info" type="button" (click)="forwarDDOChecker()" *ngIf="disableFwdCheckerFlag">Forward to DDO Checker</button>
        <button class="btn btn-success" type="button" (click)="VerifyChecker()" *ngIf="disableVerifyCheckerFlag">Verify</button>
        <button class="btn btn-danger" type="button" *ngIf="disableRejectCheckerFlag" (click)="deletePopup = !deletePopup">Reject</button>
      </div>
    </mat-card>
  </form>
</div>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="EMPId" style="display:none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none;"> ID </th>
        <td mat-cell *matCellDef="let element" style="display:none;"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="EMPCode" style="width:120px;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
      <ng-container matColumnDef="LoanCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanCode}} </td>
      </ng-container>
      <ng-container matColumnDef="PurposeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose  </th>
        <td mat-cell *matCellDef="let element"> {{element.purposeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">

          <a matTooltip="{{element.moduleStatus}}"> {{element.status}}</a>

        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="view details" (click)="ViewEditLoanDetailsById(element.id,0)">error</a>
          <span *ngIf="element.statusId == '23'  && userRoleID !=17">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>
          <span *ngIf="element.statusId == '34'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>

          <span *ngIf="element.statusId == '32' ">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,1)">edit</a>
          </span>
          <span *ngIf="userRoleID==5  && element.statusId == '35'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,2)">edit</a>
          </span>

          <!--<span *ngIf="element.status == 'E'">
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.id);deletepopup = !deletepopup"> delete_forever </a>
          </span>
          <span *ngIf="element.status == 'ME'">
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.id);deletepopup = !deletepopup"> delete_forever </a>
          </span>-->
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<app-dialog [(visible)]="deletePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Please Enter Remarks.</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_sanctiondetails.sanction_Remarks" title="Remarks" name="sanction_Remarks" #sanction_Remarks="ngModel" required></textarea>
          <mat-error>
            <span [hidden]="!sanction_Remarks.errors?.required">Remarks is required</span>
          </mat-error>
        </mat-form-field>
        <button type="button" class="btn btn-info center" (click)="Reject()">Ok</button>
        <button type="button" class="btn btn-info center" (click)="deletePopup = !deletePopup">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>
