<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="isSuccessStatus" (click)="isSuccessStatus=false">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{  responseMessage }}</strong>
  </div>
  <!--<div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>-->

</div>
<!--End Alert message for delet, info-->




<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="isLeavePanel"  [ngClass]="bgColor">
    <mat-expansion-panel-header class="panel-header btm-m15" (click)="isLeavePanel=false">
      <mat-panel-title class="acordion-heading">
        Leave Type Master
      </mat-panel-title>

    </mat-expansion-panel-header>


    <form (ngSubmit)="Leavetype.valid && btnSaveClick();" #Leavetype="ngForm" novalidate name="Leavetype">
      <div [attr.disabled]="disbleflag">


        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Leave Type" autocomplete=off [(ngModel)]="objLeaveType.LeaveTypeCd" name="LeaveTypeCd" #LeaveTypeCd="ngModel" maxlength="3" (keypress)="charaterOnlyNoSpace($event)" (keyup)="checkAllreadyexist()" required pattern="[a-zA-Z ]*">
            <mat-error>
              <span [hidden]="!LeaveTypeCd.errors?.required">Leave Type is required</span>
              <span [hidden]="!LeaveTypeCd.errors?.pattern">Only Alphabets allowed</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Leave Description" autocomplete=off [(ngModel)]="objLeaveType.LeaveTypeDesc" name="LeaveTypeDesc"maxlength="100" #LeaveTypeDesc="ngModel" pattern="[-(),./a-zA-Z \\]*" (keypress)="charaterOnlyNoSpace($event)" (keyup)="checkAllreadyexist()" required>
            <mat-error>
              <span [hidden]="!LeaveTypeDesc.errors?.required">Leave Description is required</span>
              <span [hidden]="!LeaveTypeDesc.errors?.pattern">Only Alphabets allowed and Some special Character allow like -(),.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="WEF" (click)="WEF.open()" [(ngModel)]="objLeaveType.WEF" #WEF="ngModel" required (dateChange)="Enablebtnsave()"
                   name="WEF" placeholder="Wef(With Effect From)" readonly>
            <mat-datepicker-toggle matSuffix [for]="WEF"></mat-datepicker-toggle>
            <mat-datepicker #WEF></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="WET" (click)="WET.open()" [(ngModel)]="objLeaveType.WET" #WET="ngModel" required (dateChange)="Enablebtnsave()"
                   name="WET" placeholder="Wet(With Effect To)" [min]="objLeaveType.WEF" readonly>
            <mat-datepicker-toggle matSuffix [for]="WET"></mat-datepicker-toggle>
            <mat-datepicker #WET></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12 text-center btn-wraper">
          <mat-error>{{errorMsg}}</mat-error>
          <button type="submit" id="btn_save" class="btn btn-success" [disabled]=!Leavetype.valid||!disbleflag>Save</button>
          <button type="reset" class="btn btn-warning" (click)="resetForm()">Cancel</button>

        </div>
      </div>
    </form>


  </mat-expansion-panel>
</mat-accordion>



<!--right table-->

<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title">  Leave Type Master Details</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchvalue" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">

        <!-- Leave Type Column -->
        <ng-container matColumnDef="leaveTypeCd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
          <td mat-cell *matCellDef="let element">{{element.leaveTypeCd}} </td>
        </ng-container>

        <!-- Leave type Description Column -->
        <ng-container matColumnDef="leaveTypeDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave type Description </th>
          <td mat-cell *matCellDef="let element"> {{element.leaveTypeDesc}} </td>
        </ng-container>

        <!-- Action Column -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">

            <a class="material-icons i-edit" matTooltip="Edit" (click)="btnEditClick(element.leaveTypeID,element.leaveTypeCd,element.leaveTypeDesc ,element.wef, element.wet)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.leaveTypeID);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

  </div>
</div>

<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img style="height:70px;width:70px" src="~/../assets/Loder12.gif">
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="DeleteDetails(MsDeleteId)">OK</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>

