
<div class="col-md-6 col-lg-6">
  <div class="example-card mat-card">
    <app-headerforallemployee></app-headerforallemployee>
    <!--<div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="NG Recovery">
          <mat-option>Kerala State Relief Fund</mat-option>
          <mat-option>Kerala State Relief Fund</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Scroll NGR from Previous Month?">
          <mat-option>Yes</mat-option>
          <mat-option>No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Pay Bill Group">
          <mat-option>Select Pay Bill Group</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Designation">
          <mat-option>Select Designation</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-6">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Amount ">
      </mat-form-field>
    </div>-->

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="fom-title">NG Recoveries</div>



      <div class="col-md-12 col-lg-12 upload-container">
        <div class="col-sm-12 col-md-4 col-lg-2 pading-0"><label>Upload File</label></div>
        <div class="col-sm-12 col-md-8 col-lg-6"><input type="file"></div>
        <button type="button">Upload</button>
      </div>

      <div class="col-md-12 col-lg-12"><label>Download Template</label><a class="material-icons">vertical_align_bottom</a></div>



      <table matSort class="mat-elevation-z8 even-odd-color tabel-form wid-100 recovery-tabel" border="1">
        <tr class="table-head">

          <th>SI.No</th>
          <th>Employee Code</th>
          <th>Employee Name</th>
          <th>NG Recovery</th>
          <th>Amount</th>

        </tr>

        <tr>
          <td>
            1
          </td>
          <td>
            ABC123
          </td>
          <td>
            Anik Khanna
          </td>
          <td>
            ewqewqe
          </td>
          <td>
           45454
          </td>

        </tr>

       

        <tr class="tabel-total">
          <td colspan="4" class="text-center ">Total</td>
          <td>500</td>
        </tr>

      </table>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="reset" class="btn btn-warning">Cancel</button>
    </div>

  </div>

</div>



<!--right table-->



<div class="col-md-6 col-lg-6">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">Enter NG Recovery for all Employees</div>

  </div>
</div>

