 <!--Start Alert message for delet, info-->
<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
  </button>
</div>
<!--End Alert message for delet, info-->
<!--<form name="form" (ngSubmit)="f.valid && InsertandUpdate();" #f="ngForm" novalidate>-->
<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true" [ngClass]="bgcolor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        DA Master Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="col-sm-12 col-md-6 col-lg-12 combo-col clear-both select-type">
      <div class="col-sm-6 col-md-6 col-lg-2 pading-0">
        <div classclass="wid-100">
          <label class="label-font">Select Type</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-10">
        <div classclass="wid-100">
          <mat-radio-group name="DAType" [(ngModel)]="objda.DAType" [disabled]="is_datype" #DAType="ngModel" required>
            <mat-radio-button [disabled]="IsFlegCDA" value="Central" [checked]="objda.DAType === 'Central'" (click)="ChangeFormfromstate('Central')">Central</mat-radio-button>
            <mat-radio-button [disabled]="IsFlegState" value="State" (click)="ChangeFormfromstate('State')">State</mat-radio-button>
            <mat-error><span *ngIf="daform.submitted && DASubType.invalid">Type Required</span></mat-error>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 combo-col clear-both">
      <div class="col-sm-6 col-md-6 col-lg-4 pading-0">
        <div classclass="wid-100">
          <label class="label-font">DA Type</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-8">
        <div classclass="wid-100">
          <mat-radio-group name="DASubType" [(ngModel)]="objda.DASubType" [disabled]="is_dasubtype" #DASubType="ngModel" required>
            <mat-radio-button value="CDA" [disabled]="is_dis_CDA" *ngIf="CDAStatus==true" (click)="Change_CDA_IDA('CDA')">CDA</mat-radio-button>
            <mat-radio-button value="IDA" [disabled]="is_dis_IDA" (click)="Change_CDA_IDA('IDA')">IDA</mat-radio-button>
            <mat-error><span *ngIf="daform.submitted && DASubType.invalid" (click)="ChangeFormfromstate('Central')">Da Type Required</span></mat-error>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <form name="form" (ngSubmit)="daform.valid && InsertandUpdate();" #daform="ngForm" novalidate>

      <div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select Pay Commission" [(ngModel)]="objda.payCommissionID" required id="payCommissionID" #payCommissionID="ngModel" name="payCommissionID">
            <mat-option [value]="0" label="Select Commission Code *">Select Pay Commission</mat-option>
            <mat-option *ngFor="let _payscalelist of CommissionCodelist" [value]="_payscalelist.msCddirID">
              {{ _payscalelist.cddirCodeText }}
            </mat-option>
          </mat-select>
          <mat-error><span *ngIf="daform.submitted && payCommissionID.invalid">Pay Commission Required</span></mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-12 col-lg-4" *ngIf="statestatus==true">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select State" [(ngModel)]="objda.Stateid" name="Stateid" required #Stateid="ngModel" [disabled]="is_state" (selectionChange)="StateSelectionChange($event.value)">
            <mat-option [value]="0" label="Select Pay Scale Group">Select State</mat-option>
            <mat-option *ngFor="let _statelist of StateList" [value]="_statelist.stateId">{{_statelist.stateName}}</mat-option>
          </mat-select>
          <mat-error><span *ngIf="daform.submitted && Stateid.invalid">State Required</span></mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Current DA Rate" name="currentDrate" [(ngModel)]="objda.currentDrate" disabled="disabled">
          <mat-error>error!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker" (click)="picker.open()" name="currentWEF" placeholder="Wef(With Effect From)" [(ngModel)]="objda.currentWEF" disabled="disabled" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Order No" name="OrderNo" required pattern="^[A-Za-z0-9]+$" (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault()" [(ngModel)]="objda.OrderNo" #OrderNo="ngModel" [disabled]="is_orderno" maxlength="21">
          <!--<mat-error><span *ngIf="daform.submitted && OrderNo.invalid">Order No Required</span></mat-error>-->
          <mat-error><span [hidden]="!OrderNo.hasError('required')">Order No Required</span></mat-error>
          <mat-error><span [hidden]="!OrderNo.hasError('pattern')">Only Alpha Numeric Allowed</span></mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="Order Date" name="OrderDate" [(ngModel)]="objda.OrderDate" required #OrderDate="ngModel" [disabled]="is_orderdate" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>
            <span *ngIf="daform.submitted && OrderDate.invalid">Order Date Required</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="New DA Rate" [(ngModel)]="objda.NewDrate" name="NewDrate" required #NewDrate="ngModel" [disabled]="is_newdrate" (keypress)="restrictNumeric($event)" maxlength="3">
          <mat-error>
            <span *ngIf="daform.submitted && NewDrate.invalid">New Da Rate Required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div class="col-md-12 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="WithEffectFrom" placeholder="With Effect From" [(ngModel)]="objda.NewWEF" name="NewWEF">
          <mat-datepicker-toggle matSuffix [for]="WithEffectFrom"></mat-datepicker-toggle>
          <mat-datepicker #WithEffectFrom ></mat-datepicker>
        </mat-form-field>
      </div>-->


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker3" (click)="picker3.open()" placeholder="Wef(With Effect From)" [min]="objda.currentWEF" name="NewWEF" [(ngModel)]="objda.NewWEF" required #NewWEF="ngModel" [disabled]="is_newwef" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker3" utc="true"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error>
            <span *ngIf="daform.submitted && NewWEF.invalid">Wef(With Effect From) Required</span>
          </mat-error>
          <mat-error>
            <span *ngIf="NewWEF.errors?.min">New WEF should be greater then current WEF!</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <!--<button type="button" class="btn btn-success" *ngIf="savebuttonstatus" (click)="InsertandUpdate();">{{btnUpdatetext}}</button>-->
       
        <button type="button" class="btn btn-warning" (click)="Cancel();">Cancel</button>
      </div>

    </form>
  </mat-expansion-panel>
</mat-accordion>




<!--Table Start Here-->
<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title"> DA Rate History Details</div>




    <mat-form-field>

      <input matInput (keyup)="applyFilter($event.target.value)" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" [(ngModel)]="searchfield" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="daType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Type</th>
          <td mat-cell *matCellDef="let element"> {{element.daType}} </td>
        </ng-container>
        <ng-container matColumnDef="daSubType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">DA Type</th>
          <td mat-cell *matCellDef="let element"> {{element.daSubType}} </td>
        </ng-container>
        <ng-container matColumnDef="currentDrate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Current Rate(%) </th>
          <td mat-cell *matCellDef="let element"> {{element.currentDrate}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="currentWEF">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">Current Wef</th>
          <td mat-cell *matCellDef="let element"> {{element.currentWEF | date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="newDrate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> New Rate(%) </th>
          <!--<td mat-cell *matCellDef="let element">-->
          <td mat-cell *matCellDef="let element"> {{element.newDrate}}</td>
        </ng-container>
        <ng-container matColumnDef="newWEF">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> New Wef </th>
          <!--<td mat-cell *matCellDef="let element">-->
          <td mat-cell *matCellDef="let element"> {{element.newWEF | date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="25%"> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="Edit(element.msDaMasterID,element.daType ,element.daSubType,element.stateid,element.currentDrate,element.currentWEF,element.orderNo , element.orderDate ,element.newDrate,element.newWEF,element.payCommissionID);">edit</a>
            <a class="material-icons i-info" matTooltip="Info" (click)="Info(element.msDaMasterID,element.daType ,element.daSubType,element.stateid,element.currentDrate,element.currentWEF,element.orderNo , element.orderDate ,element.newDrate,element.newWEF,element.payCommissionID);">info</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div [hidden]="isTableHasData">
      No  Records Found
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

  </div>
</div>



<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="Delete(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>


