<div class="wrapper wrapper-full-page">

  <div class="full-page login-page" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid slideInDown">
              <div class="card card-login">
                <!--<div class="card-header text-center" data-background-color="rose">
                  <h4>Login</h4>
                </div>-->
                <div class="input-group">
                  <mat-radio-group [(ngModel)]="selectedRadio" name="RadioButton">
                    <mat-radio-button value="Y">All</mat-radio-button>
                    <mat-radio-button value="N">Specific</mat-radio-button>



                  </mat-radio-group>
                </div>
                <div class="input-group">
                  <!--<span class="input-group-addon">
                    <i class="material-icons">email</i>
                  </span>-->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="FirstName" [(ngModel)]="demoModel.FirstName" name="FirstName" required>

                    <span *ngIf="SSValidationError !=undefined" class="mat-error">
                      <span *ngIf="SSValidationError.FirstName != undefined"> {{SSValidationError.FirstName}}</span>
                    </span>

                  </mat-form-field>
                </div>
                <div class="input-group">
                  <!--<span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </span>-->
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="LastName" [(ngModel)]="demoModel.LastName" name="LastName" required>
                    <span *ngIf="SSValidationError !=undefined" class="mat-error">
                      <span *ngIf="SSValidationError.LastName != undefined"> {{SSValidationError.LastName}}</span>
                    </span>

                  </mat-form-field>
                </div>



              </div>
              <div class="footer text-center">
                <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>DemoTest</button>
              </div>

            </form>



          </div>
        </div>
      </div>
      <!-- <div class="footer text-center">
        <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>Let's go</button>
      </div> -->
      <!--<div class="full-page-background" style="background-image: url('../../assets/img/login.jpeg')"></div>-->
    </div>
  </div>
</div>







<h1 translate>Title</h1>
<h1 translate>demo.0.ID</h1>
<h1 translate>demo.0.na</h1>
<h1 translate>pr.0.ID</h1>




<!--<h1   *ngFor="let i of  en.dues">{{i.duesName}}</h1>-->
<div>







  {{ 'Intro' | translate }}
</div>
<div>
  {{ 'Title.dues.Title' | translate }}
</div>
<button (click)="switchLanguage('en')">English</button>

<button (click)="switchLanguage('fr')">Hindi</button>


<div style="text-align:center">


  <table style="width:50%;border:1px">
    <tr>
      <th>IP Type</th>
      <th>IP address</th>

    </tr>
    <tr>
      <td>Private IP</td>
      <td> {{privateIP}}</td>

    </tr>
    <tr>
      <td>Public IP</td>
      <td> {{publicIP}}</td>

    </tr>
  </table>

</div>
