<!--Start Alert message for delet, info-->
<div class="col-md-12">

  <div class="alert alert-success alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger alert-dismissible" *ngIf="is_btnStatus==true" (click)="btnclose();">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>

</div>
<!--End Alert message for delet, info-->


<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel [expanded]="true" [ngClass]="bgcolor">
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Master of Offices sdfgsdfgsdgsdf
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-10 mt-10">
      <mat-radio-group class="multi-radio-btn">        
        <mat-radio-button value="1">State</mat-radio-button>
        <mat-radio-button value="2">Defence</mat-radio-button>
        <mat-radio-button value="3">Railway</mat-radio-button>
        <mat-radio-button value="4">Post</mat-radio-button>
        <mat-radio-button value="5">Telecom</mat-radio-button>
        <mat-radio-button value="6">Others</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="State">
          <mat-option>Select</mat-option>
          <mat-option>Bihar</mat-option>
          <mat-option>Rajsthan</mat-option>
          <mat-option>Punjab</mat-option>
          <mat-option>Maharastra</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="State AG">
          <mat-option>Office of the Principal Accountant General</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Office">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <textarea matInput placeholder="Communication Address"></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Telephone No">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Pincode">
      </mat-form-field>
    </div>
    <div class="col-md-12 pading-0">
      <div class="col-sm-12 col-md-4 col-lg-4 combo-col-3">
        <div class="col-md-12 col-lg-6 pading-0">
          <label>Is Bank Details Available</label>
        </div>
        <div class="col-md-12 col-lg-6 pading-0">
          <mat-radio-group>
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>



<!--Table Star Here-->

<mat-accordion class="col-md-12 mb-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Edit Deduction Rate Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color ">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- State AG's  Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State AG's </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <!-- Offices Column -->
        <ng-container matColumnDef="Offices">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Offices </th>
          <td mat-cell *matCellDef="let element"> {{element.Offices}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete"> delete_forever </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </mat-expansion-panel>
</mat-accordion>
