<div class="main-content">

  <div class="basic-container select-drop-head">
    <div class="row  selection-hed">
      <!--<div class="col-md-3">
          <mat-form-field class="wid-100">
        <mat-select matNativeControl placeholder="Select Role" name="roleID" (selectionChange)="Rolechange($event.value)">
          <mat-option label="Select Commission Code">Select Role</mat-option>
          <mat-option *ngFor="let _ArrRoles of ArrRoles" [value]="_ArrRoles.roleID">
            {{ _ArrRoles.roleName }}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
      <!--<p *ngIf="show">
          <mat-error><span>Commission Code required</span></mat-error>
        </p>
      </div>-->

      <div class="col-md-4">
        <div>
          <!--*ngIf="ddlControlerDiv==true"-->
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select controller" [formControl]="controllerCtrl" (selectionChange)="oncontrollerroleSelectchanged($event.value);">
              <!--HideShowBtn()-->
              <mat-option>
                <ngx-mat-select-search [formControl]="controllerFilterCtrl" [placeholderLabel]="'Find controller...'"  [noEntriesFoundLabel]="'Controller is not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let emp of filteredcontroller |async " [value]="emp.values">
                {{emp.text}}
              </mat-option>
              <!--<mat-option [value]="0">
                Select
              </mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <button type="button" class="btn btn-info mt-10" (click)="GO();Cancel();">GO </button>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="SearchAssignroleFlage" class="col-lg-12 mb-15">
    <div class="example-card mat-card">

      <div class="col-md-12">
        <div class="col-md-4 select-radio select-lbl">
          <!--<h5><b> Search User By </b></h5>-->
          Select:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="Rdoption" value="PAN" (click)="BindUserListddl('PAN');"> PAN &nbsp;&nbsp;
          <input type="radio" name="Rdoption" value="NAME" (click)="BindUserListddl('NAME');"> Username&nbsp;&nbsp;
          <input type="radio" name="Rdoption" value="EMPCODE" (click)="BindUserListddl('EMPCODE');"> EMPCODE&nbsp;&nbsp;
        </div>
        <div class="col-md-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select" [formControl]="designFilter" required (selectionChange)="SetText($event.value)">
              <mat-option>
                <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Select'" [noEntriesFoundLabel]="'Record not found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let designa of filteredDesignation | async" [value]="designa.text">
                {{designa.text}}
              </mat-option>
              <!--<mat-option [value]="0">
                Select
              </mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary mt-10" (click)="Search(Upan, '', roleName);">Assign role to user</button>
        </div>
      </div>
      <!--<div class="col-md-12">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <mat-form-field class="wid-100">
            <mat-select placeholder="Select" [formControl]="designFilter" required (selectionChange)="SetText($event.value)">
              <mat-option>
                <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Select'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let designa of filteredDesignation | async" [value]="designa.text">
                {{designa.text}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-info" (click)="Search(Upan, '', roleName);">Assign role to user</button>
         </div>
      </div>-->
    </div>

  </div>


  <div *ngIf="GrideAssignroleFlage" class="col-lg-12">
    <div class="example-card mat-card">
      <div class="fom-title">Assign Role to User</div>
      <div class="col-md-12">
        <table mat-table [dataSource]="ArrByPanUserDetaildatasource" matSort class="mat-elevation-z8 even-odd-color">
          <ng-container matColumnDef="firstName">
            ="
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>


          <ng-container matColumnDef="empCd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Code </th>
            <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
          </ng-container>


          <ng-container matColumnDef="pan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pan No </th>
            <td mat-cell *matCellDef="let element"> {{element.pan}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
            <td mat-cell *matCellDef="let element">
              <ng-multiselect-dropdown [placeholder]="'Select Role'" [data]="ArrRoles" [(ngModel)]="SlectedRole" [settings]="dropdownSettings"
                                       (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </td>

          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">

              <button type="button" class="btn btn-success text-center btn-sm" (click)="SaveAssignRoleForUser(element.userID);">Save</button><!--(click)="SaveAssignRoleForUser(i);"-->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>

        </table>

        <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
      </div>
    </div>
  </div>

  <!--Loder-->
  <div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
    <img height="70px" width="70px" src="~/../assets/Loder12.gif">
  </div>
  <!--End Of Loder-->

</div>



