<div class="col-md-12 col-lg-12 mb-30">
  <div class="example-card mat-card">
    <div class="fom-title">Dues & Deduction Details Employee-wise</div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Branch" disabled>
          <mat-option>Select</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Year" disabled>
          <mat-option>2018</mat-option>
          <mat-option>2019</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Month " disabled>
          <mat-option>1</mat-option>
          <mat-option>2</mat-option>
          <mat-option>3</mat-option>
          <mat-option>4</mat-option>
          <mat-option>5</mat-option>
          <mat-option>6</mat-option>
          <mat-option>7</mat-option>
          <mat-option>8</mat-option>
          <mat-option>9</mat-option>
          <mat-option>10</mat-option>
          <mat-option>11</mat-option>
          <mat-option>12</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Pay Commission" disabled>
          <mat-option>4th CPC</mat-option>
          <mat-option>5th CPC</mat-option>
          <mat-option>6th CPC</mat-option>
          <mat-option>7th CPC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Pay Level" disabled>
          <mat-option>1</mat-option>
          <mat-option>2</mat-option>
          <mat-option>3</mat-option>
          <mat-option>4</mat-option>
          <mat-option>5</mat-option>
          <mat-option>6</mat-option>
          <mat-option>7</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <mat-select placeholder="Select Pay Index" disabled>
          <mat-option>1</mat-option>
          <mat-option>2</mat-option>
          <mat-option>3</mat-option>
          <mat-option>4</mat-option>
          <mat-option>5</mat-option>
          <mat-option>6</mat-option>
          <mat-option>7</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-lg-4">
      <mat-form-field class="wid-100">
        <input matInput placeholder="Basic Pay" disabled>
      </mat-form-field>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn">View Draft Salary</button>
    </div>

  </div>
</div>

<!----------------------Dues tab Start-------------------------->

<mat-accordion class="col-md-12">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Dues
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Computational Dues">
        <div class="mat-elevation-z8">
          <table class="table even-odd-color">
            <thead>
              <tr>
                <th>Description of Computational Dues</th>
                <th>Rate</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DA</td>
                <td><input type="text" disabled></td>
                <td><input type="text" disabled></td>
              </tr>
              <tr>
                <td>HRA</td>
                <td><input type="text" disabled></td>
                <td><input type="text" disabled></td>
              </tr>
              <tr>
                <td>TPTA</td>
                <td><input type="text" disabled></td>
                <td><input type="text" disabled></td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Non-Computational Dues">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="even-odd-color">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Description of <br />Non- Computational Dues </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Rate </th>
              <td mat-cell *matCellDef="let element">  <input type="text"> </td>
            </ng-container>
            <ng-container matColumnDef="remark">
              <th mat-header-cell *matHeaderCellDef> remark </th>
              <td mat-cell *matCellDef="let element">  <input type="text"> </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element">  <input type="text"></td>
            </ng-container>
            <ng-container matColumnDef="periodicity">
              <th mat-header-cell *matHeaderCellDef> Periodicity </th>
              <td mat-cell *matCellDef="let element">
                <mat-select placeholder="Select" class="selection-border select-wid">
                  <mat-option>Select</mat-option>
                  <mat-option>Monthly</mat-option>
                  <mat-option>Quarterley</mat-option>
                  <mat-option>Half Yearly</mat-option>
                  <mat-option>Annually</mat-option>
                </mat-select>
              </td>
            </ng-container>
            <ng-container matColumnDef="month">
              <th mat-header-cell *matHeaderCellDef> Month/Months </th>
              <td mat-cell *matCellDef="let element">  <input type="text"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>

<!----------------------Dues tab End-------------------------->
<!----------------------Deductions tab Start-------------------------->
<mat-accordion class="col-md-12 mt-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Deductions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Computational Deductions">
        <table class="table even-odd-color">
          <thead>
            <tr>
              <th>Description of Deductions</th>
              <th>Amount</th>
              <th>PAO Code</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CGHS</td>
              <td><input type="text" disabled></td>
              <td>
                <mat-select placeholder="Select" class="selection-border select-wid" disabled>
                  <mat-option>Select</mat-option>
                  <mat-option>033195</mat-option>
                  <mat-option>033195</mat-option>
                </mat-select>
              </td>
              <td>
                <textarea class="textaria" disabled></textarea>
              </td>
            </tr>

            <tr>
              <td>CGEGIS</td>
              <td><input type="text" disabled></td>
              <td>
                <mat-select placeholder="Select" class="selection-border select-wid" disabled>
                  <mat-option>Select</mat-option>
                  <mat-option>033195</mat-option>
                  <mat-option>033195</mat-option>
                </mat-select>
              </td>
              <td>
                <textarea class="textaria" disabled></textarea>
              </td>
            </tr>

            <tr>
              <td>NPS</td>
              <td><input type="text" disabled></td>
              <td>
                <mat-select placeholder="Select" class="selection-border select-wid" disabled>
                  <mat-option>Select</mat-option>
                  <mat-option>033195</mat-option>
                  <mat-option>033195</mat-option>
                </mat-select>
              </td>
              <td>
                <textarea class="textaria" disabled></textarea>
              </td>
            </tr>

          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Non- Computational Deduction">
        <table class="table even-odd-color">
          <thead>
            <tr>
              <th>Description of Deductions</th>
              <th>Amount</th>
              <th>PAO Code/ PF Agency</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>GPF</td>
              <td><input type="text"></td>
              <td>
                <mat-select placeholder="Select" class="selection-border select-wid">
                  <mat-option>Select</mat-option>
                  <mat-option>033195</mat-option>
                  <mat-option>033195</mat-option>
                </mat-select>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Dedcution-Loans">
        <table class="table even-odd-color">
          <thead>
            <tr>
              <th>Description of Deductions</th>
              <th>Sanctioned Amount</th>
              <th>Total No. of Installments</th>
              <th>Current Month Recovery Amount</th>
              <th>No of Installments completed</th>
              <th>Amount Recovered so far</th>
              <th>PAO Code</th>
              <th>Recovery start month</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Computer Advance</td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td>
                <mat-select placeholder="Select" class="selection-border select-wid">
                  <mat-option>Select</mat-option>
                  <mat-option>033195</mat-option>
                  <mat-option>033195</mat-option>
                </mat-select>
              </td>
              <td><input type="text"></td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>

<!----------------------Deductions tab End-------------------------->
<!----------------------Salary Amount Part Payment  in currencies tab Start-------------------------->
<mat-accordion class="col-md-12 mt-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Salary Amount Part Payment  in currencies
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="col-md-12 text-center mb-15">
      <label class="lbl-input">Net Salary </label><input type="text" disabled>
    </div>
    <table class="table even-odd-color">
      <thead>
        <tr>
          <th>Currency</th>
          <th>Select(if Hard Currency)</th>
          <th>Amount (INR)</th>
          <th>Converted Amount</th>
          <th>Balance Net Payable (INR)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-select placeholder="Select" class="selection-border select-wid">
              <mat-option>Select</mat-option>
              <mat-option>Hard Currency</mat-option>
              <mat-option>Local Currency</mat-option>
            </mat-select>
          </td>
          <td>
            <mat-select placeholder="Select" class="selection-border select-wid">
              <mat-option>Select</mat-option>
              <mat-option>EURO</mat-option>
              <mat-option>UK Pound Sterling</mat-option>
              <mat-option>US Doller</mat-option>
            </mat-select>
          </td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text" disabled></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn">View Draft Salary</button>
      <button type="button" class="btn btn-info">Re-Calculate</button>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-warning">Cancel</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!----------------------Salary Amount Part Payment  in currencies tab End-------------------------->
<!--right table-->

<mat-accordion class="col-md-12 mt-20">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        Salary Summary
      </mat-panel-title>
    </mat-expansion-panel-header>
        <!-- Search -->
        <mat-form-field>
          <input matInput placeholder="Search">
          <i class="material-icons icon-right">search</i>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table class="table even-odd-color">
            <thead>
              <tr>
                <th>Month / Year</th>
                <th>Gross Amount</th>
                <th>Deductions</th>
                <th>Amount Payable</th>
                <th>Net Pay</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>05 / 2019</td>
                <td>39324</td>
                <td>5000</td>
                <td>34324</td>
                <td>34324</td>
              </tr>
              <tr>
                <td>05 / 2019</td>
                <td>39324</td>
                <td>5000</td>
                <td>34324</td>
                <td>34324</td>
              </tr>
              <tr>
                <td>05 / 2019</td>
                <td>39324</td>
                <td>5000</td>
                <td>34324</td>
                <td>34324</td>
              </tr>
              <tr>
                <td>05 / 2019</td>
                <td>39324</td>
                <td>5000</td>
                <td>34324</td>
                <td>34324</td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>

  </mat-expansion-panel>
</mat-accordion>
