<div class="basic-container select-drop-head">
  <div class="row  selection-hed">
    <div class="col-md-3">
      <label class="select-lbl">Pay Bill Group :</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="billCtrl" placeholder="Pay Bill Group" #singleSelect (selectionChange)="BindDropDownDesignation($event.value)" [(value)]="selectedDesign">
            <mat-option>
              <ngx-mat-select-search [formControl]="billFilterCtrl" [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Pay Bill Group is not found'"></ngx-mat-select-search>
            </mat-option>
            <!--<mat-option [value]="0">
              Select
            </mat-option>-->
            <mat-option *ngFor="let emp of filteredBill | async" [value]="emp.billgrId">
              {{emp.billgrDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Designation:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">

          <mat-select [formControl]="designCtrl" placeholder="Find Designation" #singleSelect (selectionChange)="BindDropDownEmployee($event.value)" [(value)]="selectedEmp">
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation...'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
            </mat-option>
            <!--<mat-option [value]="0">
              Select
            </mat-option>-->
            <mat-option *ngFor="let emp of filteredDesign | async" [value]="emp.desigId">
              {{emp.desigDesc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">
      <label class="select-lbl">Employee:</label>
      <div class="col-md-6">
        <mat-form-field class="wid-100">
          <mat-select [formControl]="empCtrl" placeholder="Find Employee" #singleSelect (selectionChange)="SelectedValue($event.value)">
            <mat-option>

              <ngx-mat-select-search [formControl]="empFilterCtrl"
                                     [placeholderLabel]="'Find Employee...'" [noEntriesFoundLabel]="'Employee is not found'"></ngx-mat-select-search>
            </mat-option>
            <!--<mat-option [value]="0">
              Select
            </mat-option>-->
            <mat-option *ngFor="let emp of filteredEmp | async" [value]="emp.empCd">
              {{emp.empName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


  </div>
</div>
