<div class="col-md-12 col-lg-7" [attr.disabled]="disbleflag">
  <mat-card class="example-card emp1-form">
    <div class="fom-title">Employee Details</div>
    <div class="col-md-12 col-lg-12 combo-col-bg">

      <div class="col-md-12 col-lg-8 combo-col3">
        <div class="col-sm-12 col-md-6 col-lg-4 pading-0">
          <label>On Deputation</label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-radio-group [(ngModel)]="getEmpById.isDeput" name="isDeput" (change)="deputChange($event.value)" [disabled]="disbleflag">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>          
          </mat-radio-group>
        </div>
      </div>
    </div>
   
    <form #empDetail="ngForm" novalidate >
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Service Type" [(ngModel)]="getEmpById.serviceType" name="serviceType"
                      #serviceType="ngModel" [disabled]="disbleflag" required (selectionChange)="getEmpServicetype()">
            <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.serviceTypeId">
              {{serviceType.serviceText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!serviceType.errors?.required">Service Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" *ngIf="showAndHideDepuType">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Deputation Type" [(ngModel)]="getEmpById.deputTypeID" name="deputTypeID"
                      #deputTypeID="ngModel" [disabled]="disbleflag" required (selectionChange)="getEmpType()">
            <mat-option *ngFor="let deputationType of deputationTypes" [value]="deputationType.msCddirID">
              {{deputationType.cddirCodeText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!deputTypeID.errors?.required">Deputation Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Type" [(ngModel)]="getEmpById.emp_type" name="emp_type" #emp_type="ngModel"
                      (selectionChange)="getEmployeeSubType()" [disabled]="disbleflag" required>
            <mat-option *ngFor="let employeeType of employeeTypes" [value]="employeeType.msEmpTypeID">
              {{employeeType.codeText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!emp_type.errors?.required">Employee Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Employee Sub-Type" [(ngModel)]="getEmpById.empSubType" name="empSubType"
                      #empSubType="ngModel" [disabled]="disbleflag" required (selectionChange)="getJoiningMode()">
            <mat-option *ngFor="let employeeSubType of employeeSubTypes" [value]="employeeSubType.msEmpTypeID">
              {{employeeSubType.codeText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!empSubType.errors?.required">Employee Sub Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="fom-title">Joining Details</div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Joining Mode" [(ngModel)]="getEmpById.empApptType" name="empApptType"
                      #empApptType="ngModel" (selectionChange)="getJoiningCategory()" [disabled]="disbleflag" required>
            <mat-option *ngFor="let joiningMode of joiningModes" [value]="joiningMode.msEmpTypeID">
              {{joiningMode.joiningText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!empApptType.errors?.required">Joining Mode is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Joining Category" [(ngModel)]="getEmpById.joining_Catogary" required
                      name="joining_Catogary" #joining_Catogary="ngModel" [disabled]="disbleflag">
            <mat-option *ngFor="let joiningCatg of joiningCategory" [value]="joiningCatg.msEmpTypeID">
              {{joiningCatg.joiningText | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!joining_Catogary.errors?.required">Joining Category is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOJ" (click)="DOJ.open()" [(ngModel)]="getEmpById.empJoinDt " name="empJoinDt" #empJoinDt="ngModel" [max]="maxDate"
                 placeholder="Date of Joining:(In Current Ministry/ Controller )" readonly [disabled]=disbleflag required (dateChange)="setReguDate($event.value)">
          <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
          <mat-datepicker #DOJ></mat-datepicker>
          <mat-error>
            <span [hidden]="!empJoinDt.errors?.required">Joining Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOR" (click)="DOR.open()" [min]="getEmpById.empJoinDt" [(ngModel)]="getEmpById.regularisationDate " name="regularisationDate"
                 placeholder="Date of Regulisation" readonly [disabled]=disbleflag>
          <mat-datepicker-toggle matSuffix [for]="DOR"></mat-datepicker-toggle>
          <mat-datepicker #DOR></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOL" (click)="DOL.open()" [min]="getEmpById.lastDateIncrement" [(ngModel)]="getEmpById.lastDateIncrement " name="lastDateIncrement"
                 #lastDateIncrement="ngModel" placeholder="Date of Last Increment" readonly [disabled]=disbleflag required>
          <mat-datepicker-toggle matSuffix [for]="DOL"></mat-datepicker-toggle>
          <mat-datepicker #DOL></mat-datepicker>
          <mat-error>
            <span [hidden]="!lastDateIncrement.errors?.required">Date of Last Increment is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Time of Joining" [(ngModel)]="getEmpById.regularisationTime" name="regularisationTime"
                      #regularisationTime="ngModel" [disabled]="disbleflag" required>
            <mat-option value="ForeNoon">ForeNoon </mat-option>
            <mat-option value="AfterNoon">AfterNoon </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!regularisationTime.errors?.required">Joining Time is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="DOFJ" (click)="DOFJ.open()" [(ngModel)]="getEmpById.empEntryDt" #empEntryDt="ngModel" [max]="maxDate"
                 name="empEntryDt" placeholder="Date of First Joining:  (In Govt. Service)" readonly [disabled]=disbleflag required>
          <mat-datepicker-toggle matSuffix [for]="DOFJ"></mat-datepicker-toggle>
          <mat-datepicker #DOFJ></mat-datepicker>
          <mat-error>
            <span [hidden]="!empEntryDt.errors?.required">Entry Date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-8 combo-col mat-form-field-wrapper">
        <div class="col-sm-12 col-md-6 col-lg-6 pading-0"><label>Upload supporting documents (For Joining)</label></div>
        <div class="col-sm-12 col-md-6 col-lg-5">
          <input type="file" accept="application/pdf" #file name="file" (value)="getEmpById.documentUpload"   class="w-100" [disabled]="disbleflag" (change)="change()">
          <h6 style="color:red">{{msg}}</h6>
          {{getEmpById.documentUploadName}}
        </div>
        <div class="col-md-12 col-lg-1"><a class="material-icons" *ngIf=disbleflagdownload (click)="DownloadFile()">vertical_align_bottom</a></div>
      </div>

      <div class="fom-title">Personal Details</div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Salutation" [(ngModel)]="getEmpById.empTitle" name="empTitle"
                      #empTitle="ngModel" [disabled]=disbleflag required>
            <mat-option *ngFor="let salutation of salutations" [value]="salutation.cddirCodeValue">
              {{salutation.cddirCodeText}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!empTitle.errors?.required">Employee Title is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="First Name" [(ngModel)]="getEmpById.empFirstName" name="empFirstName"
                 #empFirstName="ngModel" required [disabled]=disbleflag class="width-fill" (keydown.space)="$event.preventDefault();"
                 maxlength="50" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
          <mat-error>
            <span [hidden]="!empFirstName.errors?.required && empFirstName.dirty">First Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Middle Name" [(ngModel)]="getEmpById.empMiddleName" name="empMiddleName" (keydown.space)="$event.preventDefault();" [disabled]="disbleflag" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" maxlength="50">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Last Name" [(ngModel)]="getEmpById.empLastName" name="empLastName" #empLastName="ngModel" [disabled]=disbleflag required (keydown.space)="$event.preventDefault();"
                 onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" maxlength="50">
          <mat-error>
            <span [hidden]="!empLastName.errors?.required && empLastName.touched">Last Name is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Gender" [(ngModel)]="getEmpById.empGender" name="empGender"
                      #empGender="ngModel" [disabled]="disbleflag" required>
            <mat-option value="M">Male </mat-option>
            <mat-option value="F">Female </mat-option>
            <mat-option value="T">Other </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!empGender.errors?.required">Gender is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput (click)="DOB.open()" [matDatepicker]="DOB" placeholder="Date of Birth" [max]="ageLimit"
                 [(ngModel)]="getEmpById.empDOB" name="empDOB" readonly [disabled]=disbleflag required #empDOB="ngModel">
          <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
          <mat-datepicker #DOB></mat-datepicker>
          <mat-error>
            <!--<span [hidden]="!empDOB.errors?.required && empDOB.touched">Date of birth is required</span>-->
            <span [hidden]="!empDetail.form.invalid">Date of birth is required</span>
            <!--<mat-error *ngIf="empDOB.hasError('matDatepickerMax')">Date should be inferior</mat-error>-->

          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Designation" [(ngModel)]="getEmpById.msDesigMastID" name="msDesigMastID"
                      #msDesigMastID="ngModel" [disabled]="disbleflag" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="designFilterCtrl" [placeholderLabel]="'Find Designation'" [noEntriesFoundLabel]="'Designation is not found'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let desig of filteredDesignation | async " [value]="desig.desigID">
              {{desig.desigDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!msDesigMastID.errors?.required">Designation is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="PAN NO." maxlength="10" minlength="10" [(ngModel)]="getEmpById.emp_pan_no" name="emp_pan_no" [disabled]=disbleflag required #emp_pan_no="ngModel"
                 class="upperCase" pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]$" (keydown.space)="$event.preventDefault();" autocomplete="off" (paste)="$event.preventDefault()">
          <!--<mat-hint align="end">{{emp_pan_no.value.length}}/10</mat-hint>-->
  <!--<mat-error>
    <span [hidden]="!empDetail.form.invalid">Date of birth is required</span>
  </mat-error>-->
          <mat-error>
            <span *ngIf="emp_pan_no.errors?.required">PAN no is required</span>
          </mat-error>
            <!--<span [hidden]="emp_pan_no.valid || submitted"></span>-->
            <!--<span [hidden]=" emp_pan_no.pristine"></span>-->
            <!--<span *ngIf="!emp_pan_no?.valid && (emp_pan_no?.dirty || emp_pan_no?.touched)"></span>-->

        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Department Code" [(ngModel)]="getEmpById.departmentCD" name="departmentCD" [disabled]=disbleflag maxlength="20">
        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="disableForwardflag">
        <button type="submit" class="btn btn-success" (click)="empDetail.onSubmit() ; empDetail.valid && InsertUpdateEmployeeDetails( file.files);" [disabled]="disbleflag || isLoading" ><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{buttonText}}</button>
        <button type="button" class="btn btn-warning" (click)="ResetForm();">Cancel</button>

        <button type="submit" class="btn btn-warning" (click)="empDetail.onSubmit() ; empDetail.valid && deletepopup = !deletepopup" [disabled]=disbleflag>Submit && Forword To HOO Checker</button>

      </div>

      <div class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="!disableForwardflag">
        <button type="button" class="btn btn-warning" [disabled]="!btnchecker" (click)="approvedRejected('V'); deletepopup = !deletepopup ">Approved</button>
        <button type="button" class="btn btn-warning" [disabled]="!btnchecker" (click)="approvedRejected('R');  deletepopup = !deletepopup">Reject</button>

      </div>

    </form>
  </mat-card>
</div>

<!--right table-->
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card tabel-wraper emp1-table" >
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table #myTable mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color" [trackBy]="trackById">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="empDOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.empDOB | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="empJoinDt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Joining </th>
        <td mat-cell *matCellDef="let element"> {{element.empJoinDt | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="EmpVerifFlag">
        <th mat-header-cell *matHeaderCellDef>Status </th>
        <td mat-cell *matCellDef="let element">
          <label *ngIf="element.empVerifFlag == 'E'" >Entry</label>
          <label *ngIf="element.empVerifFlag == 'U'" >Entry Updated</label>
          <label *ngIf="element.empVerifFlag == 'F'">Sent to Checker</label>
          <label *ngIf="element.empVerifFlag == 'V'" >Verified</label>
          <label *ngIf="element.empVerifFlag == 'R'">Rejected</label>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <a class="material-icons i-info" matTooltip="Info" (click)="getEmployeeById(element,1)">error</a>
          <span *ngIf="disableForwardflag">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="getEmployeeById(element,0)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="openDialog(element.empCd);deletepopup1 = !deletepopup1"> delete_forever </a>
          </span>

        </td>
      </ng-container>

      <!--<ng-container matColumnDef="fr">
        <th mat-header-cell *matHeaderCellDef> Family Rel. </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field color="warn" appearance="outline">
            <mat-label>Service Type</mat-label>
           <mat-select  [(ngModel)]="getEmpById.serviceType" name="serviceType"
                      #serviceType="ngModel" [disabled]="disbleflag" required (selectionChange)="getEmpServicetype($event.value)">
            <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.serviceTypeId">
              {{serviceType.serviceText | titlecase}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </td>
      </ng-container>-->



      <!--<tr *ngIf="dataSource?.length< 0">
    <td colspan="3" class="no-data-available">No data!</td>
  </tr>-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div [hidden]="notFound">
      no data found
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
  </div>
 
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">{{popUpMsg}}</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="disableForwardflag">
      <button type="button" class="btn btn-info center" (click)=" forwordToChecker( file.files);">Save</button>
     
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>

    </div>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper" *ngIf="!disableForwardflag">
      <span *ngIf="!showRemark">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Remark" [(ngModel)]="getEmpById.empRemark" name="empRemark" #empRemark="ngModel">
          <mat-error>
            <span [hidden]="!empRemark.errors?.required && empRemark.touched">remark is required</span>
          </mat-error>
        </mat-form-field>
      </span>
      <button type="button" class="btn btn-info center" (click)=" verifyRejectEmpDtls();">Save</button>
      
    </div>

  </div>
</app-dialog>


<app-dialog [(visible)]="deletepopup1">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deleteEmployeeById();">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup1 = !deletepopup1">Cancel</button>
    </div>

  </div>
</app-dialog>
<!--<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [matDatepickerFilter]="dateFilter" (dateChange)="getDateOfDay($event.value);">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
</mat-form-field>-->
