/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import'app/font-icon/material-icons.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7 !important;
}

.basic-container {
  /*padding: 5px;*/
  padding: 0px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
/*Header*/
.head-bg {
  /*background: #292c5f;*/
  /*background: #3268ab;*/
  padding: 7px 0;
  box-shadow: 0px 6px 2px -3px rgba(0,0,0,0.75);
  /*header Gradient Color*/
  background: #053960; /* Old browsers */
  background: -moz-linear-gradient(top, #053960 0%, #195695 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #053960 0%,#195695 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #053960 0%,#195695 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053960', endColorstr='#195695',GradientType=0 ); /* IE6-9 */
}

.logo {
  width: 50%;
  margin-top: 14px;
  padding: 0 16px;
  float: left;
}

  .logo img {
    float: left;
    margin-right: 17px;
  }

  .logo h1 {
    color: #f1914b;
    /*color: #f9c448;*/
    font-size: 170%;
    font-family: initial;
    font-weight: 700;
    margin: auto;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .logo span {
    color: #fff;
    font-size: 132%;
    margin-top: 6px;
    float: left;
  }

.emblem img {
  max-width: 50px;
  float: left;
}


/*left nav*/
/* .mat-sidenav {  background: #021c4d;} */

.mat-sidenav {
  width: 300px;
  /*background-image: url('./assets/bgg.jpg');  
  border: none;*/
}


  .mat-sidenav:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #3d3f6f;*/
    /*background-color: #3268ab;*/
    background: #e8e8e8;
    opacity: 0.9;
  }


.mat-sidenav-container {
  height: 100%;
  clear:both;
  min-height:868px;
}

.sidenav-toolbar {
  height: 64px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 260px;
  position: fixed;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);
  transition: all .5s cubic-bezier(.685,.0473,.346,1);
}

.app-nav-menu > li {
  float: left;
}

.mat-list-base .mat-list-item {
  color: #125083;
}

.mat-list-item-content .mat-icon {
  margin-right: 4px;
  font-size: 18px;
  margin-top: 7px;
  color: #db6e11;
}

.mat-drawer-container, .mat-drawer {
  padding-top: 0px !important;
}
.mat-drawer-container{overflow:inherit !important;}






/*Main Page(Dashboard)*/
.main-background {
  background-image: url('./assets/main-bg.jpg');
  height: 100vh;
  background-size: cover;
}


/*Cards 28-11-18*/
.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  margin-top: 30px;
  padding: 0 20px 20px 20px;
}

  .card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 25px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
  }

  .card .card-header-warning .card-icon {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
  }

  .card .card-header-success .card-icon {
    background: linear-gradient(60deg,#66bb6a,#43a047);
  }

  .card .card-header-danger .card-icon {
    background: linear-gradient(60deg,#ef5350,#e53935);
  }

  .card .card-header-info .card-icon {
    background: linear-gradient(60deg,#26c6da,#00acc1);
  }

  .card .card-icon i {
    color: #fff
  }

.card-icon i {
  font-size: 36px;
}

.card p.card-category {
  text-align: right;
  font-size: 14px;
  color: #999;
  padding-top: 14px;
}

.card h3 {
  text-align: right;
  color: #999;
  margin: 0;
}

.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

  .card-footer .stats {
    color: #999;
    font-size: 12px;
  }

.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
  padding-top: 10px;
}

/*Chart*/
.graph-body {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.mat-drawer-content {
  /*background-image: url('./assets/main-bg.jpg');
  height: 100vh;
  background-size: cover;*/
  background: #f7f7f7;
  height: auto !important;
  
}

.breadcrumb {
  background-color: #eeeeee !important;
  border-radius: 0 !important;
  border-left: 7px solid #323232;font-weight:bold;
}

/*15/jan/18*/
.mat-step-header {
  width: 220px;
  float: left;
  border-right: 1px solid #e4e4e4;
}

  .mat-step-header:hover {
    background-color: #cfcdd8;
  }

.mat-step.ng-tns-c11-2.ng-star-inserted {
  width: 100%;
  float: left;
}

.mat-vertical-content-container {
  width: calc(100% - 270px);
  margin-left: 0 !important;
  top: 204px;
  position: absolute !important;
  left: 270px;
}

.detail_one {
  width: 55%;
  float: left;
  max-width: 100% !important;
}

.detail_two {
  width: 42%;
  float: left;
  margin: 0 !important;
}

.w-100 {
  width: 100%;
}

.mat-stepper-vertical-line::before {
  border-left-style: none !important;
}

.mr-25 {
  margin-right: 25px !important;
}
/*31/jan/19*/
.btn-bg {
  background: #e7e8ef;
  border: 1px solid #e4dcdc;
}

.mat-vertical-stepper-header {
  padding: 17px 25px !important;
}

/*04-2-19*/
.wid-100 {
  width: 100% !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.fom-title {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
  border-bottom: 1px solid #adadad;
  padding-bottom: 10px;
  /*background: #d5ebe8;*/
  background: #2468b3;
  padding: 9px 0 5px 13px;
  clear: both;
  width: 100%;
  /*margin-top: 15px;*/
  float: left;
}

.combo-col {
  padding-top: 20px;
  padding-bottom: 6px;
}

.mat-card {
  box-shadow: none;
  border: 1px solid #cccccc !important;
  width: 100%;
  float: left;
  /*background: #f0f7f6;*/
  background: #fff;
  padding: 16px;
}

.select-lbl {
  margin-top: 18px;
}

.selection-hed {
  /*background-color: #e4e4e4;*/
  background-color: #e9f3ff;
  border-left: 6px solid #2468b3;
  margin-bottom: 10px;
  padding: 8px 0 6px 0;
  border-top: 1px solid #b4cfec;
  border-right: 1px solid #b4cfec;
  border-bottom: 1px solid #b4cfec;
}

.go-btn {
  box-shadow: none !important;
  margin-top: 10px !important;
}

.pading-0 {
  padding: 0 !important;
}

mat-radio-group > mat-radio-button:nth-child(1) {
  margin-right: 15px;
}

.radio_btn_gender mat-radio-group > mat-radio-button:nth-child(2) {
  margin-right: 15px;
}

.mat-radio-label-content {
  font-weight: normal;
}

.dialog__close-btn {
  top: 12px !important;
  right: 12px !important;
}

.i-info {
  margin-right: 6px;
  color: #696969;
  font-size: 21px;
}

.i-edit {
  margin-right: 6px;
  color: #20a32a;
  font-size: 21px;
  cursor: pointer;
}

.i-delet {
  color: #ef4b4b;
  font-size: 23px;
  cursor: pointer;
}

.i-activate {
  color: #12ab33;
  font-size: 21px;
  cursor: pointer;
  margin-right: 6px;
  width: 21px;
}

.i-dactivate {
  color: #ea1b1b;
  font-size: 21px;
  cursor: pointer;
  margin-right: 6px;
  width: 21px;
}

.i-activate:focus, .i-activate:hover {
  text-decoration: none;  
}


.mat-header-cell {
  font-size: 15px;
  font-weight: 600;
  color: #0a0a0a;
}

.btn {
  margin: 0 10px;
  min-width: 64px;
}

.btn-wraper {
  margin-top: 25px;
}
/*22-2-19*/
.gender-mr {
  margin-right: 15px;
}

.popupbox .mat-form-field-infix {
  width: 100% !important;
}

.even-odd-color tr:nth-child(even) {
  background: #e9f4fb;
}

.border-non {
  border: none !important;
}

/*Check Box*/
.checkbox .mat-list-text {
  color: #000 !important;
}

.checkbox .mat-list-option {
  display: inline-block !important;
  width: auto !important;
}

.checkbox .mat-list-item-content-reverse {
  padding: 0 5px !important;
}
/*14-3-19*/
.declaration-fom {
  width: 100%;
  float: left;
}

  .declaration-fom > ul > li {
    display: flex;
    margin-bottom: 12px;
  }

ol.lower-roman > li {
  list-style-type: lower-roman;
  margin-bottom: 15px;
}

ol.lower-roman {
  margin-top: 10px;
}

.dispp-block {
  display: block !important;
}

.declaration-fom > ul > li > mat-checkbox {
  margin-right: 10px;
}

.declaration-fom span {
  font-size: 17px;
}

.declaration-fom {
  background: #f1fbf0;
  border-style: dotted;
  border-color: #d8ded7;
}

.combo-col-2 {
  padding-top: 20px;
  padding-bottom: 13px;
}
.combo-col-3 {
  padding-top: 20px;
  padding-bottom: 0px;
}
/*upload file*/
.upload-file-label {
  width: auto;
  float: left;
  margin-right: 5px;
}

.check-list-opt {
  height: 7px !important;
  clear: both !important;
}

.float-left {
  float: left;
}
/*28-03-2019*/
.select-type {
  background: #e8f7de;
  border: 1px #b3c5a6;
  border-style: dashed;
  padding: 7px 10px 0px 11px;
  margin-bottom: 15px;
}

.icon-right {
  position: absolute;
}

/*02-04-2019*/
.even-odd-color {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mat-table {
  width: 100%;
}

.mat-step.ng-star-inserted {
  width: 100%;
  float: left;
}

.tabel-wraper { /*max-height: 550px;width: 550px;*/
  overflow: auto;
  max-height: 735px;
}

  .tabel-wraper table {
    min-width: 500px;
  }

  .tabel-wraper tr > td {
   min-width: 105px;
  }

  /* width */
  .tabel-wraper::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  /* Track */
  .tabel-wraper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .tabel-wraper::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }

    /* Handle on hover */
    .tabel-wraper::-webkit-scrollbar-thumb:hover {
      background: rgba(0,0,0,.2);
    }

.emp2-head {
  width: 100%;
  float: left;
}
/**/
.peragraph-input {
  width: auto;
  float: left;
  padding: 16px 4px 10px 0px;
}

@media only screen and (max-width: 1627px) and (min-width: 1580px) {
  .peragraph-input {
    padding: 16px 9px 0 9px;
  }
}

@media only screen and (max-width: 1755px) and (min-width: 1628px) {
  .peragraph-input {
    padding: 16px 0 13px 0;
  }
}

/*checkbox suspensiondetail*/
.order-checkbox {
  float: left;
  padding: 0;
  margin: 0px 0 6px 0 !important;
}

.attach-dattach-wraper {
  margin: 25px 0;
}

.attach-btn {
  background: #3c5b76;
  color: #fff;
  margin-right: 17px !important;
}

.dattach-btn {
  background: #4cb39b;
  color: #fff;
}

.pading-16 {
  padding-top: 16px;
}

.display-non {
  display: none;
}

/*form*/
.form-wraper {
  background: #edf0f1d9;
}

.breadcrumb > li > a {
  color: #347ab6;
  font-weight: 600;
}
/*Manoj pal 15-5-19*/
.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}
/*Employee1*/
.emp1-form {
  max-height: 790px;
  height: 790px;
  /*background: #f0f7f6;*/
}

.emp1-table {
  max-height: 790px;
  height: 790px;
}

.delete-leave-btn {
  padding: 2px 0 0 0 !important;
  margin: auto;
  min-width: 34px !important;
  margin-bottom: 12px !important;
}
/*07-2-19*/
.material-icons {
  cursor: pointer;
}
/*13-3-19*/
.leave-wraper {
  width: 100%;
  float: left;
  background: #f9f9f9;
  border: 1px solid #d9dcdb;
  margin: 10px 0px 25px 0;
  padding: 16px 0;
}

.add-leave-icon {
  float: left;
  margin-right: 11px;
}

.add-leave-btn {
  padding: 2px 0 0 0 !important;
  margin: auto;
  min-width: 34px !important;
  margin-bottom: 12px !important;
  margin-right: 10px;
  /*line-height: 23px !important;
  margin-bottom: 15px !important;
  margin-right: 0;
  border: none !important;
  background-color: #504b71 !important;
  color: #fff !important;*/
}

  /*.add-leave-btn:hover {
    background: #746da0 !important;
  }*/

.text-right {
  text-align: right;
}

.line-height-57 {
  line-height: 57px;
}
/*Nav Active Hover*/
.menu-list-item.mat-list-item.active {
  background: #f7f7f7 !important;
  color: #000;
  font-weight: bold;
  z-index: 1111;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}

.select-drop-head {
  margin: 0 30px;
}

.select-lbl {
  float: left;
  font-size: 17px;
  color: #404040;
  font-weight: bold !important;
}

.require-field-position {
  top: 0;
  position: absolute;
  right: 71px;
  font-size: 11px;
}

.commutation-table {
  padding: 5px;
  border: 1px solid #889492;
}

  .commutation-table > tbody > tr {
    line-height: 31px;
  }

    .commutation-table > tbody > tr > td {
      padding-left: 5px;
    }

      .commutation-table > tbody > tr > td > th {
        padding-left: 5px;
      }

.btn-search {
  background: #28a745;
  border: none;
  color: white;
  padding: 6px 12px 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
  margin-left: 18px;
}

  .btn-search:hover {
    background-color: #10902d;
  }

@media only screen and (max-width: 1727px) and (min-width: 1200px) {

  .btn-search {
    padding: 3px 8px 3px 8px;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 0;
  }
}
/*17-06-19*/
.add-del-btn {
  padding: 0 !important;
  margin-top: 10px;
}

.tabel-form > tbody > .table-head {
  /*line-height: 17px;*/
  background: #4671a9;
  color: #fff;
}

.tabel-form > tbody > tr > th {
  padding-left: 9px;
  padding: 4px !important;
}

/*.tabel-form > tbody > tr > td {
  line-height: 35px;
 *padding-left: 9px;
  padding-right: 5px;
}*/

.tabel-form > tbody > tr:nth-child(even) {
  background: #fff;
}

/**/
label {
  font-weight: normal !important;
  font-size: inherit;
  color: #7d7d7d;
}
/*20-06-2019*/
.mat-list-base .mat-list-item {
  font-size: 15px;
  border: 1px solid #c3c3c3;
}

.action-single-btn {
  text-align: center;
  line-height: normal !important;
  margin: 0;
  padding: 0;
}
/*25-06-2019*/
span.btn-label {
  position: relative;
  left: -12px; /* display: inline-block; */
  padding: 8px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.margin-0 {
  margin: 0px;
}

h4.card-title.text-center {
  margin-bottom: 40px;
}

.margin-top-10px {
  margin-top: 10px;
}

.tabel-total {
  font-weight: 600;
  font-size: 15px;
}

/*.recovery-tabel > tbody > tr > td:last-child {
  text-align: center;
}*/
.upload-container {
  margin-bottom: 19px;
  margin-top: 10px;
  padding-left: 0 !important;
}


/*SHOWING LOADING*/
.LoadingBar {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 2147483647 !important;
  opacity: 0.8;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /*padding-top: 20%;*/
  /*background-image: url('../../Images/Loader.gif');*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000000;
  filter: alpha(opacity=40);
}

.LoadBusy {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%; /*background-color:#666;*/
  /*background-image: url('../../Images/Loader.gif');*/
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
/*END OF SHOWING LOADING*/

/*28-05-2019*/
.view-btn {
  background: #4299ed;
  color: #fff;
  padding: 6px 15px 6px 15px;
  height: auto;
  margin: 0;
  line-height: normal;
  border-radius: 4px;
  border: none;
}
/*01-07-19*/

.tbl-input > tbody > tr > td > input {
  width: 100%;
}

.add-list {
  background: #2ec48d !important;
  border: none !important;
}

.remove-list {
  background: #f35b21 !important;
  border: none !important;
}

.add-list:hover {
  background: #28aa7b !important;
}

.remove-list:hover {
  background: #d44e1b !important;
}

.float-r {
  float: right;
}

/*.dialog-wraper {
}*/

/*09-07-2019
.login-left {height: 100vh;  background: #3268ab;}
.login-emblem {
  background-image: url('./assets/emblem-login.png');
  background-repeat: no-repeat;
  height: 294px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:600px; 
}
  */

/*30-07-2019*/
ul.profile-info {
  float: left;
  width: 100%;
  color: #ff6600;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

span.profile-tittle {
  float: left;
  width: 100%;
  color: #ff6600;
  font-size: 19px;
  margin-bottom: 30px;
  font-weight: 600;
  padding-left: 10px;
  border-left: 5px solid #ff6600;
  margin-top: 30px;
}

ul.profile-info {
  margin: auto;
  list-style: none;
  padding: 0;
}

li.detail-heading {
  color: #5f5e5f;
  font-size: 16px;
  margin-bottom: 40px;
  width: 50%;
  float: left;
}

li.detail-info {
  color: #a2a2a2;
  font-size: 16px;
  font-weight: normal;
  width: 50%;
  float: left;
}

.bg-w {
  border-bottom: 1px solid #eee;
  padding: 25px 0 25px 0;
}

.bg-g {
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  padding: 25px 0 25px 0;
}

.profile-card {
  -webkit-box-shadow: 0px 0px 3px -1px rgb(158, 148, 148);
  -moz-box-shadow: 0px 0px 3px -1px rgb(158, 148, 148);
  box-shadow: 0px 0px 3px -1px rgb(158, 148, 148);
  width: 100%;
  float: left;
  margin-bottom: 20px;
  width: 100%;
  background: #fff;
}

.profile-wraper {
  padding: 0;
  border-right: 1px solid #eee;
}

.border-l {
  border-left: 1px solid #eee;
}

.profile-img {
  text-align: center;
  padding-top: 60px;
}

  .profile-img > img {
    background: #c6c6c7;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.left-profile {
  margin-top: 25px;
  margin-left: 75px;
}

  /*.left-profile > ul.profile-info > li.detail-heading {
  }*/
/*table th, table td {
  padding: 5px !important; /* Apply cell padding 
}*/

/*02-08-19   NG Recovery for all Employees TREE*/
.all-emp-tree > .mat-tree-node {
  display: table;
  align-items: center;
  min-height: 48px;
  flex: 1;
  /* overflow: hidden; */
  word-wrap: break-word;
}
/*7-8-19*/
/*.accordion-wrap {
  display: inline-block;
  width: 100%;
}*/
/*8-8-19*/
.tab-tr-bg {
  width:100%;  
}
.tab-tr-bg th{  
  background: #eee;
}
.tab-th {
  padding: 10px 5px 10px 8px;
}

.table-title {
  float: left;
  text-align: center;
  width: 100%;
  background: #2f5484;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #a7a7a7;
}

.mt-40 {
  margin-top: 40px;
}
 /*02-09-2019*/

.margin-t-b-20px { margin: 20px 0;}
.view-detail-btn { background: #c49663; color: #fff;}
  .view-detail-btn:hover {
    color: #fff !important;
    background: #ad7d48;
  }
.view-btn-wraper {
  margin: 40px 0;
}
.close-icon{margin-right:5px; float:right;}
.note {
  background: #fff6cc;
  border: 1px solid #dfd9d9;
  padding: 7px;
  margin-bottom: 10px;
}
.note > span {  display: block;  font-size: 20px;}


/*Start css for accordion on click 16-9-2019*/

  .panel-header, .panel-header:active, .panel-header:hover, .panel-header:visited {
  color: #fff !important;  background: #2468b3 !important;  padding: 10px 20px 10px 10px !important;  font-size: 14px; height:auto !important;}
  .panel-header:active {   background-color: #2468b3  }
  .panel-header:hover {  background-color: #2468b3 !important;  }
  .panel-header:visited { background-color: #2468b3 !important;  }
.mat-expansion-indicator::after {
  color: #fff ;
}
  .acordion-heading{color:#fff; font-weight:bold;}
.btm-m15{margin-bottom:15px;}

/*End css for accordion on click 16-9-2019*/
/*24-09-19*/
.select-radio{font-weight:600;}
.mt-10{margin-top:10px;}
.pt-10{padding-top:10px;}

/*30-9-2019*/
.multi-radio-btn > mat-radio-button { margin-right: 25px !important;}
.radio-btn-lbl {  font-weight: bold !important;}
.padLeave{
  width: 100%
}
  /*.padLeave th, td{
    padding: 5px 2px 5px 0px;
    padding-left:10px!important;
  }*/


/*16-10-19*/
.ml-0{margin-left:0px !important;}
.div-center {
  width: 50%;
  margin: 0 auto;
  margin-top:10%;
  padding-top:15px;
}
/*18-10-19*/
td > input {
  border: 1px solid #d2cccc;
  padding-left: 3px;
}
.mt-20{margin-top:20px;}

/*05-11-19*/
.checkbox-wraper > mat-checkbox {display:block}
.checkbox-wraper {
  background: #fdfbe4;
  padding: 10px 20px;
  border: 1px solid #eee;
}

/*15-11-19*/
label.mat-form-field-label {
  color: #4f525f !important;
  font-size: 14px !important;  
}
.mat-tab-label-active { background: #e3e3e3;}

/*Responsive css*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  .mat-accordion {
    float: left;
    width: 100%;
    margin-bottom:10px;
  }
}
.textalert {
  color:red!important;
  padding:5px!important;
}

tr.mat-row > td {
  padding-right: 15px;
}


/*Media Queries form header*/

@media only screen and (max-width:320px) {
  .logo { width: 100%;}
  .logo img {width: 20%; }
  .logo h1 {font-size: 100%;}
  .logo span {font-size: 85%; float: right; margin-top: 0;}
  .emblem img {display: none; }
  .user {width: 100% !important;}
  .photo img { height: 20px !important; width: 20px !important;}
  button.user-profile.mat-icon-button {  margin-top: -10px !important; }
}

@media only screen and (min-width : 321px) and (max-width : 480px) {
  .logo { width: 100%;}
  .logo img { width: 20%; }
  .logo h1 { font-size: 100%; }
  .logo span {font-size: 85%; margin-top: 0; }
  .emblem img { display: none; }
  .user { width: 100% !important;}
  .photo img { height: 20px !important; width: 20px !important; }
  button.user-profile.mat-icon-button { margin-top: -10px !important; }
  }


  @media only screen and (min-width : 481px) and (max-width : 568px) {
   .logo { width: 100%;}
  .logo img { width: 20%; }
  .logo h1 { font-size: 150%; }
  .logo span {font-size: 127%; margin-top: 0; }
  .emblem img { display: none; }
  .user { width: 100% !important;}
  .photo img { height: 20px !important; width: 20px !important; }
  button.user-profile.mat-icon-button { margin-top: -10px !important; }
  }

    @media only screen and (min-width : 481px) and (max-width : 568px) {
   .logo { width: 100%;}
  .logo img { width: 20%; }
  .logo h1 { font-size: 150%; }
  .logo span {font-size: 127%; margin-top: 0; }
  .emblem img { display: none; }
  .user { width: 100% !important;}
  .photo img { height: 20px !important; width: 20px !important; }
  button.user-profile.mat-icon-button { margin-top: -10px !important; }
  }
      @media only screen and (min-width : 481px) and (max-width : 568px) {
   .logo { width: 100%;}
  .logo img { width: 20%; }
  .logo h1 { font-size: 150%; }
  .logo span {font-size: 127%; margin-top: 0; }
  .emblem img { display: none; }
  .user { width: 100% !important;}
  .photo img { height: 20px !important; width: 20px !important; }
  button.user-profile.mat-icon-button { margin-top: -10px !important; }
  }

@media only screen and (min-width : 569px) and (max-width : 731px) {
  .logo { width: 64%; margin-top:3px;}
  .logo img {width: 20%; margin-top:5px; }
  .logo h1 {font-size: 130%; }
  .logo span {font-size: 110%;  margin-top: 0; }
  .emblem img { display: none;}
  .user { width: 35% !important; padding:9px 16px 0 0 !important; }
  .photo img {height: 20px !important; width: 20px !important; }
  .photo { margin-right: 6px !important; margin-top: 5px !important;  }
  button.user-profile.mat-icon-button { margin-top: -4px !important; }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .logo {   width: 55%;  margin-top: 3px; }
  .logo img { width: 20%;  margin-top: 5px; }
  .logo h1 { font-size: 130%; }
  .logo span { font-size: 110%; margin-top: 0; }
  .emblem img { max-width: 28px;}
  .user { width: 35% !important;padding: 9px 16px 0 0 !important; }
  .photo img {height: 20px !important; width: 20px !important; }
  .photo { margin-right: 6px !important; margin-top: 5px !important; }
   button.user-profile.mat-icon-button { margin-top: -4px !important; }

}






  /*side on click*/
  .box_dn {
    float: right;
    overflow: hidden;
    background: #fcf8e3;
    display: none;
  }

  .box_db {
    float: right;
    overflow: hidden;
    background: #fcf8e3;
  }
  /* Add padding and border to inner content
    for better animation effect */
  .box-inner {
    width: 700px;
    padding: 10px;
    border: 1px solid #a29415;
  }

  .note-slide[_ngcontent-c10] {
    background: #ffb400;
    border: none;
    /*color: #fff !important;*/
    padding: 5px 0 0 0;
    margin: auto;
  }

  .note-wraper {
    position: fixed;
    right: 0;
    z-index: 999;
    top: 17%;
  }

  .mat-expansion-indicator::after {
    color: #fff !important;
  }

  .note-slide > span {
    margin: 2px 7px 0 0;
    clear: both;
    float: right;
  }



  /*table header text center*/
  .mat-sort-header-button {
    text-align: left;
  }
  /*for remark max height*/
  textarea {
    max-height: 19px;
  }

  .table2 tr td {
    padding: 10px;
  }

  .table2 th {
    padding: 15px !important;
  }

  .brd0 {
    border: 0px !important;
  }

  .txtred {
    color: #f44336;
    font-size: 11px;
  }

  tr.mat-row > td {
    word-break: break-all;
    max-width: 110px;
  }

  body {
    overflow: auto;
  }

/*CSS for Inside the table*/

textarea {
  max-height: 35px !important;
}

.padLeave thead tr {
  height: 56px;
}

.padLeave tbody tr {
  height: 48px;
}

/*.padLeave td {
}*/

.padLeave th {
  background: #e3e3e3;
}


.padLeave td:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

.tbl-2 {
  width: 20% !important;
  padding: 10px 5px 10px 8px !important;
}

.td-padding {
  padding: 10px 5px 10px 8px !important;
}


tr .tbl-2:first-child {
  padding-left: 14px !important;
}


/*06-01-19*/
.button-n-p button { background: #4e6e76; color: #fff;padding: 6px 16px; border-radius: 4px; box-shadow: none; border: none; margin: 0 10px 0 0px;}
.button-n-p button:first-child {margin-left:60px !important }
.button-n-p button:hover { background: #195695;}


/*15-01-19*/
placeholder {color:#e3e3e3!important;
}
/*.dsbplaceholder {
  color: rgba(0,0,0,.38);
}

.actplacholder {
  color: #4f525f;
}
.activeplacholder {
  color: #4f525f;
}*/
.bgcolor {
  background-color: #fffbda99;
}
