<div class="main-content">
  <div class="container-fluid">
    <form class="rowdasa" (ngSubmit)="OnBoarding.valid && OnBoardingSubmit(ObjOnBoarding);" #OnBoarding="ngForm" novalidate>
      <div class="col-md-12 col-lg-12">
        <div class="example-card mat-card margin-bottom-9">
          <div class="col-md-12 col-lg-12">
            <div class="fom-title"><p class="text-center">New Office On-Boarding</p></div>
          </div>

          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">

                <mat-select placeholder="Select Request letter No" name="RequestLetterNo" (selectionChange)="RequestLetterNoChnage($event.value)" required>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="controllerFilterCtrl" [placeholderLabel]="'Find controller...'" [noEntriesFoundLabel]="'Controller is not found'"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let emp of filteredcontroller |async " [value]="emp.values">
                    {{emp.text}}
                  </mat-option>
                </mat-select>

                <!--<input matInput placeholder="Request letter no" required [(ngModel)]="ObjOnBoarding.RequestLetterNo" name="RequestLetterNo">-->
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Request letter Date" readonly required [(ngModel)]="ObjOnBoarding.RequestLetterDate" name="RequestLetterDate">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">Applicant Details</div>
          </div>

          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" required readonly [(ngModel)]="ObjOnBoarding.FirstName" name="FirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" readonly [(ngModel)]="ObjOnBoarding.LastName" name="LastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" readonly [(ngModel)]="ObjOnBoarding.Designation" name="Designation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" type="email" readonly pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="ObjOnBoarding.EmailID" name="EmailID">
              </mat-form-field>
            </div>

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" readonly [(ngModel)]="ObjOnBoarding.MobileNo" required pattern="^[6-9]\d{9}$" name="MobileNo">
              </mat-form-field>
            </div>
          </div>
          <!--Controller-->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">Controller Details</div>
          </div>
          <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Controller Code" readonly [(ngModel)]="ObjOnBoarding.ControllerID" required pattern="^[6-9]\d{9}$" name="ControllerID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" readonly required [(ngModel)]="ObjOnBoarding.CFirstName" name="CFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" readonly [(ngModel)]="ObjOnBoarding.CLastName" name="CLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" readonly [(ngModel)]="ObjOnBoarding.CDesignation" name="CDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" required readonly pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.CEmailID" name="CEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" readonly required [(ngModel)]="ObjOnBoarding.CMobileNo" pattern="^[6-9]\d{9}$" name="CMobileNo">
              </mat-form-field>
            </div>
          </div>
          <!--PAO-->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">PAO Details</div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="PAO Code" readonly required [(ngModel)]="ObjOnBoarding.PAOID" pattern="^[6-9]\d{9}$" name="PAOID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" readonly required [(ngModel)]="ObjOnBoarding.PFirstName" name="PFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" readonly [(ngModel)]="ObjOnBoarding.PLastName" name="PLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" readonly [(ngModel)]="ObjOnBoarding.PDesignation" name="PDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" readonly required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.PEmailID" name="PEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" readonly required [(ngModel)]="ObjOnBoarding.PMobileNo" pattern="^[6-9]\d{9}$" name="PMobileNo">
              </mat-form-field>
            </div>
          </div>
          <!--DDO-->
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">DDO Details</div>
          </div>
          <div class="col-md-12 col-lg-12">

            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="DDO Code" readonly required [(ngModel)]="ObjOnBoarding.DDOID" pattern="^[6-9]\d{9}$" name="DDOID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="First Name" readonly required [(ngModel)]="ObjOnBoarding.DFirstName" name="DFirstName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Last Name" readonly [(ngModel)]="ObjOnBoarding.DLastName" name="DLastName">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Designation" readonly [(ngModel)]="ObjOnBoarding.DDesignation" name="DDesignation">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Email" readonly required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="ObjOnBoarding.DEmailID" name="DEmailID">
              </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4">
              <mat-form-field class="wid-100">
                <input matInput placeholder="Mobile No" readonly required [(ngModel)]="ObjOnBoarding.DMobileNo" pattern="^[6-9]\d{9}$" name="DMobileNo">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="fom-title">Remarks</div>
          </div>
          <div class="col-md-12 col-lg-4">
            <!--<input name="Remarks" ngModel required #Remarks="ngModel">-->
            <mat-form-field class="wid-100">
              <input matInput placeholder="Remarks"  required [(ngModel)]="Remarks" name="Remarks">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-12 text-center btn-wraper">
            <button type="submit" class="btn btn-success" [disabled]="OnBoarding.invalid">Submit</button>
            <button type="button" class="btn btn-warning" (click)="Cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
