
<!--<div align="center">
  <p>
    Account :  {{message}}
  </p>
  <div>
    <button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>Please click here for Login</button>
  </div>
</div>-->

<app-dialog [(visible)]="DeleteMenu">


  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Login confirmation status.</h3>
    <!-- Large input -->
    <div class="md-form form-lg">
      <b>Account :  {{message}}</b>
    </div>
    <br />
    <div class="form-group text-center col-md-12">
      <!--<button mat-button class="btn btn-rose btn-simple btn-wd btn-lg" (click)='redirectto()'>Please click here for Login.</button>-->
      <p> Please click <a href="#" (click)='redirectto()'>here</a> for Login!</p>
     
    </div>
  </div>
</app-dialog>

