<!--Start Alert message for delet, info-->
<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="is_btnStatus=false">&times;</span>
  </button>
</div>
<!--End Alert message for delet, info-->


<form name="form" (ngSubmit)="gpfviewchild.valid && InsertandUpdate();" #gpfviewchild="ngForm" novalidate>
  <div class="col-md-12 col-lg-12 mb-20">
    <mat-card class="example-card" [ngClass]="bgcolor">
      <div class="fom-title">Gpf Interest Rate</div>


      <!--<div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Sealing for advance wrt balance (%)" type="number" onKeyPress="if(this.value.length==3) return false;" [(ngModel)]="objgpf.sealingForAdvanceBalance"
                 name="sealingForAdvanceBalance" #sealingForAdvanceBalance="ngModel" required max="100" min="1" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" autocomplete="off" step=".01">
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.required">Sealing for advance wrt balance is required</span>
          </mat-error>
          <mat-error>
            <span [hidden]="!sealingForAdvanceBalance.errors?.pattern">Sealing for advance wrt balance between 1 to 100</span>
          </mat-error>
        </mat-form-field>
      </div>-->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="GPF Interest Rate(%) Required" name="newGPFInterestRate" onKeyPress="if(this.value.length==5) return false;" maxlength="5" max="100" min="1" pattern="^(?!0)(100|[1-9]?[0-9])(\.\d{1,2})?$" step=".01" [(ngModel)]="objgpf.newGPFInterestRate" autocomplete="off" required #newGPFInterestRate="ngModel">
          <mat-error><mat-error><span *ngIf="gpfviewchild.submitted && newGPFInterestRate.errors?.required">GPF Interest Rate(%) Required</span></mat-error></mat-error>
          <mat-error><span [hidden]="!newGPFInterestRate.errors?.pattern">GPF Interest Rate(%) is Invalid</span></mat-error>
        </mat-form-field>
      </div>




      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker2" #WefDate placeholder="Wef month & year" name="wefMonthYear" [(ngModel)]="objgpf.wefMonthYear"
                 required #wefMonthYear="ngModel" (click)="picker2.open();" [matDatepickerFilter]="dateFilter">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2> </mat-datepicker>
          <mat-error>
            <span *ngIf="gpfviewchild.submitted && wefMonthYear.invalid">Wef Month & Year Required</span>
          </mat-error>
          <mat-error>
            <span *ngIf="wefMonthYear.errors?.min">Wef month & year should be greater then To Month & Year!</span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="picker" placeholder="To Month & Year" [min]="objgpf.wefMonthYear" (click)="picker.open();" [matDatepickerFilter]="dateFilter2" name="toMonthYear"
                 [(ngModel)]="objgpf.toMonthYear" required #toMonthYear="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            <span *ngIf="gpfviewchild.submitted && toMonthYear.invalid">To Month & Year Required </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="GPF Rule Reference Number" name="gPFRuleReferenceNumber" (keydown.space)="$event.preventDefault();" (paste)="$event.preventDefault()" maxlength="50" [(ngModel)]="objgpf.gPFRuleReferenceNumber" autocomplete="off" required #gPFRuleReferenceNumber="ngModel">
          <mat-error><mat-error><span *ngIf="gpfviewchild.submitted && gPFRuleReferenceNumber.invalid">GPF Rule Reference Number Required</span></mat-error></mat-error>
          <!--<mat-error><span [hidden]="!gPFRuleReferenceNumber.hasError('pattern')">Only Alpha Numeric Allowed</span></mat-error>-->
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" [ngClass]="btnCssClass" *ngIf="savebuttonstatus">{{btnUpdatetext}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>
    </mat-card>
  </div>
</form>


<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card">
    <div class="fom-title">Gpf Interest Rate List</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchfield" (keypress)="charaterOnlyNoSpace($event)" (paste)="$event.preventDefault()" placeholder="Search" maxlength="50">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="gpfservicedata" matSort class="mat-elevation-z8 even-odd-color">
        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="wefMonthYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wef Month Year</th>
          <td mat-cell *matCellDef="let element"> {{element.wefMonthYear| date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="toMonthYear">

          <th mat-header-cell *matHeaderCellDef mat-sort-header>To Month Year </th>
          <td mat-cell *matCellDef="let element"> {{element.toMonthYear| date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="newGPFInterestRate">

          <th mat-header-cell *matHeaderCellDef mat-sort-header>Interest Rate</th>
          <td mat-cell *matCellDef="let element"> {{element.newGPFInterestRate }} %</td>
        </ng-container>
        <ng-container matColumnDef="gPFRuleReferenceNumber">

          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule Ref No</th>
          <td mat-cell *matCellDef="let element"> {{element.gpfRuleReferenceNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="Edit(element.gpfInterestID,element.newGPFInterestRate,element.wefMonthYear ,element.toMonthYear,element.gpfRuleReferenceNumber);">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.gpfInterestID);deletepopup = !deletepopup"> delete_forever </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div [hidden]="isTableHasData">
      No  Records Found
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="Delete(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup = !deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>
