<!--code for on click note-->
<div class="note-wraper">
  <button type="button" class="slide-toggle note-slide" (click)="test(dstatus = !dstatus);">
    <i class="material-icons">
      keyboard_arrow_left
    </i><span>Note</span>
  </button>

  <div  [ngClass]="divbox">
    <div class="box-inner">
      Please enter details when the employee is revoked after completion of Suspension period
    </div>
  </div>

</div>
<!--on click note end-->
<!--Start Alert message for delet, info-->
<div class="alert" [ngClass]="divbgcolor" *ngIf="is_btnStatus==true">
  <strong> {{Message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" (click)="btnclose();">&times;</span>
  </button>&nbsp;
</div>

<!--End Alert message for delet, info-->


<mat-accordion class="col-sm-12 col-md-12 col-lg-12 mb-20" >
  <mat-expansion-panel  [expanded]="true"  #panel1 [ngClass]="bgcolor">


    <mat-expansion-panel-header id="panel-header" class="panel-header btm-m15">
      <mat-panel-title class="acordion-heading">
        GPF Advance Rules
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form (ngSubmit)="msgGpfRules.form.valid && insertUpdateGpfRules();" #msgGpfRules="ngForm">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <mat-select matNativeControl placeholder="Select PF Type" [(ngModel)]="gpfrules.pfType" name="pfType" #pfType="ngModel" required>
            <mat-option value="C">CPF</mat-option>
            <mat-option value="G">GPF</mat-option>
          </mat-select>
          <mat-error>
            <span [hidden]="!pfType.errors?.required">PF Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="RAD" (click)="RAD.open()"
                 placeholder="Rules applicable from date" [(ngModel)]="gpfrules.ruleApplicableFromDate" [min]="max" name="ruleApplicableFromDate" #ruleApplicableFromDate="ngModel" required readonly>
          <mat-datepicker-toggle matSuffix [for]="RAD"></mat-datepicker-toggle>
          <mat-datepicker #RAD></mat-datepicker>
          <mat-error>
            <span [hidden]="!ruleApplicableFromDate.errors?.required">Rules applicable from date is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">

        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="RVD" (click)="RVD.open()" [min]="gpfrules.ruleApplicableFromDate" #rulesValidTillDate="ngModel" required
                 placeholder="Rules valid till date" [(ngModel)]="gpfrules.rulesValidTillDate" name="rulesValidTillDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="RVD"></mat-datepicker-toggle>
          <mat-datepicker #RVD></mat-datepicker>
          <mat-error>
            <span *ngIf="rulesValidTillDate.errors?.required">Rules valid till date is required</span>
          </mat-error>
          <mat-error *ngIf="rulesValidTillDate.hasError('matDatepickerMin')">Date should be equal or grater than from date </mat-error>

        </mat-form-field>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Months before retirement to stop giving advance" type="number" [(ngModel)]="gpfrules.monthsBeforeRetirement" name="monthsBeforeRetirement" oninput="this.value=Math.abs(this.value)"
                 onKeyPress="if(this.value.length==3 || event.charCode == 46 || event.charCode ==43 || event.charCode ==45) return false;" required #monthsBeforeRetirement="ngModel" [max]="999" onpaste="return false" autocomplete="off">
          <mat-error>
            <span *ngIf="monthsBeforeRetirement.errors?.required">Months before retirement to stop giving advance required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="wid-100">
          <input matInput placeholder="GPF Rule Reference Number" maxlength="20" [(ngModel)]="gpfrules.gpfRuleRefNo" name="gpfRuleRefNo" #gpfRuleRefNo="ngModel"
                 (keypress)="charaterWithNumeric($event)" (paste)="$event.preventDefault()" autocomplete="off">
          <mat-error>
            <span [hidden]="!gpfRuleRefNo.errors?.required">GPF Rule Reference No is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-12 text-center btn-wraper blue">
        <button type="submit" class="btn btn-success" [class.btn-info]="isClicked">{{btnText}}</button>
        <button type="button" class="btn btn-warning" (click)="resetForm();">Cancel</button>
      </div>
    </form>


  </mat-expansion-panel>

</mat-accordion>
<!--right table-->

<div class="col-md-12 col-lg-12">
  <div class="example-card mat-card tabel-wraper">
    <div class="fom-title">GPF Advance Rule</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" maxlength="20" (keypress)="charaterOnlyNoSpace($event)">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <div class="tabel-wraper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">


        <ng-container matColumnDef="pfType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PF Type </th>
          <td mat-cell *matCellDef="let element"> {{element.pfType}} </td>
        </ng-container>


        <ng-container matColumnDef="ruleApplicableFromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule wef </th>
          <td mat-cell *matCellDef="let element"> {{element.ruleApplicableFromDate | date}} </td>
        </ng-container>


        <ng-container matColumnDef="rulesValidTillDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule Valid Till </th>
          <td mat-cell *matCellDef="let element"> {{element.rulesValidTillDate  | date}} </td>
        </ng-container>



        <ng-container matColumnDef="monthsBeforeRetirement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Months before retirement </th>
          <td mat-cell *matCellDef="let element"> {{element.monthsBeforeRetirement}} </td>
        </ng-container>

        <ng-container matColumnDef="gpfRuleRefNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> GPF Rule Ref No. </th>
          <td mat-cell *matCellDef="let element"> {{element.gpfRuleRefNo}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="getgpfrulesalRulesByID(element.msGpfAdvanceRulesRefID)">edit</a>
            <a class="material-icons i-delet" matTooltip="Delete" (click)="setDeleteId(element.msGpfAdvanceRulesRefID);deletepopup = !deletepopup">delete_forever </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
      <div [hidden]="isTableHasData">
        No  Records Found
      </div>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Are you sure you want to delete?</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="button" class="btn btn-info center" (click)="deactivateActivate(setDeletIDOnPopup)">Delete</button>
      <button type="button" class="btn btn-info center" (click)="deletepopup=!deletepopup">Cancel</button>
    </div>

  </div>
</app-dialog>






