<div class="main-content">
  <div class="container-fluid">
    <form class="rowdasa">
      <div class="col-md-12 col-lg-12">
        <div class="example-card mat-card margin-bottom-9">
          <div class="fom-title">Assigned HOO Checker</div>
          <table mat-table [dataSource]="HooMakerListAssigned" matSort class="mat-elevation-z8 even-odd-color">
            <ng-container matColumnDef="EmpCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
              <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
            </ng-container>
            <ng-container matColumnDef="DDOName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
              <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
            </ng-container>
            <ng-container matColumnDef="PAOName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Name </th>
              <td mat-cell *matCellDef="let element">  {{element.paoName}} </td>
            </ng-container>
            <ng-container matColumnDef="EmpName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
              <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
            </ng-container>
            <ng-container matColumnDef="CommonDesigDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
              <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
            </ng-container>
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="ActiveDeactive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Unassign</th>
              <td mat-cell *matCellDef="let element">
                <a class="material-icons i-dactivate" matTooltip="Delete" (click)="fillPopup(element.empCd,element.empName,element.activeStatus);deactivatePopup = !deactivatePopup"> cancel </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div *ngIf="HooMakerListAssigned.length === 0" style="color:red;">No HOO Maker assigned</div>
        </div>
      </div>
    </form>

    <form class="rowdasa">
      <div class="col-md-12 col-lg-12">
        <div class="example-card mat-card">
          <div class="fom-title">Employee List</div>
          <mat-form-field>
            <input matInput (keyup)="filter($event.target.value)" placeholder="Search">
            <i class="material-icons icon-right">search</i>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
            <ng-container matColumnDef="EmpCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Code</th>
              <td mat-cell *matCellDef="let element"> {{element.empCd}} </td>
            </ng-container>
            <ng-container matColumnDef="DDOName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DDO Name </th>
              <td mat-cell *matCellDef="let element">  {{element.ddoName}} </td>
            </ng-container>
            <ng-container matColumnDef="PAOName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PAO Name </th>
              <td mat-cell *matCellDef="let element">  {{element.paoName}} </td>
            </ng-container>
            <ng-container matColumnDef="EmpName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
              <td mat-cell *matCellDef="let element">  {{element.empName}} </td>
            </ng-container>
            <ng-container matColumnDef="CommonDesigDesc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
              <td mat-cell *matCellDef="let element"> {{element.commonDesigDesc}}</td>
            </ng-container>
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>
            <ng-container matColumnDef="ActiveDeactive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Assign</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="checkStatus =='Yes'; else NotAssign">
                  <div *ngIf="element.activeStatus =='DDO Checker'; else Assign">
                    <!--<button type="button" class="btn btn-success btn-xs" (click)="fillPopup(element.empCd,element.empName,element.activeStatus);deactivatePopup = !deactivatePopup">
                      <i class="material-icons">delete</i>
                    </button>-->
                  </div>
                </div>
                <ng-template #NotAssign>
                  <a class="material-icons i-activate" matTooltip="Edit" (click)="fillPopup(element.empCd,element.empName,element.empDOB,element.activeStatus);ActivatePopup = !ActivatePopup">check_circle_outline</a>
                </ng-template>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </form>
  </div>
</div>

<app-dialog [(visible)]="deactivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to unassign?</h3>

    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="Assigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="deactivatePopup = !deactivatePopup">Cancel</button>
    </div>
  </div>
</app-dialog>

<app-dialog [(visible)]="ActivatePopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Do you want to assign?</h3>
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="Assigned();">Yes</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="ActivatePopup = !ActivatePopup">Cancel</button>
    </div>
  </div>
</app-dialog>

<div *ngIf="isLoading" style="padding-top: 20%;" class="LoadingBar">
  <img height="70px" width="70px" src="~/../assets/Loder12.gif">
</div>
