<div *ngIf="empstatus">
<app-comman-mst (onchange)="GetcommanMethod($event)" [data]="callTypevar"></app-comman-mst>
</div>
<div class="col-md-12 col-lg-7">
  <form (ngSubmit)="NewLaon.valid && btnsubmit()" #NewLaon="ngForm" novalidate>
    <mat-card class="example-card">
      <div class="fom-title">Employe Details</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empFullName" placeholder="User name" #empFullName="ngModel" [(ngModel)]="_loandetails.empFullName" disabled='true'>

        </mat-form-field>
      </div>

      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="empApptType" placeholder="Post Held" #empApptType="ngModel" [(ngModel)]="_loandetails.empApptType" disabled='true'>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="pay_basic" placeholder="Present Pay as defined in Rule 4(b) and scale of pay"
                 [(ngModel)]="_loandetails.pay_basic" #pay_basic="ngModel" disabled='true'>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6 combo-col-2">
        <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
          <label>Whether governed by Pension Rules</label>
        </div>
        <div class="col-md12 col-lg-5">
          <mat-radio-group [(ngModel)]="_loandetails.empPfType" name="empPfType" #empPfType="ngModel" [disabled]=disbleflag disabled='true'>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="desigDesc" placeholder="Designation" #desigDesc="ngModel" [(ngModel)]="_loandetails.desigDesc" [disabled]=disbleflag disabled='true'>

        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <!--<mat-form-field class="wid-100">
      <input matInput [matDatepicker]="picker" placeholder="Date of superannuation or retirement or date of expiry of contract in case of a Contract Officer :"
             #empSupanDt="ngModel" [(ngModel)]="_loandetails.empSupanDt " name="empSupanDt" disabled='true'>
    </mat-form-field>-->


        <mat-form-field class="wid-100">
          <input matInput [matDatepicker]="empSupanDt" (click)="empSupanDt.open()" [(ngModel)]="_loandetails.empSupanDt  " name="empSupanDt" #empSupanDt="ngModel"
                 placeholder="Date of superannuation or retirement or date of expiry of contract in case of a Contract Officer" readonly [disabled]=disbleflag required>
          <mat-datepicker-toggle matSuffix [for]="empSupanDt"></mat-datepicker-toggle>
          <mat-datepicker #empSupanDt></mat-datepicker>
          <mat-error>
            <span [hidden]="!empSupanDt.errors?.required">Date of superannuation or retirement or date of expiry is required</span>
          </mat-error>
        </mat-form-field>




      </div>
      <div class="fom-title">Loan Application</div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="Select Loan Type" (selectionChange)="getLoanpurposeSelectedPayloanCode($event.value)"
                      [(ngModel)]="_loandetails.payLoanRefLoanCD" name="payLoanRefLoanCD"
                      #payLoanRefLoanCD="ngModel" required [disabled]=disbleflag>
            <mat-option label="Select Loan Type">Select Loan Type</mat-option>
            <mat-option *ngFor="let Loantype of arrddlLoanType" [value]="Loantype.payLoanRefLoanCD">
              {{Loantype.payLoanRefLoanShortDesc}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="payLoanRefLoanCD.submitted && payLoanRefLoanCD.invalid">Loan Type is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!--<div class="col-md-12 col-lg-6">
    <mat-form-field class="wid-100">
      <mat-select placeholder="Select Loan Purpose" matNativeControl (selectionChange)="getvalues($event.value)" name="payLoanpurposeCode"
                  #payLoanpurposeCode="ngModel" [(ngModel)]="_loandetails.payLoanpurposeCode" [disabled]=disbleflag required>
        <mat-option label="Select Loan Purpose Type">Select Loan Purpose Type</mat-option>
        <mat-option *ngFor="let LoanPurpose of ArrLoanPurpose" [value]="LoanPurpose.payLoanPurposeCode">
          {{LoanPurpose.payLoanPurposeDescription}}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="NewLaon.submitted && payLoanpurposeCode.invalid">Loan Purpose is required</span>
      </mat-error>
    </mat-form-field>
  </div>-->


      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <mat-select placeholder="{{labelmsg}}" matNativeControl (selectionChange)="getvalues($event.value)" name="payLoanPurposeCode"
                      #payLoanPurposeCode="ngModel" [(ngModel)]="_loandetails.payLoanPurposeCode" [disabled]=disbleflag required>
            <mat-option label="this.labelmsg">{{labelmsg}}</mat-option>
            <mat-option *ngFor="let LoanPurpose of arrLoanPurpose" [value]="LoanPurpose.payLoanPurposeCode">
              {{LoanPurpose.payLoanPurposeDescription}}
            </mat-option>
          </mat-select>
          <mat-error>

            <span [hidden]="!payLoanPurposeCode.errors?.required">Loan Purpose is required</span>
          </mat-error>
        </mat-form-field>
      </div>







      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="LoanAmtSanc" placeholder="Loan Amount (Rs.)" #loanAmtSanc="ngModel" [(ngModel)]="_loandetails.loanAmtSanc"
                 [disabled]=disbleflag (keypress)="numberOnly($event)" (change)="checkvaluecLoanAmout($event.target.value)" required>
          <mat-error>
            <span [hidden]="!loanAmtSanc.errors?.required">Loan Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput name="PriInstAmt" placeholder="Installment Amount" #priInstAmt="ngModel" [(ngModel)]="_loandetails.priInstAmt"
                 (keypress)="numberOnly($event)" (change)="valuechange($event.target.value)" [disabled]=disbleflag required>
          <mat-error>
            <span [hidden]="!priInstAmt.errors?.required">Installment Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Total No. of Installment" name="IntTotInst" #intTotInst="ngModel" [(ngModel)]="_loandetails.intTotInst " readonly disabled='true' required>
          <mat-error>
            <span [hidden]="!intTotInst.errors?.required">Total No. of Installment is required</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="No. of Odd Installment" name="OddInstNoInt" #oddInstNoInt="ngModel" [(ngModel)]="_loandetails.oddInstNoInt " (keypress)="numberOnly($event)" disabled='true' required>
          <mat-error>required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 col-lg-6">
        <mat-form-field class="wid-100">
          <input matInput placeholder="Odd Installment Amount" name="OddInstAmtInt" #oddInstAmtInt="ngModel" [(ngModel)]="_loandetails.oddInstAmtInt" (keypress)="numberOnly($event)" disabled='true' required>
          <mat-error>
            <span [hidden]="!oddInstAmtInt.errors?.required">Odd Installment Amount is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="loanCode=='21'">
        <div class="fom-title">Property Owner Details</div>

        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Property Owner Name" [(ngModel)]="_loandetails.ownerName" title="Property Owner Name" name="ownerName" #ownerName="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!ownerName.errors?.required">Property Owner Name  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Description" title="Description" [(ngModel)]="_loandetails.descriptions" name="descriptions" #descriptions="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!descriptions.errors?.required">Description  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Property Owner's PAN No" title="Property Owner's PAN No" [(ngModel)]="_loandetails.ownerPanNo" name="panno" maxlength="10" #ownerPanNo="ngModel" [disabled]=disbleflag required class="upperCase">
            <mat-error>
              <span [hidden]="!ownerPanNo.errors?.required">Property Owner's PAN No  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="IFSC Code" [(ngModel)]="_loandetails.bankIFSCCODE" #bankIFSCCODE="ngModel" name="bankIFSCCODE" (blur)="getBankDetailsByIFSC(_loandetails.bankIFSCCODE)" [disabled]=disbleflag required class="upperCase">
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Bank Name" [(ngModel)]="objBankDetails.bankName" name="bankName" #bankName="ngModel" [disabled]=disbleflag required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Branch Name" [(ngModel)]="objBankDetails.branchName" name="branchName" #branchName="ngModel" [disabled]=disbleflag required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-4">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Saving A/c No" [(ngModel)]="_loandetails.bankAccountNo" (keypress)="numberOnly($event)" maxlength="10" name="bankAccountNo" #bankAccountNo="ngModel" [disabled]=disbleflag required>
          </mat-form-field>
        </div>
      </div>


      <!---------------------Purchase of a Plot---------------------->
      <div *ngIf="loanCode=='21'  && PurposeCode == '1'">
        <div class="fom-title">Purchase of a Plot</div>

        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
            <label> Select Area</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">

            <mat-radio-group [(ngModel)]="_loandetails.selct_Area" name="selct_Area" #selct_Area="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Rural</mat-radio-button>
              <mat-radio-button [value]="false">Urban</mat-radio-button>
            </mat-radio-group>



          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label> Is it clearly demarcated and developed</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5">
            <mat-radio-group [(ngModel)]="_loandetails.demar_Dev" name="demar_Dev" #demar_Dev="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Approximate area (in sq. )" [(ngModel)]="_loandetails.area_Sq_Ft" title="Approximate area (in sq. )" name="area_Sq_Ft" #area_Sq_Ft="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!area_Sq_Ft.errors?.required">Approximate area  is required</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost" title="Cost" [(ngModel)]="_loandetails.cost" (keypress)="numberOnly($event)" name="cost" #cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!cost.errors?.required">Cost  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount actually paid" title="Amount actually paid" (keypress)="numberOnly($event)" [(ngModel)]="_loandetails.amt_Act_Pay" name="amt_Act_Pay" #amt_Act_Pay="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Act_Pay.errors?.required">Amount actually paid  is required</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="If not purchased when proposed to be acquired" [(ngModel)]="_loandetails.purp_Acquire"
                   title="If not purchased when proposed to be acquired" name="purp_Acquire" #purp_Acquire="ngModel" required [disabled]=disbleflag>
            <mat-error>
              <span [hidden]="!purp_Acquire.errors?.required">proposed to be acquired  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Unexpired portion of lease if not freehold"
                   [(ngModel)]="_loandetails.unexp_Port_Lease" title="Unexpired portion of lease if not freehold" name="unexp_Port_Lease" #unexp_Port_Lease="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!unexp_Port_Lease.errors?.required">Unexpired portion of lease if not freehold  is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Group</label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="purchageFlag = !purchageFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Construction---------------------->
      <div *ngIf="loanCode=='21'  && PurposeCode == '2'">
        <div class="fom-title">Construction</div>
        <div class="col-md-12 col-lg-6">
          <!--<mat-form-field class="wid-100">
        <mat-select placeholder="Floor - wise area to be constructed in (sq.mtrs.)"
                    [(ngModel)]="_loandetails.flr_Area" title="Floor - wise area to be constructed in (sq.mtrs.)" name="flr_Area" #flr_Area="ngModel" [disabled]=disbleflag required>
          <mat-option value="1">Select Floor</mat-option>
          <mat-option value="2">Ground  Floor</mat-option>
          <mat-option value="3">First Floor</mat-option>
          <mat-option value="4">Second Floor</mat-option>
        </mat-select>
        <mat-error>
          <span [hidden]="!flr_Area.errors?.required">Floor - wise area to be constructed is required</span>
        </mat-error>
      </mat-form-field>-->


          <mat-form-field class="wid-100">
            <input matInput placeholder="Floor - wise area to be constructed in (sq.mtrs.)"
                   [(ngModel)]="_loandetails.flr_Area" title="Floor - wise area to be constructed in (sq.mtrs.)" name="flr_Area" #flr_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!flr_Area.errors?.required">Floor - wise area to be constructed is required</span>
            </mat-error>
          </mat-form-field>



        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Estimated Cost" title="Estimated Cost" (keypress)="numberOnly($event)" [(ngModel)]="_loandetails.est_Cost" name="est_Cost" #est_Cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!est_Cost.errors?.required">Estimated Cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Amount of advance required (for land/construction/both)" (keypress)="numberOnly($event)" [(ngModel)]="_loandetails.amt_Adv_Req"
                   title="Amount of advance required (for land/construction/both)" name="amt_Adv_Req" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount of advance is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled
                   placeholder="No. of instalments for repayment"
                   [(ngModel)]="_loandetails.num_Inst"
                   title="No. of instalments for repayment" name="num_Inst" #num_Inst="ngModel" (keypress)="numberOnly($event)" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">No. of instalments for repayment is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      title="Location with address" [(ngModel)]="_loandetails.address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>


        <!--<div class="col-sm-12 col-md-12 col-lg-6 combo-col">
      <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
        <label> Select Area</label>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <mat-radio-group [(ngModel)]="_loandetails.selct_Area" name="selct_Area" #selct_Area="ngModel">
          <mat-radio-button [value]="true">Rural</mat-radio-button>
          <mat-radio-button [value]="false">Urban</mat-radio-button>

        </mat-radio-group>
      </div>
    </div>-->

        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-6 pading-0">
            <label> Select Area</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">

            <mat-radio-group [(ngModel)]="_loandetails.selct_Area" name="selct_Area" #selct_Area="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Rural</mat-radio-button>
              <mat-radio-button [value]="false">Urban</mat-radio-button>
            </mat-radio-group>



          </div>
        </div>




        <div class="col-sm-12 col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label> Is it clearly demarcated and developed</label>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-5">
            <mat-radio-group [(ngModel)]="_loandetails.demar_Dev" name="demar_Dev" #demar_Dev="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Approximate area (in sq. )"
                   [(ngModel)]="_loandetails.area_Sq_Ft" title="Approximate area (in sq. )" name="area_Sq_Ft" #area_Sq_Ft="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!area_Sq_Ft.errors?.required">Approximate area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost " title="Cost " [(ngModel)]="_loandetails.cost" (keypress)="numberOnly($event)" name="cost" #cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!cost.errors?.required">Cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Amount actually paid " title="Amount actually paid "
                   [(ngModel)]="_loandetails.amt_Act_Pay" name="amt_Act_Pay" #amt_Act_Pay="ngModel" (keypress)="numberOnly($event)" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Act_Pay.errors?.required">Amount is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="If not purchased when proposed to be acquired "
                   [(ngModel)]="_loandetails.purp_Acquire"
                   title="If not purchased when proposed to be acquired " name="purp_Acquire" #purp_Acquire="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!purp_Acquire.errors?.required">purchased is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Unexpired portion of lease if not freehold "
                   [(ngModel)]="_loandetails.unexp_Port_Lease"
                   title="Unexpired portion of lease if not freehold" name="unexp_Port_Lease" #unexp_Port_Lease="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!unexp_Port_Lease.errors?.required">Unexpired portion of lease is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Group</label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="constructionFlag = !constructionFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>

      <!---------------------Details for enlarging the existing House---------------------->
      <div *ngIf="loanCode=='21'  && PurposeCode == '3'">
        <div class="fom-title">Details for enlarging the existing House</div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area(in sq.mtrs.)" title="Plinth area(in sq.mtrs.)"
                   [(ngModel)]="_loandetails.plint_Area" name="plint_Area" #plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plint_Area.errors?.required">Plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area proposed for enlargement(in sq. mtrs.)"
                   [(ngModel)]="_loandetails.plth_Prop_Enlarge" title="Plinth area proposed for enlargement(in sq. mtrs.)"
                   name="plth_Prop_Enlarge" #plth_Prop_Enlarge="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plth_Prop_Enlarge.errors?.required">Plinth area proposed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost of construction/acqisition of existing house"
                   [(ngModel)]="_loandetails.coc" title="Cost of construction/acqisition of existing house" (keypress)="numberOnly($event)" name="coc" #coc="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!coc.errors?.required">Cost of construction is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Cost of proposed enlargement"
                   [(ngModel)]="_loandetails.cop_Enlarge" title="Cost of proposed enlargement" (keypress)="numberOnly($event)" name="cop_Enlarge" #cop_Enlarge="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!cop_Enlarge.errors?.required">Cost of proposed is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Total plinth area"
                   [(ngModel)]="_loandetails.tot_Plint_Area" title="Total plinth area" name="tot_Plint_Area" #tot_Plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!tot_Plint_Area.errors?.required">Total plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Total Cost"
                   [(ngModel)]="_loandetails.tot_Cost" title="Total Cost" (keypress)="numberOnly($event)" name="tot_Cost" #tot_Cost="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!tot_Cost.errors?.required">Total cost is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance required "
                   [(ngModel)]="_loandetails.amt_Adv_Req" title="Amount of advance required " (keypress)="numberOnly($event)" name="amt_Adv_Req" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount of advance is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="No. of Installments for Repayment"
                   [(ngModel)]="_loandetails.num_Inst" title="No. of Installments for Repayment" (keypress)="numberOnly($event)" name="num_Inst" #num_Inst="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">No. of installments is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Group</label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="enlargingFlag = !enlargingFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Details for purchasing a ready-built house/flat---------------------->
      <div *ngIf="loanCode=='21'  && PurposeCode == '4'">
        <div class="fom-title">Details for purchasing a ready-built house/flat</div>
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="wid-100">
            <textarea matInput placeholder="Location with address"
                      [(ngModel)]="_loandetails.address" title="Location with address" name="address" #address="ngModel" [disabled]=disbleflag required></textarea>
            <mat-error>
              <span [hidden]="!address.errors?.required">Location with address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Plinth area (in sq.mtrs.)"
                   [(ngModel)]="_loandetails.plint_Area"
                   name="plint_Area" #plint_Area="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!plint_Area.errors?.required">Plinth area is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <!--<mat-form-field class="wid-100">
        <input matInput placeholder="When constructed" [(ngModel)]="_loandetails.Const_Date"
               title="When constructed" name="Const_Date" #Const_Date="ngModel" [disabled]=disbleflag required />
        <mat-error>
          <span [hidden]="!Const_Date.errors?.required">Constructed date is required</span>
        </mat-error>
      </mat-form-field>-->

          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker2" placeholder="When constructed"
                   #const_Date="ngModel" [(ngModel)]="_loandetails.const_Date " readonly (click)="picker2.open()" name="const_Date" required [disabled]=disbleflag>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>
              <span [hidden]="!const_Date.errors?.required">When constructed is required</span>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Price settled" title="Price settled"
                   [(ngModel)]="_loandetails.prc_Settled" name="prc_Settled" (keypress)="numberOnly($event)" #prc_Settled="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!prc_Settled.errors?.required">Price settled is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Agency from whom to be purchased" [(ngModel)]="_loandetails.agency_Whom_Pur"
                   title="Agency from whom to be purchased" name="agency_Whom_Pur" #agency_Whom_Pur="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!agency_Whom_Pur.errors?.required">Purchased is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount already paid " title="Amount already paid"
                   [(ngModel)]="_loandetails.amt_Paid" name="amt_Paid" (keypress)="numberOnly($event)" #amt_Paid="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Paid.errors?.required">Amount is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance required" [(ngModel)]="_loandetails.amt_Adv_Req"
                   title="Amount of advance required" name="amt_Adv_Req" (keypress)="numberOnly($event)" #amt_Adv_Req="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!amt_Adv_Req.errors?.required">Amount is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="No. of Installments for Repayment" [(ngModel)]="_loandetails.num_Inst"
                   title="No. of Installments for Repayment" name="num_Inst" (keypress)="numberOnly($event)" #num_Inst="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!num_Inst.errors?.required">Repayment is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Group</label></div>
          <mat-checkbox [(ngModel)]="group" name="group" (click)="readybuiltFlag = !readybuiltFlag" [disabled]=disbleflag></mat-checkbox>
        </div>
      </div>
      <!---------------------Computer Adv---------------------->
      <div *ngIf="loanCode=='100'">
        <div class="fom-title">Computer Advance</div>

        <div class="col-md-6 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Purchase Personal Computer</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.intPurPrsnComp" name="intPurPrsnComp" #intPurPrsnComp="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>

          </div>
        </div>
        <div class="col-md-6 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Sanction is as per Rule 18 & Rules 1964</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.rule_18_1964_Pur" name="rule_18_1964_Pur" #rule_18_1964_Pur="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Basic pay" [(ngModel)]="_loandetails.pay_basic"
                   name="pay_basic" #pay_basic="ngModel" (keypress)="numberOnly($event)" disabled='true' required>
            <mat-error>
              <span [hidden]="!pay_basic.errors?.required">Basic pay is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Anticipated price of Personal Computer " title="Anticipated price of Personal Computer"
                   [(ngModel)]="_loandetails.anti_Price_Pc" (keypress)="numberOnly($event)" name="Anti_Price_Pc" #anti_Price_Pc="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!anti_Price_Pc.errors?.required">Anticipated price of Personal Computer is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker" disabled placeholder="Superannuation / Contract Expiry Date (in case of contract officer)"
                   title="Superannuation / Contract Expiry Date (in case of contract officer)"
                   [(ngModel)]="_loandetails.empSupanDt" (click)="picker.open()" name="empSupanDt" #empSupanDt="ngModel" required disabled='true'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <span [hidden]="!empSupanDt.errors?.required">Contract Expiry Date is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput disabled placeholder="Desired No of Installments to be repaid for advance" (keypress)="numberOnly($event)" title="Desired No of Installments to be repaid for advance"
                   [(ngModel)]="_loandetails.desNoInsRePaidForAdv" name="desNoInsRePaidForAdv" #desNoInsRePaidForAdv="ngModel" [disabled]=disbleflag required>
            <mat-error>
              <span [hidden]="!desNoInsRePaidForAdv.errors?.required">Desired No of Installments is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Whether the officer is on leave</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.off_On_Leave" name="off_On_Leave" #off_On_Leave="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 combo-col">
          <div class="col-sm-6 col-md-6 col-lg-7 pading-0">
            <label>Advance taken previously for similar purpose</label>
          </div>
          <div class="col-md12 col-lg-5">
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="_loandetails.pre_Adv_Simi_Pur" name="pre_Adv_Simi_Pur" #pre_Adv_Simi_Pur="ngModel" [disabled]=disbleflag>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput [matDatepicker]="picker1" placeholder="Date of drawal of the advance" title="Date of drawal of the advance"
                   [(ngModel)]="_loandetails.adv_Draw_Date" (click)="picker1.open()" name="adv_Draw_Date" #adv_Draw_Date="ngModel" [disabled]=disbleflag required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>
              <span [hidden]="!adv_Draw_Date.errors?.required">Date of drawal is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <mat-form-field class="wid-100">
            <input matInput placeholder="Amount of advance / interest outstanding" (keypress)="numberOnly($event)" title="Amount of advance / interest outstanding"
                   [(ngModel)]="_loandetails.adv_Amount" name="adv_Amount" #adv_Amount="ngModel" [disabled]=disbleflag required>

          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="col-md-12 col-lg-2 pading-0"><label>Group</label></div>
          <div class="col-md-12 col-lg-10 pading-0">

            <mat-checkbox [(ngModel)]="group" name="group" (click)="compAdvFlag = !compAdvFlag" [disabled]=disbleflag></mat-checkbox>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <div class="col-sm-12 col-md-6"><label>Upload e-sign</label></div>
            <input id="idfile" class="form-control" name="file" [(ngModel)]="_loandetails.upload_Sign" type="file"
                   #file accept="file/*" (change)="handleFileinput($event.target.files)"><br />
            <a href={{_loandetails.upload_Sign}} target="_blank" *ngIf=disbledwnloadflag>{{_loandetails.upload_Sign}}</a><br /><br />
            <a class="material-icons" *ngIf=disbledwnloadflag (click)="DownloadFile(_loandetails.upload_Sign)">vertical_align_bottom</a>
          </div>
        </div>
      </div>
      <br /> <br />
      <div class="col-md-12 col-lg-6" *ngIf="_loandetails.remarks!=''">

        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_loandetails.remarks" title="Remarks" name="remarks" #remarks="ngModel" [disabled]=disbleflag></textarea>

        </mat-form-field>
      </div>



      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <button type="submit" class="btn btn-success" *ngIf="disableSaveFlage">Accept</button>
        <button type="button" class="btn btn-danger" *ngIf="disableRejectFlag" (click)="deletepopup = !deletepopup">Reject</button>
        <button type="button" class="btn btn-warning" *ngIf="disableCancelFlage" style="display:none;">Cancel</button>
        <button class="btn btn-primary" type="button" *ngIf="disableCheckerFlag" (click)="fwdhoochecker()"> Forward to HOO Checker</button>
      </div>







    </mat-card>

  </form>
  <app-dialog [(visible)]="purchageFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_1" name="pop_Decl_1" #pop_Decl_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('1',_loandetails.Pop_Decl_1)"-->
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief.

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_2" name="pop_Decl_2" #pop_Decl_2="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('2',_loandetails.Pop_Decl_2)"-->
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.pop_Decl_3" name="pop_Decl_3" #pop_Decl_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('3',_loandetails.Pop_Decl_3)"-->
          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>

        </li>
      </ul>


    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button"  [disabled]=disbleflag class="btn btn-warning center" (click)="popupclose()">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="enlargingFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_1" name="const_Dec_1" #const_Dec_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('4',_loandetails.const_Dec_1)"-->
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_2" name="const_Dec_2" #const_Dec_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('5',_loandetails.const_Dec_2)"-->
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.const_Dec_3" name="const_Dec_3" #const_Dec_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('6',_loandetails.const_Dec_3)"-->
          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>

        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button"  [disabled]=disbleflag class="btn btn-warning center" (click)="popupclose()">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="constructionFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>

          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_1" name="dtls_Enlarg_1" #dtls_Enlarg_1="ngModel" [disabled]=disbleflag></mat-checkbox>
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best of my knowledge and belief.
          <!--(click)="ChangeForm('7',_loandetails.dtls_Enlarg_1)"-->
        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_2" name="dtls_Enlarg_2" #dtls_Enlarg_2="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('8',_loandetails.dtls_Enlarg_2)"-->
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc. and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Enlarg_3" name="dtls_Enlarg_3" #dtls_Enlarg_3="ngModel" [disabled]=disbleflag></mat-checkbox>
          <!--(click)="ChangeForm('9',_loandetails.dtls_Enlarg_3)"-->
          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
          </ol>

        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" [disabled]=disbleflag class="btn btn-warning center" (click)="popupclose()">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="ReadybuiltFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_Flat_1" name="dtls_Built_Flat_1" [disabled]=disbleflag #dtls_Built_Flat_1="ngModel"></mat-checkbox>

          <!--(click)="ChangeForm('10',_loandetails.dtls_Built_Flat_1)"-->
          I solemnly declare that the information furnished by me in reply to the various items indicated above is true to the best
          of my knowledge and belief

        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_flat_2" name="dtls_Built_flat_2" [disabled]=disbleflag #dtls_Built_flat_2="ngModel"></mat-checkbox>
          <!-- (click)="ChangeForm('11',_loandetails.dtls_Built_Flat_2)"-->
          I have read the rules regulating the grant of advances to Central Government servants for purchase of land and purchase/construction of buildings,etc.
          and agree to abide by the terms and conditions stipulated therein

        </li>
        <li class="dispp-block">
          <mat-checkbox [(ngModel)]="_loandetails.dtls_Built_flat_3" name="dtls_Built_flat_3" [disabled]=disbleflag #dtls_Built_flat_3="ngModel"></mat-checkbox>
          <!-- ChangeForm('12',_loandetails.dtls_Built_Flat_3)-->
          <span>I certify that :</span>
          <ol class="lower-roman">
            <li>
              My  wife/husband is not a Central Government servant/ My wife/husband who is Central Govenment Servant, has not applied for and/or
              Obtained and advance under these rules;
            </li>
            <li>
              Neither I nor my wife/husband/minor child has applied for and/or obtained any loan or advance for
              acquisition of a house in the past from any Government source(e.g. Ministry of Rehabilitaion or under any Central or State Housing Scheme.
            </li>
            <li>
              The Construction of house for which the advance has been applied for,has not yet been commenced.
            </li>
          </ol>

        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" [disabled]=disbleflag class="btn btn-warning center" (click)="popupclose()">Ok</button></div>
  </app-dialog>
  <app-dialog [(visible)]="compAdvFlag">
    <div class="declaration-fom">
      <h3 class="access-lbl-with text-center">Declaration</h3>
      <ul>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.comp_Certi_Info_1" name="comp_Certi_Info_1" [disabled]=disbleflag #comp_Certi_Info_1="ngModel"></mat-checkbox>
          Certified that the information given above is complete and true.
          <!--(click)="ChangeForm('13',_loandetails.comp_Certi_Info_1)"-->
        </li>
        <li>
          <mat-checkbox [(ngModel)]="_loandetails.comp_Certi_Info_2" name="comp_Certi_Info_2" [disabled]=disbleflag #comp_Certi_Info_2="ngModel"></mat-checkbox>
          <!--(click)="ChangeForm('14',_loandetails.comp_Certi_Info_2)"-->
          Certified that i have not taken delivery of the personal computer on account of which i apply for the advance that i shall complete negotiations for the purchase of pay finally and take possession of the same before the expiry of one month from the date of drawal of the advance
        </li>
      </ul>

    </div>
    <div class="col-md-12 col-lg-12 text-center btn-wraper"> <button type="button" class="btn btn-warning center" [disabled]=disbleflag (click)="popupclose()">Ok</button></div>
  </app-dialog>
</div>
<div class="col-md-12 col-lg-5">
  <div class="example-card mat-card">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <i class="material-icons icon-right">search</i>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 even-odd-color">
      <ng-container matColumnDef="EMPId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="empCode" style="width:120px;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP Code </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
      <ng-container matColumnDef="loanCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanCode}} </td>
      </ng-container>
      <ng-container matColumnDef="purposeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose  </th>
        <td mat-cell *matCellDef="let element"> {{element.purposeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
       
          <a  matTooltip="{{element.moduleStatus}}">   {{element.status}}</a>

        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
        

          <a class="material-icons i-info" matTooltip="view details" (click)="ViewEditLoanDetailsById(element.id,1)">error</a>

          <span *ngIf="element.statusId == '24' && userRoleID=='8'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>
          <span *ngIf="element.statusId == '22' && userRoleID=='8'">
            <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
          </span>

          <!--<span *ngIf="element.statusId == '31' && userRoleID=='9'">
    <a class="material-icons i-edit" matTooltip="Edit" (click)="ViewEditLoanDetailsById(element.id,0)">edit</a>
  </span>-->
          <span *ngIf="element.statusId == '22' || '24'">
            <a class="material-icons i-delet" matTooltip="Delete" (click)="SetDeleteId(element.id);deletepopup = !deletepopup" style="display:none;"> delete_forever </a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!--(click)="deleteEmployeeById(element.id)"-->
<app-dialog [(visible)]="deletepopup">
  <div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">Please Enter Remarks.</h3>
    <div _ngcontent-c10="" class="col-md-12 col-lg-12 text-center btn-wraper">
      <div class="col-md-12 col-lg-12 text-center btn-wraper">
        <mat-form-field class="wid-100">
          <textarea matInput placeholder="Remarks"
                    [(ngModel)]="_loandetails.remarks" title="Remarks" name="remarks" #remarks="ngModel" required></textarea>
          <mat-error>
            <span [hidden]="!remarks.errors?.required">Remarks is required</span>
          </mat-error>
        </mat-form-field>
        <button type="button" class="btn btn-info center" (click)="forwardhoochecker()">Ok</button>
        <button type="button" class="btn btn-info center"(click)="deletePopup = !deletePopup">Cancel</button>
      </div>
    </div>
  </div>
</app-dialog>
