 
<form #Posting="ngForm" (ngSubmit)="Posting.valid && SaveUpdatePostingDetails();" novalidate>
    
   
  <div class="col-md-12 col-lg-7">

      <mat-card class="example-card">
 
  <div class="fom-title">Posting Details</div>
  <div class="col-md-12 col-lg-4">
    
  <mat-form-field  class="wid-100">
    <input matInput [matDatepicker]="empCuroffDt" autocomplete="off" placeholder="Date of Joining Current Office" title="Date of Joining Current Office" 
    [(ngModel)]="objPostingDetails.empCuroffDt" name="empCuroffDt" #empCuroffDtt="ngModel" required disabled  (click)="empCuroffDt.open()" readonly [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="empCuroffDt"></mat-datepicker-toggle>
    <mat-datepicker #empCuroffDt></mat-datepicker>
    <mat-error>
      <span [hidden]="!empCuroffDtt.errors?.required">Date of Joining Current Office is required</span>
    </mat-error>
  </mat-form-field>
  </div>
  <div class="col-md-12 col-lg-4">
    <mat-form-field class="wid-100">
      <input matInput [matDatepicker]="DjCP" placeholder="Date of Joining Current Post" [(ngModel)]="objPostingDetails.empCurdesigDt" name="empCurdesigDt"
             #empCurdesigDt="ngModel" required (click)="DjCP.open()" disabled readonly [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="DjCP"></mat-datepicker-toggle>
      <mat-datepicker #DjCP></mat-datepicker>
      <mat-error>
        <span [hidden]="!empCurdesigDt.errors?.required">Date of Joining Current Post is required</span>
      </mat-error>
    </mat-form-field>
  </div>
  
  <div class="col-md-12 col-lg-4">
    <mat-form-field  class="wid-100">
    <mat-select placeholder="Select Joining Mode" [(ngModel)]="objPostingDetails.empCurpostMode" name="empCurpostMode" #empCurpostMode="ngModel" required >
      <mat-option *ngFor="let joiningMode of joiningModes" [value]="joiningMode.joiningValue">{{joiningMode.joiningText}}</mat-option>
    </mat-select>
    <mat-error>
      <span [hidden]="!empCurpostMode.errors?.required">Joining Mode is required</span>
    </mat-error>
  </mat-form-field>
  </div>
  <div class="col-md-12 col-lg-4">
    <mat-form-field class="wid-100">
      <mat-select placeholder="Select Designation" [(ngModel)]="objPostingDetails.empFieldDeptCd" name="empFieldDeptCd" #empFieldDeptCd="ngModel" disabled>
        <mat-option *ngFor="let disig of designation" [value]="disig.desigID">{{disig.desigDesc}}</mat-option>
      </mat-select>
      <mat-error>
        <span [hidden]="!empFieldDeptCd.errors?.required">Designation is required</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-12 col-lg-4">
    <mat-form-field  class="wid-100">
    <mat-select placeholder="Select HRA City Class" [(ngModel)]="objPostingDetails.payCityClass" name="hRACityId" #hRACityId="ngModel" required >
      <mat-option *ngFor="let hracity of HRACity" [value]="hracity.payCityClass">{{hracity.hraCityName}}</mat-option>
     </mat-select>
    <mat-error>
      <span [hidden]="!hRACityId.errors?.required">HRA City Class is required</span>
    </mat-error>
  </mat-form-field>
  </div>
  <div class="col-md-12 col-lg-4">
    <mat-form-field  class="wid-100">
    <mat-select placeholder="Select TA City Class" [(ngModel)]="objPostingDetails.cityClassTA" name="cityClassTA" #cityClassTA="ngModel" required >
      <mat-option *ngFor="let tacity of TACity" [value]="tacity.cityClassTA">{{tacity.taCityName}}</mat-option>
 </mat-select>
    <mat-error>
      <span [hidden]="!cityClassTA.errors?.required">TA City Class is required</span>
    </mat-error>
  </mat-form-field>
  </div>
  <div class="col-md-12 col-lg-12 text-center btn-wraper">
      <button type="submit" class="btn btn-success" >{{btnText}}</button>
      <button type="button" class="btn btn-warning" (click)=" resetPostingdetailsForm()" >Clear</button>
      <!-- <button mat-button (click)="goBack(stepper)" type="button">Back</button>
      <button mat-button (click)="goForward(stepper)" type="button">Next</button> -->
    </div>
</mat-card>
</div>
</form>
<!-- ======================================Right table of Posting Details================= -->

<div class="col-md-12 col-lg-5">
<div class="example-card">
<mat-card>
  <div>
   
    <label class="label-font">Posting Details History</label> 
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{objAllPostingDetails.name}}</td>
          </tr>
          <tr>
            <td>Designation</td>
            <td>{{objAllPostingDetails.designation}}
            <td>

          </tr>
          <tr>
            <td>Date of Joining Current Office</td>
            <td> {{objAllPostingDetails.empCuroffDt1 | date}} </td>

          </tr>
          <tr>
            <td> Date of Joining Current Post</td>
            <td>{{objAllPostingDetails.empCurdesigDt1 | date}}</td>

          </tr>

          <tr>
            <td>Joining Mode</td>
            <td>{{objAllPostingDetails.joiningMode}}</td>

          </tr>
          
          <tr>
            <td>HRA City Class</td>
            <td>{{objAllPostingDetails.hraCityName}}</td>

          </tr>
          <tr>
            <td>TA City Class</td>
            <td>{{objAllPostingDetails.tACityName}}</td>

          </tr>
          
           
        </tbody>
      </table>
    </div>




  </div>
</mat-card>
</div>
</div>
