<!--<app-dialog [(visible)]="DeleteMenu">-->


  <!--<div class="card-content panel panel-body panel-default">
    <h3 class="card-title text-center">First LogIn  Change Password </h3>
    <div class="md-form form-lg">
      <label for="inputLGEx">User ID</label>
      <input type="text" id="inputLGEx" class="form-control form-control-lg" disabled [(ngModel)]="ObjPwdDetails.username" name="username">
    </div>
    <div class="md-form form-lg">
      <label for="inputLGEx">Old Password</label>
      <input type="text" id="inputLGEx" class="form-control form-control-lg" [(ngModel)]="ObjPwdDetails.OldPassword" name="OldPassword">
    </div>
    <div class="md-form">
      <label for="inputMDEx">New Password</label>
      <input type="text" id="inputMDEx" class="form-control" [(ngModel)]="ObjPwdDetails.NewPassword" name="NewPassword" (blur)="restrictNumeric(ObjPwdDetails.NewPassword)" maxlength="15">
    </div>
    <div class="md-form form-sm">
      <label for="inputSMEx">Confirm Password</label>
      <input type="text" id="inputSMEx" class="form-control form-control-sm" [(ngModel)]="ObjPwdDetails.ConfirmPassword" (blur)="restrictNumeric(ObjPwdDetails.ConfirmPassword)" name="ConfirmPassword" maxlength="15">
    </div>
    <br />
    <div class="form-group text-center col-md-12">
      <button type="button" class="btn btn-info" (click)="Save()">LogIn</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="clear()">clear</button>
      &nbsp;
      <button type="button" class="btn btn-info" (click)="Cancel()">Cancel</button>
    </div>
  </div>-->
  <!--//----Test------------------>
  <!-- <div class="container p-3">
     <div class="offset-3 col-6">
       <div class="card">
         <div class="card-header  font-weight-bold">
           Sign Up Form
         </div>-->
<!--<div class="col-md-8">-->
<div class="card card-body div-center">
  <h3  style="text-align:center;">First LogIn  Change Password </h3>
  <form [formGroup]="frmSignup" (submit)="submit()">
    <div class="form-group">
      <!--<label for="email" [ngClass]="frmSignup.controls['email'].invalid ? 'text-danger' : ''">Email Address</label>-->
      <input id="email" formControlName="email" type="email" disabled [(ngModel)]="ObjPwdDetails.username" class="form-control">

      <!--<input type="text" id="inputLGEx" class="form-control form-control-lg" disabled [(ngModel)]="ObjPwdDetails.username" name="username">-->

      <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
        Email is Required!
      </label>
      <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
        Enter a valid email address!
      </label>
    </div>

    <div class="form-group">
      <label for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''">Password:</label>
      <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">

      <label class="col-md-12 mt-10 pading-0" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{
              frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle'
          }}
        </i>
        Must be at least 8 characters!
      </label>
      <label class="col-md-12 pading-0" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{
               frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle'
          }}
        </i>
        Must contain at least 1 number!
      </label>
      <label class="col-md-12 pading-0" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{
              frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle'
          }}
        </i>
        Must contain at least 1 in Capital Case!
      </label>
      <label class="col-md-12 pading-0" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{
              frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle'
          }}
        </i>
        Must contain at least 1 Letter in Small Case!
      </label>
      <label class="col-md-12 mb-10 pading-0" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
        <i class="material-icons">
          {{
              frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle'
          }}
        </i>
        Must contain at least 1 Special Character!
      </label>
    </div>
    <div class="form-group">
      <label for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''">
        Confirm
        Password:
      </label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
             [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
      <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
        Password is Required!
      </label>
      <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
        Password do not match
      </label>
    </div>
    <div class="form-group">
      <!--<div class="col-md-12">-->
        <!--<button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold ml-0 col-md-3">Sign up</button>-->
      <div class="col text-center">
        <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary text-center" (click)="clear()">Submit</button>
        <button type="button" class="btn btn-info text-center" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-warning text-center" (click)="Cancel()">Cancel</button>
      </div>
        
      
       
      <!--</div>-->
      
    </div>
  </form>
</div>
<!--</div>-->
  
  <!--</div>
    </div>
  </div>-->
<!--</app-dialog>-->



