<div class="container-fluid head-bg">

  <div class="row">
    <div class="logo">
      <img src="~/../assets/eps_logo.png" />
      <h1>Employee Payroll System</h1>
      <span>Ministry of Finance, Government of India</span>
    </div>
    <div class="emblem "><img src="~/../assets/emblem.png"></div>
    <div class="user">
      <button type="button" class="btn btn-warning" (click)="RedirectToLogin()">Login</button>
    </div>
    
    <div *ngIf="userRole">
      <div class="user">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user-profile">
          Logged in as {{userRole}}
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>assignment_ind</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="LogOut();">
            <mat-icon>play_for_work</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <div class="photo">
          <img src="~/../assets/emp.png">
        </div>
      </div>
    </div>

  </div>
</div>
